[2016-11-23 17:56] opendatakit-bot opened #1 "Sort the forms in the briefcase alphabetically"
<a href="https://github.com/yanokwa"><img src="https://avatars.githubusercontent.com/u/32369?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yanokwa](https://github.com/yanokwa)**
_Wednesday Nov 23, 2016 at 10:53 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/1259 (0 comment(s))_

----

From mckayp@gmail.com

"I'm hoping this is a very simp

[2016-11-23 17:57] opendatakit-bot opened #2 "Suggestions for Briefcase CSV"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 17:49 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/218 (1 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 17:57] opendatakit-bot opened #3 "Briefcase not retrieving all submissions"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 18:56 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/615 (4 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 17:57] opendatakit-bot opened #4 "Add JSON exports to Briefcase"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 18:58 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/634 (0 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 17:57] opendatakit-bot opened #5 "Briefcase not encoding content type correctly"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:00 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/655 (1 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 17:57] opendatakit-bot opened #6 "Multiple refreshes of SD card dialog causes selection glitch"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:01 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/665 (1 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 17:57] opendatakit-bot opened #7 "Error dialog does not wrap text"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:01 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/666 (1 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 17:57] opendatakit-bot opened #8 "De-duplication in Briefcase"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:01 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/667 (0 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 17:58] opendatakit-bot opened #9 "Remove need for manual install of unlimited-strength JCE"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:01 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/668 (1 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 17:58] opendatakit-bot opened #10 "Briefcase pulls incomplete instances of encrypted forms, causes error when decrypting"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:01 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/671 (1 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 17:58] opendatakit-bot opened #11 "Newer Androids show up as MTP instead of a mounted drive"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:02 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/683 (2 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 17:58] opendatakit-bot opened #12 "Add warning/explanation to Briefcase / Form Uploader server connect dialog that Google account is not appropriate."
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:07 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/712 (0 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 17:58] opendatakit-bot opened #13 "Briefcase should ignore unencrypted form files when decrypting"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:27 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/868 (0 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 17:58] opendatakit-bot opened #14 "Can't choose export folder in Briefcase"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:31 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/896 (2 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 17:58] opendatakit-bot opened #15 "Briefcase should be able to sort by FormName"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:38 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/977 (1 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 17:58] opendatakit-bot opened #16 "CSV generated is 0kb!"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:38 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/987 (0 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 17:58] opendatakit-bot opened #17 "Change ODK Briefcase to use relative paths in the download-history table"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:41 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/1018 (0 comment(s))_

----

Originally reported on Google Code

[2016-11-23 17:58] opendatakit-bot opened #18 "SSLPeerUnverifiedException in Briefcase"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:44 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/1062 (1 comment(s))_

----

Originally reported on Google Code

[2016-11-23 17:58] opendatakit-bot opened #19 "Briefcase is not respecting the daylight savings time offset when exporting (date-) time fields."
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:44 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/1075 (1 comment(s))_

----

Originally reported on Google Code

[2016-11-28 07:53] yanokwa opened #20 "Extend command line interface to match graphical user interface"
Currently, Briefcase's command line interface only allows for pulling data from ODK Aggregate. It would be great to have support for also pushing data to servers.

[2016-11-28 07:55] yanokwa opened #21 "Move Briefcase storage location user interface to settings"
The Briefcase storage location interface shouldn't be the first thing that users see. It should be moved to a settings pane.

[2016-11-28 07:56] yanokwa opened #22 "Server settings should persist between restarts"
It's pretty annoying to retype server settings on application restart. Server settings (both for pull and push) should persist across restarts.

[2016-12-12 10:07] lognaturel opened #24 "Error when protocol isn't specified could be more helpful."
#### Software and hardware versions
ODK Briefcase v1.4.9 Production, Java 1.8.0_25, MacOS 10.12.1

#### Problem description
The error message shown when a URL without a protocol is specified looks like:
[code]

#### Steps to reproduce the problem
1. Click the "Connect..." button to open the "Aggregate v1.x Server Connection" dialog.
1. Enter in `opendatakit.appspot.com` or another URL without a sp

[2016-12-12 10:14] lognaturel opened #25 "Text on the Details... buttons disappears in highlighted row."
#### Software and hardware versions
ODK Briefcase v1.4.9 Production, Java 1.8.0_25, MacOS 10.12.1

#### Problem description
Highlighting a form row makes the `Details...` button text disappear.
<img src = http://i.imgur.com/TJn5fhl.png />

#### Steps to reproduce the problem
1. Connect to a server.
1. Click on a form name to highlight its row.

#### Expected behavior
The button text should not dis

[2016-12-12 10:26] lognaturel opened #26 "The text area in the Details... dialog should not be editable"
#### Software and hardware versions
ODK Briefcase v1.4.9 Production, Java 1.8.0_25, MacOS 10.12.1

#### Problem description
The text area in the `Detailed Transfer Status for [form]` dialog is editable.

#### Steps to reproduce the problem
1. Connect to a server with forms.
1. Click on a form's `Details...` button.
1. Type in the `Detailed status` text area.

#### Expected behavior
The text area s

[2016-12-12 11:04] lognaturel opened #29 "Add a Gradle build file"
Include configuration for building jars, dependencies, etc.

[2016-12-12 12:16] #2 closed

[2016-12-12 12:17] yanokwa commented on #3
This should be fixed.

[2016-12-12 12:17] #3 closed

[2016-12-12 12:18] yanokwa commented on #4
The JSON export should match the format of the Aggregate JSON export. The KML export should probably be a KMZ export that includes the media files.

[2016-12-12 12:22] yanokwa opened #33 "Verify that Briefcase and Collect"
When uploading a binary file, Briefcase and Collect use file extensions and mime types of a fixed list fo files. Confirm that this list is the same in Briefcase, Collect, and Aggregate.

[2016-12-12 12:24] #5 closed

[2016-12-12 12:24] #7 closed

[2016-12-12 12:28] yanokwa commented on #8
Forms built with Build and XLSForm will have an instanceID at meta/instanceID that is unique (it's a UUID). This is what should be used to do the de-duplication.

Not all forms will have the instanceID (e.g., if you design the form in XML and forget to add an instanceID), so in that case, don't attempt to de-duplicate.

[2016-12-12 12:32] yanokwa commented on #12
Fixed.

[2016-12-12 12:32] #12 closed

[2016-12-12 12:34] yanokwa commented on #15
Duplicate of #1.

[2016-12-12 12:34] #15 closed

[2016-12-12 12:36] #18 closed

[2016-12-12 13:18] yanokwa opened #34 "Add a circle.yml to build binaries"
It'd be good if the Briefcase and FormUploader jars were automatically built on commits to master.

[2016-12-14 01:39] carstendev commented on #1
Tackled this Issue.

[2016-12-16 12:11] #1 closed

[2016-12-16 13:06] carstendev commented on #26
Working on this.

[2016-12-17 02:58] #26 closed

[2016-12-17 18:22] yanokwa opened #37 "Combine CharsetConverterDialog, MainClearBriefcasePreferencesWindow, and MainFormUploaderWindow"
The main class in Briefcase is `org.opendatakit.briefcase.ui.MainBriefcaseWindow`, but there is code for three smaller utilities with the following main classes:

`org.opendatakit.briefcase.ui.CharsetConverterDialog` converts CSVs to UTF-8
`org.opendatakit.briefcase.ui.MainClearBriefcasePreferencesWindow` clears Briefcase preferences
`org.opendatakit.briefcase.ui.MainFormUploaderWindow` uploads bl

[2016-12-17 22:22] yanokwa commented on #34
I'm working on this!

[2016-12-17 22:22] yanokwa commented on #29
I'm working on this!

[2016-12-17 22:52] yanokwa opened #39 "Remove Eclipse specific files"
IntelliJ and gradle are the chosen development tools so `.classpath` and `.project` should be removed.  The jars for all libraries that are now managed by gradle should also be removed.

`forms-1.3.0.jar` and `forms-1.3.0-src.zip` are files that are added by Eclipse's UI building tool (Windows Builder). I don't think they are used and so they should be removed.

[2016-12-18 02:38] #29 closed

[2016-12-18 02:52] #34 closed

[2016-12-22 17:50] carstendev commented on #22
I´d like to pick this up, I found it to be really annoying as well.

[2016-12-22 17:52] #21 closed

[2016-12-22 20:34] carstendev commented on #22
@yanokwa Should the user password also be persisted? If so, I would have to do that using a two-way encryption algorithm. Doing so, we could not guarantee, that the password is a 100% safe, from decryption by an unauthorized person with access to the users machine.

[2016-12-23 00:19] yanokwa commented on #22
@carstendev Excellent question! I don't know of a secure and cross-platform way of storing passwords locally. Given that, I think the safest thing to do is not to store the password.

[2016-12-23 00:43] mitchellsundt commented on #22
You might want a generic shared list of the last N servers accessed, and then also store within each Briefcase Storage Location the URL for the server that was last accessed in that storage location.  Not sure how people use the tool -- should there be just one URL -- whichever was used for either Pull or Push, or should there be different values for the last server Pull'd and the last server Push

[2016-12-23 03:02] yanokwa commented on #22
I would guess that push is generally not used, and when it is, it is used to migrate data between servers or to push data that is pulled from Collect to some server. Both those scenarios would likely require separate servers. Additionally, those modes are clearly separated in the UI and keeping the URLs separate maintains that separation. For these reasons, I think pull and push servers should be

[2016-12-23 03:04] yanokwa commented on #39
@mitchellsundt Do you use Eclipse for your Briefcase work? If we remove these files and go to a gradle setup, will it break your build?

[2016-12-25 02:28] carstendev commented on #22
Okay @yanokwa, from what I can gather, we want the preferences for push and pull to be separately managed. Now should they be global, or managed per Briefcase Storage Location?

[2016-12-25 02:34] yanokwa commented on #22
Let's go with global for now.

[2016-12-31 03:47] #25 closed

[2016-12-31 03:54] #24 closed

[2017-01-03 23:17] mitchellsundt commented on #39
I use eclipse, but if you migrate to gradle, that's fine. I can switch to Intellij. Feel free to do this with the other tools (e.g., Validate, javarosa). We should probably talk before you tackle Aggregate, though, as the entire project would need to be restructured.

[2017-01-05 15:48] #22 closed

[2017-01-05 16:25] #39 closed

[2017-01-05 16:33] lognaturel opened #49 "Pulling can be triggered multiple times for the same form leading to ConcurrentModificationException"
#### Software versions
Briefcase v1.4.9

#### Problem description
Pulling can be triggered multiple times for the same form. This can sometimes result in a `ConcurrentModificationException` if the same instance happens to be downloaded at the same time. Plus, it's inefficient.

#### Steps to reproduce the problem
1. Select a form
1. Click on the pull button
1. Unselect the form and then reselect i

[2017-01-11 14:36] lognaturel opened #52 "Don't switch to Push tab when Pull is initiated"
#### Software versions
Briefcase v1.4.9

#### Problem description
Sometimes, when I initiate a pull of a form, I am switched to the Push tab automatically. I haven't investigated when it happens in detail but it may be limited to the first time a form is pulled after app launch.

#### Steps to reproduce the problem
1. Select a form
1. Click 'Pull'

#### Expected behavior
The user should remain on

[2017-01-11 14:43] lognaturel opened #53 "Status in Detailed Transfer Status window should live-update"
#### Software versions
Briefcase v1.4.9

#### Problem description
The status in the Detailed Transfer Status window is not updated as the transfer status changes.

#### Steps to reproduce the problem
1. Select a form
1. Click 'Push' or 'Pull'
1. Click on the 'Details...' button for that form

The Detailed Transfer Status window is opened but it does not update as the transfer status changes.

####

[2017-01-11 14:59] lognaturel opened #54 "Selection highlight should extend behind the Details... button"
#### Software versions
Briefcase v1.4.9, Java 1.8.0_112-b16, macOS 10.12.3

#### Problem description
<img width="601" alt="screen shot 2017-01-11 at 9 56 00 am" src="https://cloud.githubusercontent.com/assets/967540/21853297/8f3c0df0-d7e4-11e6-925e-aae7a33501b2.png">

#### Steps to reproduce the problem
Click on a form row.

#### Expected behavior
The row highlight should continue under the button

[2017-01-11 17:09] carstendev commented on #53
@lognaturel I'm on it.

[2017-01-12 15:31] #53 closed

[2017-02-01 08:19] yanokwa opened #58 "Export to CSV should sort like Aggregate sorts"
Feature request from a user: "I notice that the records are not chronologically export in the csv sheet as when you download directly from the server."

[2017-02-09 06:37] yanokwa commented on #14
Confirmed working in ODK Briefcase v1.4.10.

[2017-02-09 06:37] #14 closed

[2017-02-09 06:37] yanokwa commented on #52
This behavior also happens after an export.

[2017-02-09 06:49] yanokwa commented on #16
Cannot reproduce and attachment is not available download. I've reached out to OP.

[2017-02-09 07:01] yanokwa opened #60 "Running app from gradle breaks ability to connect via SSL connections"
#### Software versions
Briefcase v1.4.10, Java v1.8

#### Steps to reproduce the problem
1. Run `gradle run`
1. Try to connect to a server with SSL cert from LetsEncrypt. App Engine servers work fine.
1. Error dialog and stack trace

```Unable to fetch formList: Unexpected javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provid

[2017-02-09 07:09] yanokwa commented on #16
Confirmed with OP that this is no longer an issue. If I receive info on what the issue was, I will update this comment.

[2017-02-09 07:09] #16 closed

[2017-02-12 19:22] carstendev commented on #52
This problem seems to be caused by the <tt>FocusTraversalPolicy</tt> on the <tt>MainBriefcaseWindow</tt>. In both _getComponentBefore_ and _getComponentAfter_ (line 284 - 357)
[code]
is called, to switch to the next tab, if no component is found, satisfying the following conditions.
[code]
If the cancel button, wich is the component after the pull button is disabled, the conditions will evaluate t

[2017-02-12 19:54] carstendev commented on #54
**Platform**

Windows 10

**Software versions**

Briefcase v1.4.10

**Behavior**

![selected_row cropped 1](https://cloud.githubusercontent.com/assets/14132179/22865450/36cf0f6a-f165-11e6-90ae-16fdaff5d3b6.png)

@lognaturel This is how it looks on Windows, is this the expected behavior?

[2017-02-13 02:51] lognaturel commented on #54
@carstendev Wow, it didn't even occur to me that it might be a platform-dependent issue. Yes, that is what I would expect.

[2017-02-13 02:55] lognaturel commented on #52
I say go for the refactor! 😊 It seems like a fairly focused change to make that will provide benefits in the future.

[2017-02-13 12:20] carstendev commented on #52
Okay, I´ll work on it sometime this week.

[2017-02-28 18:42] #52 closed

[2017-02-28 19:31] lognaturel commented on #52
@carstendev I'll leave this issue closed since the surface problem is fixed. We'd love some refactoring if you're still up for it! 😊

[2017-03-01 16:24] carstendev commented on #52
@lognaturel Refactoring is still a good idea, I´ll try to work on it, as soon as I´m not so swamped with work.

[2017-03-01 16:46] lognaturel commented on #52
Of course, whenever you have time. Thanks, @carstendev!

[2017-03-03 15:25] yanokwa opened #64 "Unified UI"
ODK Briefcase is a Java application for fetching and pushing forms and their contents. It helps make data from millions of ODK campaigns portable. On first launch, Briefcase currently displays a screen with a description of the program and its functionality. One part of this project will involve rethinking how a user gets to know how Briefcase works and sets up a Briefcase storage directory.

Addi

[2017-03-04 13:16] techfreakworm commented on #64
Hello,
I have an idea for improving UX for a clear understanding of the functionalities.
Idea is to have translucent JFrames in Oval or Circular shapes just above the function/title/any other attribute of which demo is to be given.
[Example of transparent JFrame.](https://docs.oracle.com/javase/tutorial/uiswing/misc/trans_shaped_windows.html)
A guided demo will be there, information of which would

[2017-03-04 13:59] yanokwa commented on #64
@techfreakworm The most important thing is the improving the user experience from first launch and through the pull/push/export workflow. Start by using the app first, then sketch out low fidelity mockups, and post those for feedback.

[2017-03-04 20:28] yanokwa opened #65 "Exporting encrypted csv file using ODK Briefcase fails on Windows"
– bendo28@gmail.com

#### Software versions
Briefcase v1.x.x, Java v1.x.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2017-03-04 21:56] rclakmal commented on #58
@yanokwa I would like to work on this enhancement to make myself familiar with the code base before GSoC17 application period.

If I understood correctly, the csv export should have records sorted by "SubmissionDate"?

[2017-03-05 00:03] yanokwa commented on #58
@rclakmal Please take it on. Note that not all forms or instances/submissions will have SubmissionDate. If it's a mix, the instances/submissions without SubmissionDate should go to the bottom.

[2017-03-05 03:21] rclakmal commented on #54
@lognaturel On OS X. Will try to work on this :)

[2017-03-06 15:02] SteadyCadence commented on #65
What files are you loading up in ODK Briefcase?  Do you have the form XML in the folder structure?

When I tried loading up a folder with all of the form instances, I received a similar blank file.  When I loaded up the instances with the form schemas also in the folder structure then the export worked fine.

[2017-03-06 15:57] rclakmal commented on #64
@yanokwa
I came up with this intro step mockups to introduce briefcase and functionality to new users.
[ODKBriefCase UX.pdf](https://github.com/opendatakit/briefcase/files/821660/ODKBriefCase.UX.pdf)

Let me know your feedback. In the mockups, there would be "image not found" containers. My idea is we can place some gif/video to guide users on how to use the functionality.

Something like this..
!

[2017-03-06 17:49] mitchellsundt commented on #65
You need the JCE that is for your Java installation. i.e., Java 8 JCE if you are using Java 8.

And if that doesn't work, downgrade to Java 7 and the Java 7 JCE.

[2017-03-06 17:55] mitchellsundt commented on #58
To clarify: Aggregate sorts by the markedAsCompleteDate

Note that if the submissions are pulled off of an ODK Collect device, they
will not have this attribute in their XML.

On Sat, Mar 4, 2017 at 4:03 PM, Yaw Anokwa <notifications@github.com> wrote:

--
Mitch Sundt
Software Engineer
University of Washington
mitchellsundt@gmail.com

[2017-03-06 18:02] yanokwa commented on #58
Thanks for the clarification @mitchellsundt! @rclakmal, please sort by markedAsCompleteDate.

[2017-03-06 18:03] rclakmal commented on #58
@mitchellsundt and @yanokwa Thanks. Will update the PR

[2017-03-06 19:39] yanokwa commented on #58
@rclakmal I would leave it unsorted. That is, for each form export, sort all form submissions by markedAsCompleteDate, with earliest going first. If a submission does not have markedAsCompleteDate, it should go to the bottom and be unsorted. It is possible that some, all, or none of the submissions will have markedAsCompleteDate.

[2017-03-06 20:05] #54 closed

[2017-03-06 22:08] yanokwa commented on #64
@rclakmal For an application this straight-forward, I'm not sure a first run tutorial is needed. If you were to re-work the entire user experience, how would you restructure it to make it more intuitive without requiring a first run tutorial?

[2017-03-06 22:24] rclakmal commented on #64
@yanokwa Thanks. I understand your argument.

At this point, I have couple of questions before moving forward...
Do you have any comments in the past from actual users about the user experience of push/pull/export windows? And do the target user group for briefcase are they presumed to be familiar with the concept of push/pull/export?  Also, how many active users do we have for this desktop app? a

[2017-03-07 18:43] rbendo commented on #65
I've tried using the Java 8 JCE but still had no luck but it still wouldn't work.

As requested, I've attached my public and private keys as docx files.

[IMPACT_PublicKey.docx](https://github.com/opendatakit/briefcase/files/825378/IMPACT_PublicKey.docx)
[IMPACT_PrivateKey.docx](https://github.com/opendatakit/briefcase/files/825379/IMPACT_PrivateKey.docx)

Sorry, but I cannot attach my form as wel

[2017-03-07 19:12] mitchellsundt commented on #65
Keep in mind that exposing your private key completely compromises all security of your data.

Sounds like a regression in the build of 1.4.10.

There were a lot of changes in that build. Letting @lognaturel take over.

[2017-03-08 00:04] yanokwa commented on #65
I did a test on Windows and Mac with Briefcase 1.4.9 and 1.4.1. Both OSes are using Java 1.8.0 with the latest Java Cryptography Extension and here are the results.

**Windows 7 SP1, Briefcase 1.4.9**
[code]

**Windows 7 SP1, Briefcase 1.4.10**
*Cause: java.security.NoSuchAlgorithmException: Cannot find any provider supporting RSA/NONE/OAEPWithSHA256AndMGF1Padding*
[code]

**macOS 10.12.3, Briefca

[2017-03-08 14:48] yanokwa commented on #65
I think the first thing for someone to try here is to change the build.gradle file so it does not expand the dependant jars when it makes the Briefcase jar. An easy way to see what is inside the jar is to use this task inside the gradle file.
[code]

[2017-03-08 14:58] yanokwa commented on #65
@meletis I vaguely remember SurveyCTO having this issue at some point. Do you use gradle to build your desktop client? How did you resolve it?

[2017-03-08 15:06] meletis commented on #65
I don't remember having that issue in SurveyCTO. We use Maven and we don't expand the dependent jars.

[2017-03-09 16:58] mitchellsundt commented on #65
The illegal key size on Mac would suggest that ODK Briefcase is perhaps not
running the same Java as your test app?

Not sure how Mac deals with runtime JRE settings -- if you have Java 7 and
8 installed, and if you built with a target jre of 1.7, will it run the 8
runtime in backward-compatibility mode, or will it run the 7 runtime?

I'd double check that you have the appropriate JCE installed fo

[2017-03-09 17:01] mitchellsundt commented on #65
Yes, you should NOT explode the dependent jars. The bcprov jar (bouncy
castle) is a signed jar. Exploding it will invalidate the security
tamper-detection check, and cause the jar to not register its algorithms.

On Wed, Mar 8, 2017 at 7:06 AM, Meletis Margaritis <notifications@github.com

--
Mitch Sundt
Software Engineer
University of Washington
mitchellsundt@gmail.com

[2017-03-09 17:19] yanokwa commented on #65
My goal is to get Briefcase to run with a single click (e.g.,`java -jar briefcase.jar`). I spent a lot of time digging into this, and it's most certainly a packaging problem. Here's what I've learned...

Getting a single-click Java application requires an uber/fat/flattened jar or a nested jar class loader. Flattened jars won't work because as @mitchellsundt's points out, Bouncy Castle won't work

[2017-03-09 17:48] mitchellsundt commented on #65
Keep in mind that this is ONLY an issue with Mac OSX and perhaps Linux.

Double-clicking the jar auto-launches everything just fine on Windows. Has
for years.

On Thu, Mar 9, 2017 at 9:19 AM, Yaw Anokwa <notifications@github.com> wrote:

--
Mitch Sundt
Software Engineer
University of Washington
mitchellsundt@gmail.com

[2017-03-12 15:16] rclakmal commented on #58
@yanokwa @mitchellsundt I changed the implementation to use `markedAsCompleteDate`  attribute. However, I noticed, this attribute is not getting exported to the csv even when it is present in `submission.xml`.

Is this the case ? Or have I done something wrong with the export?

[2017-03-13 16:47] mitchellsundt commented on #58
It isn't. It can be missing, too, if the submissions are pulled directly off the device.

It isn't included in the csv because the value is not durable across pulls and pushes to different ODK Aggregate instances. I.e., if you pull data from ODK Aggregate A and push to ODK Aggregate B, then B will assign different marked-as-complete dates vs. A.

This is an internal field that is central to many o

[2017-03-13 18:05] rclakmal commented on #58
@mitchellsundt Thanks for the detailed explanation.
But if we sort the csv by a field which is not visible in the expert itself, wouldn't it confuse the user? The user wouldn't be able to see any direct sorting patterns.

[2017-03-13 18:33] mitchellsundt commented on #58
Good question. The submission date could be used, but then the order would differ slightly from what ODK Aggregate will do. Perhaps this divergence just needs to be documented?

Submission date records the arrival of a submission on the server. Marked-as-complete date records the completion of the submission on the server. These are the same if the submission does not contain attachments but can b

[2017-03-13 18:42] rclakmal commented on #58
@yanokwa Could you also comment on @mitchellsundt suggestion?

[2017-03-13 19:39] yanokwa commented on #58
@rclakmal I agree that it's confusing to users to not understand how values are being sorted. I think submissionDate is a good compromise, especially since it's durable.

[2017-03-13 19:48] rclakmal commented on #58
@yanokwa Thanks. Yes it's open for review.

[2017-03-14 16:40] Giannis13T commented on #64
Hello,
The idea I came up with to help users better understand the functionalities of the application is a "Help" JButton. When the user clicks on the button it will prompt a new window showing imformation (using HTML) about pull/push/export as well as general information about what briefcase is.
Also, we could show a small information message when the user hovers over an item to indicate what the

[2017-03-14 16:56] yanokwa commented on #64
@Giannis13T For an application this straight-forward, I'm not sure a help button is needed. If you were to re-work the entire user experience, how would you restructure it to make it more intuitive?

[2017-03-15 14:59] lognaturel opened #69 "✨ Google Summer of Code 2017 - Important dates and Q&A ✨"
Welcome to all students considering submitting a proposal for [Google Summer of Code 2017](https://summerofcode.withgoogle.com/organizations/4911125733834752/)! We are very excited to have you here and thank you so much for all the wonderful contributions you have already made. 🎉

Project proposal time is coming up! You will have between **March 20th and April 3rd** to submit your proposal documen

[2017-03-15 16:24] yanokwa commented on #6
@mitchellsundt I'm leaning towards removing this feature because it doesn't seem to work and because if you can mount an SD card, you can just as well use the Custom path option. Is there a good reason to keep it?

[2017-03-15 16:36] yanokwa commented on #64
He's an ideal to get the discussion moving. I wonder if we can simplify the abstraction even farther. So why not UX that's built more like an FTP/client. So you have a list of forms on the server on one side, and the list of forms on the other side. If you select server side forms, you can then download them. If you select local forms you can export or push.

This is a screenshot from an FTP clien

[2017-03-15 18:45] shivam-tripathi commented on #6
I was trying to reproduce this issue. I am using Ubuntu 16.04 LTS - and have a SD card mounted using an SD card adapter. However, when SDCardChooserDialog opens, it can't seem to detect my SD card.
Attached : A screen shot with window dialog showing files of the SD card and the chooser dialog in the front.

![workspace 1_004](https://cloud.githubusercontent.com/assets/9463078/23965298/88f9bcb4-09d

[2017-03-15 20:58] Giannis13T commented on #64
I will agree that this is a lot simpler and better to help the user get familiar with briefcase. If the pattern in the image you posted is used, I would also suggest that we use a text area below the lists to show the details of the pull/push/export procedure, so as not to include the "details" button next to every form.

[2017-03-15 23:44] yanokwa opened #70 "On export, only create media folder when needed"
On export to CSV, Briefcase creates a media folder whether or not there is media associated with the file. It should only create a media folder when there is media.

[2017-03-16 01:29] rclakmal commented on #64
With addition to the discussion at slack, also posting the couple of mockups I came up for further feedback and discussion from other students and project members..

`Option with action buttons and checkboxes. `
![withiconsandcheckboxes](https://cloud.githubusercontent.com/assets/794011/23977721/1dcfb462-09f0-11e7-92ae-7b0bf0036794.png)

`Option with drag & drop for push/pull and a "right click me

[2017-03-16 01:30] rclakmal commented on #49
@lognaturel  I am looking into this :)

[2017-03-16 15:56] yanokwa commented on #64
@rclakmal I like the first one because being able to select multiple forms at once is important, but we should have right-clicking on individual forms like the second one.

ODK Briefcase also has the ability to pull data from an SD card (which is local). Can you try mocking that up using this two-pane system as well?

I agree with @Giannis13T that we'll need some sort of place in the UI that print

[2017-03-17 00:45] rclakmal commented on #64
@yanokwa and all,
I believe we could keep the form source selection somewhat similar to the existing UI. On top of the two-pane system, you have a **connection panel**, which always contains a drop-down box as the first UI element with all the input sources (aggregator, mounted sd card) as choices. The second line of UI elements will dynamically change as per the drop down selection.

`With Aggreg

[2017-03-17 00:47] rclakmal commented on #64
As for the details, why don't we simply provide a `details` action button and then create a `popup dialog`. This will allow the user to check out details for multiple forms in a single go.

![detailsdialog](https://cloud.githubusercontent.com/assets/794011/24024424/a1403e20-0ab3-11e7-86fb-932602c8b976.png)

[2017-03-17 15:40] downeym commented on #69
**Pro tip:** There's no rule that says your proposal must be the first time that potential ODK project mentors hear about your idea! 😄 You can communicate with & work with potential mentors _now_, ahead of time, to better clarify both your ideas as well as your understanding of ODK software. Remember that everyone here's a volunteer, so they may not respond immediately, but everyone's also very fr

[2017-03-18 11:07] shivam-tripathi commented on #6
It appears that there is a variation in the auto mount location of external drives across flavours of Linux. In the `utils/FindDirectoryStructure`, it is assumed that mount location is `/mnt` and `/media`; however in many cases (like Ubuntu) it may be `/media/username`.

[2017-03-18 23:11] rclakmal commented on #49
@lognaturel Created a PR. Have a look when you get time :)

[2017-03-19 14:54] lognaturel commented on #6
Fixed.

[2017-03-19 14:54] #6 closed

[2017-03-19 15:30] shivam-tripathi opened #73 "Unable to detect SD card in Ubuntu"
Mount location of SD card in Ubuntu has been changed from  `/media` to `/media/username`. We should modify mount locations to include this.

[2017-03-19 16:12] yanokwa commented on #73
@shivam-tripathi Good catch! What other mount points do the popular distros use?

[2017-03-19 20:08] shivam-tripathi commented on #73
@yanokwa Apart from `/media/username`, I have found Fedora and Arch based flavours using `/run/media/username` as default the mount point.

[2017-03-19 21:37] shivam-tripathi commented on #70
@opendatakit/briefcase Please review :)

[2017-03-19 23:19] rclakmal opened #76 "Forms to pull could possibly indicate the size of the content"
I'm not sure whether it is possible to fetch this information from the server.
But could be a useful information for the user to get a rough estimation on how long will it take to download a particular form.

[2017-03-22 01:03] yanokwa opened #77 "Only duplicate media on export when there are truly unique"
Collect uses timestamps to name files. On a very large campaign, two devices can take images at the same time, upload them both to Aggregate, then download them to Briefcase. When those images are exported, what happens?

[2017-03-22 17:19] yanokwa commented on #76
The API that is used is at https://github.com/opendatakit/opendatakit/wiki/Briefcase-Aggregate-API. I don't think you can get sizes, but you might be able to get the number of submissions, but I bet it won't be fast. @rclakmal if you want to explore this idea, I'd start there.

[2017-03-23 12:17] icemc commented on #8
@yanokwa I will like to know more about this issue. And try it.

[2017-03-23 12:18] yanokwa commented on #8
@icemc Please give it a try!

[2017-03-23 12:23] rclakmal commented on #76
@yanokwa Thanks. Will look in to this.

[2017-03-23 19:25] yanokwa opened #79 "Exporting encrypted forms to CSV fails on macOS"
Related to #65, exporting an encrypted CSV on macOS Sierra 10.12.3 with Java 1.8.0_121 fails with

*Error decrypting:submission.xml.enc Cause: java.security.InvalidKeyException: Illegal key size*
[code]

This is despite having the JCE installed (`brew cask install java jce-unlimited-strength-policy`). This is likely because the application is running from the JRE instead of the JDK. Maybe.

[2017-03-23 22:39] rclakmal commented on #79
@yanokwa In OS X version 10.12 and  java version "1.8.0_73" the encrypted export fails with the following stack.
[code]

[2017-03-23 23:32] rclakmal commented on #79
@yanokwa However, downloading [JCE libraries](http://www.oracle.com/technetwork/java/javase/downloads/jce8-download-2133166.html) and placing them in `${java.home}/jre/lib/security/ `worked !! :)

[2017-03-24 00:43] rclakmal commented on #64
@yanokwa and @lognaturel
Could you pls explain a little bit about the use cases of 3 sub-functionalities?

- Preference clearer for the main utility (I guess this to clear the briefcase storage location? )
- Character set converter for CSVs -
- Blank form uploader

[2017-03-24 18:04] #73 closed

[2017-03-24 18:25] yanokwa opened #81 "If you have an invalid file in your Briefcase Storage Directory you throw an exception"
Run `gradle run`, and if you have an invalid file (e.g., a hidden `.DS_Store`) in your Briefcase Storage Directory Briefcase throws an exception in the log.
[code]
Before sending a PR, please leave a comment about how you propose to fix this.

[2017-03-24 18:29] yanokwa commented on #81
Filed at https://github.com/opendatakit/briefcase/pull/66

[2017-03-24 18:29] #81 closed

[2017-03-24 18:34] yanokwa opened #82 "Do not load forms in JavaRosa at launch"
On launch, ODK Briefcase seems to load each local form in JavaRosa. This can be a slow process and it's not clear to me why it is needed because all you need to load in UI is the form name.

[2017-03-24 18:46] yanokwa commented on #70
Hi @shivam-tripathi! I've confirmed this works in the GUI, but it doesn't work in the CLI.

To find out what the CLI arguments are:
` java -jar "ODK Briefcase v1.4.10-16-g553e235.jar" --help`.

The command I'm using is
`java -jar "ODK Briefcase v1.4.10-16-g553e235.jar" -ed ~/Desktop/ -id choice_filter -sd ~/Library/Application\ Support/ODK/ -f /tmp/choice_filter.csv`

[2017-03-24 19:30] mitchellsundt commented on #82
Form name is embedded in the XML. You could avoid this if you scan and load the form name into a database (and just scan for differences).

[2017-03-24 19:33] yanokwa commented on #82
Thanks @mitchellsundt! Any other reason why Briefcase would try to load the form? Or rather, why was it done this way to begin with?

[2017-03-25 00:35] mitchellsundt commented on #82
The original coding intentionally avoided any embedded database and relied upon the directory structure to deduce what was in the storage area.   The database was added later to improve the pull / push efficiency. And its use was never extended to other areas of the code (higher priorities).

From a usability standpoint, improving the pull / push speed impacts the viability of the app for user-int

[2017-03-25 01:45] rclakmal commented on #77
Tested on OS X 10.12 with `Birds` form

There were two images with the same timestamp in two difference instance folders.
![snip20170325_1](https://cloud.githubusercontent.com/assets/794011/24318395/e9d057cc-1104-11e7-9507-dd13ab2dc22c.png)

After exporting, in the media folder, one was renamed with the `suffix -2`

![snip20170325_2](https://cloud.githubusercontent.com/assets/794011/24318410/166fc

[2017-03-25 17:33] shivam-tripathi commented on #77
@yanokwa Confirmed the same thing as @rclakmal
![selection_016](https://cloud.githubusercontent.com/assets/9463078/24324588/1933d8d6-11af-11e7-92b9-da18a61383a8.png)
![selection_017](https://cloud.githubusercontent.com/assets/9463078/24324589/20846b50-11af-11e7-8353-5323582fbc91.png)

[2017-03-25 17:44] shivam-tripathi commented on #77
But noticed something weird :
![selection_018](https://cloud.githubusercontent.com/assets/9463078/24324666/99f622ac-11b0-11e7-8be3-e0d7cfcac91b.png)
![selection_019](https://cloud.githubusercontent.com/assets/9463078/24324668/a0c2a718-11b0-11e7-935e-589924a746fc.png)

It appears that when encountering two separate instance media with same time stamp, it creates a duplicate of the one it encountere

[2017-03-25 19:18] shivam-tripathi commented on #77
Looked at the code. I was mistaken. Making changes to the instances folder makes no difference.
![selection_020](https://cloud.githubusercontent.com/assets/9463078/24325388/d5faf05e-11bd-11e7-8017-e23ecfd64c56.png)

[2017-03-26 01:52] #58 closed

[2017-03-26 05:30] shivam-tripathi commented on #70
I checked. It appears to work fine.
The command I am running is :
`java -jar "ODK Briefcase v1.4.10-10-g0a250e2.jar" -id N_Biggest -ed "/home/shivam" -sd "/home/shivam" -f "n_biggest.csv"`

[2017-03-26 13:29] icemc commented on #77
I confirm what @shivam-tripathi said earlier. When the code encounters files with the same time stamp it solves the problem by adding an incremental suffix.

[2017-03-26 14:42] shivam-tripathi commented on #13
@yanokwa @mitchellsundt Any suggestions on how to reproduce this?

[2017-03-26 15:52] shivam-tripathi commented on #10
@yanokwa Isn't this essentially the same?
https://github.com/opendatakit/briefcase/issues/13

[2017-03-27 00:13] icemc commented on #10
@yanokwa  and @mitchellsundt  i gave a look at this issue and found a solution for it. Will submit a PR if u don't mind.

[2017-03-27 00:16] yanokwa commented on #10
@icemc Please give it a go!

[2017-03-28 01:02] rclakmal commented on #69
@lognaturel @yanokwa @downeym I have shared a draft proposal through the system for the Unified UI idea. Here is the public [link](https://docs.google.com/document/d/1YgOrRJQJKJYUAZSnDa4oW-aHrVapvYhveWS_JWa000A/edit?usp=sharing).   🙂

Some feedback would be really appreciated.

[2017-03-28 05:03] icemc commented on #64
@yanokwa  it will be great to know the functionality of the other utilities. As @rclakmal requested, since it will help the developer know where to place them in the UI design.

[2017-03-28 06:01] icemc commented on #10
PR submitted #84

[2017-03-28 12:10] rclakmal commented on #64
@icemc In the #briefcase-code slack channel, there are some information about these 3 sub utilities provided by @yanokwa and @lognaturel. Have a look :-)

[2017-03-28 16:32] icemc commented on #64
@rclakmal  thanks will have a look

[2017-03-28 16:36] lognaturel commented on #64
@rclakmal @icemc Good question. Just so we also have it here for future reference:
- No one seems to remember why the preference clearer was made a separate thing. It seems it could easily be a "reset all" button in settings. This won't even make much sense until there are more settings to clear.
- See [this thread](https://groups.google.com/forum/#!msg/opendatakit-developers/uozMAr0LcpA/nSavMnzxy

[2017-03-28 18:15] icemc commented on #13
@shivam-tripathi to reproduce this u can do the following
- have a sample encrypted form in collect.  this is a [sample](https://drive.google.com/file/d/0B1qkHgex7NflaU81RmxfRXlSSGc/view?usp=sharing). copy this to the odk directory in your phone under forms
- open collect and fill in some instances but have at least one instance that was not completed
- copy your odk directory from phone to PC the

[2017-03-31 19:03] shivam-tripathi opened #85 "Use progress bars instead of text messages for local operations."
Presently during the process of extraction or pull etc. from server, messages like "Extracting ..." or "Downloading ..." is displayed. Instead of this if progress bars are shown, in my opinion, can enhance user experience.
In case of pulls, https://github.com/opendatakit/briefcase/issues/76 may be relevant.

[2017-03-31 21:33] rclakmal commented on #69
Thanks for the feedback @yanokwa.Tried to incorporate your suggestions. However, I will keep improving the public draft until tomorrow.

@lognaturel Any comments from your side? :)

[2017-04-01 00:25] #65 closed

[2017-04-03 06:34] saraswatmanu commented on #4
Anyone approaching this issue?

[2017-04-03 07:44] icemc commented on #4
@saraswatmanu I don't think there is someone working on this, but @yanokwa should best know

[2017-04-03 11:02] saraswatmanu commented on #4
@yanokwa can I give it a try?

[2017-04-03 23:50] mitchellsundt commented on #85
You can't display a progress bar without getting the total number of rows off of the server before you begin a pull (so you can calculate a percentage). And that would require a full table scan before beginning the pull, which would instantaneously double the costs you will incur on Google App Engine.

This is not a good thing. Closing.

[2017-04-05 12:32] rclakmal opened #86 "Can/Should briefcase be usable behind a proxy"
I'm trying to connect to http://opendatakit.appspot.com/ behind a proxy server. Getting following stack-trace. I suspect this is due to the proxy.

Is briefcase suppose to work behind a proxy?

[code]

[2017-04-05 12:47] rclakmal opened #87 "On the initial launch if the user press "Cancel" on briefcase storage location selection dialog, user is end up having a disabled main window"
#### Software versions
Briefcase v1.4.10, Java 1.8, OS Windows 7

#### Problem description
On the initial launch if the user press "Cancel" on briefcase storage location selection dialog, user is end up having a totally disabled main window.

#### Steps to reproduce the problem
1. Just delete/move the briefcase storage directory and relaunch the app. You will get the storage location selection pop

[2017-04-05 17:15] yanokwa commented on #87
@rclakmal I'm not sure what to do here. Instead of removing the Cancel button, maybe we should quit the application? Or take the user to the Settings tab (and they can't leave that tab)?

Any other ideas @shivam-tripathi @icemc @nribeka?

[2017-04-05 17:16] yanokwa commented on #86
I think it's a good idea for Briefcase to be usable behind a proxy. Please some research and propose how we fix this!

[2017-04-05 17:22] yanokwa commented on #77
Thanks so much for the confirmation, gentlemen! I'm closing this issue because this is exactly the behavior we want.

[2017-04-05 17:38] yanokwa commented on #4
@saraswatmanu Yes, you can! Let's start with JSON exports.
1. Document what Aggregate currently does as far as JSON (and be sure to test with repeats, unicode, multimedia)
2. Update this issue with that rough specification
3. Propose how you'll implement this in Briefcase (where the code will live, any new libraries, etc)

[2017-04-05 17:47] yanokwa commented on #85
I'm re-opening this issue because I think this would be a nice enhancement for the local operations where it's easy (e.g., exporting to CSV, pushing to Aggregate, pulling from SD card). @shivam-tripathi can you suggest an approach where we could do this for just local operations?

[2017-04-05 17:49] yanokwa commented on #76
@rclakmal I'm closing this because currently, it'd be very expensive on the server side to do this. See https://github.com/opendatakit/briefcase/issues/85#issuecomment-291324845 for more.

[2017-04-05 17:49] #76 closed

[2017-04-05 17:51] yanokwa commented on #60
Fixed, probably with https://github.com/opendatakit/briefcase/pull/78.

[2017-04-05 18:27] rclakmal commented on #87
@yanokwa Well technically, user shouldn't be able to cancel the selection of a folder since it's a mandatory requirement.

I think your idea of directing to Settings tab is nice. But then, why wouldn't we just redirect the user to Settings page and make them do this setting on the first launch instead of this popup dialog ?

[2017-04-05 21:06] yanokwa commented on #87
Redirecting to Settings seems like it'll be more complicated. You'd then have to prevent them from doing anything until they select a folder.

Another option is instead of Cancel, we replace that with Quit.

[2017-04-05 21:29] rclakmal commented on #87
My point was not adding redirection. Rather, get rid of the popup and start the main window with the focus on Settings view and not letting user to browse other view until a folder path is set.

However, Changing the button to a "Close/Quit" would be an easy option.

[2017-04-06 09:19] rclakmal commented on #87
@yanokwa Shall I move forward with "Close" option and submit a PR?

[2017-04-06 15:04] shivam-tripathi commented on #85
@yanokwa I also believe it can be relevant for local operations. I'll look into this and get back to you.

[2017-04-06 15:07] yanokwa commented on #87
So the options are:
1. Change dialog option to Close/Quit
2. Get rid of the popup, but lock the user to settings and add some language to settings screen to say that it's required.

I don't like the popup, but I bias towards Close/Quit as a solution because we'll probably be changing Briefcase's UX anyway and Close/Quit is a straightforward fix. Paging @lognaturel and @nribeka for feedback.

[2017-04-06 16:44] mitchellsundt commented on #86
Appspot instances require https (port 443).
The web server will trigger a hard redirect.
The connection layer is likely not detecting and handling that.

[2017-04-06 18:53] yanokwa commented on #77
Actually. Instead of adding image-2.jpg, I wonder if we can check the MD5 hash and only append a number if those files are actually different. What do you think @shivam-tripathi @icemc @rclakmal?

[2017-04-06 19:19] rclakmal commented on #77
@yanokwa We can store MD5 hashes and file paths in a HashTable. MD5 hash would be the key. This will allow us to skip the duplicates. As far as I know, there is a theoretical possibility, however small, that two different files could return same hash. I think we can ignore this for practocal purposes?

Wouldn't you think we should provide this as an option? This introduce extra overhead to the exp

[2017-04-06 22:21] icemc commented on #77
@yanokwa  following what @rclakmal  said and MD% has will solve the problem (in most cases) but will decease the performance during export of forms with a large amount of instances. It is left for the community to decide if this extra cost is necessary.

[2017-04-06 23:15] yanokwa commented on #77
I'd rather we decide what is best than add options to the app. I think this should be pretty fast because you'd only be doing the MD5 check when you have a matching filename, no?

[2017-04-07 14:01] shivam-tripathi commented on #77
With everyone's permission, I would be glad to look into this.

[2017-04-07 14:34] rclakmal commented on #77
@shivam-tripathi Sure go ahead :-) I did a basic comparison already on MD5 and SHA1.  MD5 was faster and looks suitable for our use case. Let me know if any assistance is needed from my side.

[2017-04-07 14:40] icemc commented on #77
@shivam-tripathi  sure u can look into it. I don't think someone is currently working on it. Did a quick look and seems like the issue comes from the file ConvertToCSV.java in the method emitSubmissionCsv in case org.javarosa.core.model.Constants.DATATYPE_BINARY: correct me if I'm wrong. Hope I helped

[2017-04-07 14:48] rclakmal commented on #87
@yanokwa @nribeka @lognaturel I created a PR since it was a small change.  We can further discuss this through that PR.

[2017-04-07 14:49] shivam-tripathi commented on #87
For a quick fix, in my opinion, we can remove the "Cancel" button with a "Quit" button.
Settings tab can contain (in future) a lot of irrelevant requirements for a welcome page (presently it is empty), for example giving options related to form falsification or addition of other features (in future) which may require some form of user settings. So it would be a design decision to whether make a "W

[2017-04-07 14:52] rclakmal commented on #86
Thanks @mitchellsundt for the hint. I'm looking in to this

[2017-04-07 15:09] icemc opened #92 "Re-download deleted submission files during next pull from aggregate"
Software versions
Briefcase v1.4.10,  operating system  windows 8,

 Problem description
When a form instance(submission file) obtained by pulling the form from aggregate is deleted from its folder(usually named as the instance id). During next pull Briefcase does verify that instance file is present before skipping it instead verify if the instance folder is present. By doing so deleted instances

[2017-04-07 15:11] icemc commented on #92
@yanokwa i would like to work on this

[2017-04-07 15:29] rclakmal commented on #86
@yanokwa @mitchellsundt Adding following before the HttpClient creation worked. Now the problem is how can we allow user to set these properties up? Via settings tab may be ?
[code]

[2017-04-07 16:08] rclakmal commented on #87
Idea of multiple storage locations could be little make things complex from UI perspective and as far as I see it doesn't add big value  from user's perspective.

[2017-04-07 16:28] yanokwa commented on #87
Thanks for all the ✨great✨ feedback.

I think we'll go with the Cancel/Quit option for now. I'll review the PR shortly. 👨🏿‍💻

[2017-04-07 16:55] yanokwa commented on #86
Thanks for taking the lead on this and checking the following hint AND mocking up the UI! That's exactly the kind of initiative that we need!

I think settings is the natural place for the proxy, but how does this work across platforms or with Java installs that already have proxy settings? For example, OS X already has proxy settings. And Java lets you [set proxy settings](https://www.java.com/en

[2017-04-07 17:01] rclakmal opened #93 "Need for multiple workspaces (storage locations) in briefcase"
With regard to the discussion at #87,  there came the suggestion that may be briefcase could support multiple storage locations. This issue is to discuss,

- Whether there are any practical use cases of multiple locations?
-  How should we handle this in UI? Should user be presented with an option to select "storage location" on each run? Can users switch workspaces during run time ?
- If it adds

[2017-04-07 17:05] yanokwa commented on #93
@mitchellsundt @wbrunette Can you please describe the need for multiple workspaces? I personally haven't used them and I don't know folks who have.

[2017-04-07 17:50] #70 closed

[2017-04-07 18:08] yanokwa commented on #92
@icemc Thank you for finding and documenting this bug. Please send in a PR!

[2017-04-07 18:09] yanokwa commented on #82
@rclakmal Interested in taking this on?

[2017-04-07 18:24] yanokwa commented on #8
Fixed by #83.

[2017-04-07 18:24] #8 closed

[2017-04-07 18:31] yanokwa opened #94 "Fix style throughout the codebase"
The code base is currently not very consistent when it comes to code style. We already have a good [checkstyle file](https://github.com/opendatakit/briefcase/blob/master/config/checkstyle/checkstyle.xml). It can be run with `gradle check` and eventually added to continuous integration. I also like to use the [checkstyle IDEA plugin](https://plugins.jetbrains.com/plugin/1065-checkstyle-idea) in Int

[2017-04-07 19:12] rclakmal commented on #82
Yes. Will look into this :-)

[2017-04-07 20:18] shivam-tripathi opened #95 "While pulling from aggregate server, entering URL with trailing spaces raises error."
While pulling from aggregate server, entering URL with trailing spaces raises error. To reproduce this, select "Aggregate 1.0" in 'Pull data from:' option, and then enter URL with a trailing space. Press 'Connect'.

[2017-04-07 20:49] shivam-tripathi commented on #92
@yanokwa @icemc This is much more complicated. As I mentioned [here](https://github.com/opendatakit/briefcase/issues/77#issuecomment-289227508), if some one deletes/renames the media file, then upon exporting the file would be skipped, same thing as with submission xml file.
If we are considering tampering - you should in my opinion consider not just submission xml, but also media files. :)
Also,

[2017-04-07 21:09] icemc commented on #92
@shivam-tripathi  regarding this [issue](#92) i think this solves the problem and i can confirm that the re-downloaded files are exported successfully.
Regarding the file tampering issue that u described above a new issue could be filled so that we could get a detail discussion regarding how to solve that.

[2017-04-07 21:47] #95 closed

[2017-04-07 21:49] yanokwa commented on #13
Duplicate of #10

[2017-04-07 21:49] #13 closed

[2017-04-08 19:32] shivam-tripathi commented on #94
Taking `<module name="CommentsIndentation"/>`

[2017-04-10 11:08] rclakmal commented on #86
@yanokwa I think the settings in link you attached only applies for java applets. But for cross-platform JVM based apps, you need to configure the proxy settings.
An example would be, Eclipse which doesn't work behind a proxy until you set the proxy settings

![k](https://cloud.githubusercontent.com/assets/794011/24858959/c76bf032-1dee-11e7-9de5-4bbf095175dc.PNG)

[2017-04-10 14:40] joeflack4 commented on #77
Thanks for your efforts with this. Some of our partners have very limited connections, so the duplicate issues can be a huge issue, particularly with our fork of collect which uses form linking, as some images are shared between our household and individual questionnaires.

[2017-04-10 16:00] shivam-tripathi commented on #77
@joeflack4 Hi!
Presently we are trying to remove redundancy when you export the data collected using Briefcase _after_ pulling it from the server. This is essentially an offline process.
However, while pulling the data off the server - this remains an issue. I hope some solution surfaces in future. If I am correct, it needs to be done at Aggregate or even better at Collect level - as in Briefcase

[2017-04-10 16:31] yanokwa commented on #86
This is looking good to me, @rclakmal! Please send in a PR when you are ready.

[2017-04-10 17:40] #92 closed

[2017-04-10 17:44] lognaturel commented on #92
I think there's only so much we can really do to save users from themselves. Dragging a submission out actually seems like it'd be an easy thing to do accidentally and I do think it makes sense to try to keep the local briefcase consistent on the next pull in case that does happen. Once a user starts renaming files, I kind of feel like they're on their own! But I can be convinced otherwise if some

[2017-04-10 17:46] lognaturel commented on #92
Oh, but if someone wants to do the same for media (just handling the delete case), I think that would be good as well.

[2017-04-12 14:57] rclakmal commented on #86
@yanokwa Just to let you know, I have started on this already. But it takes bit more time than I expected due to me having access to proxy network only for a limited time in a day :-) ...Will send the PR by tomorrow

[2017-04-12 17:08] rclakmal commented on #86
@yanokwa PR sent. Could get it done before expected. :-)

[2017-04-13 00:00] #87 closed

[2017-04-13 02:23] #49 closed

[2017-04-13 19:13] #10 closed

[2017-04-14 18:59] icemc opened #102 "Mark pulling process as "Succeeded with some errors" instead of "Failed" if some form instances were skipped and the pulling process completed"
#### Software versions
Briefcase v1.4.10,  operating system Windows 8

#### Problem description
During pulling(of all types Aggregate, Collect directory etc) of form instances if one of the instances could not be downloaded then it is skipped and the pulling continues but at the end the whole process is marked as FAILED! even though the process completed and was not aborted. I think such events sh

[2017-04-14 19:00] icemc commented on #102
@yanokwa  filed the issue as requested. Will send a PR soon

[2017-04-20 22:12] yanokwa commented on #79
I had the chance to try this in a fresh macOS 10.12 (Sierra) VM and this is what I've learned.

These days, Java does not come with macOS. So when you go to install Java, you are usually pointed to Oracle Java.

Oracle Java is installed in two locations depending on if you choose to install the JRE or JDK.
* JRE: `/Library/Internet Plug-Ins/JavaAppletPlugin.plugin/Contents/Home/`
* JDK: `/Library/

[2017-04-20 22:12] #79 closed

[2017-04-20 22:59] #60 closed

[2017-04-21 13:37] shivam-tripathi commented on #37
_Assigned to self._

[2017-04-21 14:02] shivam-tripathi commented on #94
Comment indentation.

[2017-04-21 15:03] rclakmal commented on #82
Guys, Couldn't look in to this until today. But starting off now...

[2017-04-21 15:41] rclakmal commented on #94
Empty catch clauses

[2017-04-21 15:56] rclakmal commented on #94
Single line java docs

[2017-04-21 19:17] shivam-tripathi commented on #20
I would like to work on this.

[2017-04-21 20:53] yanokwa commented on #20
@shivam-tripathi As a first step, can you please draft up a quick proposal listing what exists in the CLI and what needs to be added from the UI? For each addition, detail the flags you expect to use.

[2017-04-24 14:37] shivam-tripathi commented on #20
![table_flags](https://cloud.githubusercontent.com/assets/9463078/25342016/574f83d2-2928-11e7-8c8b-c66c072724f0.jpeg)
Presently, there is no specific option to specify if the operation intended is "Extraction" or any other. _Push_ is one of the basic operation, apart from _Pull_ and _Extraction_.
For _Pull_ operation, only a single operation would be needed to specify that the operation intended i

[2017-04-25 20:50] icemc opened #114 "Change ALL CAPS messages to Sentence case"
Make pull and push messages such as "SUCCESS, FAILED" etc to be less Caps

[2017-04-25 20:53] icemc commented on #114
@yanokwa I'm currently writing exams but will probably send in a PR tomorrow.

[2017-04-26 11:22] shivam-tripathi commented on #20
@yanokwa

[2017-04-28 17:54] yanokwa commented on #20
@shivam-tripathi This is a great first start!
* I think having some action flag would be a good idea. I think I'd have --action {pull,push,export} or something along those lines.
* I think p for password is pretty good. What's your concern? You want to use it for pull?
* Agreed that we might want to export other formats, so having an export type would be pretty nice.  Please open an issue for this

[2017-04-28 20:06] shivam-tripathi opened #117 "Add GUI support for the ability to export a date range"
The ability to export a date range is something that's in the CLI but not in the GUI. It would be great to have this feature included in GUI too.

[2017-04-28 20:09] shivam-tripathi commented on #4
@saraswatmanu Are you still working on it?

[2017-04-28 20:13] shivam-tripathi opened #118 "Change "-f" (export_filename) flag CSV specific nature to a more general one in CLI option"
Presently for flag 'f' in command line the argument name has been set to "name.csv". Briefcase will hopefully support other formats in future, so it must do away with .csv name attached.

[2017-04-28 20:14] shivam-tripathi opened #119 "Add option to specify export action and associated export type in CLI options"
Presently command line doesn't have any flag to specify whether the action to be taken is export. Also, there is no way to know the export type. It would be nice to have some flag to specify the action and format as arguments.

[2017-04-30 15:35] #77 closed

[2017-04-30 18:26] shivam-tripathi commented on #85
Since the extraction part is complete, we can now move to push part. ✌️

[2017-05-01 07:36] saraswatmanu commented on #4
I have been busy with my final exams lately. You may start working on it.

On Sat, Apr 29, 2017 at 1:39 AM, Shivam Tripathi <notifications@github.com>
wrote:

[2017-05-04 23:10] icemc commented on #4
I would like to work on adding Jason export functionality.

[2017-05-05 16:29] lognaturel commented on #4
@icemc That would be fantastic. I think @yanokwa's [proposed approach](https://github.com/opendatakit/briefcase/issues/4#issuecomment-291938762) is a good one.

[2017-05-14 13:11] yanokwa opened #122 "Add option to delete individual groups of forms from Briefcase"
Rather than have users manually delete forms from the Briefcase storage directory, it'd be nice if the UI allowed for deletion of forms.

[2017-05-17 21:39] icemc commented on #4
`Hello @lognaturel and @yanokwa my machine is bad and I'm fighting to have a new one. Someone else can work on this. But if I get a new machine before this issue is taken i will probably continue with it.  Cheers

[2017-05-24 21:49] yanokwa commented on #82
@icemc Any chance you can take a look at this issue for the next release?

[2017-05-24 21:50] yanokwa commented on #117
@shivam-tripathi Is this an issue you can take a look at for the next release?

[2017-05-24 22:51] lognaturel commented on #4
😪 I'm really sorry to hear that @icemc. Wishing you good luck with the new machine.

@yanokwa want to make sure you saw this.

[2017-05-25 04:03] shivam-tripathi commented on #117
@yanokwa Sure thing.

[2017-05-26 15:39] danielsteward commented on #33
Hi Yanokwa. I am a newbie looking to get involved with a good project.
I am in the middle of a computing degree with the Open University in the UK but have recently finished a small project for TNS, the network company, which was a simple database product using Java.
I have put my degree on pause and am doing the Oracle Java exams as I need to earn money but would also like to get involved in a pr

[2017-06-01 04:26] yanokwa commented on #33
Hi @danielsteward! This is a great issue to start on because it mostly requires you to go looking through the code. Give it a try, and if you get stuck, ask in the #briefcase-code channel on http://slack.opendatakit.org!

[2017-06-01 07:33] batkinson commented on #33
Welcome Daniel,

I also think this is good to look into. I have been reverse engineering a
collect and briefcase support without Aggregate using only the wire
protocol. One thing I know for certain is that MIME support is uneven
across these tools and doing normal things like attaching PNGs rather than
JPEGs has odd side effects.

Even if you only stopped after getting a good understanding of the

[2017-06-01 12:11] danielsteward commented on #33
Great. Let me look at it and I'm sure I'll have some queries.........and hopefully answers for you.
Dan.

[2017-06-03 14:33] danielsteward commented on #33
Hi Team. I have the software working and have set everything up and have used it a little. I am now looking through the code and trying to replicate the problem that the issue was inspired by: #5. Anything springs to mind please let me know otherwise no need to answer this post.
Dan.

[2017-06-05 20:36] danielsteward commented on #33
Hi Team. It's hard to replicate the original issue as Collect changes any image to a jpeg file type whatever the original. Is this right or am I making a mistake?

[2017-06-06 04:04] lognaturel commented on #33
@danielsteward I have noticed that behavior! To be honest with you, I'm not sure whether or not it's intentional. I have a vague memory of quickly looking into it and seeing that pngs were just renamed to have .jpg extensions but of course I didn't write it down anywhere. It would be a good thing to understand better if you're up for identifying where that happens in Collect, whether there are any

[2017-06-06 05:28] yanokwa commented on #33
@lognaturel's suggestion is a good one. And if you want to continue with Briefcase, that would be a good path to follow as well!

It would seem that the file types that Briefcase uploads are here: https://github.com/opendatakit/briefcase/blob/HEAD/src/org/opendatakit/briefcase/util/AggregateUtils.java#L693, but given the sometimes unexpected behavior, it'd be good to confirm that the uploads actua

[2017-06-06 10:13] batkinson commented on #33
Daniel, I think you are seeing what I experienced during my own testing. I used the [Birds sample form](https://github.com/opendatakit/sample-forms/blob/master/Birds.xml) to attach a PNG image I had stored on the device and was able to submit it. However, it was submitted (in my case, to a custom endpoint) as a file with a jpg file extension. This is one, but perhaps not the only, oddities of curr

[2017-06-06 10:55] danielsteward commented on #33
Right, thanks for those replies. I'll crack on........

[2017-06-12 16:55] #86 closed

[2017-06-12 16:56] yanokwa opened #128 "Spinner in proxy port settings don't increment or persist well"
* If I put in 999 as the port number and try to increment with the +, it doesn't increment. Anything below 999 works though.
* Port numbers don't seem to persist in the UI between launches. It persists as far as connections though.

[2017-06-12 16:58] yanokwa commented on #128
@daveycrockett Can you take care of these minor bugs?

Please be sure to use a branch (and not your master) as specified in the [contribution guide](https://github.com/opendatakit/briefcase/blob/master/CONTRIBUTING.md).

[2017-06-12 17:09] daveycrockett commented on #128
:+1: I'm on it!

[2017-06-12 17:21] yanokwa opened #130 "Minor UI tweak on storage location padding"
I think the line on storage location needs a bit of padding at the top so it matches the other tabs. Looks like maybe 18 px?

**Good**
![screen shot 2017-06-12 at 10 16 22](https://user-images.githubusercontent.com/32369/27046271-ad848986-4f58-11e7-8abe-f0bcb357db7d.png)

**Not so good**
![screen shot 2017-06-12 at 10 16 30](https://user-images.githubusercontent.com/32369/27046270-ad7bf0f0-4f58-11

[2017-06-12 17:21] yanokwa commented on #130
@daveycrockett This one is right up your alley!

[2017-06-12 17:32] yanokwa commented on #117
@shivam-tripathi You still interested in contributing this feature?

[2017-06-13 00:23] yanokwa opened #131 "Replace tabs with spaces"
The following classes have tabs that should be replaced with spaces.
[code]

Use IntelliJ's conversion tool to convert the tabs with spaces, then uncomment out the following in checkstyle.xml.
[code]

Run `./gradlew checkstyle` and fix any remaining issues.

To make code review easy, please make sure the PR has mostly whitespace changes.

[2017-06-13 07:40] shivam-tripathi commented on #117
@yanokwa I am. Just a little busy at the moment.

[2017-06-13 16:15] yanokwa commented on #117
We have a code freeze coming up next week and I want to make sure we have time to test and review. Should we bump to the next milestone?

[2017-06-13 17:25] shivam-tripathi commented on #117
Next week sounds too close. I am afraid we will have to bump it to the next milestone.

[2017-06-15 13:20] daveycrockett commented on #130
:+1: I'm on it!

[2017-06-15 13:20] danielsteward commented on #33
Hi Team. Sorry for my slow speed here. Have a divorce on my hands and it's getting bad tricky ;<.
However I have been using the software and searching through the code trying to get a handle on how things work.
Some of the aggregate code is well commented and I found this interesting remark on Line 601 in the class aggregate\src\main\java\org\opendatakit\aggregate\parser\SubmissionParser.java sayi

[2017-06-15 16:48] nribeka commented on #82
@yanokwa,

So based on my understanding of the code:
* when starting briefcase, it read and parse form file to get: form id, form name, form version. form name will be used in the combobox display, form id + form version used in the equals and hashcode which will be used in the combobox creation (there’s internal calls to equals i think inside combobox code).

* we can skip the parsing and change

[2017-06-15 17:25] yanokwa commented on #82
I like the cache option. And as you described in our chat, we should not just have a basic XML parse because "because the BriefcaseFormDefinition needs the JavaRosaParserWrapper and you can’t easily create the parser without parsing the form definition XML". Maybe put a cache folder in the Briefcase storage directory?

I am still concerned that doing this before we load the UI. Can you file that a

[2017-06-15 17:35] #128 closed

[2017-06-15 18:13] yanokwa commented on #33
The archaeology of the code is part of the challenge of this project, so take the time you need, @danielsteward! If it becomes a blocker we'll let you know.

I just talked with @lognaturel and she said she believes that the problem is likely before the submission hits Aggregate. That is, when she was working on Google Drive support, she noticed that her Android device saves images as .png, but Col

[2017-06-15 18:36] #130 closed

[2017-06-16 09:43] NoelOBoyle opened #135 "User interface to manage automatically scheduled ODK Briefcase Exports"
In the NGO I currently work for, all ODK data exports are scheduled to run twice daily and the details of these exports are managed via an excel table.  As the number of forms is large, this has proved very popular with users in many countries.

![odkformstable](https://user-images.githubusercontent.com/28840971/27221215-70996966-5290-11e7-9891-8b83ff113337.PNG)

The image above shows an example o

[2017-06-16 12:45] danielsteward commented on #33
Great, that sounds like a good first step. I'm nervous about interacting with Git and screwing things up but filing the bug in Collect and then sorting it sounds like a good first step.
I'll keep in mind all the other stuff and still look at it and try to suggest solutions.
Thanks Yanokwa.

[2017-06-16 13:26] danielsteward commented on #33
What is a blocker?

[2017-06-27 01:44] yanokwa commented on #117
Hi @shivam-tripathi! We've finished the June milestone and have started work on the July milestone. Do you have any sketches of the UI you had in mind that you can share?

[2017-06-27 01:56] yanokwa opened #137 "Add Google Analytics to Briefcase"
Better analytics will help with important design decisions.

In the settings, there should be a checkbox to disable analytics if desired. It should be checked by default.

[2017-07-04 11:56] batkinson opened #138 "Better utilize concurrency when pulling form submissions"
This is [an issue that was previously raised on the Google Group with submission download performance](https://groups.google.com/d/msg/opendatakit/kzuRmSSPkfg/N6fgFDodyHEJ). However, I stumbled upon this independently and after doing some investigation on it myself, would ask that we reopen the discussion.

Specifically, I believe that adding support for concurrent submission downloads would impro

[2017-07-05 18:33] yanokwa commented on #138
This is well-explained, @batkinson so big thanks for that! Do you have a sense of how this could be implemented in the current code base?

[2017-07-05 18:44] yanokwa commented on #117
Hi @shivam-tripathi! Since I haven't heard, back I'm tagging this as contributor-friendly to give others a chance at it.

@daveycrockett You seem to be pretty good at adding UI-y features to Briefcase. Any interest in this one?

[2017-07-05 19:01] daveycrockett commented on #117
Thanks for pointing this one out, @yanokwa!  I'm happy to take it on (at the risk of pigeon-holing myself!)  It will probably take me til end of next week.

[2017-07-06 03:04] batkinson commented on #138
Hi @yanokwa. Yes, I believe the quickest way would be to change [the submission download loop in ServerFetcher.java](https://github.com/opendatakit/briefcase/blob/master/src/org/opendatakit/briefcase/util/ServerFetcher.java#L314-L334) so that it performs each `downloadSubmission` call on a different thread. You could then further improve on it by making media attachment downloads concurrent in `do

[2017-07-06 03:20] yanokwa commented on #138
Sounds like you've got a good approach! Any chance you've got the cycles to build a first pass and send in a PR?

[2017-07-06 05:08] batkinson commented on #138
Sure @yanokwa. I started on a mock-up after writing/running a simulation to test my hypothesis. In case you (or anyone else) is interested, here is what I measured using [the simulation](https://github.com/opendatakit/briefcase/files/1126783/ConcurrentDownload.java.zip). I ran it against example.com from where I'm located (Malabo, Equatorial Guinea).

![performance-graph](https://user-images.githu

[2017-07-07 20:58] yanokwa commented on #33
Sorry about the terrible delay, @danielsteward.

A blocker is something that prevents work (e.g., the next release) on Briefcase from proceeding. Blockers are often just bugs, but sometimes a work is blocked because of [cookie licking](http://communitymgt.wikia.com/wiki/Cookie_Licking). Lots of fun lingo!

[2017-07-09 08:24] batkinson opened #140 "Recorded instance check performance degrades proportionally with total instances"
Seen while working on a prototype for #138, based on 1.6.10.

With the improvement in download performance of the #138 prototype, I noticed instance fetch performance became unexpectedly poor for forms with larger number of submissions. Also, resuming a form download after a previous batch of fetches was slow even when no instance downloads occur.

The reason for this behavior is the implementatio

[2017-07-09 13:56] batkinson opened #141 "App responsiveness degrades proportionally with form history length during pull"
Seen while working on a prototype for #138, based on 1.6.10.

I noticed after fixing #140 that while instance checks were no longer slow, the application still seemed to slow down as the duration of the sync continued. However, it appeared not to affect the progress of instance fetching and processing and instead only affected the responsiveness of the user interface. It was also correlated with i

[2017-07-12 18:55] #140 closed

[2017-07-16 08:10] jpknox commented on #137
Hello yanokwa, I'd like to have a go at this.
I've found a few user-made libraries that interact with Google's Analytics API.
May I have this task assigned to me?

[2017-07-17 11:13] batkinson opened #147 "Application logs exceptions to console"
#### Software versions
Briefcase v1.6.0 and lower

Due to numerous uses of `Exception.printStackTrace()`, the application logs exceptional conditions to the console rather than to a logging framework. All such stack dumps should be logged so that they can be managed using logging configuration.

[2017-07-18 02:11] yanokwa commented on #137
Welcome to ODK, @jpknox! Please have a go at this!

What I'd like to get out of the analytics is what operating systems are in use, what version of ODK Briefcase is being run, and what users take (so maybe we track if they use the Pull/Push/Export) and what screens they switch to (Pull/Push/Export/Settings) in the GUI.

Bonus points if you can figure out command line usage as well.

[2017-07-19 20:57] batkinson opened #149 "Fetched instances not recognized when storage directory is moved"
#### Software versions
Briefcase v1.6.0 and earlier

#### Steps to reproduce the problem

- Initiate a pull of a form to create tracked instances
- Close briefcase
- Move the storage directory
- Restart briefcase
- Reconfigure briefcase to point to the same storage directory in its new location
- Initiate a pull of the same form you fetched previously

#### Expected behavior

For the second pull,

[2017-07-20 00:14] yanokwa opened #152 "Loss in connection prevents Briefcase from downloading submissions"
In Briefcase v1.6.0, pull forms from an Aggregate server where you know the number of submissions (or the number of submissions is high). (e.g., https://nafundi-test.appspot.com, login with test/test).

Turn off your connection halfway through the pull. You now have fewer submissions than the total number of submissions.

Then turn your connection back on and try to pull again. Briefcase will not

[2017-07-20 06:05] batkinson commented on #149
I just found that this issue was reported previously, as #17

[2017-07-20 15:03] batkinson commented on #147
Fixed with the integration of the referenced PR.

[2017-07-20 15:03] #147 closed

[2017-07-20 16:01] batkinson commented on #152
@yanokwa I noticed this behavior when I started working on 1.6.0 and it definitely seemed strange to me. However, not being a long-time briefcase user myself I figured it was just clunky UI design. I was able to track this back to 53d1f2c94. There are multiple problems with the implementation. One is that it attempts to use the status message to determine a form's activity. Another is that it assu

[2017-07-20 16:13] lognaturel commented on #152
Yes, that's exactly right. I'm inclined to start by reverting 53d1f2c. I thought it was a marginal improvement over the double pull crash but this is more common.

[2017-07-20 16:23] batkinson commented on #152
@lognaturel given how simple the implementation is I would say reverting is definitely a good option. Not only does it not really solve the original issue, it also doesn't seem to be symmetric with pushes. After looking at this, I think I can quickly patch it up so it addresses the original issue without causing this problem. Your call.

[2017-07-21 00:03] #152 closed

[2017-07-21 21:29] #141 closed

[2017-07-21 21:33] lognaturel commented on #17
Replaced by #149.

[2017-07-21 21:33] #17 closed

[2017-07-21 21:59] #149 closed

[2017-07-27 04:36] #138 closed

[2017-07-27 08:15] batkinson opened #155 "Redirect javarosa warnings from console to log file"
Use the new functionality in javarosa (which is now available after integration of #154) to redirect its output to a log file rather than the console.

[2017-08-02 19:05] lognaturel commented on #137
Hi @jpknox! How is this looking? If you want to explore different options, we're happy to give feedback and ideas here. Also consider joining the developer Slack [here](http://slack.opendatakit.org/)!

[2017-08-03 15:42] #69 closed

[2017-08-03 20:49] jpknox commented on #137
Hi Helene,

I've got the app to send my Google analytics account a message when it starts up, which includes the operating system in use.

I've been thinking about getting it to send a breakdown of the ratio of tab usage when the app shuts down, so we'll be able to track which tabs see the most usage - in terms of seconds active. This will require knowledge of Swing, of which I know very little; I

[2017-08-03 21:19] yanokwa commented on #137
Keep up the great work, @jpknox! It'd be awesome to get this into the next monthly release (code freeze on Aug 23rd). If you run into Swing issues, please ask on the Slack. Lots of friendly folks there and @dcbriccetti is our Swing expert.

[2017-08-07 16:51] daveycrockett opened #158 "Upgrade Briefcase to target Java 8"
From @lognaturel in https://github.com/opendatakit/briefcase/pull/139:

Also, once this is done, LGoodDatePicker can be removed from lib/ and pulled in as a regular maven dependency.

[2017-08-07 16:54] daveycrockett opened #159 "Export date range should allow choosing inclusive or exclusive from UI."
From @yanokwa in https://github.com/opendatakit/briefcase/pull/139:

We should make the briefcase export UI work similar to the build UI for selecting date ranges:

<img width="256" alt="28392841-a630da24-6c98-11e7-9144-24357ae11632" src="https://user-images.githubusercontent.com/288112/29036898-62082ba0-7b6f-11e7-87ef-71f7af3453c3.png">

This should be as simple as adding the checkboxes to the UI

[2017-08-09 18:01] downeym commented on #137
Newbie question here. I understand the value of having analytics be opt-out. But is there a chance for the user to opt-out at the time of initial installation/setup? Or is this feature something they'd have to stumble across by chance (or rather, through a thorough deep review of the settings)? I'd strongly encourage a UX-disruptive (interruption) chance for the user to opt out when they first use

[2017-08-09 18:43] jpknox commented on #137
The library I'm using has the option to disable all tracking, it would need some kind of key value to be stored in order to keep track. I could add something to the settings. I believe Briefcase asks the user for a location to store data when it starts up for the first time, I could add something there. This is all very much outside my comfort zone, and I'm very busy with others things but I can h

[2017-08-09 20:59] daveycrockett opened #160 "Add initial "opt-out" capability for Google Analytics tracking."
Related to https://github.com/opendatakit/briefcase/issues/137:

Once the above issue is merged, Google Analytics (GA) will be on by default, meaning that usage information will be sent up potentially before a user is 1) aware of it, and 2) has an option to decline.  They would need to see it "Settings" and disable it, at which point several pieces of information (OS, briefcase version, time spent

[2017-08-11 19:42] downeym commented on #137
Hey folks. Recognizing this is a challenging mix and that analytics are "gold" to build better software, here's a thought at how we could quickly educate users (at installation/first launch) about what we're collecting, and give them a path to opt out should they need to.

![image](https://user-images.githubusercontent.com/841003/29229297-656a313c-7e92-11e7-8d5b-c9a0c01e7500.png)

Language can mos

[2017-08-11 19:49] dcbriccetti commented on #137
I like this. Not the “Can we count on you?” because it suggests that ODK would be unhappy with the user even if the user had an excellent reason to opt out. Maybe "and” instead of "&"? Is the information really anonymous? IP address?

[2017-08-11 19:49] lognaturel commented on #137
Just to make things a little more fun, there's already a popup on first launch and, I believe, whenever the briefcase path is empty. It would be ideal if this notice could somehow be part of that existing screen (but it should only show the first time the screen is displayed).

[2017-08-11 20:02] yanokwa commented on #137
Thanks for taking this on, all! I think the language is pretty close. Instead of `Can we count on you` we could use `Can you help`.

@jpknox, can you explore what it'd take to add something like this to the existing dialog?

[2017-08-11 20:03] yanokwa commented on #160
@daveycrockett https://github.com/opendatakit/briefcase/issues/137 now has a discussion on how to make usage tracking clearer to the user. I'm closing this issue so we can keep all the ideas in one discussion.

[2017-08-11 20:07] downeym commented on #137
Yeah, we have a little time to tweak the language.

I wonder if we might want to "de-scope" the opt-out process/work, and fork that into a different issue, so @jpknox can focus on just getting GA tooling in place. Don't want to add too much to his plate unnecessarily. :-)

[2017-08-11 20:11] daveycrockett commented on #137
Agree with @downeym, I actually raised this in slack the other day (but forgot to mention it here) that I tend to favor atomic, fast and incremental issues, and opened #160 as a follow-on for the additional feature being discussed here.

[2017-08-11 20:26] yanokwa commented on #160
Re-opening so we can take a more atomic approach to the various issues involved with GA analytics.

[2017-08-11 20:59] downeym commented on #160
From #137 ... here's my first mockup of a analytics notification. We should also discuss (here) what the process for opting out looks like, both at initial notification, and further down the line.

![image](https://user-images.githubusercontent.com/841003/29231783-573a9d6c-7e9d-11e7-823e-994e1dc8dbe2.png)

[2017-08-12 20:53] macalac commented on #94
Hey, just came across this project via up-for-grabs
Jumping on `WhitespaceAround`

[2017-08-13 21:05] jpknox commented on #160
From a non-GUI point of view all that must be done is call setBriefcaseTrackingConsentProperty(boolean) which is inside BriefcasePreferences.

[2017-08-14 04:54] dcbriccetti commented on #160
I’ll renew my mild objection to:

1. the ampersands (why not “and”?)
2. “#1 easiest” (to me reads like “most easiest”)

[2017-08-14 08:24] batkinson commented on #117
Hi all. I am currently supporting active data collection efforts using ODK in Equatorial Guinea. After taking a look at a few approaches, it appears that this functionality is a linchpin of sorts for an important workflow. As such, I think this would be great to incorporate, even if not perfect from the start. That workflow:

- A fairly large number of tablets are pre-loaded with forms over USB or

[2017-08-14 17:30] dcbriccetti opened #165 "Make Swing changes for Mac"
Make the minor tweaks needed for a Swing application to work right on a Mac.

Related: https://github.com/opendatakit/validate/issues/30

[2017-08-14 19:35] #155 closed

[2017-08-14 21:21] lognaturel commented on #117
Thanks for describing the use case, @batkinson! That makes a lot of sense.

We'd love to get this in the August release and @daveycrockett has something that's really close in #139! @dcbriccetti is working with him on an internal review pass. I've verified that the functionality works as you describe but would be great if you could take it for a quick spin and verify that it works for you.

[2017-08-15 22:01] yanokwa commented on #137
Closed by #164.

[2017-08-15 22:01] #137 closed

[2017-08-15 22:38] yanokwa opened #168 "Briefcase prints SLF4J messages when run from the CLI"
#### Software versions
Briefcase v1.7.0-20-gbb76756

#### Problem description
When I run Briefcase with the CLI, it prints out a logging message before executing the command.
[code]

#### Steps to reproduce the problem
$ ./gradlew clean jar;
$ java -jar build/libs/ODK\ Briefcase\ v1.7.0-20-gbb76756.jar -h;

#### Expected behavior
Information message should only be printed when they are asked for.

[2017-08-15 22:53] yanokwa commented on #117
Closed by #139

[2017-08-15 22:53] #117 closed

[2017-08-15 22:56] yanokwa commented on #102
Closing because we can't reproduce it. Just in case someone comes across this issue, the best information have is from @icemc...

[2017-08-15 22:58] yanokwa commented on #102
Actually, one thing that might be good for a contributor to try is to see what happens if you pull forms and turn off the server or connection half-way through...

[2017-08-15 23:17] yanokwa opened #170 "Make export date text boxes consistent with rest of UI"
In Briefcase v1.7.0-20-gbb76756, start/end date text boxes look different than say export directory. This is likely because those text boxes are from a library.

<img width="674" alt="screen shot 2017-08-15 at 16 11 43" src="https://user-images.githubusercontent.com/32369/29340606-be920e2a-81d4-11e7-9c01-b18b9e3cccf4.png">

I think the text boxes looking the same would be a nice improvement, but I

[2017-08-15 23:31] yanokwa opened #172 "Switch junit from compile to testCompile"
https://github.com/opendatakit/briefcase/blob/master/build.gradle#L36 notes that instead of `compile`, the command should be `testCompile`, and yet if `testCompile` is used, it fails as shown below.

This is not desirable because we care about binary size and we don't want to bundle junit as part of the jar if we don't have to.

[code]

[2017-08-15 23:36] lognaturel opened #173 "ExportPanel.setEnabled is brittle"
From @daveycrockett in `ExportPanel`:
[code]

[2017-08-15 23:40] lognaturel opened #174 "Where should the date selection in the export tab go?"
Right now it comes after the PEM Private Key File but perhaps it should go up higher as @daveycrockett pointed out [here](https://github.com/opendatakit/briefcase/pull/139#issuecomment-322541021).

First step is to make a proposal with a justification. I don't feel strongly about it. Maybe after Export Type?

[2017-08-16 16:24] yanokwa opened #176 "Send usage statistics shortly after user enables those settings"
In Briefcase v1.7.0-20 (and greater) usage statistics are reported on startup. This is generally fine, but when someone fires up Briefcase and toggles the statistics from off to on, it'd be good if Briefcase report those usage statistics then as well.

Not sure if this is hard or easy to do, so before sending in a PR, take a quick look at the code and respond to this issue about how hard/easy this

[2017-08-16 16:24] yanokwa commented on #176
@jpknox This might be a good one for you to take on.

[2017-08-16 17:18] jpknox commented on #176
@yanokwa I'll take this on :)

[2017-08-16 17:23] jpknox commented on #176
@yanokwa Should I track this only once per session? If I track every single transition of going from 'off->on' there would be nothing stopping a user from spamming ODK's Google Analytics account.

[2017-08-17 00:30] yanokwa commented on #176
I think you are correct, but just to be clearer about the problem I want to solve...

If the user launches the app for the first time (so the setting is off), sets the preference to on, then quits the app, we will have no idea the user ever used Briefcase. We'll only know if they launch the app again.

[2017-08-17 03:38] dcbriccetti commented on #176
Perhaps this can be as simple as two tracking events: **Tracking Enabled** and **Tracking Disabled**. Generate one each time the checkbox changes state.

[2017-08-17 11:14] jpknox commented on #176
I'll keep it simple to begin with and do as @dcbriccetti suggests which will satisfy your criteria @yanokwa. If there are any concerns I can address them during the PR or in the future.

[2017-08-19 11:13] macalac commented on #173
Hi @lognaturel - would wrapping those elements from if statement into an enum be enough do you think?

[2017-08-19 17:40] dcbriccetti commented on #173
While it’s a good idea to use enums where appropriate, it wouldn’t address the more complicated problem here.

[2017-08-19 21:21] macalac commented on #173
Thanks for the feedback @dcbriccetti - I will keep an eye on this to see how this can be solved.

[2017-08-20 15:06] batkinson commented on #117
@lognaturel we have been running a local build with this PR integrated for about a week and, so far, things appear to be working just fine. The note above was really just to clarify how important this is for at least the workflow we're using. We're pleased that this will be part of a public release soon. I am happy to take this for a spin if/when it helps.

[2017-08-20 16:48] dcbriccetti commented on #173
I’m looking at this now. @daveycrockett, please interrupt me if you already have something going. @macalac, glad to have you follow along, review.

[2017-08-20 17:13] macalac commented on #173
Brilliant, fastening my seat-belts!

[2017-08-21 18:33] jpknox commented on #176
Thanks @dcbriccetti for the feedback; I've updated the PR, let me know if anything needs doing before I move on to the next issue.

[2017-08-21 18:36] jpknox commented on #160
I'd like to know how to build this in Swing but my previous attempts have left me with the impression that Swing is intimidating. Does anyone have any recommendations for a particular approach or `LayoutManager` I could go for?

[2017-08-21 18:48] dcbriccetti commented on #160
@jpknox, I wonder if this task is more challenging than would be appropriate for you at this point. You are learning quickly, but Swing is a whole other beast.

[2017-08-21 19:01] jpknox commented on #160
@dcbriccetti That's a fair statement as I'm very busy lately studying for my PPL and buying a house, I'm not against slowing down a bit.

[2017-08-24 05:15] dcbriccetti commented on #160
This is pretty simple to do with a JOptionPane, if we don’t need to be too fancy. Thoughts?

![screen shot 2017-08-23 at 10 13 48 pm](https://user-images.githubusercontent.com/55099/29650535-747648b0-8850-11e7-95f4-415611abc46b.png)

[2017-08-24 17:39] lognaturel commented on #160
Does that mean it would show up after the Briefcase location window on first launch? Eventually I'd rather they be integrated but this would be fine as a first pass. Is "Cancel" the same as "No?" Seems like there should only be two options for this one!

[2017-08-24 19:53] dcbriccetti commented on #160
I wonder whether these two initial (or one combined) dialogs are needed at all. Why don’t we just start on the Settings tab where they will have to supply a storage location before they can move to the other tabs. On that same page can be our appeal to allow usage data collection, and we can have the checkbox initially checked or unchecked.

[2017-08-24 19:56] lognaturel commented on #160
I'm happy with that conceptually. Are you thinking something like if the location isn't set, only the settings tab can be accessed as a way of forcing it to be set?

I think the reason there was that big dialog was to provide a narrative around what Briefcase is. I think condensing that or moving it to an about menu would be ok.

[2017-08-24 19:58] lognaturel commented on #117
Awesome, thanks @batkinson!

[2017-08-24 19:59] dcbriccetti commented on #160
Yes.

OK, I’ll proceed. This should be quick and easy. (But is *is* based on my larger Briefcase cleanup that’s still pending. I can rebase this change on master once that other change is merged.)

[2017-08-24 21:56] dcbriccetti commented on #160
Here’s the work so far (no pull request yet): https://github.com/dcbriccetti/briefcase/tree/160-ga-opt-out
@jpknox, you’ll thank me for steering you away 😀

[2017-08-24 22:15] #173 closed

[2017-08-24 22:33] #176 closed

[2017-08-26 11:52] jpknox commented on #160
@dcbriccetti I just took a look at the LayoutManager code your wrote and I do indeed thank you for steering me away. 😄

[2017-08-26 12:08] downeym commented on #160
FWIW Dave's UX example LGTM. Agree on the confusion about "Cancel" though.

On Aug 26, 2017 07:53, "J P Knox" <notifications@github.com> wrote:

[2017-08-28 18:12] daveycrockett opened #180 "Create setup wizard for first app launch"
Related to https://github.com/opendatakit/briefcase/issues/160, can be implemented on top of existing work here: https://github.com/opendatakit/briefcase/pull/179

Idea would be, on first launch, that the entire application window would consist of three screens:

1) Text of MessageStrings.BRIEFCASE_WELCOME (about setting the storage area), a file chooser widget, and "next" button

2) Text of Messa

[2017-08-28 18:16] dcbriccetti commented on #180
Sounds good to me.

[2017-08-28 18:46] lognaturel commented on #180
Très fancy!

[2017-08-31 17:36] yanokwa opened #181 "Exporting status shown when there are no forms to export"
#### Software versions
Briefcase v1.7.0

#### Problem description
If you don't have any forms to export, you'll see 'Exporting....' text in the UI.

#### Steps to reproduce the problem
1. Delete your ODK Briefcase Storage directory
1. Run ODK Briefcase 1.7.0-30-gb85afdd or later.
1. Go the Export tab
1. See the 'Exporting....' text at the bottom of the screen.

#### Expected behavior
I only expect

[2017-09-02 22:23] thomashhuang commented on #131
Is this still available to be worked on?

[2017-09-03 16:42] lognaturel commented on #131
Hello @thomashhuang and welcome! As @dcbriccetti mentioned, there are a couple of big pull requests pending and it might be better to merge those first.

That said, I suspect that `git rebase` plays nicely with whitespace changes. This could be verified by seeing if #179 rebases cleanly on top of #183. @thomashhuang is this something you could look into?

[2017-09-03 17:38] thomashhuang commented on #131
@lognaturel I'll look into it

[2017-09-03 19:49] dcbriccetti commented on #180
I’m going to recommend we merge https://github.com/opendatakit/briefcase/pull/179 to master first. I’m almost done testing it.

[2017-09-11 17:04] lognaturel opened #188 "Fake, empty submissions that prevent export"
User-reported problem at https://forum.opendatakit.org/t/odk-briefcase-export-failed/9727

I'm not totally sure this is a Briefcase problem but it would be good to explore whether there's any way that Briefcase could "generate" a submission.

Either way, once this has been investigated, it may be worth filing an issue to fail more gracefully in the case of corrupt submissions. Perhaps skip them an

[2017-09-11 21:55] #160 closed

[2017-09-11 22:38] yanokwa opened #189 "Add KML/KMZ exports to Briefcase"
We have KML exports in Aggregate. Would be nice to offer them in Briefcase.

The KML export should probably be a KMZ export that includes the media files. To get started,

* Document what Aggregate currently does as far as KMZ (and be sure to test with repeats, unicode, multimedia)
* Update this issue with that rough specification
* Propose how you'll implement this in Briefcase (where the code wi

[2017-09-11 22:44] lognaturel commented on #189
Why is this needed? For the most part, Briefcase provides functionality that Aggregate doesn't -- backups, exports with repeats, encrypted form management. All of that makes sense to me. I worry that if there's more and more duplicated behavior it's going to be harder to understand which to use when and there'll be a risk of subtly different behavior between the two.

Also, I thought we were going

[2017-09-11 22:49] yanokwa commented on #189
I agree with your evaluation of the feature and the need to move these conversations to the forum.

No one is demanding this particular feature, so I'm closing the issue.

[2017-09-11 22:49] #189 closed

[2017-09-11 22:55] yanokwa commented on #4
I'm closing this issue because of the reasoning at https://github.com/opendatakit/briefcase/issues/189#issuecomment-328679793. No one is demanding this.

[2017-09-11 22:55] #4 closed

[2017-09-11 23:07] yanokwa commented on #11
MTP is a dead-end and it's unlikely we'll be able to build a reasonable version that lets users connect via USB to Android devices.

[2017-09-11 23:07] #11 closed

[2017-09-11 23:28] yanokwa commented on #9
I believe that as of Java 9, unlimited strength JCE policy files are no longer needed. There is sample code here: https://stackoverflow.com/a/39872144/152938

And it looks like the change has been backported to Java 6, 7, and 8 at https://bugs.openjdk.java.net/browse/JDK-8170157

If this is indeed the case, then fixing this issue could be as simple as added the following line of code: `Security.se

[2017-09-11 23:33] yanokwa commented on #9
@jpknox If you are looking for another contribution to Briefcase, this might be a good one. Comment `@opendatakit-bot claim` to claim it.

[2017-09-11 23:38] yanokwa commented on #19
@dcbriccetti You've been poking around JavaRosa. Can you please try to reproduce this issue?

[2017-09-11 23:56] yanokwa commented on #114
One easy way to find these messages is to do a search for some of these terms.
* SUC
* ERR
* FAI

[2017-09-12 00:00] yanokwa commented on #181
Closed by #182

[2017-09-12 00:00] #181 closed

[2017-09-12 00:04] yanokwa commented on #93
Closing because no one is demanding this and it would be a big change to the UI.

[2017-09-12 00:05] #93 closed

[2017-09-12 00:06] yanokwa commented on #118
Closing until we decide if to add more export options in the GUI.

[2017-09-12 00:06] #118 closed

[2017-09-12 00:09] yanokwa commented on #119
Closing because for now, we only export CSVs.

[2017-09-12 00:09] #119 closed

[2017-09-12 01:06] #82 closed

[2017-09-12 04:17] yanokwa commented on #172
@opendatakit-bot claim

[2017-09-12 04:41] #172 closed

[2017-09-12 04:59] dcbriccetti commented on #19
Sure, when my cortisol levels are very low. 😀

[2017-09-12 05:26] yanokwa commented on #9
After further examination, it looks like the backporting has not been finished. See the activity here:
* Java 6: https://bugs.openjdk.java.net/browse/JDK-8174748
* Java 7: https://bugs.openjdk.java.net/browse/JDK-8174747
* Java 8: https://bugs.openjdk.java.net/browse/JDK-8174746

[2017-09-12 15:20] #131 closed

[2017-09-12 15:32] yanokwa commented on #168
@opendatakit-bot claim

[2017-09-12 20:10] yanokwa commented on #168
`./gradlew dependencies` says that we have an slf4j dependency because of google-analytics-java:1.1.2. I think that's likely causing the rest of the logging to fail.

[code]

[2017-09-12 20:20] lognaturel commented on #168
Aha, that makes sense.

I doubt it's making the rest of the logging fail, though. Any evidence of that?

[2017-09-12 20:22] lognaturel commented on #168
Did you try configuring your logging implementation? A bunch of those things used to be printlns.

[2017-09-12 21:09] lognaturel opened #196 "Describe logging in contribution guide"
Briefcase uses [Apache Commons Logging](https://commons.apache.org/proper/commons-logging/) to allow for users to use different logging implementations and configurations. This is confusing and hard to figure out for those not familiar with Java logging. The contribution guide should include a section on logging. [Spring Boot](https://docs.spring.io/spring-boot/docs/current/reference/html/boot-fea

[2017-09-12 21:19] lognaturel opened #197 "Include default logging configuration"
Currently, it's entirely up to the user to configure their logging implementation of choice. #196 will add more information on how to do that.

In general, it would be helpful for users to have logs for troubleshooting. We could include a `logging.properties` file that logs to a `.briefcase.log` file:

[code]

It looks like other projects such as [Spring Boot](https://docs.spring.io/spring-boot/do

[2017-09-12 21:21] lognaturel commented on #196
From Slack:
The simplest option is to use java.util.logging as the concrete implementation. You can pass in a configuration file with something like `java -Djava.util.logging.config.file=logging.properties -jar briefcase.jar`
In that `logging.properties` file you can put something like
[code]

That will log to a `.briefcase.log` file.

You can also add `java.util.logging.ConsoleHandler` to the han

[2017-09-12 21:35] lognaturel commented on #168
Conversation about logging continued in Slack and then #196 and #197 filed.

The slf4j dependency introduced by `google-analytics-java` is indeed a problem. I've reopened #194 because since we don't use SLF4J in core Briefcase it's safe to suppress entirely. If we do switch to SLF4J then I presume a real provider will need be included.

From https://www.slf4j.org/codes.html#StaticLoggerBinder:

[2017-09-12 23:28] yanokwa commented on #168
Using slf4j-nop suppresses all logging.
Using slf4j-simple prints out all logging, but in a format that suggests it's using slf4j.

Using either with configured logging as described at https://github.com/opendatakit/briefcase/issues/196#issuecomment-328987991 doesn't change this behavior. There isn't a briefcase.log and I see the same output from above on the console.

[2017-09-12 23:31] lognaturel commented on #168
Sigh. What if you comment out the rogue dependency and code that uses it? `jcl-over-slf4j` is capturing everything, maybe?

[2017-09-13 01:49] thomashhuang commented on #170
Start Date and End Date are DatePicker objects in the ExportPanel.java file. The text box itself uses JTextField, like the Export Directory field and PEM Private Key File field. However, DatePicker automatically sets the border on its JTextField. [https://github.com/LGoodDatePicker/LGoodDatePicker/blob/master/Project/src/main/java/com/github/lgooddatepicker/components/DatePicker.java](url) found a

[2017-09-13 04:56] dcbriccetti commented on #170
@thomashhuang, good work. Why don’t you set the borders—and the margins—to match those of one of the JTextFields that we create (getBorder, getMargin).

[2017-09-14 00:32] thomashhuang commented on #170
I managed to get rid of the black border, but the text box is still oversized:

<img width="628" alt="screen shot 2017-09-13 at 7 31 14 pm" src="https://user-images.githubusercontent.com/18605591/30406865-3a48ec86-98ba-11e7-82ff-12e8a55c862b.png">

setSize and setMargin are not changing the size of the JTextFields, though. Thoughts?

[2017-09-14 00:51] dcbriccetti commented on #170
and the margins

[2017-09-14 00:53] dcbriccetti commented on #170
I tried setting the border and margin last night and it worked perfectly. Show your code?

[2017-09-14 01:11] thomashhuang commented on #170
Ok, I pulled the border and margin from the PEM Private Key File field above, this is the result:
<img width="615" alt="screen shot 2017-09-13 at 8 05 37 pm" src="https://user-images.githubusercontent.com/18605591/30407649-2332f758-98bf-11e7-97ef-26994f433933.png">

Code:
<img width="779" alt="screen shot 2017-09-13 at 8 06 33 pm" src="https://user-images.githubusercontent.com/18605591/30407657-27

[2017-09-14 01:22] dcbriccetti commented on #170
I’m mildly curious if you’d get anything different if you did:
`JTextField model = new JTextField();`
And used the border and margin of `model`.
But I suspect what you show in the picture will satisfy @yanokwa.
What’s with the setText in the code? Did you add that?

[2017-09-14 01:30] thomashhuang commented on #170
@dcbriccetti, creating a new JTextField doesn't make a difference.
I added the setText so the button to bring up the calendar is more similar to the other buttons throughout the rest of the application. All other buttons are "Choose..." or "Connect..." or something similar. It occured to me that the difference in sizes won't be noticable if the button simply said "...", since the textField would e

[2017-09-14 01:35] dcbriccetti commented on #170
Oh, right, they say “...” now. I like what you did for consistency.

@yanokwa can jump in anytime, but I’d say let’s go with what you have, with an improvement: Create a DatePicker factory method (maybe `createDatePicker`) to encapsulate this tweaking, and its doc comment can explain the motivation and perhaps link to this issue.

[2017-09-14 02:02] thomashhuang commented on #170
<img width="680" alt="screen shot 2017-09-13 at 9 01 58 pm" src="https://user-images.githubusercontent.com/18605591/30408809-cdb1561e-98c6-11e7-8774-58d6a740f19a.png">

Inserted this right after the constructor, works as intended.

[2017-09-14 02:04] dcbriccetti commented on #170
Excellent!

[2017-09-14 02:47] #170 closed

[2017-09-14 17:17] thomashhuang commented on #114
@yanokwa I can finish this up.

[2017-09-14 17:25] yanokwa commented on #114
That'd be great. Just claim the issue using `@opendatakit-bot claim` and you'll be assigned to it.

[2017-09-14 17:27] thomashhuang commented on #114
@opendatakit-bot claim

[2017-09-14 17:27] dcbriccetti commented on #114
I suggest removing the "!"s from the messages.

[2017-09-14 17:34] yanokwa commented on #114
Agreed with @dcbriccetti.

But when doing the replacements, be careful because sometimes the '!' is used as a way to terminate sentences.

[2017-09-14 21:51] icemc commented on #9
@yanokwa i would like to work on this, as it would easily get me started with the changes made so far. Cheers

[2017-09-14 22:07] yanokwa commented on #9
Long time no see, @icemc! Welcome back.

I should have been clearer with my comment. Because the backporting of unlimited JCE to Java 6/7/8 has not finished, I don't think there is a straightforward fix.

And unless you can think of a straightforward fix, I think we should wait a few months and let the Java community backport the Java 9 changes to Java 6/7/8.

[2017-09-14 22:08] yanokwa commented on #102
@icemc If you are looking for an issue to get back into the code, this one might be good to try to reproduce. Just comment `@opendatakit-bot claim` to claim it.

[2017-09-14 23:26] icemc commented on #9
@yanokwa I think waiting for the fix to be ported to Java 6/7/8 will be preferable.  Meanwhile I will look for another issue to work on.

[2017-09-15 23:50] #114 closed

[2017-09-15 23:55] yanokwa commented on #85
Closing because there is no nice place in the UI for these progress messages on the Pull/Push tabs.

[2017-09-15 23:55] #85 closed

[2017-09-16 00:13] yanokwa opened #200 "Deprecate Aggregate 0.9.x as a pull source"
ODK Aggregate 0.9.8 was released in 2011 and according to https://opendatakit.org/downloads/download-info/odk-aggregate-v0-9-8-1/ it was downloaded some 2050 times and has been unsupported for quite some time.

I think we should remove it from the list of pull options and remove any .9.x code that would be exercised by that option.

[2017-09-17 09:45] icemc commented on #200
@yanokwa may I look into this issue?

[2017-09-17 10:11] yanokwa commented on #200
Sure! Use `@opendatakit-bot claim` to claim the issue.

Please commit the changes logically (e.g. by each class) so it's easy to review and before sending in a PR be sure to carefully review the Briefcase code tree to make sure all traces of X.9 are removed. It might be in places you don't expect.

[2017-09-17 17:06] icemc commented on #200
@opendatakit-bot  claim.

[2017-09-18 16:56] lognaturel commented on #200
Ooh, looks like our bot friend is not so clever. I think it didn't notice this one because of the period after "claim." @icemc can you try again without the period and see if that works? The bot is new so we're still figuring it out. It should give you a nice message. I've issued a pull request to make "claim." a keyword at https://github.com/opendatakit/zulipbot/pull/2

[2017-09-18 18:49] yanokwa opened #201 "Testing zulipbot"

[2017-09-18 18:49] yanokwa commented on #201
@opendatakit-bot  claim.

[2017-09-18 18:49] yanokwa commented on #201
@opendatakit-bot  claim

[2017-09-18 18:50] yanokwa commented on #201
@opendatakit-bot claim.

[2017-09-18 18:51] yanokwa commented on #201
The problem is the double space between opendatakit-bot and claim.

[2017-09-18 18:51] #201 closed

[2017-09-18 20:48] yanokwa commented on #200
It's definitely because of the extra space and the issue is filed at https://github.com/zulip/zulipbot/issues/123.

[2017-09-19 13:12] daveycrockett commented on #197
Yup, I see this as almost a must-have for any desktop app. Way easier to help users with issues when you can have them send you stack traces.

[2017-09-20 13:12] lognaturel opened #202 "Provide option to overwrite on export in GUI"
As described in https://forum.opendatakit.org/t/duplicates-on-exporting-via-briefcase/9879

The option to overwrite an existing export is provided by the `-oc,–overwrite_csv_export` flag in CLI mode and should be surfaced in the UI.

@yanokwa @daveycrockett you will probably have ideas on where this should go. We should get agreement on that before it gets built!

[2017-09-20 23:34] NaderBeshr opened #203 "No Suitable driver found for jdbc:hsqldb in (push and pull) using java 1.7.79"
### version :                        1.8.0
### Java jre version :            1.7,79
### operation :                    (pull, push)
### issue :                           No Suitable driver found for jdbc:hsqldb
### File :                             DatabaseUtils.java
### Code :                         return DriverManager.getConnection(jdbcUrl);
### Notes :                        in java jre vers

[2017-09-21 00:11] NaderVIP commented on #168
yaw you are right about slf4j-nop.jar it's silently discarding all logging.

we can solve it by adding slf4j-jdk14-1.7.25.jar and slf4j-api-1.7.25.jar as a Referenced Libraries not this will make it work at run time. i tried it and when i run the briefcase i get this in console window :

Sep 21, 2017 2:57:22 AM com.brsanthu.googleanalytics.GoogleAnalytics <init>
INFO: Initializing Google Analytics

[2017-09-21 01:28] NaderVIP commented on #188
you are right
in fact there is no empty submissions we have uuid and even the rest of data empty, briefcase worked OK .
i did it and i export that empty record with uuid without any problems

[2017-09-21 13:06] daveycrockett commented on #202
Perhaps a dialog that says "The file already exists. Overwrite? Y/N"

[2017-09-22 15:32] icemc commented on #200
@opendatakit-bot claim

[2017-09-22 16:59] batkinson commented on #203
Thanks for the report @NaderVIP.

This should be a simple fix and I do see that the installation instructions still list Java 7 https://opendatakit.org/use/briefcase/, despite being end-of-life since around April 2015.

[2017-09-22 17:06] batkinson commented on #197
Yeah, I think "user" in this context is a little misleading. That may have been my fault based on my description. The selection of the logging provider should be made at the time of bundling everything up as an application. So that "user" would be the briefcase developers. The facades allow the library developers to defer that choice to the application developers, rather than forcing them to use l

[2017-09-22 17:42] batkinson commented on #196
This is the simplest from the standpoint of dependencies, but as you can see once the google analytics library was added to briefcase it isn't a complete solution. Most of briefcase's important information is logged over other frameworks already. Also, you won't be able to change third-party library code to use JDK logging in order to unify them. The way to do this without forking all your depende

[2017-09-22 17:44] batkinson commented on #196
If #204 or something like it is integrated, you can configure the slf4j simple logger using these options:

https://www.slf4j.org/api/org/slf4j/impl/SimpleLogger.html

[2017-09-24 13:25] batkinson opened #205 "Race condition using parallel pulls causes HTTP 401 Unauthorized"
#### Software versions

Briefcase v1.7.x and 1.8.x

#### Problem description

When pulling submissions from a fully-concurrent back-end server with parallel pulls enabled, thread unsafe usage of the apache http client can result in unpredictable results. The [attached conversation shows a 401 HTTP challenge from one thread causes a previously in-progress conversation to result in a false failure](

[2017-09-24 17:56] NaderVIP commented on #203
you don't have to thank me @batkinson
this is the least that i can do for all of you.
in fact you are right it still on the link you added it say briefcase use java 7 and higher.
this is make user confused when they install briefcase with java 7.
feed back will be tough from users.

[2017-09-26 11:33] #197 closed

[2017-09-26 11:44] yanokwa commented on #203
@batkinson I've filed an issue against the docs at https://github.com/opendatakit/docs/issues/212.

[2017-09-26 11:51] #205 closed

[2017-09-26 13:13] lognaturel commented on #168
Closed by #204

[2017-09-26 13:13] #168 closed

[2017-09-26 13:26] lognaturel commented on #197
#204 is no doubt a big improvement and thank you for that, @batkinson! I still don't quite understand the bridging between slf4j and jcl and why adding the analytics dependency specifically caused problems. Is it because it explicitly added the `jcl-over-slf4j` dependency? It didn't occur to me that other libs would use slf4j since none of those had previously caused problems but of course they do

[2017-09-26 13:30] lognaturel commented on #196
Will update the issue to reflect the new state of things once I get a couple of clarifications at https://github.com/opendatakit/briefcase/issues/197#issuecomment-332197461

[2017-09-26 16:22] batkinson commented on #197
So, the problem was that the library bundled a dependency on slf4j-api (which is very common for libraries):
[code]
As soon as that happened, briefcase needed to specify an slf4j binding. Oddly, this library also bundled jcl-over-slf4j which is not a binding for slf4j, but a logging bridge that *replaces* the commons-logging library with a binary compatible api which routes logging through slf4j i

[2017-09-29 12:03] lognaturel commented on #197
Thank you, @batkinson!! You are the best. ✨

[2017-09-29 12:25] lognaturel opened #209 "Provide command-line mode feedback to System.out"
As highlighted by @batkinson in https://github.com/opendatakit/briefcase/issues/197#issuecomment-332254472, messages in the command line interface are provided through logging. This is problematic because it means that including a default logging configuration that goes to a file would make the CLI more difficult to use.

#### Steps to reproduce the problem
Configure logging to go to a file and us

[2017-09-29 12:38] lognaturel opened #210 "Log to a briefcase.log file by default"
**#209 needs to be done first** so command-line mode isn't broken.

Provide a default configuration to the SLF4J simple binding so errors are logged to a `briefcase.log` file. This will make it easier to troubleshoot user problems. I propose making the filename `briefcase.log` rather than `.briefcase.log` so it's easy for users to look at and share if needed.

In #197 I had proposed logging at lev

[2017-10-14 02:52] rockydcoder commented on #94
Indentation

[2017-10-15 14:12] rockydcoder commented on #203
I want to take this up. I am a bit confused though. What should be the solution? I think updating the docs in the repo has already been handled in [#212](https://github.com/opendatakit/docs/issues/212).

[2017-10-15 14:43] rockydcoder opened #213 "ParserConsts needs a private constructor"
This is not an issue with the functionality but more of a good practice. `ParserConsts` being a final class with static members only, needs to have a private constructor so it cannot be instantiated.

[2017-10-15 15:01] rockydcoder opened #214 "Use minimum scope for members throughout the code base"
Many members of classes have the improper/no access modifier set. It is always a good practice to use the minimum scope for these.

[2017-10-15 21:57] lognaturel commented on #203
It's good to have the documentation in but until we make a final decision on #158 it would be good to keep supporting Java 7.

I believe it should be straightforward to use the previous version of `hsqldb` when compiling with Java 7. I'm not exactly sure what the process is but it may be as simple as removing the `version` directive. @rockydcoder a great first step would be to try that with both J

[2017-10-15 22:08] lognaturel commented on #203
Oh and if you decide to take it on, please comment with `@opendatakit-bot claim` so the issue is assigned to you!

[2017-10-16 11:46] rockydcoder commented on #203
@opendatakit-bot claim

[2017-10-16 11:49] rockydcoder commented on #203
I tried it with `hsqldb - 2.3.5` for both Java 7 and 8 (1.7.0.79 and 1.8.0.101) and it worked fine. Should I raise a PR with that change then?

[2017-10-16 11:55] rockydcoder commented on #158
I think it makes complete sense to target Java 8. Oracle has already ceased public availability of security fixes and upgrades for Java 7. I am willing to take this up.

[2017-10-16 15:46] lognaturel commented on #203
Ideally the latest version could be used when compiling with Java 8 and `2.3.5` when compiling with Java 7. I believe that's what happens when the `version` is just not explicitly specified. Is that what you confirmed? It would be better not to hardcode a lower version if possible.

If that works then yes, please issue a PR!

[2017-10-17 05:51] rockydcoder commented on #203
No, I do not think gradle can resolve dependencies without the version (except for some libraries). Different versions of the same library can be downloaded [see here](https://discuss.gradle.org/t/how-to-get-multiple-versions-of-the-same-library/7400/3), but only one will be picked up at run-time (the latest one). We can force which version to use using [Resolution Strategy](https://docs.gradle.or

[2017-10-17 18:43] zstojanovic commented on #94
I'd like to help. OverloadMethodsDeclarationOrder.

[2017-10-17 20:10] zstojanovic commented on #94
Also, I see that there is a number of Checkstyle rules which could be uncommented without issues - the code is already conforming to them.

@yanokwa - would it be desirable to uncomment all such rules? Should I prepare a PR with such change?

[2017-10-17 20:12] lognaturel commented on #94
@zstojanovic Yes, that'd be a very nice PR to submit so we are sure those issues aren't introduced and we don't have to think about the checks again as others are enabled. Thanks!

[2017-10-18 12:58] rockydcoder commented on #159
@opendatakit-bot claim

[2017-10-18 13:47] rockydcoder commented on #165
According to [this](https://stackoverflow.com/a/26080591/1508448) answer in SO, there are a number of ways to do this. But I want to know how this jar is packaged and made available to the end-user. @lognaturel , can you help please?

[2017-10-18 15:08] yanokwa commented on #165
We run [gradle jar](https://github.com/opendatakit/briefcase/blob/master/build.gradle#L103) and the jar is what is distributed.

[2017-10-18 19:39] dcbriccetti commented on #159
This seems overly complicated, using four controls when two will do. When a normal person specifies a date range in a desktop or on the web, when do they ever do anything other than inclusive -> inclusive. I understand the desire to be consistent with the command-line interface, but I don’t think that warrants this complication.

[2017-10-18 19:57] lognaturel commented on #135
@NoelOBoyle this is cool! What actually performs the periodic tasks in your current setup? In other words, what is your configuration spreadsheet used by?

[2017-10-18 20:02] lognaturel commented on #202
@nribeka I know you're looking for an issue to take on and this could be a good one? The challenge is figuring out the UI and really thinking it through before building. @daveycrockett's suggestion is a good one but I worry that for people who need to do periodic exports they'd be too likely to accidentally overwrite the file they intend to build up.

How about a checkbox that says something like

[2017-10-19 05:58] NoelOBoyle commented on #135
@lognaturel Hi! Currently the ODK Briefcase CLI parameters are loaded into Qlikview which executes commands via Briefcase and other free softwares during each night.  Its a little rough and ready but it  means our dashboards can also update automatically and allows us to manage >100 active forms at any one time between various countries and sectors.

Some additional features have been added since

[2017-10-19 12:22] yanokwa opened #220 "Briefcase should run on Java 9 machines"
Verify that Briefcase works with Java 9 (JDK and JRE). If it doesn't, then suggest a fix!

[2017-10-20 09:13] rockydcoder commented on #159
Hmm, well I think as long as the user is made aware whether the date he choses is inclusive or not, this should not be required. But then, to maintain consistency the section in build can be changed to match this. I guess that is what you meant when you said command-line interface.

[2017-10-20 15:33] icemc commented on #220
@opendatakit-bot claim

[2017-10-20 19:57] nribeka opened #223 "Briefcase successfully pull forms but not creating the correct folder structure"
#### Software versions
Briefcase v1.6

#### Problem description
When form title have period at the end, pull will indicate success but form name will not go to the exportable form list.

#### Steps to reproduce the problem
* Create with period at the end.
* Pull from aggregate or odk folder
* Briefcase will pull it successfully but if you go to export, you won't see it in the list.

#### Expected

[2017-10-21 15:50] rockydcoder commented on #165
So my assessment of this issue is this:

Setting the application name in a Java Swing application cannot be done programmatically. The solution to this was to use this line of code in the main class (`MainBriefcaseWindow`):

[code]

But that did not work (with Java 1.7/1.8; Mac OS - 10.11.6)

The easiest way to do this is to run the jar with this option:
[code]

This instruction can be added in th

[2017-10-24 02:28] rockydcoder commented on #203
@lognaturel , do you have any thoughts about this? Seems like a low hanging fruit if we just use the `2.3.5` version.

[2017-10-24 03:33] lognaturel commented on #203
You're absolutely right, solving the problem for developers is not really all that important, it's about people just running the app and what their java versions are. Sorry about that, I didn't stop to think about it long enough. 😣

I see from http://hsqldb.org/doc/changelist_2_0.txt that "version 2.3.5 is released as a separate jar for JRE 1.6 and fully compatible except for the new JDBC features

[2017-10-24 22:21] yanokwa commented on #159
You make a fair point, @dcbriccetti. It seems we have a few options for going forward with this...

1. Keep CLI/GUI with inclusive start, exclusive end. I don't remember why we did things this way, but it does seem to be what programmers (e.g., https://stackoverflow.com/a/9810359/152938 (with Dykstra reference), http://qedcode.com/content/exclusive-end-dates.html) expect.
1. Change CLI/GUI to incl

[2017-10-24 23:39] #200 closed

[2017-10-24 23:41] yanokwa opened #225 "Remove ServerConnectionInfo.isOpenRosaServer"
-- https://github.com/opendatakit/briefcase/pull/208

[2017-10-25 15:33] yanokwa opened #227 "Briefcase should not default to mounted Android SD card"
In v 1.8.0-44, Briefcase's Pull tab defaults to "Mounted Android SD card". It should default to "Aggregate 1.0" because that's the most common source.

[2017-10-25 15:40] yanokwa opened #228 "Replace user facing ODK Aggregate 1.0 text with ODK Aggregate"
We use "Aggregate 1.0" in the user-facing sections of ODK Briefcase and it's a bit of a misnomer.

"Aggregate 1.0" is a stand-in for any server that implements the OpenRosa 1.0 API. To users, this basically means ODK Aggregate v1.x. For consistency with ODK Collect, I'd propose replacing the GUI parts of ODK Briefcase that say "Aggregate 1.0" with "ODK Aggregate". I'd also be OK with "ODK Aggregat

[2017-10-25 17:19] #227 closed

[2017-10-25 17:58] yanokwa opened #230 "CSV filename is not safe on all file systems"
Currently `ExportToCsv.safeFilename` removes punctuation and spaces, but it allows Unicode and characters that might cause problems on other file systems. I propose only allowing only ASCII characters, space, hyphen, and underscore (similar to https://github.com/opendatakit/briefcase/pull/224).

So a CSV called "Båé Førm.csv" would now be "B Frm.csv".

[2017-10-25 18:12] dcbriccetti commented on #230
Or, to avoid name collisions, encode it somehow, such as URL encoding:
B%C3%A5%C3%A9%20F%C3%B8rm.csv

[2017-10-25 18:18] yanokwa commented on #230
URL encoding isn't very humane to me and thus feels worse.

[2017-10-25 18:24] dcbriccetti commented on #230
It could also be that Båé Førm is perfectly valid as a path and filename in Windows, GNU/Linux, MacOS (or whatever they call it now) and Android. Maybe @nribeka can research.

[2017-10-26 02:19] icemc commented on #94
Multiple variable declarations

[2017-10-26 02:19] icemc commented on #94
Array type style

[2017-10-26 02:20] icemc commented on #94
Missing switch default

[2017-10-31 15:02] nribeka commented on #230
I tried that Båé Førm and it worked fine on both mac and windows. I couldn't find any other limitation other than the one I found about dot at the end:

https://msdn.microsoft.com/en-us/library/aa365247(VS.85).aspx

[2017-10-31 15:04] nribeka commented on #228
I think this would depends on Aggregate naming convention. Will there be a lot of 1.x releases or is it going to be just called Aggregate 1 and then the next release is Aggregate 2.

[2017-11-03 23:29] #225 closed

[2017-11-03 23:48] #94 closed

[2017-11-03 23:58] lognaturel opened #235 "Form cache not created in CLI mode"
#### Software versions
Briefcase v1.8.0

#### Problem description
Crash when trying to export a form using CLI:
[code]

#### Steps to reproduce the problem
`java -jar build/libs/ODK\ Briefcase\ v1.8.0.jar --form_id all-widgets --storage_directory ./ --export_directory ~/Desktop --export_filename foo.csv`

[2017-11-04 00:11] lognaturel opened #237 "Replace dialogs from CLI with command line messages"
It's pretty unusual for a command line interface to have dialogs...

[2017-11-04 00:19] #235 closed

[2017-11-06 01:27] rockydcoder commented on #165
@lognaturel @yanokwa , can you please reply to my comment above?

[2017-11-06 19:04] #203 closed

[2017-11-07 23:27] lognaturel commented on #165
I'm afraid I have no experience with this! I'm on a Mac and I've always let Java do whatever it does by default. @dcbriccetti @daveycrockett perhaps one of you has looked at these options recently and has good advice?

The Mac application bundle option is interesting to me. What are the possible downsides? Seems it might be awkward to run from the command line?

[2017-11-08 00:55] dcbriccetti commented on #165
Since the old ways no longer work, I am in the dark.

[2017-11-08 16:08] daveycrockett commented on #165
I tried the main two stackoverflow recommendations:

- System.setProperty(), and
- moving main() to another class than the JFrame itself

I dumped all the System.getProperties() and didn't see anything mac-specific, so I'm fairly confident that this is indeed a JVM argument that can't be set at runtime.

Whether or not that's worth changing the distribution process to add a dmg build path for this

[2017-11-08 17:17] dcbriccetti commented on #165
When I created this issue I thought it was a simple task. Perhaps it’s not worth the trouble. I don’t mind if we cancel this issue.

[2017-11-08 19:33] lognaturel commented on #165
Thanks for looking into it, all! I agree we can close.

[2017-11-08 19:33] #165 closed

[2017-11-13 09:47] rockydcoder commented on #237
I would like to take this up. @lognaturel , can you add some more description please?

[2017-11-13 16:15] lognaturel commented on #237
If you look at the `BriefcaseCLI` class, you'll see that there are some dialogs being generated and shown! That's highly unusual for a command line interface. That feedback should go to `system.err` in the case of an error and `system.out` in the case of a notice.

[2017-11-13 16:16] lognaturel commented on #237
I also encourage you to look at #234 and #218 which are related to improving the command line interface.

[2017-11-14 05:39] rockydcoder commented on #237
@opendatakit-bot claim

[2017-11-15 06:07] rockydcoder opened #239 "Update developer docs to manually install unlimited-strength JCE"
Until #9 is fixed, the developer docs have to be updated to manually install unlimited-strength JCE in order to be able to decrypt encrypted forms.

[2017-11-15 15:34] grzesiek2010 commented on #122
@yanokwa
you said:

so what is your proposal? Another card between `push` and `export`?

[2017-11-16 16:03] yanokwa opened #241 "Improve how Briefcase deals with high-dpi displays"
See https://github.com/opendatakit/validate/issues/45

[2017-11-17 05:59] #239 closed

[2017-11-17 11:56] mmarciniak90 opened #244 "List of mounted SD card is not visible and exception is visible in terminal when user clicks on OK in 'Mounted SD Card' dialog"
#### Software versions
Briefcase v1.8.0,
Java v1.8.0_91
Operating system - Ubuntu

#### Problem description
* List of mounted SD card is not visible
* Exception is visible in terminal when user clicks on OK in 'Mounted SD Card' dialog

#### Steps to reproduce the problem
1. User opens Briefcase
2. User selects 'Mounted Android SD Card' in Pull data from field
3. User sees dialog 'Mounted SD Card'

[2017-11-17 13:11] kkrawczyk123 opened #245 "There is no error message displayed when you try to pull from aggregate form that doesn't exist by using command line."
#### Software versions
Briefcase v1.8.0, Java v1.8.0_151, operating system - Ubuntu

#### Problem description
There is no error message displayed when you try to pull from aggregate form that doesn't exist by using command line.
Command line answers in the same way as when pulling form file which actually exists.

#### Steps to reproduce the problem
1. Go to command line.
2. Select command that al

[2017-11-17 13:37] mmarciniak90 commented on #244
Problem is visible only if 'Transfer file (MTP)' option is selected on Android device.
When 'Mass storage mode (MSC)' option is selected, Briefcase works as expected.

[2017-11-17 14:51] mmarciniak90 opened #246 "All forms are visible in Briefcase if user pulls form from ODK Collect via command line and declares only one form id"
#### Software versions
Briefcase v1.8
Operating system - Ubuntu
Collect v1.11.1

#### Problem description
All forms are visible in Briefcase if user pulls form from ODK Collect via command line and declares only one form id

#### Steps to reproduce the problem
1. User has more than one ODK Collect form
2. User uses command `$ java -jar "ODK Briefcase v1.4.4 Production.jar" --form_id market_prices

[2017-11-21 01:34] #237 closed

[2017-11-21 08:03] kkrawczyk123 commented on #245
The same situation occurs when you try to pull non existing form from ODK Collect via command line.

[2017-11-21 08:18] kkrawczyk123 opened #247 "There is active "Export Details..." button without any exporting activity."
#### Software versions
Briefcase v1.8.0, Java v1.8.0_151, operating system - Ubuntu

#### Problem description
There is active "Export Details..." button without any exporting activity.

#### Steps to reproduce the problem
1. Go to Export section.
2. Click on "Export Details..." button.

#### Expected behavior
"Export Details..." button should be active only after exporting forms, when There are so

[2017-11-21 08:45] kkrawczyk123 opened #248 "There are active "Details..." buttons without any pulling/pushing activity."
#### Software versions
Briefcase v1.8.0, Java v1.8.0_151, operating system - Ubuntu

#### Problem description
There are active "Details..." buttons without any pulling/pushing activity.
You are able to display details of pulling/pushing process without executing any processes. Also empty details window appears when you choose one of those buttons.

#### Steps to reproduce the problem
1. Go to pull

[2017-11-23 04:01] rockydcoder commented on #9
Update - the fix has been ported to Java 6/7/8 as is evident if you follow the links above.
But I recently tried to decrypt an encrypted form on Java 8 and it had the same issue mentioned above.

But according to @yanokwa ,

Am I right?

[2017-11-23 09:21] kkrawczyk123 opened #249 "Application build failed on Windows because of RegexpMultiline rule in checkstyle file."
#### Software versions
Briefcase v1.8.0, Java v1.8.0_151, operating system - Windows 7.

#### Problem description
Application build failed when tried to use gradlew build command. Problem is caused by RegexpMultiline mode and after removing it from checkstyle file application build finished successfully.

Lines removed from checkstyle.xml:
<module name="RegexpMultiline">
    <property name="format

[2017-11-24 08:50] kkrawczyk123 opened #251 "Briefcase doesn’t pull data from mounted Android SD Card from device without SD card inside."
#### Software versions
Briefcase v1.8.0, Java v1.8.0_151, operating systems - Ubuntu 17, Windows 7

#### Problem description
You are not able to pull data from ODK Collect when device that you are using doesn’t have SD card. Briefcase simply doesn’t see that device and doesn’t consider device’s internal storage as a memory that it can pull data from.

#### Steps to reproduce the problem
1. Fulfill

[2017-11-27 10:05] kkrawczyk123 commented on #251
You can pull data from Collect from all Android devices by using option Custom Path to the ODK Directory.

[2017-11-27 10:05] #251 closed

[2017-11-27 19:19] lognaturel commented on #251
@kkrawczyk123 do you feel like this is adequately documented at http://docs.opendatakit.org/briefcase-forms/#pulling-from-android-4-x-and-later-device? If you think that could be improved, consider filing an issue at https://github.com/opendatakit/docs/issues

[2017-11-30 23:51] yanokwa commented on #241
According to https://forum.opendatakit.org/t/-/10638/4 upgrading to Java 9 solves the problem. It would be good to confirm, then update the docs.

[2017-12-01 08:19] icemc commented on #188
Just to throw more light on this. I believe briefcase was interrupting export when it encountered an empty submission but that was fixed a long time ago. So I think the problem is not from briefcase

[2017-12-15 04:44] lognaturel opened #256 "Rethink pull_aggregate short form"
It's currently -pa but we'll eventually want to be able to push to Aggregate from CLI as well. How do we differentiate between the two since they both start with p?

[2017-12-24 02:05] jpknox commented on #256
Maybe -psha or -plla?

[2017-12-29 16:45] yanokwa commented on #220
@opendatakit-bot label "needs discussion"

[2017-12-29 16:45] yanokwa commented on #220
@opendatakit-bot unlabel "needs discussion"

[2017-12-30 20:29] yanokwa commented on #228
We use [sem ver](https://semver.org/) so there are going to be more 1.x releases. Maybe we should call it "ODK Aggregate" until there is actually a 2.x then change it then.

[2018-01-04 10:19] ggalmazor opened #258 "Support for bulk form exports"
This is a new feature proposal originally posted by @yanokwa and discussed in [this post on the forum](https://forum.opendatakit.org/t/adding-bulk-export-of-data-to-briefcase-gui/10868):

I've extracted the following list of new small features (in no particular order) to track work:

- [x] New UI mirroring the Pull/Push interface. (#259)
- [x] New form table column: Configure (to set the export di

[2018-01-04 23:41] lognaturel commented on #256
Good suggestions, @jpknox. The existing "short forms" aren't that short so those would fit in.

@ggalmazor @yanokwa?

[2018-01-05 07:44] ggalmazor commented on #256
Just realized that we could also make a compound command with `-pull -a` and `-push -a`.

`-a` would server to indicate that we want to make an operation against an Aggregate server. It could also be `-agg`, etc.Then we could have other `-odk` or `-sd` flag to tell Briefcase to go to an sd card folder, etc.

[2018-01-05 15:08] yanokwa commented on #241
@opendatakit-bot unclaim

[2018-01-05 15:09] yanokwa commented on #241
@opendatakit-bot claim

[2018-01-05 15:09] yanokwa commented on #241
@opendatakit-bot unclaim

[2018-01-05 19:00] lognaturel opened #260 "Can AWT file chooser be removed?"
See https://github.com/opendatakit/briefcase/pull/259/commits/9827a312fed107c81995d024dbd81d203b794102

[2018-01-05 19:01] lognaturel commented on #241
I thought this had been resolved?

[2018-01-05 19:55] yanokwa opened #261 "Folder selection behavior is odd"
In the master build of Briefcase, here's the behavior I'm seeing in Export Directory on macOS.

If I'm "in" the Desktop folder, Open should select that folder. Instead, I have to be in my Home folder and before I can select the Desktop folder. This only happens when Export Directory is blank. When it's not, I can be in a folder and select it.

![select-folder](https://user-images.githubusercontent

[2018-01-05 22:58] yanokwa commented on #241
Not really. According to https://forum.opendatakit.org/t/-/10638/4 upgrading to Java 9 solves the problem. It would be good to confirm, then we can update the docs.

[2018-01-06 00:19] yanokwa commented on #220
@kkrawczyk123 can you please take a look at this issue? I'm particularly interested to see if you can pull and export an encrypted file on all three OSes with Java 9 installed.

[2018-01-06 22:20] ggalmazor commented on #261
Hi! Just tried this on Linux and Mac and I have confirmed that the file dialog's behavior in Mac and Linux is not the same:

 - Linux: clicking on "OK" button without selecting any item won't do anything (the dialog stays open)
 - Mac: clicking on "Open" button without selecting any item will close the dialog and give back control the parent window.

I will try to prepare a workaround.

[2018-01-06 22:56] ggalmazor commented on #260
I've removed it as a solution for #261 and it works :)

[2018-01-07 15:16] fabla commented on #202
@lognaturel I think i love this idea. "How about a checkbox that says something like "Overwrite existing" and is unchecked by default"

it will be pretty cool.
Thanks

[2018-01-09 04:07] lognaturel commented on #202
Thanks @fabla, that's useful feedback! @ggalmazor this would be a good one to also think about as you rework that export tab.

[2018-01-09 09:32] ggalmazor opened #265 "Filesystem location text fields should be resetable"
Currently, once you select a location for a file or a directory, the corresponding text field holds a value an can never go back to hold nothing.

This makes sense for required fields like the export dir in the export tab or the storage location dir in the configuration tab.

On the other hand, in other fields like the pem file location, the user should be able to clear that field to configure the

[2018-01-09 09:34] ggalmazor commented on #258
@opendatakit-bot label enhancement

[2018-01-09 09:34] ggalmazor commented on #265
@opendatakit-bot label enhancement

[2018-01-09 09:35] ggalmazor commented on #265
@opendatakit-bot label "enhancement"

[2018-01-09 15:19] kkrawczyk123 commented on #261
On all three systems I verified selection of folders and changing it. I didn’t find anything suspicious. I checked Export Directory and Storage location. If it is about PEM Private Key File I didn’t have that kind of file but I tried just to choose file and I was able to select there any .csv files, I am not sure if that approach is enough. @lognaturel , @yanokwa  could you attach me some PEM Priv

[2018-01-09 15:22] ggalmazor commented on #261
Thanks, @kkrawczyk123!!

Regarding the PEM file, for the purpose of testing the changes on the file selection dialogs, it doesn't matter that the file is really a PEM file or not. Any file will let you test the behavior.

[2018-01-09 17:26] #223 closed

[2018-01-09 17:36] #261 closed

[2018-01-09 17:36] yanokwa commented on #260
Closed by https://github.com/opendatakit/briefcase/pull/262

[2018-01-09 17:36] #260 closed

[2018-01-14 17:35] NaderBeshr opened #269 "suggestion for briefcase UI"
i was thinking in new ui for briefcase. i think if we use color and graphic symbols will be easier for users. so i share my thought with all of you.

![0ca82861884e6df9d7bdd9f5ef9437b27444e953_1_366x500](https://user-images.githubusercontent.com/3519285/34918808-585779fc-f96a-11e7-9c2c-6fe669c5491f.jpg)

[2018-01-16 13:48] kkrawczyk123 commented on #220
@yanokwa I tried to figure it out but I am a bit blocked with that. Do you want me to update java version and then build or update java, change java version in project and then build?. When I tried first approach build has failed on all three systems with the same error message. What is the best way to investigate that issue?

[2018-01-16 15:19] yanokwa commented on #220
I'd recommend you build it on a machine running Java 8 (OS shouldn't matter). You can build with `.gradlew clean jar` or grab the latest binary from [CircleCI](https://github.com/opendatakit/briefcase#downloading-builds)

Then take the build and run it on machines running Java 9 and see if they work.

[2018-01-16 17:34] lognaturel opened #270 "Form-level export configuration icon not shown on Mac"
#### Software versions
Briefcase v1.8.0-113-g50d5b8d9, macOS 10.13.2

#### Problem description
The gear icon doesn't appear
![](https://user-images.githubusercontent.com/55099/34911141-6407003a-f878-11e7-8b4b-05edb1528378.png)

#### Steps to reproduce the problem
Launch the application from macOS, go to the export tab.

#### Expected behavior
The gear icon should be visible.

[2018-01-16 17:40] lognaturel opened #271 "Export directory should not be required for form-level configuration"
#### Software versions
Briefcase v1.8.0-113-g50d5b8d9

#### Problem description
Currently setting a custom configuration for a form export requires specifying an export directory. This means that only override the date range or the PEM file also requires setting the same export directory as in the main configuration.

#### Steps to reproduce the problem
Go to the export tab, select a form. Click o

[2018-01-18 04:52] lognaturel commented on #271
There's a related issue after the latest merge that I didn't notice until after merging -- if a global export directory is set without a form-level one the export fails. The export directory should default to the global one if no form-level one is set.

[2018-01-18 08:42] ggalmazor commented on #271
This is the second time someone reports this issue (Dave and now you)... I've tried to reproduce the error without luck.

The steps I follow are:
1. Clean my user preferences and my Briefcase storage folder
2. Run Briefcase
3. Setup my storage folder
4. Setup an aggregate instance and pull some forms
5. Configure `/tmp` as my default export dir
6. Select a form
7. Click on export without configuri

[2018-01-18 10:26] kkrawczyk123 commented on #220
I tried both, building on machine running Java 8 with using command that you mentioned (on mac), then running on machine with java 9 (windows) and also tried to grab it straight from CircleCI and run with java 9. In both cases running briefcase failed. Screenshot attached.
![java windows](https://user-images.githubusercontent.com/33342488/35093290-46849018-fc42-11e7-92ed-5bceb5580e02.jpg)

[2018-01-18 12:24] kkrawczyk123 opened #275 "Unknown default Storage Location on MacOS."
#### Software versions
Briefcase v1.8, Java v1.8. operating system MacOS,

#### Problem description
Weird problem displayed to me, default storage location was different (probably non-existing folder)  than I've chosen before. I was able to change it and the only way to reproduce the problem for me was starting briefcase again.

#### Steps to reproduce the problem
1. Create new folder
2. Clone the

[2018-01-18 12:37] ggalmazor commented on #275
Hi @kkrawczyk123!

The problem you're experiencing is due to the automated test suite that we now have, which will overwrite your normal Briefcase settings whenever it's run.

I'm already working on the solution that will prevent the tests from overriding these settings.

[2018-01-18 16:54] #265 closed

[2018-01-18 18:30] ggalmazor opened #277 "Add coverage report"
Now that we're starting to have some tests, it would be helpful to have some metrics about code coverage.

This information would be also helpful on CircleCI

[2018-01-18 18:31] yanokwa commented on #271
The related issue @lognaturel raised has been fixed at #276.

I agree that it should be possible to override some of the settings. This is my preferred approach:
* Rename the pop up to "Override export configuration"
* Instead of "Remove" in the custom configuration, we make it "Clear all" for consistency
* Make all fields optional (but you have to select both dates)

This seems very easy to commu

[2018-01-18 18:33] ggalmazor commented on #271
Do we enable editing the configuration even when the form is not selected, as discussed on Hangout? I can have this done tomorrow and get it for this month's release

[2018-01-18 19:05] yanokwa commented on #220
Thanks for the detailed report, @kkrawczyk123!

@ggalmazor Can you take a look to see if this is easy to fix?

[2018-01-18 19:09] ggalmazor commented on #220
Sure!

[2018-01-18 20:21] lognaturel commented on #277
@shobhitagarwal1612 had added a jacoco/Codecov integration over on the Collect side. It worked really well and is only disabled now because integration tests were moved to run on Firebase. Should we go with the same here?

[2018-01-18 21:13] ggalmazor commented on #277
:+1: I know Jacoco from other Java8 projects and it does the work.

[2018-01-19 02:13] yanokwa commented on #277
I had a PR for codecov, but deleted it because I find the UI a bit klutzy. I was thinking maybe we'd give codeclimate a try? https://codeclimate.com/github/opendatakit/briefcase/

[2018-01-19 08:49] ggalmazor commented on #275
@opendatakit-bot claim

[2018-01-19 08:50] ggalmazor commented on #271
@opendatakit-bot claim

[2018-01-19 10:25] ggalmazor commented on #275
Hi @kkrawczyk123!

Yesterday we got some PRs merged and you shouldn't have this problem anymore. Just be sure to remove your saved Java user preferences beforehand and don't forget to reboot before starting to test Briefcase. @yanokwa has some experience doing this on a mac and might provide help.

[2018-01-19 11:29] ggalmazor commented on #220
Turns out that the Eclipse's jar-in-jar loader we're using doesn't work with Java9.

I'm exploring alternatives and everything I'm finding is already 5 or 6 years old :|

We'll have to dig deeper in this one...

[2018-01-19 15:04] yanokwa commented on #220
The thing that's complicated about packaging jars in Briefcase is that we can't explode the jars because BouncyCastle is signed and that'll break encrypted exports.

From https://github.com/eclipse/eclipse.jdt.ui/commit/b0d91c8941ed71dd31d4e8fe17e643b5caa5ec41 it seems like there is support for in Eclipse for Java 9 now.

Maybe you can try building that one, or grabbing the binary from https://git

[2018-01-19 15:08] ggalmazor commented on #220
I'm afraid that the new version of the same loader won't work out of the box... The reason is explained [here](http://java9.wtf/class-loading/)

I'll try to patching it...

[2018-01-19 15:08] yanokwa commented on #275
@kkrawczyk123 the files I removed are:
* ~/Library/Preferences/com.apple.java.util.prefs.plist
* ~/Library/Preferences/org.opendatakit.briefcase.plist

Can you remove these, reboot the machine, and see if you can still reproduce this issue?

[2018-01-19 15:28] ggalmazor commented on #220
Good news: Patching the loader works
Bad news: We have to maintain this now
Worse news: We will have to produce a separate JARs, one for Java8 and other for Java9

Best case scenario, we can file an issue on Eclipse with the patch and wait for them to release a patched version of the loader...

[2018-01-19 16:21] ggalmazor commented on #220
I have yet to rule out jlink, though

[2018-01-19 16:47] yanokwa commented on #220
I don't know if we want to spend too many cycles on this.

Since you have a patch, I propose we send it upstream to Eclipse so we can be good open source citizens. They also might have an approach that works better and it'd be good to get their feedback.

Then if you have other ideas (e.g., jlink) create an issue with a rough approach and we'll if a contributor wants to take it on.

In the short t

[2018-01-19 16:50] ggalmazor commented on #220
Ok!

[2018-01-19 19:23] #277 closed

[2018-01-21 11:19] ggalmazor commented on #220
So, I did my homework and I'm waiting for permission to push the patch into their repo. Here is the bug report: https://bugs.eclipse.org/bugs/show_bug.cgi?id=529172

In the meantime (thanks to other contributor's comments there), I've managed to prepare a solution that will compile and run both in Java8 and Java9. We can add that to Briefcase and remove whenever Eclipse updates their loader.

I ha

[2018-01-21 15:39] yanokwa commented on #220
This is great news, @ggalmazor! Let's wait a few more days to see if they have any feedback on the patch. If we don't hear back by code freeze day, then we can ship our version.

As far as contribution process, yeah, we aren't too bad. @lognaturel did a great job making that process super simple.

[2018-01-22 07:52] ggalmazor commented on #220
Ok, I don't fully understand what's going on but it seems that my changeset  has been approved by my reviewer and now there is a second changeset that (I think) is the one that will be merged to master. They have mentioned some merge to an M5 version and a backport to version 4.7.3 but I've asked what all this means in terms of release of a new version...

[2018-01-22 08:21] ggalmazor commented on #220
Changes are merged in master, yay! Now I'm filing another changeset to update the zip file :)

[2018-01-22 09:27] kkrawczyk123 commented on #275
I tried to do the same but it seems that I couldn't find those files at all. Screenshot of contents of Library/Preferences folder on my mac attached. Any suggestions what I should do?
![java_mac](https://user-images.githubusercontent.com/33342488/35212674-373eab04-ff5b-11e7-985d-488344d1c191.png)

I've also noticed very weird briefcase behavior when run an app. I couldn't choose any tab pull/push

[2018-01-22 15:02] #220 closed

[2018-01-22 15:23] yanokwa commented on #275
@kkrawczyk123 There are two `/Library/Preferences/` folder in macOS.

There is one at `/Library/Preferences/` and there is another at `~/Library/Preferences/` (note the tilde). The tilde means that you have to add the home folder. So in my case, the folder I need to look at is `/Users/yanokwa/Library/Preferences/`

My guess is that you are looking at `/Library/Preferences/` and not `~/Library/Pref

[2018-01-22 21:58] yanokwa opened #286 "Global export preferences are not persisted on clear"
In the global export settings of master (3b29d73ad7c688276eccb44f463fe0fb64395494), if PEM file location or start/end date is cleared, that clearing is not persisted. If I relaunch the app, the value  still exists. If instead I change the value, that value is persisted.

[2018-01-22 22:18] ggalmazor commented on #286
I've already done some work related to this behavior (on custom confs) on PR #281 and I have extended the PR to solve this issue as well.

[2018-01-22 22:28] yanokwa commented on #286
Fixed by #281

[2018-01-22 22:28] #286 closed

[2018-01-22 23:00] ggalmazor commented on #241
Could we check this, now that Briefcase runs on Java9?

[2018-01-22 23:01] ggalmazor commented on #247
With latest PR activity, this shouldn't happen anymore, could you check again, please?

[2018-01-22 23:58] yanokwa commented on #241
Confirmed fixed.

[2018-01-22 23:58] #241 closed

[2018-01-23 08:36] kkrawczyk123 commented on #247
Yes, it seems to be fixed.

[2018-01-23 08:40] ggalmazor commented on #247
Yay! Thanks!

[2018-01-23 09:50] kkrawczyk123 commented on #275
Thanks, @yanokwa, surely I was looking for those files in the wrong folder. I removed them via command line and reboot. Actually, I was able to reproduce that issue in 3 from 4 attempts.
And I was able to open pull/push/export tabs no matter if I changed this unknown default storage location and pull and export processes were successful.
Additionally, I reproduced that issue on Ubuntu too. Screens

[2018-01-23 17:21] yanokwa commented on #275
I am not able to reproduce this on a new install of macOS 10.13 that has never had Briefcase installed. To run the application, I did the following:
1. git clone https://github.com/opendatakit/briefcase.git (153-g3b29d73)
1. ./gradlew run
On launch, the Settings folder defaulted to `/Users/yanokwa/Desktop/ODK Briefcase Storage`.

I then quit the app, and removed the preferences files
1. rm ~/Libra

[2018-01-23 18:52] #271 closed

[2018-01-23 18:57] yanokwa opened #290 "Last export column should be resizable"
In master, export status is resizable, but last export is not. It should be because it's nice to resize that window if the time text is too wide.

![screen shot 2018-01-23 at 10 46 44 am](https://user-images.githubusercontent.com/32369/35294754-3808bfa8-002c-11e8-8dfa-cd58c27e831d.png)

[2018-01-23 19:10] yanokwa opened #291 "Long export paths in custom configuration lead to very wide window"
If you try to export to a very deep path, the export configuration window gets wider and wider.

<img width="1118" alt="screen shot 2018-01-23 at 11 09 03" src="https://user-images.githubusercontent.com/32369/35295482-2374a3e8-002e-11e8-8263-b7a698330c1e.png">

 I'm not sure how other Java UIs do this (@dcbriccetti, you might know), but I'd be nicer if there was some maximum width where we truncat

[2018-01-23 19:18] dcbriccetti commented on #291
Maybe set a preferred and/or maximum size on that control, and/or elide parts of the path.

[2018-01-23 19:21] ggalmazor commented on #291
Yes, I can copy that property from other fields that cap the max width

[2018-01-23 19:23] yanokwa commented on #291
And we can make that initial dialog window a little wider to make start. It looks like it's about 60% of the main window and we could do 75-80%.

[2018-01-23 19:40] yanokwa opened #292 "Clear all should be disabled if there are blanks in the config"
If all elements are blank, I expect a disabled Clear All. This currently happens when you open a config that has previously been saved with some value (e.g., a export directory). When you open that config and clear the path, Clear All is enabled and I expect to be disabled. This does not happen when you edit a config and hit one of the Clear buttons.

[2018-01-23 19:43] dcbriccetti commented on #291
Its width is defined by the preferred sizes of its components.

[2018-01-23 19:49] ggalmazor commented on #291
I can make a quick fix for the dialog's size setting a preferred width for the fields that will produce a dialog almost (or even exactly) as wide as the main window, before packing the dialog.

Regarding the wide export dir field on the default configuration, I don't know if I can do both things: making the field expand to fill the horizontal space and, at the same time, cap its width.

Maybe by s

[2018-01-23 19:51] dcbriccetti commented on #291
I don’t see why we should be concerned about the size of the dialog in relation to the size of the main window.

[2018-01-23 19:53] ggalmazor commented on #291
The bottom line is that if we want, we can have a wider dialog :P

[2018-01-23 20:03] #291 closed

[2018-01-24 03:28] yanokwa opened #295 "Polish the UI for consistency"
Some ideas that I have. These are up for discussion.
- [x] Remove`Forms to Pull:`, `Forms to Push:`, and `Foms to export:` and horizontal rule
- [x] Add space to column headings so when sorting you can see the column text
- [x] Export config buttons should be half as small
- [x] Last export should be resizable
- [x] Instead of `Detail` as a column header, I think `Push/Pull/Export Log` would be
-

[2018-01-24 03:29] yanokwa commented on #290
Closing in favor of https://github.com/opendatakit/briefcase/issues/295

[2018-01-24 03:29] #290 closed

[2018-01-24 11:16] kkrawczyk123 commented on #275
@yanokwa , @ggalmazor , I, @grzesiek2010  and @mmarciniak90 investigated that issue deeply. I reproduced steps that you described on mac and if fact it is the only way when briefcase actually asked for choosing storage location with the first run at all. I always use ./gradlew build and then java -jar commands to run briefcase so it is the only difference between our approaches. Now, when I tried

[2018-01-24 11:20] grzesiek2010 commented on #275
Yes, I can confirm. Only `./gradlew run` on Mac works well. In all other cases including jars from the CircleCI a wrong path is visible or even something stranger happens like from the attached screen.

[2018-01-24 12:09] ggalmazor commented on #275
could you try to remove your java user preferences between the build and the java -jar, please?

If the build gets stuck while building is because of the tests. Try running 'gradlew build -x test'

[2018-01-24 13:33] kkrawczyk123 opened #296 ""Aborted" pull status is not capitalized."
#### Software versions
Briefcase v1.8.x, Java v1.8.x, operating system: Ubuntu, MacOS

#### Problem description
Aborted pull status is not capitalized.

#### Steps to reproduce the problem
1. Start to pull few forms together.
2. Cancel pulling process.

#### Expected behavior
Aborted status should be capitalized as other status messages.

#### Other information
Screenshot attached.
![screenshot fr

[2018-01-24 13:42] kkrawczyk123 opened #297 "Briefcase doesn"t remove period from form's name."
#### Software versions
Briefcase v1.8.x, Java v1.8.x, operating system,: Ubuntu, MacOS

#### Problem description
Briefcase doesn"t remove period of dots from form's name as it used to do before. In exchange it shows _______. User is able to export that form.

#### Steps to reproduce the problem
1. Pull from aggregate of odk collect form with period of dots in the name.
2. Go to push, export sectio

[2018-01-24 13:45] ggalmazor commented on #297
What do you mean by 'period of dots'? Can you write an example form name so that we can use exactly what you had?

[2018-01-24 13:51] kkrawczyk123 commented on #297
I tried "Form........xml". I use to test and it worked, period was removed and briefcase displayed that form as "Form.xml" but now is not any more.

[2018-01-24 13:52] ggalmazor commented on #297
Ok, thanks!

[2018-01-24 14:10] kkrawczyk123 opened #298 "Differences in Export section UI between Ubuntu and MacOS."
#### Software versions
Briefcase v1.8.x, Java v1.8.x, operating system: Ubuntu, MacOS

#### Problem description
There is a difference in view of override export configuration button. The button is displayed on ubuntu but on macOs it looks like an empty button (it works properly if you click on it).

#### Steps to reproduce the problem
1. Open export on ubuntu and on macOS.

#### Expected behavior

[2018-01-24 14:23] kkrawczyk123 opened #299 "Failed status is not displayed in push section."
#### Software versions
Briefcase v1.8., Java v1.8, operating system: Ubuntu, MacOS

#### Problem description
Failed status doesn't display at all on push section.

#### Steps to reproduce the problem
1. Try to push some forms from aggregate and cancel that process.

#### Expected behavior
Now is Failed status is just empty.

#### Other information
Screenshot attached.
![push_status](https://user-i

[2018-01-24 14:42] yanokwa commented on #298
Closed in favor of #270

[2018-01-24 14:42] #298 closed

[2018-01-24 14:56] yanokwa commented on #270
Closed by #294.

[2018-01-24 14:56] #270 closed

[2018-01-24 15:32] yanokwa commented on #247
Confirmed fixed in 32d6499.

[2018-01-24 15:32] #247 closed

[2018-01-24 18:32] #296 closed

[2018-01-24 19:39] lognaturel opened #304 "CLI short codes are not backwards-compatible"
The code on master changes several short codes:
`-id,--form_id <form_id>` => `-f,--form_id <arg>`
`-em,--exclude_media_export` => `-exme,--exclude_media_export`
`-oc,--overwrite_csv_export` => `-ow,--overwrite_csv_export`
`-pf,--pem_file </path/to/file.pem>` => `-pem,--pem_file <arg>`
`-id,--form_id <form_id>` => `-f,--form_id <arg>`
`-url,--aggregate_url <url>` => `-s,--aggregate_url <url>`

It a

[2018-01-24 20:01] ggalmazor commented on #304
That shouldn’t have happened. I’d swear I reviewed all the cli args and fixed that some weeks ago :( Sorry!

I’ll check that everything works as before

[2018-01-24 20:02] lognaturel commented on #304
I think it's just the short codes so hopefully it will be a quick fix!

[2018-01-24 21:41] #292 closed

[2018-01-25 04:02] #158 closed

[2018-01-25 09:49] ggalmazor commented on #304
I've created a PR to solve this. The new shortcodes should stay, though, to slowly let our users switch to the new Launcher.

[2018-01-25 12:23] kkrawczyk123 opened #311 "Export of encrypted form failed on MacOS and Windows."
#### Software versions
Briefcase v1.8.x, Java v1.8.x, operating system MacOs, Windows

#### Problem description
Export of encrypted form failed on MacOS and Windows. Export of the same form with the same private PEM key file succeed on Ubuntu.

#### Steps to reproduce the problem
1.Try to export encrypted form with private PEM key file.

#### Expected behavior
The form should be exported.

#### Ot

[2018-01-25 13:29] kkrawczyk123 opened #312 "Aggregate Server Connection window needs resizing to read text below login fields."
#### Software versions
Briefcase v1.8.x, Java v1.8.x, operating system Windows and Ubuntu.

#### Problem description
Displayed window where you can log in to aggregate account needs resizing if you want to read information below login fields.

#### Steps to reproduce the problem
1. Go to pull or push section
2. Click on Connect button.
3. Aggregate Server Connection window should display now.

###

[2018-01-25 14:40] ggalmazor commented on #311
I'm getting that error with java versions other than **8u161-oracle,** but with the latest version, it is working for me...

[2018-01-25 14:49] ggalmazor commented on #311
Just confirmed that it works on my mac with Java version 1.8.0_161. Could you verify?

[2018-01-25 16:40] yanokwa commented on #311
This problem is described at the bottom of https://github.com/opendatakit/briefcase/blob/master/README.md#setting-up-your-development-environment.

If you are working with encrypted forms you may get an InvalidKeyException. This is because you do not have an unlimited crypto policy enabled in Java.

Java 8 Update 151 or later: Set crypto.policy=unlimited in $JAVA_HOME/jre/lib/security/java.securit

[2018-01-25 18:19] #275 closed

[2018-01-25 18:28] ggalmazor commented on #295
These buttons are wide only on macs... Is this still a problem after using the icon font?

[2018-01-25 18:29] ggalmazor commented on #295
Making this change on the Pull and Push tabs will take some time and I'm afraid of breaking things that already are working...

[2018-01-25 18:35] yanokwa commented on #295
I'm wondering if we should hold off on this until after the release. Because it'd be nice to touch all the panels with these changes.

[2018-01-25 18:45] ggalmazor commented on #295
I'm almost done with these

- [x] RemoveForms to Pull:, Forms to Push:, and Foms to export: and horizontal rule
- [x] Add space to column headings so when sorting you can see the column text
- [x] Last export should be resizable
- [x] Instead of Details... button, use a button with the https://material.io/icons/#ic_receipt as a font (ic_receipt.ttf.zip)

[2018-01-25 19:45] ggalmazor opened #318 "Icon fonts not working on windows 10"
![win_briefcase](https://user-images.githubusercontent.com/205913/35408774-9c5cdc1a-0210-11e8-9230-bae477280e4f.png)

#### Software versions
Briefcase #bf756a62, Java 1.8.0_161, win10

#### Problem description
No icons shown on the buttons

#### Steps to reproduce the problem
Just run Briefcase and go to the Export tab. Make sure you have pulled some forms before.

#### Expected behavior
![briefca

[2018-01-25 20:03] yanokwa commented on #318
Hmm. I am not seeing this problem on my Windows 10 machine running Java 1.9.

[2018-01-25 20:05] yanokwa commented on #312
@ggalmazor Were you able to repro this problem on Windows 10 or Ubuntu?

[2018-01-25 20:08] ggalmazor commented on #312
I didn't try to repro as I knew from the code that the dialog was being sized manually and positioned at the top left corner of the screen.

I thought that we could improve it with what we learned for the conf panel dialog.

[2018-01-25 20:08] ggalmazor commented on #312
Also, checked that this dialog shows correctly on linux, mac and win10

[2018-01-25 20:13] ggalmazor commented on #318
I haven't tried with Java9 and my machine is a virtual machine on VirtualBox running ES locale... Maybe there's a problem with that...

[2018-01-25 20:15] yanokwa commented on #312
Agreed that this is better!

But now the two lines of the JLabel looks funny. Is it doable to get them on one line and have them wrap?

[2018-01-26 08:14] ggalmazor opened #319 "Briefcase crash on allegedly duplicate forms in storage dir"
As reported by @kkrawczyk123 on Slack, she got the following error launching Briefcase:

[code]
#### Software versions
Briefcase v1.x.x, Java v1.x.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description
Failure to launch Briefcase

#### Steps to reproduce the problem
¿? Maybe dupe forms stored in disk

#### Expected behavior
¿?

#### Other information

[2018-01-26 08:41] kkrawczyk123 opened #320 "Export list is not updating correctly."
#### Software versions
Briefcase v1.8.x, Java v1.8.x, operating system: Windows, MacOS, probably Ubuntu too

#### Problem description
Export list is not updating correctly between running and closing briefcase.

#### Steps to reproduce the problem
1. Pull forms from aggregate
2. Go to export section, they should be present there.
3. Close briefcase
4. Delete some of forms pulled before from your s

[2018-01-26 09:11] kkrawczyk123 opened #321 "Input fields are not in the same size on Export section."
#### Software versions
Briefcase v1.8.x, Java v1.8.x, operating system: Windows 8.1

#### Problem description
Start Date and End Date fields are longer than Export directory and PEM file location fields.

#### Steps to reproduce the problem
1. Open Export section and look at fields size.

#### Expected behavior
All fields should be unified as they are on MacOS and Ubuntu.

#### Other information
S

[2018-01-26 09:39] kkrawczyk123 commented on #311
It worked for java 1.8.161 for both Windows and MacOs.

[2018-01-26 09:50] sprea commented on #321
I would like to work on this issue. May I proceed ?

[2018-01-26 10:42] ggalmazor commented on #312
Ok, fixed the PR with @dcbriccetti's suggestion

[2018-01-26 10:51] ggalmazor commented on #9
I can confirm that with Java 1.8.0_161 there no need to install the JCE

[2018-01-26 10:56] ggalmazor commented on #297
This issue seems to be related to #224...Before that PR, the illegal chars where "compacted" (`Forms......xml` becomes `Forms.xml`) and now they're replaced to `_` chars (`Forms_____xml`).

Do we go as it is with the `_` or do we change it? I think that we had some good examples in favor to replacing the chars with `_`...

[2018-01-26 21:48] ggalmazor commented on #321
Hi @sprea! Sorry, I didn't see your comment...

[2018-01-26 22:58] lognaturel commented on #297
The _ behavior is now the intended one for consistency across all places punctuation is replaced.

[2018-01-26 22:58] #297 closed

[2018-01-27 00:27] #321 closed

[2018-01-27 00:33] #312 closed

[2018-01-27 00:39] #304 closed

[2018-01-27 20:45] mayank8318 opened #323 "Set proper date range values for start and end date"
#### Software versions
Briefcase vv1.8.0-227-gbebd3f5, Java v1.8, Ubuntu, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description
There is no restriction of the date range values in the start date and end date datepickers.

#### Steps to reproduce the problem
Open any datepicker.

#### Expected behavior
The start date should not exceed current date and when a particular start date is selecte

[2018-01-29 04:09] yanokwa commented on #311
Closed because this is a documentation issue.

[2018-01-29 04:09] #311 closed

[2018-01-29 04:17] yanokwa commented on #323
Hi @mayank8318! I am unable to reproduce this issue. I am on macOS 10.13 running Java 9, but Java 8 also works great. I've also tried the build you reported and v1.8.0-232-g242dea6.jar.

Here's the dialog that I see when I choose an end date that's before a start date.
<img width="608" alt="screen shot 2018-01-28 at 20 13 42" src="https://user-images.githubusercontent.com/32369/35493452-328e7ec4-0

[2018-01-29 04:32] yanokwa commented on #318
I've tried Java 8 and Java 9 and I don't see this issue. Could you try the English locale?

[2018-01-29 04:41] yanokwa opened #324 "Detailed status window has incorrect and redundant elements"
In Pull/Push/Export, when you hit the detailed status icon (the receipt), it shows a status window. I think the window should have the following changes:

1. Instead of `Detailed Transfer Status for $X` it should be `Detailed Status for $X` because Transfer status doesn't apply to Export.
1. The "Detailed Status: " text in the frame is redundant and it should be removed.

[2018-01-29 04:44] lognaturel commented on #323
I believe the suggestion here is to disable invalid dates so that the user doesn’t have to wait for the error message to get feedback.

If that’s indeed the idea, I think it’s a good one worth pursuing.

[2018-01-29 04:46] yanokwa opened #325 "Export configuration error message dialog shows below date"
#### Software versions
Briefcase v1.8.0-232, Java v1.9, macOS 10.13 or Windows 10

#### Problem description

#### Steps to reproduce the problem
When attempting an export, select an end date that is after a start date. An "Export configuration error" dialog will pop up. The error message will show up behind the date chooser. Depending on your configuration, the "OK" will be hidden.

#### Expected

[2018-01-29 04:51] #295 closed

[2018-01-29 05:45] mayank8318 commented on #323
@yanokwa What I mean to do is what @lognaturel has said in her comment.  ☺

[2018-01-29 06:34] yanokwa commented on #323
@mayank8318 That sounds like a nice feature to add. Please over https://github.com/opendatakit/briefcase/blob/master/CONTRIBUTING.md then claim the issue to start working on it!

[2018-01-29 10:34] mayank8318 commented on #323
@opendatakit-bot claim

[2018-01-30 00:20] yanokwa commented on #9
Confirmed as well with Java 1.8.0_162 on macOS and Windows!

[2018-01-30 00:20] #9 closed

[2018-01-30 00:27] yanokwa commented on #318
Ugh. The beta build on my Windows machine doesn't show the icons. Can you confirm, @ggalmazor?

[2018-01-30 11:13] kkrawczyk123 commented on #318
I can confirm that. I have windows 8 and java 1.8.161 and details and other icons are not displayed at all, I just can see an empty buttons.

[2018-01-30 11:22] ggalmazor commented on #320
Just for documentation's sake, I want to write here what we discussed on Slack about this issue.

This issue has to do with the way we handle the Forms cache which is serialized to disk between launches and the way we want to read the actual forms pulled into the storage dir.

As discussed on Slack, supporting this kind of behavior (users manually removing things from the storage dir) would requir

[2018-01-30 11:25] ggalmazor commented on #318
In my Linux box, I can reproduce this problem by manually changing the Swing theme. Not all themes support icons on buttons...

@dcbriccetti, maybe you know of other possible explanation for this?

[2018-01-30 11:44] kkrawczyk123 opened #330 "Differences between ui of pull/push and export on all three operating systems"
#### Software versions
Briefcase v1.9.Beta, Java v1.8.x, operating system: Ubuntu, Windows and MacOS

#### Problem description
It Beta version is a little difference between pull/push ui and export.

In pull/push section: When the form is highlighted, whole line should be highlighted. On MacOS is displayed differently then on Ubuntu and Windows, highlight doesn't extend behind details button.
The

[2018-01-30 11:52] kkrawczyk123 opened #331 "Sorting activity in Details column."
#### Software versions
Briefcase v1.9.beta, Java v1.8.x, operating system: Ubuntu, MacOs, Windows

#### Problem description
I was just wondering if sorting activity in Details column is needed at all?
There are also differences in behavior according to operating system:
-on Mac and Windows column has a clickable header with arrow but without any sorting activity
-on Ubuntu you can sort items which

[2018-01-30 11:54] ggalmazor commented on #331
We could disable sorting on columns with buttons in general. Or if we want to be able to sort, we could define the criteria to "has details" or "has custom conf", etc.

[2018-01-30 11:57] kkrawczyk123 commented on #248
@yanokwa, @lognaturel, @ggalmazor, details buttons are disabled without any activity in export section now, maybe we should disabled them also in pull and push section? If you click on them now, just an empty window displays.

[2018-01-30 13:58] ggalmazor commented on #318
Ok, I found that on windows the JButtons have an inner lateral padding that's producing this problem. The buttons are simply not wide enough to see the icon.

[2018-01-30 17:57] mayank8318 commented on #94
Add an Intellij Settings file in the repository so that anyone can just import the settings and start coding :)
@yanokwa @ggalmazor

[2018-01-30 18:00] ggalmazor commented on #94
I think that could make an easier transition for first-time contributors :)

[2018-01-30 19:04] dcbriccetti commented on #318
Sorry, no, I don’t.

[2018-01-30 19:05] ggalmazor commented on #318
@dcbriccetti don't worry! It's solved :) #332

[2018-01-31 14:41] #324 closed

[2018-01-31 15:01] #318 closed

[2018-01-31 15:14] icemc commented on #248
@opendatakit-bot claim

[2018-01-31 15:24] ggalmazor commented on #330
I updated the PR solving this issue to note that on a Mac, it will only paint the background when a button is disabled (we don't know why).

We need the buttons to be enabled to allow the users to click them, therefore, there's no apparent way to solve this issue in a way that is consistent across mac, linux and windows.

[2018-01-31 16:04] ggalmazor commented on #299
@opendatakit-bot unclaim

[2018-01-31 22:58] yanokwa opened #334 "Incorrect credentials are cached?"
This is an issue I see with v1.9.beta-0.

To reproduce, pull from a server using bad credentials. Now, use the correct credentials. It'll still fail. Now quit, use the correct credentials, and it'll work.

I believe the reverse is true as well. If I pull using correct credentials, then change out the connections and try to pull using the wrong credentials, it works when it should fail.

[2018-02-01 10:15] ggalmazor commented on #334
I'm trying to trace back this problem. It appears to be from before the changes for the new Export tab...

[2018-02-01 10:36] ggalmazor commented on #334
I can reproduce this as far as commit #c5c9bc19: Race condition using parallel pulls causes HTTP 401 Unauthorized (#206)

This is the diff between that commit and the previous one:
[code]

@batkinson, you were working on Briefcase those dates... I know much time has passed since then but maybe you know some easy fix for this one.

[2018-02-01 11:08] kkrawczyk123 opened #335 "Activeness of pull/push button."
#### Software versions
Briefcase v1.9.x, probably preview versions too, Java v1.8.x, operating system: All

#### Problem description
I have noticed differences between activeness of pull, push and export button.

#### Steps to reproduce the problem
1.Run briefcase and do not connect to the aggregate server. - Pull button is active, push button is active too.
2. Connect to the aggregate server on p

[2018-02-01 11:10] ggalmazor commented on #335
@opendatakit-bot tag “quick win”

[2018-02-01 11:10] ggalmazor commented on #335
@opendatakit-bot tag “quick win”

[2018-02-01 11:11] ggalmazor commented on #335
I'd tag this as a quick-win, but @opendatakit-bot doesn't obey :P

[2018-02-01 19:34] #330 closed

[2018-02-01 19:38] #325 closed

[2018-02-03 09:42] mayank8318 commented on #335
@kkrawczyk123 @ggalmazor Yes this can also lead to Exceptions that we might not be handling and hence the user won't know what happened.

[2018-02-03 09:51] ggalmazor commented on #331
@opendatakit-bot label "needs discussion"

[2018-02-03 09:52] ggalmazor commented on #320
@opendatakit-bot label "needs discusion"

[2018-02-03 09:52] ggalmazor commented on #320
@opendatakit-bot "needs discussion"

[2018-02-03 09:52] ggalmazor commented on #320
@opendatakit-bot label "needs discussion"

[2018-02-03 09:53] ggalmazor commented on #320
@opendatakit-bot unclaim

[2018-02-03 20:04] mayank8318 commented on #335
@opendatakit-bot claim

[2018-02-05 03:40] lognaturel commented on #319
I got this as well, no clear reason why! I ended up deleting the entire Briefcase folder.

[2018-02-05 03:43] lognaturel opened #338 "Detail buttons should be grayed out when disabled on push and pull tabs."
#### Software versions
Briefcase v1.9.0 beta

#### Problem description
On the pull and push tabs, the detail buttons always look enabled even when they are unclickable.

#### Steps to reproduce the problem
Connect to a server to pull or push.

#### Expected behavior
Match the export tab -- when there are details, the button should be enabled. When there are none it should be disabled.

[2018-02-05 03:47] lognaturel opened #339 "Settings override button is grayed out without being disabled"
#### Software versions
Briefcase v1.9.0 beta

#### Problem description
<img width="43" alt="screen shot 2018-02-04 at 7 34 39 pm" src="https://user-images.githubusercontent.com/967540/35787536-c2b18f3e-09e3-11e8-8512-555943fe7773.png">
This makes it look as though the top button is clickable and the bottom one isn't. In fact it means the top form has a custom configuration and the bottom one doesn

[2018-02-05 03:51] yanokwa opened #340 "Command line interface should use `-f` not `-file` for export_filename"
#### Software versions
Briefcase v1.9.0 beta

#### Problem description
On the command line interface, export_filename's short code is `-file`. This breaks backward compatibility with existing scripts. Older versions of Briefcase use `-f`.

#### Steps to reproduce the problem
Build the jar with `./gradlew clean jar` and run it with `java -jar build/libs/ODK\ Briefcase\ v1.9.0-beta.0-18-g277909e.jar

[2018-02-05 03:56] yanokwa opened #341 "Instead of `-i,--import-odk` use `-pc, --pull_collect`"
#### Software versions
Briefcase v1.9.0 beta

#### Problem description
On the command line interface, we have a new command `import-odk` which I find unclear because we don't use "import" in the UI, and "odk" in this context is unclear.

#### Steps to reproduce the problem
Build the jar with `./gradlew clean jar` and run it with `java -jar build/libs/ODK\ Briefcase\ v1.9.0-beta.0-18-g277909e.jar -

[2018-02-05 03:57] yanokwa opened #342 "Use `pull_aggregate` instead of `pull-aggregate`"
#### Software versions
Briefcase v1.9.0 beta

#### Problem description
On the command line interface, we have a new command `pull-aggregate` which uses hyphens. It should use underscores because that's what the other commands use.

#### Steps to reproduce the problem
Build the jar with `./gradlew clean jar` and run it with `java -jar build/libs/ODK\ Briefcase\ v1.9.0-beta.0-18-g277909e.jar -h`.
Se

[2018-02-05 04:04] yanokwa opened #343 "Add a code of conduct"
Add a CODE_OF_CONDUCT.md file just like Collect. https://github.com/opendatakit/collect/blob/master/.github/CODE_OF_CONDUCT.md

[2018-02-05 04:38] yanokwa commented on #339
I did this and I agree it is confusing.

Maybe we should go for a dark green when it is enabled? `008000` is a nice shade that I like.
<img width="96" alt="screen shot 2018-02-04 at 20 37 24" src="https://user-images.githubusercontent.com/32369/35788624-4c75ec2c-09eb-11e8-8975-de11087da937.png">

[2018-02-05 06:44] #340 closed

[2018-02-05 06:44] #341 closed

[2018-02-05 06:44] #342 closed

[2018-02-05 07:17] ggalmazor commented on #339
We're talking foreground color, n'est pas?

[2018-02-05 11:11] mayank8318 commented on #343
@opendatakit-bot claim

[2018-02-05 13:52] #343 closed

[2018-02-05 13:55] #339 closed

[2018-02-05 14:09] #338 closed

[2018-02-05 15:04] yanokwa commented on #256
I think we can keep `-pa` for backwards compatibility (but warn about deprecation) and introduce `-psha` and `-plla` when we add push from the CLI. It doesn't really make sense for Briefcase to push to an SD card for Collect, but `pshc` would work nicely there.

We need to do a refactor of pull first, then push, then we can add CLI support. Does that plan sound reasonable, @ggalmazor? Do you want

[2018-02-05 15:12] ggalmazor commented on #256
OK, sounds good.

If you want these changes on different PRs, we can add a checklist on the main comment to track progress.

[2018-02-05 15:54] yanokwa opened #348 "Upgrade libraries to the latest minor release"
#### Software versions
Briefcase v1.9.0

#### Problem description
Briefcase uses libraries that are out of date. Out of date libraries can have bugs that have been resolved, so we should generally be on the latest stable release.

We have to do this incrementally to avoid breakage and minor upgrades to libraries very early in our release cycle with extensive testing is the best way to do this.

[2018-02-06 05:20] #323 closed

[2018-02-06 11:42] ggalmazor opened #351 "Toggle the export button depending on form encryption and validness of PEM file location"
If the user selects an encrypted form, don't enable the export button until the user sets a valid default PEM file location or overrides each selected form's export configuration with a valid PEM file location.

For a PEM file location to be valid it must pass the following tests:
- Be a file
- Be readable
- Be parseable by `PEMParser`
- Contain a private key

These tests should be checked eagerly

[2018-02-06 11:42] ggalmazor commented on #351
@opendatakit-bot label "enhancement"

[2018-02-06 15:38] ggalmazor opened #352 "Bulk exporting more than one encrypted form fails"
#### Software versions
Briefcase v1.9.9, Java v1.8.0_161, Linux (Debian Buster)

#### Problem description
When the user selects more than one encrypted forms for export, there's a filesystem concurrency problem and only one form is successfully exported.

#### Steps to reproduce the problem
Select more than one encrypted forms and try to export. **The selected forms have to be at least one encrypt

[2018-02-06 19:46] yanokwa commented on #320
We don't want users messing around with the Briefcase Storage directory and there is a readme.txt file in that directory that says that. If users choose to do mess about in that directory, then I'm OK with weird things happening.

What we might want to do instead is to give users the ability to delete forms from the UI (See https://github.com/opendatakit/briefcase/issues/122).

[2018-02-06 19:46] #320 closed

[2018-02-06 19:49] yanokwa commented on #319
@kkrawczyk123 Do you remember how we can reproduce this?

[2018-02-06 19:52] #256 closed

[2018-02-06 19:54] yanokwa commented on #269
Thanks for sending in this @NaderBeshr!

I'm closing the issue because we can't take this on in the foreseeable future. When we have the cycles for a UI rework, we'll re-open this issue and discuss at that time.

[2018-02-06 19:54] #269 closed

[2018-02-07 07:21] kkrawczyk123 commented on #319
I just built an app and tried to run it by java -jar command on MacOS and didn't understand what happened as I was expecting run, so asked @ggalmazor fo help. I will try if I can reproduce that now.

[2018-02-07 10:29] ggalmazor commented on #319
Until we know how to reproduce it, one way to go could be to zip the storage directory and attach it to this issue when it happens again.

[2018-02-07 15:46] #348 closed

[2018-02-08 08:31] ggalmazor opened #355 "Compilation warning on CharsetConverterDialog.java"
This class is overriding a deprecated API and it's triggering a compilation warning:
[code]

#### Software versions
Briefcase v1.9.0, Java v1.8.0_161, Ubuntu 17.10

#### Problem description
Compilation warnings

#### Steps to reproduce the problem
Running `./gradlew clean compileJava` is enough to trigger the compilation warning.

#### Expected behavior
The project should compile without any compi

[2018-02-08 15:11] ggalmazor commented on #334
@opendatakit-bot unclaim

[2018-02-08 18:50] yanokwa opened #357 "Default analytics to “on” and inform users about need"
We are going to start collecting usage analytics and the PMC would like the analytics to default on and be opt-out. This is in line with our other products (Collect, Build, website, forum, docs, etc).

When there is an opportunity to turn usage reporting off, we can and should give people the option (See http://docs.opendatakit.org/security-privacy/#odk-collect) to turn it off.

- [x] Change setti

[2018-02-08 19:22] yanokwa opened #358 "Improve startup message"
I think the ODK start up message could be friendlier! I've drafted a first pass...
[code]

[2018-02-09 04:55] shobhitagarwal1612 commented on #355
Can I work on this?

[2018-02-09 05:11] yanokwa commented on #355
Sure! Claim away.

[2018-02-09 05:22] shobhitagarwal1612 commented on #355
@opendatakit-bot claim

[2018-02-09 15:37] ggalmazor opened #360 "We should be able to clear Java user prefs with a CLI op"
#### Problem description
Briefcase uses intensively Java's user preferences and testing different versions of Briefcase can be cumbersome for this reason. Each platform (mac, linux and windows) handles this in a different way and on macs you've even to reboot your machine to make any manual change have an effect.

#### Expected behavior
We should be able to run a CLI command that wipes all the sav

[2018-02-09 17:03] #360 closed

[2018-02-09 18:51] #355 closed

[2018-02-09 18:51] shobhitagarwal1612 opened #362 "No error is displayed while pushing the form with blank URL"
#### Software versions
Briefcase v1.9.0, Ubuntu 17.10

#### Problem description
No error is displayed in the UI while pushing the form without setting the URL. Although, in the console I can see the following error :

[code]

#### Steps to reproduce the problem
1. Goto `Push` tab
2. Leave the `URL` blank
3. Select one/more form(s)
4. Click on `Push` button

#### Expected behavior
Push status shoul

[2018-02-09 19:24] yanokwa commented on #180
Closing in favor of https://github.com/opendatakit/briefcase/issues/358

[2018-02-09 19:24] #180 closed

[2018-02-09 19:41] yanokwa commented on #174
I'm closing this because I also don't feel strongly about this given the current build. I think once we add  Export Types, we can revisit this issue.

[2018-02-09 19:41] #174 closed

[2018-02-09 19:49] shobhitagarwal1612 opened #363 "Push / Pull buttons are enabled by default"
#### Software versions
Briefcase v1.9.0

#### Problem description
The `push` and `pull` button in the `Push` and `Pull` tabs are enabled by default (ie when no forms are selected)

#### Steps to reproduce the problem

#### Expected behavior
They should be disabled

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2018-02-09 21:00] mayank8318 commented on #362
@shobhitagarwal1612 In PR #337 I am disabling the Push button if no URL is selected. Kindly check that :)

[2018-02-09 21:02] mayank8318 commented on #363
@shobhitagarwal1612 I am handling this in #337. Please check that PR. :)

[2018-02-10 03:41] shobhitagarwal1612 commented on #363
Duplicate of #335. Closing

[2018-02-10 03:41] #363 closed

[2018-02-10 21:44] icemc commented on #249
Hello @yanokwa I just rebased to the latest master and I wasn't able to reproduce this issue. The build passed with no errors. Note: OS is windows 10 and not windows 7

[2018-02-10 23:41] icemc commented on #228
@opendatakit-bot claim

[2018-02-10 23:49] icemc commented on #362
@opendatakit-bot claim

[2018-02-11 07:13] mayank8318 commented on #352
@opendatakit-bot claim

[2018-02-11 21:52] icemc commented on #362
Hello @mayank8318 are you working on this issue?

[2018-02-11 21:53] icemc commented on #362
Just noticed your comment above

[2018-02-12 01:30] yanokwa commented on #248
@icemc I love that you are taking on issues, but you are a bit of a Briefcase veteran so you should leave the quick wins for newer contributors and take on some harder issues!

[2018-02-12 01:33] yanokwa commented on #249
Thanks, @icemc. @kkrawczyk123 Since you filed the issue, can you see if you can reproduce this?

[2018-02-12 07:59] icemc commented on #248
Hello @yanokwa great idea. Could you please suggest one you think will be good for me.

[2018-02-12 07:59] icemc commented on #248
@opendatakit-bot unclaim

[2018-02-12 09:58] mayank8318 commented on #362
@icemc Yes in my PR this issue will not happen.

[2018-02-12 10:28] mayank8318 commented on #352
@ggalmazor I am not being to replicate the error? Even if I give the location of any one PEM file, both the forms are exported successfully.

[2018-02-12 12:26] ggalmazor commented on #334
This one is tricky to solve in a contained manner. We're making `HttpClientContext` thread-safe, meaning that a thread will reuse the same instance, which has lead to the accidental coupling of different business operations: testing the server connection details, getting the remote form list and pulling submissions.

What we want is to avoid coupling problems between these operations, i.e., failin

[2018-02-12 15:47] #228 closed

[2018-02-12 17:45] jpknox commented on #357
Hello, this looks right up my ally; I performed the initial work to integrate Google Analytics into this repo 😃.

I can definitely do the non-GUI stuff but the actual construction and layout of the GUIs will be a blocker for me. I can hook up all the necessary back-end code interactions if a more front-end savvy developer wants to pick up the GUI stuff and work in collaboration with me on this.

[2018-02-12 17:48] dcbriccetti commented on #357
Hope you don’t mind the title change. (How do you *on and inform* a user?)

[2018-02-12 18:03] ggalmazor opened #366 "Unexpected behavior related to the connection settings dialog"
#### Software versions
Briefcase v1.9.0

#### Problem description
Given that a user doesn't select the "remember passwords" setting, when opening the connection settings dialog, then the current password from the `ServerConnectionInfo` object that's saved in memory on each `PullTransferPanel` and `PushTransferPanel` is removed.

If the user just cancels the dialog after that, the next pull would f

[2018-02-13 03:01] yanokwa commented on #357
@jpknox I think you'll find that the first three parts of this issue don't require any UI work. And the last you can do by filing an issue on the docs repo.

If you are interested in taking this on, reply with `@opendatakit-bot claim`