[2019-03-03 18:24] yanokwa opened #721 "Pull all forms when form_id is not specified"
#### Software versions
Briefcase v1.14

#### Problem description
There isn't an easy way to pull all forms on a server on the CLI. We should make this possible!

#### Expected behavior
When I run `java -jar ODK-Briefcase-v1.14.0.jar -plla -sd /Users/yanokwa/Desktop -u admin -p admin -url https://example.com` it should pull all forms.

#### Other information
This would match the behavior when pulli

[2019-03-04 11:11] ggalmazor commented on #719
Thanks for jumping in with the solution, @yanokwa!

[2019-03-06 09:03] ggalmazor commented on #719
Hi, @chrissyhroberts!

It's been some days since v1.14.0 and I wanted to ask you for any feedback you can give us in case you've been using it for the last couple of weeks :)

[2019-03-06 12:28] chrissyhroberts commented on #719
Looks good to me so far. Using it for all my big projects and it seems to work perfectly. SFL function is brilliant and seems robust. Running automated daily pulls and my progress charts haven't highlighted anything like whole days missing and so on.

I did wonder where the SFL info is stored. Presumably this is within the data folder and not in the app itself. Also might be interesting to think a

[2019-03-07 08:46] ggalmazor commented on #719
Thanks for the feedback, @chrissyhroberts!

The SFL cursor is stored using the Java Preferences system. Java uses some XML documents to store information somewhere in the user's computer. The location varies depending on the operating system.

User feedback (on the CLI and the UI) is a longstanding issue we need to address, but odds are that a full review won't come before v2.0, although maybe we

[2019-03-07 11:02] chrissyhroberts commented on #719
I think that a CLI arg to define date would be most useful.
Use cases

* I need to copy an ODK storage folder to another machine (breakdown, task delegation, restore from backup, balancing CPU loads) and would have to start from zero each time because RLP is in java folder on old machine
* I go away and the internet is really slow, so I ask my colleagues to pull specific date range on their machin

[2019-03-07 15:19] chrissyhroberts opened #722 "Briefcase CLI reports 'Error: with formId xxxx not found' if GUI has not previously built target storage dir"
#### Software versions
ODK-Briefcase-v1.14.0, java version "10.0.1", OSX

#### Problem description
If I run a CLI call to pull data from aggregate to a fresh directory which has not previously been used, briefcase reports `Error: with formId xxxx not found`
If I then open the Briefcase GUI and initiate a pull, the storage dir is created. After this, subsequent pulls with the CLI work

#### Steps t

[2019-03-07 16:53] yanokwa commented on #719
@ggalmazor I think the v2 database will solve the issue of moving an install between machine. And yeah, adding a date range would be a good feature!

[2019-03-08 16:26] ggalmazor commented on #722
Thanks for reporting this, @chrissyhroberts!

[2019-03-10 23:04] kunalmulwani commented on #721
@ggalmazor @yanokwa  I can work on this but I might need some help.

[2019-03-11 15:03] ggalmazor commented on #721
Sure, @kunalmulwani!

You can contact me here or in Slack. You can also create a "work in progress" PR so that I can review while you work on the changes.

[2019-03-13 09:56] ggalmazor opened #723 "Split select multiples with static itemset and predicates doesn't work"
#### Problem description
[Forum post](https://forum.opendatakit.org/t/briefcase-export-error-with-split-select-multiples-enabled/18356)

#### Steps to reproduce the problem
- Use this form to create some submissions: [choice-lists-predicate.zip](https://github.com/opendatakit/briefcase/files/2974987/choice-lists-predicate.zip)
- Pull the form with Briefcase
- Try to export it enabling the split-se

[2019-03-17 11:21] ggalmazor opened #725 "UnsupportedOperationException in TransferForms.clear()"
#### Software versions
Briefcase v1.4.0

#### Problem description
`TransferForms.clear()` throws an `UnsupportedOperationException` when the `forms` member holds an immutable list. This can happen when the list comes from a `Collections.emptyList()` call or an `Arrays.asList(...)` call.

[2019-03-24 18:00] hc02ca commented on #499
A simple (and probably superficial) solution might be to delete line statusHistory.setLength(0) from method clearStatusHistory() in class org.opendatakit.briefcasel.model.FormStatus.java. This will clear "success" after each pull/push while leaving detailed status intact for all pulls/pushes.
![Screen Shot 2019-03-24 at 1 59 46 PM](https://user-images.githubusercontent.com/14141058/54883573-1f808a

[2019-03-25 09:47] ggalmazor commented on #499
Hi, @hc02ca, thanks for joining the conversation!

I think you're right, but we should also make sure the UI cleans all those table cells once the user clicks on Pull.

We could even mark the start of a new pull with a new message in the status history to help reading the details.

[2019-03-25 12:23] ggalmazor opened #728 "Remove the legacy CLI"
Remove the `BriefcaseCLI` class and all downstream dependencies that are no longer used elsewhere, and simplify the `Launcher` class.

Doing this would break any existing pipeline that uses the legacy CLI, although we could argue that v2 can come with breaking changes, and there's been plenty of time for users to migrate to the new CLI since its introduction more than one year ago.

[2019-03-25 13:26] ggalmazor opened #729 "New CLI argument to start pull from arbitrary date"
Now that we can start pulling a form starting from the last date/submission pulled, we can add a new CLI argument to allow users to define a date from where to start a pull. The suggested argument would be `-sfd` `--start_from_date` and the accepted values would be ISO8601 dates.

[2019-04-11 13:58] #723 closed

[2019-04-11 14:00] #725 closed

[2019-04-11 14:01] #721 closed

[2019-04-11 14:11] #729 closed

[2019-04-11 17:36] hc02ca commented on #499
In pull status, how about  “Retrieving…” as it retrieves and then either “Success” or “Failed”
when it’s finished.

In the corresponding Status History, how about “Forms are ready for use”  if it’s a success.

In the corresponding Status History, how about “Forms were not retrieved. “ if it failed along with more details.

Possible reasons it failed: (Maybe)

1. Server connection was lost translat

[2019-04-12 09:48] ggalmazor commented on #499
Thanks, @hc02ca! All the information we're gathering in this issue is super valuable.

We've been working on improving the way Briefcase gives user feedback and handles log messages, and the things you're pointing out are clearly something we need to take care of. For example, all the details from your last screenshot should go into the log file instead of that dialog.

At this moment we're able t

[2019-04-12 10:33] mmarciniak90 opened #731 "Selection highlight is not visible behind the checkbox if Detailed Status window was opened"
#### Software versions
Briefcase current master
Ubuntu 18.04

#### Problem description
Selection highlight is not visible behind the checkbox if Detailed Status window was opened

#### Steps to reproduce the problem
1. User pushes some form
2. User clicks on `Details` icon
3. Selection highlight is not visible behind the whole row

![Screenshot from 2019-04-12 12-20-34](https://user-images.githubu

[2019-04-12 11:28] mmarciniak90 opened #732 "Clear All button is active on Export tab even if list is empty"
#### Software versions
Briefcase current master
operating system: Ubuntu 18, Windows 10 (MacOS was not verified)

#### Problem description
`Clear All` button is active on `Export` tab even if list is empty

#### Steps to reproduce the problem
1. User opens Briefcase (first run, cleared prefs)
2. All lists are empty
3. User sees that `Select All` button on Pull/Push tabs is inactive but `Export` ta

[2019-04-12 12:19] mmarciniak90 opened #733 "Export button is always active"
#### Software versions
Briefcase current master
operating system: Windows 10, Ubuntu 18 (MacOS was not verified)

#### Problem description
Export button is always active

#### Steps to reproduce the problem
1. Empty list
![Screenshot from 2019-04-12 13-22-43](https://user-images.githubusercontent.com/3907554/56036723-da5dc280-5d2d-11e9-87c5-77a7d5f3d5ef.png)

2.  No forms have been selected
![Scre

[2019-04-12 12:25] #733 closed

[2019-04-15 05:44] ggalmazor commented on #731
Hi, @mmarciniak90!

I can't reproduce the issue in Ubuntu 18.04:

![image](https://user-images.githubusercontent.com/205913/56109649-c98d9680-5f51-11e9-8a34-2b49f1e6551c.png)

In any case, it looks like a bug in Swing, not in our code. Could you tell me what JVM version are you running please? If I run `java -version` this is what I get:

[code]

[2019-04-15 05:49] ggalmazor commented on #732
Thanks, @mmarciniak90! I've been able to reproduce the issue.

We'll have to fix it an upcoming release to avoid compromising the current code-freeze for v1.5.0, though

[2019-04-15 08:49] joha1 opened #734 "Feature request(?): simple XML to CSV export"
I'm using ODK Briefcase together with [geoODK collect](https://github.com/GeoODK/collect) on a mobile phone.

So the phone gets an XML that defines the questions for the survey and after the fieldday, there's an XML file with the days work at `F:\internal memory\geoodk\instances\My_project_name_current_date` and a bunch of JPGs, since geoODK can add pics to a survey.

What I need, is simply a huma

[2019-04-16 11:34] kkrawczyk123 opened #735 "No information when trying to pull not existing form from odk dir using cmd"
#### Software versions
Briefcase v1..x, Java v1.x.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description
There is no information that form does not exist when trying to pull not existing form from odk dir using cmd

#### Steps to reproduce the problem
1. Use cmd and pull from odk dir command, as id use a random word so that form won't exist in your sd
2. Check the cmd o

[2019-04-17 06:13] ggalmazor commented on #719
Hi, @chrissyhroberts! You might want to try out the new v1.15.0 release which adds a new CLI arg to "start from date". The date would match the internal Aggregate update date of a submission, which corresponds to the date when it was last inserted or updated in its database.

[2019-04-17 09:30] chrissyhroberts commented on #719
Thanks @ggalmazor. I'll have a look at it as soon as I get a chance. Thinking about this, now that we have three great pull/export features ```start-from-last``` and ```start-from-date``` and ```export-from-date``` what's now logically missing is ```export from last``` where briefcase looks at the target csv file, checks the last exported record and adds just the new ones.

SFL has saved us about

[2019-04-17 09:41] ggalmazor commented on #719
Solve a bottleneck only to reveal the next one! :)

The new export flag makes sense to me. I'll add it to the pipeline to start discussing it

[2019-04-22 05:16] #677 closed

[2019-05-09 07:01] ggalmazor opened #737 "Use Swing form classes as containers instead of having to implement getContainer() methods"
In parent-child UI component situations, we commonly need to get a `JPanel` instance to set as the parent of some other component, or to anchor a dialog to some specific part of the view, instead of the main window.

To achieve this we currently create `JComponent getContainer()` in all form classes built by the UI Designer, but it feels that a better solution would be to use the form class instan

[2019-05-09 11:18] ggalmazor opened #738 "Review assets from the export packages that are being reused by the pull/push packages and move them to reused packages"

[2019-05-16 23:04] hc02ca commented on #499
IntelliJ no longer runs briefcase. It's able to run Validate though.  Any ideas?

![Screen Shot 2019-05-16 at 7 01 26 PM](https://user-images.githubusercontent.com/14141058/57892577-6e2f1c80-780d-11e9-88ed-e05f528fbeed.png)
![Screen Shot 2019-05-16 at 7 02 07 PM](https://user-images.githubusercontent.com/14141058/57892586-72f3d080-780d-11e9-9b61-943514259a4f.png)

[2019-05-17 06:26] ggalmazor commented on #499
There has to be something wrong with your particular IntelliJ project setup. I use it every day and I can launch Briefcase with no problem.

Maybe try with the File > Invalidate cache / Restart option

[2019-05-17 15:32] batkinson opened #739 "NPE using split select multiple + itemset"
#### Software versions
Briefcase v1.15.0, OpenJDK v1.8.0_212, Linux Mint 19.1 Tessa

#### Problem description
It is not possible to export a form containing both static and dynamic selects when the "Split select multiples" option is enabled for some forms. The relevant log message when this is encountered follows:
[code]

#### Steps to reproduce the problem

1. Extract and deploy [the test form](h

[2019-05-17 16:57] batkinson commented on #739
The offending line:

https://github.com/opendatakit/briefcase/blob/v1.15.0/src/org/opendatakit/briefcase/export/Model.java#L281

It looks like @ggalmazor already fixed this in commit b01a18ca50cd, but the reason is not apparent since it was bundle with a number of changes with a commit message of only: "Remove unused artifacts". Not ideal.

Anyway, it looks like this just needs to be released to a

[2019-05-17 17:05] batkinson commented on #739
Actually, I just re-opened so it doesn't get lost in the shuffle before people have a chance to see it. Feel free to close at will at your discretion.

[2019-05-17 21:38] ggalmazor commented on #739
Thanks, @batkinson!

[2019-05-17 21:38] #739 closed

[2019-05-27 18:14] hc02ca commented on #499
When you mean clear the UI did you mean to call refresh() on it? Like the below code:

In PullPanel.java class:

view.onAction(() -> {
  view.setWorking();
  view.refresh();   //redraw table
  forms.forEach(FormStatus::clearStatusHistory);  // delete line statusHistory.setLength(0) in method

 // pulling action starts below

    new Thread(() -> source.ifPresent(s -> pullJobRunner = s.pull(

[2019-05-29 00:55] lognaturel opened #740 "Audit summary CSV header should match received audits"
#### Software versions
Briefcase v1.15.0

#### Problem description
The audit summary CSV exported by Briefcase always has the header `instance ID, event, node, start, end`. However, the log may now include more columns as described at https://github.com/opendatakit/xforms-spec/pull/234/files.

#### Steps to reproduce the problem
Collect data using a form that audits user location, value changes or

[2019-05-30 18:09] Rutayuga commented on #612
Dear @jpknox and @yanokwa  How did you solve this Error below ? I cannot pull data from Briefcase
Fetching form definition
resolving against briefcase form definitions
Error parsing form definition: org.opendatakit.aggregate.exception.ODKIncompleteSubmissionData: Javarosa failed to construct a FormDef. Is this an XForm definition?

[2019-06-03 09:35] ggalmazor commented on #499
I'm sorry, @hc02ca... I think I need more context to understand what you're asking. Can you point me to the line where I'm using "clear the UI"

[2019-06-03 10:01] ggalmazor commented on #612
Hi, @Rutayuga!

We're already trying to figure your issue out [in the forums](https://forum.opendatakit.org/t/fetching-form-definition-resolving-against-briefcase-form-definitions-error-parsing-form-definition-org-opendatakit-aggregate-exception-odkincompletesubmissiondata-javarosa-failed-to-construct-a-formdef-is-this-an-xform-definition/20160). Please, let's move the conversation there.

[2019-06-03 10:16] ggalmazor opened #741 "Briefcase fails to parse forms that have pulldata() expressions"
This issue must be completed with further data and assets:
- [ ] Provide a simple form that reproduces the error
- [ ] Provide feedback after reproducing the error

#### Software versions
Briefcase v1.15.0

#### Problem description
User in the forums reports this issue https://forum.opendatakit.org/t/odk-briefcase-error-on-export/20197

#### Steps to reproduce the problem
(pending)

#### Expected

[2019-06-10 09:47] kkrawczyk123 opened #742 "Pulling/Pushing form with media files with no submissions takes forever."
#### Software versions
Briefcase v1.15.x, Java v1.x.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description
Pulling form with media files with no submissions never stops even if the form and media are already downloaded and visible in the storage directory. The progress bar is working, Cancel button is visible, Pull tab is grayed out. The same behavior is visible when pu

[2019-06-12 00:08] yanokwa opened #743 "Add update notifications to footer for when new versions are released"
This is hopefully a minor and non-controversial request so I'm putting it here as an issue instead of a forum post.

We should let people know when there are new versions of Briefcase. My preferred approach here would be to do what we do in Aggregate with a non-blocking call to GitHub. In the lower left-hand side of every tab, we put the following:
* Current version: vx.y.z
* Old version: vx.y.z -

[2019-06-17 09:55] kkrawczyk123 commented on #742
Confirmed that it has been fixed in #736.

[2019-06-17 09:55] #742 closed

[2019-06-18 21:27] yanokwa commented on #741
@ggalmazor Do you think we can get this into the next release?

[2019-06-19 00:11] yanokwa opened #744 "Provide more useful error when the URL is wrong"
https://forum.opendatakit.org/t/briefcase-unable-to-load-from-configured-source/20486 is the post that inspired this issue. I think maybe we should (in my order of preference)

1. If we see `Aggregate.html` we remove it and everything after on connect. This is my preferred approach even though it means you can't have a URL with Aggregate.html. Seems unlikely that someone would have that.

1. Provi

[2019-06-19 19:09] ggalmazor commented on #741
It's hard to say, honestly. We're currently working on the feedback of the big PR and still finding minor stuff that's preventing us to release 1.16. Let's wait until Monday/Tuesday and see how it feels.

I'm anticipating a swift v1.16.1 followup anyway. We could get this one there.

[2019-06-19 19:13] ggalmazor commented on #718
I've actually tested this on (the upcoming) v1.16. It would be great to try to reproduce this before the release. /cc @kkrawczyk123

[2019-06-20 05:51] ggalmazor commented on #481
#736 brings back reusable connections, which makes this issue relevant again.

This is what I've been able to learn about this:
- This issue is exclusive of the interaction between Briefcase and Aggregate
  - Aggregate does a poor job of maintaining the logged user's session (one actually can't log out once they have logged in).
- Closing established connections or giving them a short time-to-live

[2019-06-21 17:50] yanokwa commented on #718
@ggalmazor Not clear on your message. You tried this on v1.16 and it worked with a HTTP proxy? If so, how exactly did you verify?

[2019-06-22 10:03] ggalmazor commented on #718
Sorry! Let me explain:

v1.6 brings a new HTTP client layer. While working on it, I verified that the HTTP proxy settings were being used to configure Briefcase's HTTP client. I didn't test it with a live proxy, though.

I just wanted to remember that we should/could test this along with the rest of v1.6 Q&A

[2019-06-26 07:53] ggalmazor commented on #741
Closed by #736

[2019-06-26 07:53] #741 closed

[2019-06-28 03:53] yanokwa opened #747 "Remove language about Google logins in Aggregate Server Configuration dialog"
Currently, the Dialog says:
`Username cannot be a Google login; it must be an ODK Aggregate username with...`

It should say:
`Username must be an ODK Aggregate username with...`

This is because we haven't supported Google logins for a few years now.

[2019-06-28 03:58] yanokwa opened #748 "Add language about where to get the project ID in the Central Server Configuration"
I think we can help people find their project ID when connecting to Central.

In the dialog, below the password, add this language.
`Project ID is the last number in the URL of the Project Overview`

For placement, look to the Aggregate Central Configuration dialog and match that placement.

[2019-06-28 04:02] yanokwa opened #749 "Improve the display of project ID in Central pulling"
Instead of
<img width="352" alt="Screen Shot 2019-06-27 at 8 59 17 PM" src="https://user-images.githubusercontent.com/32369/60316208-7a36ef80-991e-11e9-9ba8-35e2abbc51c0.png">

I think it'd be nicer to have
https://sandbox.central.opendatakit.org (Project ID: 23)

This way we match the dialog that the user saw when entering the project ID.

For bonus points, do this instead...
[code]
My assumption

[2019-06-28 04:11] yanokwa opened #750 "Briefcase DB error on Java 12"
I ran the following command on Java 12:
[code]

I got this error message:
[code]

I think Briefcase should work on newer versions of Java since Java 1.8 has changed licensing.

[2019-06-28 04:18] yanokwa opened #751 "Rename Maximum HTTP simultaneous connections"
`Maximum HTTP simultaneous connections` is too verbose. I think we should:
* Rename to `Maximum connections`
* Rename flag to `--mc` and `--max_connections`

If we did want to use all those words, the order has to be changed. It's subtle, but a native English speaker would say "Maximum simultaneous (or concurrent) HTTP connections". More at https://en.wikipedia.org/wiki/Adjective#Order.

Marking a

[2019-06-28 04:20] yanokwa opened #752 "Adjust placement of max connections in UI"
This is what I see on macOS Mojave

<img width="411" alt="Screen Shot 2019-06-27 at 9 16 49 PM" src="https://user-images.githubusercontent.com/32369/60316869-5032fc80-9921-11e9-8446-321681cb0a9f.png">

I think we should place the M in Max connections in line with the left part of the Start pull checkbox.

[2019-06-28 04:26] shreyanshrs44 commented on #747
Hi, I would like to work on this issue. How should I get started ?

[2019-06-28 04:29] shreyanshrs44 commented on #747
Right now I am trying to setup development environment as mentioned in Readme.md of repo.

[2019-06-28 04:43] yanokwa commented on #747
@shreyanshrs44 Read https://github.com/opendatakit/briefcase/blob/master/CONTRIBUTING.md.

[2019-06-28 06:35] ggalmazor commented on #748
Whoever addressing this issue, remember that you have to set up your GUI Designer in IntelliJ to make changes to the source code (search for it on the Settings). Then you can make the change to the `CentralServerDialogForm.form` file, and rebuild the project to make the changes to the companion `CentralServerDialogForm.java` file.

[2019-06-28 06:46] ggalmazor commented on #749
I'm punting on getting the project name, because it has to start before, in the configuration dialog. Users should be able to enter the Central URL and credentials (or QR, or hash, whatever we can get Central to make it easier), and then we should show a list of projects the user has access to.

That list would have a mapping from project ID to their names.

[2019-06-28 11:08] shreyanshrs44 commented on #747
Hi, I am trying to run briefcase, but there are exceptions. "error: package javax.xml.bind does not exist" -> this is mainly because  >Java8 has removed Java EE modules.

[2019-06-28 11:14] ggalmazor commented on #747
Hi!

Until PR #754 gets merged, you should use Oracle's Java 8 JVM

El vie., 28 jun. 2019 13:08, Shreyansh Sancheti <notifications@github.com>
escribió:

[2019-06-28 16:49] yanokwa commented on #747
@shreyanshrs44 And if you need multiple JVMs, one easy way to do that is https://www.jenv.be.

[2019-06-29 09:25] ggalmazor commented on #747
I'm a happy user of https://sdkman.io in Mac and Linux.
In Windows, I use https://github.com/shyiko/jabba

On Fri, Jun 28, 2019 at 6:49 PM Yaw Anokwa <notifications@github.com> wrote:

--
Guillermo Gutiérrez
@ggalmazor <http://twitter.com/ggalmazor>

[2019-06-29 10:18] shreyanshrs44 commented on #747
@ggalmazor Thanks for the suggestion. While using sdkman there is no option for oracle java instead I can see AdoptOpenJDK 8.0.212.j9/hs. Should I go ahead and install this ?

[2019-06-29 10:49] ggalmazor commented on #747
You're right... They removed Oracle releases because Oracle has changed
their licensing.

You could try Azul Zulu, but I'm not sure...

Alternatively, you can download the tarball distribution from Oracle and
use it manually.

El sáb., 29 jun. 2019 12:18, Shreyansh Sancheti <notifications@github.com>
escribió:

[2019-07-01 09:24] #749 closed

[2019-07-01 16:44] ggalmazor commented on #751
- I think we should leave the "HTTP" part.
- The "simultaneous" adjective has to do with how the HTTP client library works: it lets you define different limits to the total connections and the total simultaneous connections, but I agree that we can and should drop it.

[2019-07-01 16:52] ggalmazor commented on #752
While working on #751 I've studied this just enough to see it could be virtually impossible to get this test aligned. Blame Swing.

[2019-07-02 08:21] kkrawczyk123 commented on #481
@ggalmazor As the issue is not reproducible for Central I am opening an issue on Aggregate.

[2019-07-02 08:47] kkrawczyk123 opened #755 "Disabled details button is clickable when Pull all forms and Cancel pulling."
#### Software versions
Briefcase v1.16.x, Java v1.x.x, operating system, Aggregate v1.x.x, Collect v1.x.x...
not a high-priority issue

#### Problem description
Disabled details button is clickable when Pull all forms and Cancel pulling.

#### Steps to reproduce the problem
1. Log to Aggregate server
2. Click on Select All button
3. Click on Pull button
4. Click on Cancel button
5. Scroll the form

[2019-07-02 09:22] kkrawczyk123 opened #756 "Investigate export of submissions pulled from odk dir."
#### Software versions
Briefcase v1.15, 1.16.x, Java v1.x.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description
I have noticed that instances of Birds form pulled from odk dir are not exported to csv file. That instances do not have instanceId and it shouldn't be considered as an error but ignored in export. When I removed instanceId from one submission of All widgets

[2019-07-03 05:02] yanokwa commented on #751
Discussed with @lognaturel. She thinks the additional detail is fine, but the word order isn't. So, let's go with
* Rename to: `Maximum simultaneous HTTP connections`
* Keep the flag the same.

[2019-07-03 08:57] #750 closed

[2019-07-03 18:37] #751 closed

[2019-07-05 14:40] ggalmazor commented on #744
This is what I'm working on.

![aggregate dialog cleaning and validation](https://user-images.githubusercontent.com/205913/60729679-9997d300-9f43-11e9-9aef-7bb3600a3a0c.gif)

[2019-07-09 03:11] yanokwa commented on #744
This looks pretty good to me. If the URL cleaning is safe, I'd probably leave not give users the notification. You have my green light.

[2019-07-09 03:15] yanokwa commented on #752
@dcbriccetti As our resident Swing expert, do you think you could do this quickly?

[2019-07-09 06:12] ggalmazor commented on #744
What about this then?

![image](https://user-images.githubusercontent.com/205913/60863504-38ad1b00-a221-11e9-9ccf-7e836c4b5c72.png)

[2019-07-09 16:10] dcbriccetti commented on #752
Hi Yaw! I’ll have a look tonight, along with the other PR reviews.

[2019-07-10 08:12] dcbriccetti commented on #752
@ggalmazor, it seems from your note that you think Yaw wanted to align the M in Max connections with the text following the checkbox graphic. That’s not the case.

Anyway, did you rule out replacing the checkbox’s border?

<img width="1496" alt="Screen Shot 2019-07-10 at 1 11 18 AM" src="https://user-images.githubusercontent.com/55099/60952231-bcade400-a2af-11e9-838f-49fb07e11225.png">

[code]

[2019-07-10 09:33] ggalmazor commented on #752
Ugh, that makes sense! I was trying to align the label to the checkbox's label :/

Thanks!

[2019-07-10 10:01] ggalmazor opened #759 "Error parsing time strings with unsupported offset format"
#### Software versions
Briefcase v1.16.0

#### Problem description
Reported by @aurdipas [on the forums](https://forum.opendatakit.org/t/odk-briefcase-v1-16-beta/20600/21?u=ggalmazor)

Briefcase fails to export submissions with time fields encoded as `HH:mm:ss.sss±HH`. Briefcase expects time zone offsets to be expressed as `±HH:mm`.

#### Steps to reproduce the problem
- Unzip this form and submis

[2019-07-10 11:16] ggalmazor opened #761 "Encoding issues when pulling submissions with Arabic characters in Windows"
#### Software versions
Briefcase v1.16.0, Windows

#### Problem description
Problem reported by [forum user](https://forum.opendatakit.org/t/odk-briefcase-v1-16-beta/20600/9?u=ggalmazor).

#### Steps to reproduce the problem
- Unzip [kii_c5.zip](https://github.com/opendatakit/briefcase/files/3377170/kii_c5.zip) in the `forms` folder of your Briefcase storage directory, and reload forms
- Push the

[2019-07-10 14:55] ggalmazor commented on #752
OK, I followed your advice, @dcbriccetti, and I got here (moved just the first checkbox):

| OS | Before | After |
| --- | --- | --- |
| Linux |
![image](https://user-images.githubusercontent.com/205913/60979712-769a6400-a333-11e9-9c74-982f7c58979a.png) | ![image](https://user-images.githubusercontent.com/205913/60979062-59b16100-a332-11e9-8f63-2adba6be65ad.png) |
| macOS | ![image](https://user-i

[2019-07-10 15:31] ggalmazor opened #763 "Add Central pull and push CLI ops"
Now that we have support for working with Central using the UI, we should add new CLI ops to do the same using the CLI.

[2019-07-10 17:10] dcbriccetti commented on #752
I agree with you, @ggalmazor. @yanokwa, I don’t have a clean solution, but would be happy to research more. This may answer your question, “do you think you could do this quickly?”.

[2019-07-10 17:28] yanokwa commented on #752
Given that the two of you can't find a clean solution quickly, I think we've answered that we can't do this quickly. I'd vote to close this.

[2019-07-10 17:35] #752 closed

[2019-07-11 08:25] ggalmazor commented on #740
I'm assuming that input audit CSVs can have different headers depending on what features are enabled in each form. Depending on whether location tracking and/or change tracking is enabled or not, we could have up to 4 possible header combinations.

I'm also not sure if audit files from the same form could have different headers. Can the user toggle location/change tracking mid-campaign? Or maybe,

[2019-07-11 08:31] ggalmazor commented on #752
Well, I forgot to mention the obvious solution of using the `MetalLookAndFeel` (the one we are using in Linux) for all platforms xD #endTheFragmentation

[2019-07-11 08:46] ggalmazor commented on #743
OK, let me suggest a less intrusive alternative:
- We don't show the current version (it's on the window title)
- We only show the `Update available` link at the bottom of the window if there's an update available. Otherwise, business as usual.
  - The link is clickable

![image](https://user-images.githubusercontent.com/205913/61036262-0e965d00-a3c9-11e9-967b-c8f8ae095776.png)

[2019-07-11 15:35] #761 closed

[2019-07-12 08:00] ggalmazor commented on #747
Hi, @shreyanshrs44! This issue was accidentally solved by #758.

[2019-07-15 00:55] yanokwa commented on #743
I like showing the Update available when there is an update available. I think we need to show the current version somewhere for when people have problems. Maybe the title isn't the best place, but we need to put it somewhere accessible. Maybe settings?

[2019-07-15 06:20] ggalmazor commented on #743
Thanks!

Settings is a great place for that. I'll add it there in a new commit

[2019-07-15 08:10] ggalmazor commented on #743
OK! This is what I've done so far:
![version and update note](https://user-images.githubusercontent.com/205913/61202754-b329df00-a6e8-11e9-9258-c0ceef628f40.gif)

[2019-07-16 04:09] lognaturel commented on #740
With more coming.

The audit features are only configurable through the form. That means that if there's only one version of a form, you know for sure the needed headers.

Across multiple versions, the headers could change. I doubt this would be a common case so I think it's ok not to handle it now (or perhaps ever). How about comparing each submission's header to the output file header and showin

[2019-07-16 04:14] yanokwa commented on #743
IMHO, it'd be cleaner if we only show the footer when there is an update. Like why tell people you are checking for an update. Just do the work and tell me when I need to do something.

[2019-07-16 14:18] ggalmazor commented on #740
Thanks for the info, @lognaturel! This gives me a new perspective to think about this.

I'm trying to think a wat that avoids changing much the export process and making each row somehow compare to other rows is problematic, but I could try to extract the expected structure from the formDef and feed it to the row mappers that will append rows to the aggregated audit file.

[2019-07-16 14:20] ggalmazor commented on #743
OK, then:
- A toast that will pop up at the bottom edge of the window when there's an update available. Visible on all tabs.
- No toast or nothing when you're up to date
- The settings tab shows a permanent label with the Briefcase version you're running.

[2019-07-16 15:45] #759 closed

[2019-07-30 18:26] batkinson opened #767 "Forms with relative references cause pull and export to fail"
#### Software versions
Briefcase v1.13.1
openjdk version "1.8.0_212"
OpenJDK Runtime Environment (build 1.8.0_212-8u212-b03-0ubuntu1.18.04.1-b03)
OpenJDK 64-Bit Server VM (build 25.212-b03, mixed mode)
Linux Mint 19.1 Tessa
Pyxform v0.12.1

#### Problem description

Data managers using older versions of briefcase to pull and export form submissions are having problems when working with forms built

[2019-07-30 19:04] batkinson opened #768 "Pulls no longer work due to 'Unknown cursor format'"
#### Software versions
Briefcase v1.16.1
openjdk version "1.8.0_212"
OpenJDK Runtime Environment (build 1.8.0_212-8u212-b03-0ubuntu1.18.04.1-b03)
OpenJDK 64-Bit Server VM (build 25.212-b03, mixed mode)
CIMS v5.7 - a custom Aggregate-compatible server

#### Problem description
After updating to Briefcase 1.16.1 to try and avoid #767, we found that the software would no longer successfully pull form

[2019-07-30 19:19] batkinson commented on #768
In case it helps, the way I solved this issue was to add a fallback that simply treats cursors as opaque strings, similar to how the system worked before. You can see the way we fixed 1.16.1 to work here: https://github.com/cims-bioko/briefcase/commit/91ca88ac274a3c8e52222127c69c9119c8a64d96

[2019-08-01 09:11] ggalmazor commented on #768
Thanks, @batkinson! I'll take your `OpaqueCursor` and we'll hopefully release a v1.16.2 asap.

[2019-08-01 09:49] ggalmazor commented on #768
Also, I agree that an opaque cursor implementation should have been provided as a fallback in v1.16.

I'm not familiar with the kind of cursors you're using, but let me know if you think the "start pull from date/whatever" feature would be useful for your users. I know that we will eventually want that for Central as well.

[2019-08-01 09:56] ggalmazor commented on #767
#770 will deal with this in v1.16.2

[2019-08-01 19:45] batkinson commented on #768
Thanks @ggalmazor. I will look up the format and will share it with you. IIRC, it's a formatted submission date in UTC using a sort-friendly format. I suspect that it would be fairly simple to implement the feature with our scheme, but implementing it without coupling briefcase to implementation details every non-ODK system might be a challenge. It probably would have been better to add or extend

[2019-08-01 19:53] batkinson commented on #768
Yep, I remembered correctly. The cursor format we are using is just the the submitted date of the submission in the format 'yyyy-mm-dd hh:mm:ss.fffffffff'. This format is the one used by [java.sql.Timestamp.toString()](https://docs.oracle.com/javase/8/docs/api/java/sql/Timestamp.html#toString).

[2019-08-02 06:28] ggalmazor commented on #768
Thanks, Brent!

[2019-08-02 22:00] lognaturel commented on #767
I believe the explanation here is that [we considered this kind of repeat built from form content](https://github.com/XLSForm/pyxform/pull/187#issuecomment-403176004)

[2019-08-02 22:06] lognaturel commented on #767
Apologies for the re-opening and closing -- fat fingers.

This is surprising and unexpected to me. @ggalmazor, was it expected to you? Were you able to identify the JavaRosa change that fixed it? I can dig deeper if you haven't but I do think it would be helpful to understand. We discussed the pyxform change at very long length and did not expect this kind of incompatibility. We did have to make c

[2019-08-03 08:16] ggalmazor commented on #767
I assume it's due to the JR version in Briefcase 1.13.1 doesn't have the changes we made to support the ‘..‘ relative notation, but now it looks like my heuristics were wrong.

Even though the process for generating a form that reproduces the issue is described in the issue, I think I'd need to be provided a specific XML xform to tie it to a regression test in Briefcase. @batkinson, could you prod

[2019-08-04 04:41] lognaturel commented on #767
I believe a form with a nested repeat and a value in the outer repeat that is used as a jr:count for the inner repeat would repro if converted with the latest pyxform: https://docs.google.com/spreadsheets/d/1TGxq0qzrAhECTMo_EJ-kMz5IdAtndqspRzAzlZUspZE/edit#gid=0, [relative-jr-count.xml.txt](https://github.com/opendatakit/briefcase/files/3464529/relative-jr-count.xml.txt).

[2019-08-04 07:03] ggalmazor commented on #767
Thanks, @lognaturel! I'll work on that tomorrow :)

[2019-08-05 05:50] ggalmazor commented on #767
I've verified that Briefcase v1.16 can pull and export this form using the [Aggregate sandbox](https://sandbox.aggregate.opendatakit.org/Aggregate.html)

I'll wait for @batkinson's ACK to close the issue.

[2019-08-05 14:30] batkinson commented on #767
Hi, I am happy to take a look though I am confused about what the problem is and what I should be confirming. Should I just evaluate whether v1.16.1 works for the case I reported?

[2019-08-05 15:25] batkinson commented on #767
So, for what it's worth I confirmed that I was able to pull the form and submissions successfully using v1.16.1 (after I merged in the cursor fix in #768 to fix submissions).

[2019-08-05 15:28] ggalmazor commented on #767
Thanks, Brent! I think that what matters is that we have confirmed separately that this issue has been addressed somewhere between Briefcase v1.13 and v1.16.

[2019-08-05 15:28] #767 closed

[2019-08-05 15:29] lognaturel commented on #767
Thanks, @batkinson. We'll dig deeper into why there as an incompatibility in the first place. Your description said "relative references generated for repeats within a group" but it'd be helpful to confirm that your form has a structure like mine with nested repeats. I don't think the problem would show up with a repeat nested in a group (not a repeat) but it would be helpful to confirm that we ha

[2019-08-05 15:38] batkinson commented on #767
I likely misidentified the portion of the structure that was triggering the behavior. I knew that the relative ref was failing at the line of code ref'ing its parent (debugging it) and I think I just referenced the form and climbed the inference ladder. It definitely was not a rigorous identification of the culprit since I was scrambling to fix the issues quickly.

I suspect it does in fact match

[2019-08-05 15:52] batkinson commented on #767
@lognaturel, it does appear that the form we experienced this with matches the general structure of yours. The nesting was not obvious since the outer repeat was quite long. I also forgot that repeats are rendered as a group and repeat element in xml.

[code]

[2019-08-06 11:43] kkrawczyk123 opened #772 "Order the cmd help panel"
#### Software versions
Briefcase v1.x.x, Java v1.x.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description
Currently, params in the cmd help panel are displayed in the random order. It wasn't that visible until Central cmd ops were not added, now it has grown and requires scrolling action.
My suggestion for ordering is:

Available operations:
Params for -plla operation:

[2019-08-06 16:27] mayank8318 commented on #755
@kkrawczyk123 I can try solving this issue to get familiar with the codebase again. Can you provide a zip file of the forms or point me to a link so that I can download these and upload to my local aggregate server to replicate the issue? :)

[2019-08-06 16:32] ggalmazor commented on #755
Hi  @mayank8318! Good to have you back :)

I think the best thing you could do is to pull all the forms at https://sandbox.aggregate.opendatakit.org (10 at this moment) and reduce the height of the window so that some of them overflow the bottom of the form table.

[2019-08-06 17:11] #768 closed

[2019-08-06 17:20] ggalmazor opened #773 "Ensure the UI resets after failures"
#### Problem description
We have detected that the pull UI doesn't reset when there's an error while getting the session token from Central (not the one we request for the list of forms, but the second one we request to support the pull operation).

#### Steps to reproduce the problem
N/A

#### Expected behavior
The UI should always reset after a failure.

[2019-08-06 17:27] lognaturel commented on #767
I misread @ggalmazor's message [here](https://github.com/opendatakit/briefcase/issues/767#issuecomment-518094977). He said my test form works on 1.16.1 which is the unpatched version. That means the nested repeat is not the culprit.

Any chance you could share your full form, @batkinson? If not, is this a form that you modify by hand? Is it possible that you define a select that pulls choices from

[2019-08-06 17:39] ggalmazor commented on #768
Just wanted to mention that we've just released v1.16.2 with this fix, @batkinson

More info at https://forum.opendatakit.org/t/odk-briefcase-v1-16/20742

[2019-08-06 18:05] batkinson commented on #767
I likely can't publish it, but I can share it privately if it helps. Just fair warning, it's a bit of a monster. To answer your question, yes, we do edit this manually.

Yes, this form is edited to add two selects that select from repeats. However, the reason I highlighted the question above is that it is the one causing the failure. The stack trace is from that question, which I captured in the d

[2019-08-06 18:19] mayank8318 commented on #755
@ggalmazor okay that sounds good

[2019-08-06 20:52] lognaturel commented on #767
To be clear, I'm trying to hunt this down so we can evaluate the likely impact and see if there's any further action needed. Thanks for sharing your form, @batkinson. It turns out my little toy sample was sufficient to reproduce after all. I didn't realize this was a report on an old version and got confused between v1.16.1 and v1.13.1.

It looks like the fix at https://github.com/opendatakit/java

[2019-08-07 02:50] yanokwa opened #775 "Push all forms when form_id is not specified"
**Problem description**
Similar to https://github.com/opendatakit/briefcase/issues/721, there isn't an easy way to push all forms from the storage directory into a server.

**Expected behavior**
Running a command like (and the Aggregate equivalent) will push all forms.

`java -jar briefcase.jar --push_central --storage_directory /home/ --odk_url test.central.com --project_id 1 --odk_email me@email

[2019-08-07 02:51] yanokwa commented on #775
What do you think, @ggalmazor? Good idea? Doable to add into v1.17?

[2019-08-07 14:49] mayank8318 commented on #755
I am unable to reproduce the issue. All my forms show status as "Cancelled by user" and the details button is activated and clickable

[2019-08-07 15:24] mayank8318 commented on #735
@opendatakit-bot claim

[2019-08-08 06:47] ggalmazor commented on #755
The key to reproduce the issue is to have more forms than the ones that fit
in the scrollable area of the form table.

If you can scroll up/down the table rows, then once you finish the pul,
only the detail buttons of the visible rows.will be enabled. The others
will be clickable but greyed out.

El mié., 7 ago. 2019 16:49, Mayank Vaidya <notifications@github.com>
escribió:

[2019-08-08 07:02] kkrawczyk123 commented on #755
I am also able to reproduce the issue. As Guillermo mentioned above you have to  **have more forms than the ones that fit in the scrollable area of the form table.** The easiest approach would be to use Select All button, then Pull button and Cancel button, details button would be enabled in the top of the list form. Then, scroll the list of form - details buttons would be disabled but if you clic

[2019-08-08 07:51] ggalmazor commented on #775
Yes! This is even a `good-first-issue` because there's similar code in `PullFormFromAggregate`.

Maybe we can persuade @mayank8318 to take a shot at it :)

[2019-08-08 08:51] ggalmazor opened #777 "Latest Central rejects multiple simultaneous auth methods"
#### Software versions
Briefcase v1.16

#### Problem description
Latest (bleeding edge) Central will reject request coming with both `Authorization: Bearer {{token}}` and a `__Host-session` cookie.

This results in users not being able to pull forms (although listing the available forms works)

#### Steps to reproduce the problem
Connect to Central, pull a form.

#### Expected behavior
Pulling for

[2019-08-08 10:28] acj commented on #775
Sure, I'll take a look this weekend.

[2019-08-08 13:37] kkrawczyk123 opened #779 "Switch projects without Reset connection with Central"
#### Software versions
Briefcase v1.16.x, Java v1.x.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Description
Not a problem more like improvement suggestions came up to my mind. I think it would be great to enable changing Project Id without resetting the connection with Central. As the URL and user's credentials are not changing it would be very useful, comfortable and even time-

[2019-08-08 13:39] ggalmazor opened #780 "Parsing JSON Central responses fails when unexpected fields arrive"
#### Software versions
Briefcase v1.16.2

#### Problem description
Central has added an `updatedAt` field to the form attachments API endpoint, and this breaks the parsing code in Briefcase.

#### Steps to reproduce the problem
Pull All Widgets from https://test.central.opendatakit.org project 37

#### Expected behavior
It should pull without stopping in the form attachment download step.

#### Ot

[2019-08-08 15:44] mayank8318 commented on #755
@ggalmazor @kkrawczyk123 Okay finally reproduced it. This issue is happening because we are never disabling the button, just setting the color LIGHT or DARK based on the status history text as follows:
[code]
Since this text is present for the forms that are currently being shown as disabled I think the correct behaviour would be to show all the buttons as clickable right?

[2019-08-08 16:06] mayank8318 commented on #755
I think I have figured out why it is happening -> `private final Map<FormStatus, JButton> detailButtons = new HashMap<>();` this hashmap doesn't have all the forms, hence the colour is set only for those forms which have appeared on the screen.

Proof -> Before selecting the forms, scroll the list once and then follow the same procedure. All the buttons will be of the proper color. As the list is

[2019-08-08 16:23] mayank8318 commented on #755
@opendatakit-bot claim

[2019-08-08 17:20] mayank8318 commented on #722
@ggalmazor Is this issue open?

[2019-08-12 06:39] ggalmazor commented on #722
It should be solved, but can you try to reproduce, @mayank8318?

If you confirm it can't be reproduced we'll close it :)

[2019-08-12 08:30] ggalmazor opened #783 "Write form metadata into a file in the storage directory"
As discussed in https://forum.opendatakit.org/t/briefcase-export-from-last/20028, we want to store metadata of forms into files in the storage directory. The goal would be to
1. make visible some data that Briefcase uses to pull and export forms and
2. enable power users to tinker with it to support their workflows

We should start with the following metadata:
- Last pull cursor metadata: type (ag

[2019-08-12 08:32] ggalmazor opened #784 "Mirgate reading/writing pull cursors from Java prefs to metadata files"
Based on #783

Now that we have metadata files in the storage directory with information about the last pull cursor of each form, we should use that instead of the Java prefs system.

[2019-08-12 08:34] ggalmazor opened #785 "Add new smart append feature to the CLI"
Based on #783

Now that metadata files contain information about the last exported submission, we can implement a new smart append feature that will read that metadata and include in the output files only those that have been submitted after the last exported submission.

Suggesting `-sa` and `--smart_append` CLI flag

[2019-08-12 13:58] kkrawczyk123 opened #786 "Add error message when log in to non-existing project on Central on Pull and Push tab"
#### Software versions
Briefcase v1.16.x, Java v1.11.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description
When input Id of non-existing Project on Central Connection Window and click on Connect button and log in but then “Briefcase wasn’t able to reload forms” I think that maybe some other error message should be displayed? The empty list is displayed and Pulling from

[2019-08-14 07:28] mayank8318 commented on #722
@ggalmazor it is solved. Couldn't reproduce :)

[2019-08-14 07:42] ggalmazor commented on #786
This is a great idea!

Central has [an API endpoint that could be used for this](https://odkcentral.docs.apiary.io/#reference/project-management/projects). Check the API docs at: https://odkcentral.docs.apiary.io

[2019-08-14 07:51] mayank8318 commented on #756
@kkrawczyk123 I think this is happening because the Birds form has a "repeat" field which requires the parents key or instance id to make the necessary linking in the repeats' CSV. All widgets form doesn't have this and so doesn't need to be linked to any other repeat CSV.

@ggalmazor

[2019-08-14 07:53] ggalmazor commented on #722
Awesome! Thanks, @mayank8318!

[2019-08-14 07:53] #722 closed

[2019-08-14 07:57] ggalmazor commented on #756
@kkrawczyk123, I've added the instanceID meta field to the Birds form here: [Birds.zip](https://github.com/opendatakit/briefcase/files/3500349/Birds.zip)

Could you use this form and try to reproduce the issue again with this form?

[2019-08-14 08:32] mayank8318 commented on #786
@opendatakit-bot claim

[2019-08-18 14:42] acj commented on #775
Yes, still working on this

[2019-08-19 07:47] ggalmazor opened #789 "Handle NPE populating choices of fields that depend on other fields inside repeats"
#### Software versions
Briefcase v1.16.2

#### Problem description
Briefcase has to collect all the controls in a form to support the "Split select multiple" export feature. It does so by traversing the form's model in search of `QuestionDef` nodes.

When one of those controls has a dynamic choice list that doesn't use external secondary instances, Briefcase will populate it. This is normally beca

[2019-08-19 08:34] ggalmazor opened #791 "Match case when finding xml elements"
#### Software versions
Briefcase v1.12

#### Problem description
When a form has two fields with the same name in different cases e.g. `Field` and `field`, it can get into problems when they don't share the same data type. In that case, we can't predict the matcher that will be used, which will produce errors when trying to transform incompatible raw values (as in, trying to parse a `2` as a datet

[2019-08-20 09:11] ggalmazor commented on #732
@mayank8318, would you be interested on checking on this one? First we would need to be sure it's still an issue and then close the issue or submit a PR with a fix. What do you say? ;)

[2019-08-20 09:19] kkrawczyk123 opened #793 ""Update available" displayed in two separate lines after choosing sd on MacOS"
#### Software versions
Briefcase v1.16.x, Java v1.11.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description
"Update available" notification displayed in two separate lines after choosing sd on MacOS like on the attached screenshot:
![Screenshot from 2019-08-20 10-40-49](https://user-images.githubusercontent.com/33342488/63333918-92355900-c33a-11e9-82d0-d676b50c9b66.png)

[2019-08-20 13:28] #777 closed

[2019-08-20 13:28] #780 closed

[2019-08-20 15:34] mayank8318 commented on #732
@ggalmazor okay on it :)

[2019-08-20 15:34] mayank8318 commented on #732
@opendatakit-bot claim

[2019-08-20 15:38] mayank8318 commented on #732
Yes, the issue is still there:

![Screenshot from 2019-08-20 21-07-15](https://user-images.githubusercontent.com/22395998/63361899-9c814280-c38e-11e9-98f7-bd6ed6e574ba.png)

[2019-08-21 07:42] #789 closed

[2019-08-21 07:42] #791 closed

[2019-08-22 09:09] mayank8318 commented on #735
@opendatakit-bot the PR has been reviewed and waiting to be merged :(

[2019-08-22 09:14] ggalmazor commented on #735
Ugh, this bot is quite impatient :P

[2019-08-23 09:47] #744 closed

[2019-08-23 09:50] #748 closed

[2019-08-23 09:51] #735 closed

[2019-08-23 09:51] #755 closed

[2019-08-23 10:00] #763 closed

[2019-08-23 10:08] #743 closed

[2019-08-23 10:29] #783 closed

[2019-08-26 07:18] #732 closed

[2019-08-26 08:11] #786 closed

[2019-08-29 20:17] yanokwa commented on #775
@ggalmazor I think this should be re-opened because we haven't added support for Central (unless I'm missing something).

[2019-08-30 05:44] ggalmazor commented on #775
I think you're right

[2019-09-03 20:02] joeflack4 opened #796 "XPathUnhandledException on export of forms using 3rd party client functions"
#### Software versions
- Briefcase v1.16.3
- Java v1.8.x
- Windows 10

#### Problem description
When doing an export, `XPathUnhandledException` occurs, causing Briefcase to hang indefinitely.

#### Steps to reproduce the problem
1. **XLSForm**: Convert to XML an XLSForm that has a custom functionality intended to be used by a 3rd party client, i.e. not ODK Collect, e.g. [JHU Collect](https://githu

[2019-09-04 04:42] #775 closed

[2019-09-04 06:39] ggalmazor commented on #796
Hi, @joeflack4! It would help us a lot if we could get example forms and submissions to reproduce and fix the bug. Could you maybe upload them to the sandbox server, or zip the files and attach them to the issue, please?

In the meantime I'll try to work with the stacktrace you've attached

[2019-09-04 06:48] ggalmazor commented on #796
Forms with custom functions like `trim` will work in any version of Briefcase previous to the introduction of the "split select multiple fields" feature, which requires form initialization.

Form initialization in JavaRosa requires declaring handlers for custom functions beforehand, but Briefcase doesn't scan for those before doing so.

[2019-09-04 07:43] ggalmazor commented on #796
We could compile a list of functions inspecting the `triggerableDAG`list inside `FormDef.dagImpl` and then filter it to get a list of custom functions, but that would require changes in JR. Thoughts, @lognaturel?

[2019-09-04 08:09] ggalmazor commented on #796
I've tried a brute force approach:
![image](https://user-images.githubusercontent.com/205913/64236960-b4fb6c00-cefb-11e9-8733-0b8e0d25f7cd.png)

This code triggers any triggerable defined for model fields and inspects the exception message to get a list of missing function handlers. Then, it creates dummy `IFunctionHandler`s (already was doing that for `pulldata`) and registers them.

Suepr hacky,

[2019-09-04 08:09] ggalmazor commented on #796
By the way, I'm reproducing the issue with this form:
[code]

[2019-09-04 08:18] ggalmazor commented on #796
I've created a draft PR with the code I've tried at #797

[2019-09-04 13:03] kkrawczyk123 opened #798 "Form list displayed without connection URL sometimes randomly"
#### Software versions
Briefcase v1.17.x, Java v1.11.x, operating system, macOS and Ubuntu 16

#### Problem description
Form list seems to display but the connection to specific aggregate is not visible, the user is able to pull forms with using the displayed form list. Screenshot attached:
![Screenshot from 2019-09-04 14-51-30](https://user-images.githubusercontent.com/33342488/64256861-8d6cc980-

[2019-09-04 13:04] kkrawczyk123 commented on #798
@ggalmazor Can you take a look if we can do something about that? It gets more serious when it happens randomly.

[2019-09-04 13:32] kkrawczyk123 opened #799 "Exporting form with repeat groups freezes Briefcase"
#### Software versions
Briefcase v1.17.x, Java v1.x.x, operating system Ubuntu, MacOS and Windows

#### Problem description
Briefcase freezes when trying to export form with audit and repeats.

#### Steps to reproduce the problem
Unpack attached zip in your sd and try to Export.

#### Expected behavior
User should be able to export form.

#### Other information
Form that I have used:
[audit_group_

[2019-09-04 14:48] kkrawczyk123 commented on #799
The issue is not connected with audits, only with repeats, I am also able to reproduce with form
[nested_repeats.zip](https://github.com/opendatakit/briefcase/files/3575054/nested_repeats.zip)

[2019-09-04 15:22] joeflack4 commented on #796
@ggalmazo Hey Guillermo. Big, big kudos from the PMA team for addressing this, and so quickly. I anticipated this would sit here for a long while.

Apologies for not seeing your comments until now, and that I did not include attachments. I'm glad you were able to reproduce.

Indeed, I experienced the same when using JavaRosa to initialize formDefs in [XformTest](http://github.com/pma-2020/xform-te

[2019-09-05 11:16] kkrawczyk123 opened #800 "Unable to export forms with punctuation charts in form name"
#### Software versions
Briefcase v1.17.x, Java v1.x.x, operating system, MacOS, Ubuntu, Windows

#### Problem description
Exporting form with punctuation charts in form name seems to be an infinite process, it freezes export tab.

#### Steps to reproduce the problem
Export form with punctuation charts in the form name (dots, slashes, probably spaces too)

#### Expected behavior
User should be able

[2019-09-05 12:21] kkrawczyk123 opened #801 "Unable to push form ui/cmd to Aggregate 1.7"
#### Software versions
Briefcase v1.17.x, operating system Ubuntu, MacOS and Windows, Aggregate v1.7.x,

#### Problem description
Pushing form to Aggregate 1.7 stops on
Start pushing form and submissions
Form doesn't exist in Aggregate
Sending form
and it is not continuing.

#### Steps to reproduce the problem
Try to push any form to Aggregate 1.7

#### Expected behavior
User should be able to pus

[2019-09-05 14:17] kkrawczyk123 opened #802 "Start pull form last submission pulled does not work after changing sd"
#### Software versions
Briefcase v1.17.x, Java v1.x.x, operating system Ubuntu, MacOS and Windows

#### Problem description
Start pull form last submission pulled does not work after changing sd

#### Steps to reproduce the problem
1. Select "Start pull from last submission pulled" checkbox
2. Pull form from Aggregate
3. Send new submission of the form from Collect to Aggregate
4. Change sd to ano

[2019-09-06 08:08] ggalmazor commented on #800
This is a dupe of #799

[2019-09-06 08:08] #800 closed

[2019-09-06 11:25] kkrawczyk123 opened #804 "Briefcase-Central actions are sometimes interrupted"
#### Software versions
Briefcase v1.17.x, Java v1.x.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description
Pull/Push form from/to Central is interrupted sometimes. On the clear state, it works without any problems.

#### Steps to reproduce the problem
I don't have any valuable reproduction steps for that issue, only log error:
2019-09-06 09:13:04,391 [ForkJoinPool-8-wor

[2019-09-06 15:27] ggalmazor commented on #802
That's not necessarily true. The cursor to "start from last submission" is stored in the `metadata.json` file at the sd.

By changing to another sd, you are probably using different metadata and cursors.

[2019-09-09 07:25] ggalmazor commented on #802
So, @kkrawczyk123 and I discussed this and we agree there's an expected behavior change that should be tested during the code-freeze phase of each release.

Now storage directories are expected to be portable, which means that when you receive an SD, forms should start pulls using cursors that are stored in the `metadata.json` files.

[2019-09-09 07:25] #802 closed

[2019-09-09 07:28] ggalmazor opened #806 "Metadata files should contain relative file paths"
#### Problem description
Current code in master generates `metadata.json` files with absolute paths to the form files, which make them not portable. Any path should be relative to the briefcase directory.

#### Steps to reproduce the problem
1. Pull a form and close Briefcase
2. Move the SD to another location
3. Open Briefcase and change the storage location directory in the settings tab.
4. Try

[2019-09-10 07:34] #799 closed

[2019-09-10 07:34] #801 closed

[2019-09-10 12:19] #806 closed

[2019-09-10 21:53] lognaturel commented on #796
As you say, parsing the exception messages really doesn't feel great, @ggalmazor. Have you tried your proposed solution with a form that has a lot of dependent logic? My guess is that it results in a noticeable slowdown.

I think this would be appropriate since other clients would benefit as well. It would be purely additive so virtually no-risk. I can think of two designs: adding a method that re

[2019-09-11 03:34] yanokwa opened #808 "CLI pull_aggregate fails with Error null"
```/usr/bin/java -jar /root/briefcase/ODK-Briefcase-v1.17.0-beta.0.jar --pull_aggregate --storage_directory /root/briefcase --odk_url https://server.appspot.com --odk_username manager --odk_password mysecret password```

Returns "Error: null".

The log is as follows:
[code]

ODK-Briefcase-v1.16.3-81-g0e0ee285.jar works great though.

[2019-09-11 06:27] ggalmazor commented on #808
This error is super strange, @yanokwa. Did you run another recent version of Briefcase by any chance?maybe the one from master before merging on that storage directory #807?

Your stacktrace points to a problem with your `metadata.json` files. Before #807, we encoded a `storageDirectory` property with the absolute path to the form's directory. After #807, we encode a `formDir` with a relative dire

[2019-09-11 06:36] ggalmazor opened #809 "Allow times in start and end filters of the export operation in the CLI"
As per forum conversation, users would like to be able to define an export date range filter with time resolution.

Currently, the `-start`, and `-end` CLI args allow ISO8601 formatted dates (e.g. `2019-01-01`).

The enhancement would consist in allowing ISO8601 formatted datetimes (as described in [this doc](https://docs.google.com/document/d/1vPuEgapHvYWINnoa9QiG1R0HWMiCS4_8vtP_Zx3bGec/edit#head

[2019-09-11 06:53] ggalmazor commented on #796
Not at all! I was just trying to provide a quick&dirty solution while we discussed changes to JR. I agree that it's the best course of action. A method that returns a list of functions without handlers looks like the best option.

If we get that going, we can ship the fix in v1.17.1

[2019-09-11 14:16] yanokwa commented on #808
Yup, I had an old version from master. I removed all the metadata.json files and reran it with the beta and all is well.

[2019-09-11 14:16] #808 closed

[2019-09-11 14:16] ggalmazor commented on #808
Cool, thanks!

[2019-09-11 15:24] lognaturel commented on #796
https://github.com/opendatakit/javarosa/pull/483 is broader and riskier than I had anticipated. I don't think it's realistic to get into v1.17.1. If you want to get a patch for custom functions then, maybe you're right that a quick and dirty solution might be a good first step.

If the idea is to replace it shortly and you can verify that performance is not too heavily affected, maybe that's reaso

[2019-09-12 12:27] chrissyhroberts opened #810 "Smart Append Not working on CLI"
#### Software versions
Briefcase 1.17.0-beta.0,
java version "10.0.1" 2018-04-17
Java(TM) SE Runtime Environment 18.3 (build 10.0.1+10)
Java HotSpot(TM) 64-Bit Server VM 18.3 (build 10.0.1+10, mixed mode)

#### Problem description

I tried the CLI ```-sa```  / ```--smart_append``` flags with an export of an encrypted form
All submissions were exported and the smart append did not appear to work

#

[2019-09-12 13:42] chrissyhroberts opened #811 "submission dates missing on export from Briefcase when pulled from Central"
Software versions

Briefcase v1.17.0-beta0,
Java v1.x.x, operating system, Aggregate v1.x.x, Collect v1.x.x...
java version "10.0.1" 2018-04-17
Java(TM) SE Runtime Environment 18.3 (build 10.0.1+10)
Java HotSpot(TM) 64-Bit Server VM 18.3 (build 10.0.1+10, mixed mode)

#### Problem description

SubmissionDate field is missing from exported data when data were pulled from a central server.

Affects

[2019-09-12 14:03] chrissyhroberts opened #812 "GUI fails to load after CLI used"
### Software versions
At least since Briefcase v1.16
java version "10.0.1" 2018-04-17
Java(TM) SE Runtime Environment 18.3 (build 10.0.1+10)
Java HotSpot(TM) 64-Bit Server VM 18.3 (build 10.0.1+10, mixed mode)
OS X 10.14.6

#### Problem description

Since at least 1.16, briefcase GUI fails to run if the CLI has previously been used.

Error message

Console output with keyword ```java``` reads as f

[2019-09-13 09:09] ggalmazor commented on #810
Hi, @chrissyhroberts! I see you're pulling forms from Central. Currently, Central doesn't add a submission date to submissions like Aggregate does. Therefore, date range filters and `--smart_append` won't work as you expect.

I'm not sure how could we support these features for forms pulled from Central.

[2019-09-13 09:11] ggalmazor commented on #811
This is basically the same issue as #810

The submission date information is added by Aggregate. Central doesn't change original submissions in any way, which means we don't have submission dates on submissions pulled from Central.

[2019-09-13 09:11] #811 closed

[2019-09-13 09:11] #810 closed

[2019-09-13 09:19] ggalmazor commented on #812
Hi, @chrissyhroberts! Thanks for reporting this issue.

I can't reproduce the exact behavior you're describing. Could you describe with more detail the CLI ops you're running before trying to open the GUI? Also, could you describe the situation before running the CLI ops? Did you run the GUI before that? Did you have your sd set, etc?

In my computer, it looks as if the `-pllc` operation clears my

[2019-09-13 09:28] ggalmazor commented on #812
OK. I've solved the issue I was having (losing prefs after CLI pull) and I will create a PR to fix it, but I'll wait for your feedback to add more fixes if I manage to reproduce what you're seeing.

[2019-09-17 19:42] yanokwa opened #815 ""Update available" text doesn't wrap properly"
When I run master, this is what the "Update available" looks like. I think it should always be on one line and not wrap. Not sure if this is a macOS thing. My guess is that it's not easily fixable. Any ideas, @dcbriccetti ?

*On launch* -  😄
<img width="581" alt="Screen Shot 2019-09-17 at 12 39 08 PM" src="https://user-images.githubusercontent.com/32369/65073759-59dc6700-d948-11e9-8a71-e77a956a66a

[2019-09-18 03:58] dcbriccetti commented on #815
Hi all. My guess is that it is easily fixable. Let me take a look now.

[2019-09-18 04:27] dcbriccetti commented on #815
Something funky happens when the window is sized narrower than a certain width. Maybe @ggalmazor already knows about this. But to improve this specific situation, setting the label’s minimum size before adding it to the frame keeps it from wrapping. It is not perfectly centered when in that funky zone. I’m happy to look at the larger resizing issue, but I suspect @ggalmazor may already have plans

[2019-09-18 08:24] ggalmazor commented on #815
Thanks, Dave!

Not really :D This is yet another chapter of Swing that I'd need to research. If you feel like you could save us some time, please, go ahead :)

I see that nothing really adapts to window size changes, right? I can see how there's a space to the right in one of Yaw's screenshots.

[2019-09-18 08:24] #796 closed

[2019-09-19 09:04] ggalmazor commented on #812
I've tried to reproduce the issue in a mac in case it was related with the operating system but I got the same results as in Ubuntu

[2019-09-20 09:03] #812 closed

[2019-09-20 19:51] dcbriccetti commented on #815
I’m looking at the broader resizing issue now.

[2019-09-20 21:05] dcbriccetti commented on #815
I’m having success.

[2019-09-24 11:56] chrissyhroberts opened #817 "-id flag does not appear to be optional on v1.17"
#### Software versions
Briefcase v1.17.0

#### Problem description
Using CLI tried omitting optional `-id` flag but briefcase reports that `-id` needs to be defined

#### Steps to reproduce the problem
java -jar ODK-Briefcase-v1.17.0.jar -sfl -sd "/DIR/" -U URL  -u admin -p password

#### Expected behavior
warning 'form id is required'

[2019-09-24 12:43] chrissyhroberts commented on #817
Sorry, my mistake - hadn't added -plla

[2019-09-24 12:43] #817 closed

[2019-09-25 06:24] rmatsunaga commented on #747
Hi is this issue still open? Can I work on it?

[2019-09-25 09:20] rmatsunaga commented on #567
Hi, is this issue still open? Can I work on it?

[2019-09-26 10:12] ggalmazor commented on #817
Thanks for testing this anyway! :)

[2019-09-26 10:15] ggalmazor commented on #747
Hi, @rmatsunaga! It looks like I commented about this issue being solved in #758 but forgot to close it. Sorry!

[2019-09-26 10:15] #747 closed

[2019-09-27 11:56] chrissyhroberts commented on #756
One of my users has reported unusual export behaviour in v1.16.3 and v1.17.
I have also seen this with GUI, though does not seem to be a problem with CLI.

Trying to export to disk seems to halt unexpectedly at n% progress. The GUI does not hang, but the export button de-greys and you can press again.
Initialising export again also halts, but not necessarily at the same place

Screenshot attached.

[2019-09-27 13:57] chrissyhroberts commented on #756
Here's some output from briefcase.log when this happened. Looks like some problem with encrypted forms

[code]

[2019-09-28 18:24] yanokwa opened #818 "Error in log from missing metadata.json"
Briefcase on the CLI reports an error:

[code]

The log has
[code]

[2019-09-30 19:49] yanokwa opened #819 "Export all forms when form_id is not specified"
Similar to https://github.com/opendatakit/briefcase/issues/721 and https://github.com/opendatakit/briefcase/issues/775

[2019-10-01 08:19] ggalmazor opened #820 "Missing submissions when pulling with -- start-from-date in different timezones"
#### Problem description
Given a computer at UTC+1 with Briefcase and a server at UTC+0 with Aggregate, when Briefcase CLI pulls a form adding `--start_from_date 2019-01-01`, then submissions belonging to 23:00Z (from the day before) and 0:00Z are not pulled.

#### Steps to reproduce the problem
- [ ] Provide a form and submissions to recreate the scenario
- [ ] Provide Briefcase CLI command

####

[2019-10-01 08:39] ggalmazor commented on #793
#816 is dealing with this and other general layout resizing improvements

[2019-10-01 08:39] ggalmazor commented on #785
Closed by #766

[2019-10-01 08:39] #785 closed

[2019-10-01 08:40] ggalmazor commented on #784
Closed by #766

[2019-10-01 08:40] #784 closed

[2019-10-01 08:42] ggalmazor commented on #798
So, we have established it's an async issue: when the form list request is slow, the user can reset the connection before the list gets rendered, which produces this confusing state where you have a list of forms and no source configured.

I'd say this is not an issue that prevents the user from working with Briefcase, but it would be nice to avoid confusing states such as this.

[2019-10-01 08:45] ggalmazor commented on #804
My guts feeling is that the way we interact with the form submission HSQLDB databases doesn't work well in a highly concurrent scenario.

This is a problem that Briefcase v2.0 won't have by design.

[2019-10-01 08:47] ggalmazor commented on #815
It's looking great! Thanks, Dave!

[2019-10-01 08:49] ggalmazor commented on #818
So, I have a couple of questions:
- Is this error breaking Briefcase or is it just something you've seen on the logs?
- Are you getting this when launching Briefcase or doing some specific action?

[2019-10-01 19:23] yanokwa commented on #818
It is not breaking. Just something I see in the logs.
I get this error pulling from Aggregate on the CLI.

[2019-10-02 08:09] ggalmazor opened #821 "Missing error details in Central non-success HTTP response log entries"
#### Problem description
A log entry is created every time Briefcase receives a non-success response from Central while pulling or pushing forms. This log entry includes information about the error thanks to a JSON object Central encodes in its responses.

Right now, we're parsing the JSON and storing the message in a `CentralErrorMessage` class, which gets interpolated into the log entry text. Si

[2019-10-02 08:17] florian42 commented on #821
Hi I will gladly help out and make PR later today..

[2019-10-02 08:18] ggalmazor commented on #821
Hi @florian42!

That would be perfect, thanks!

[2019-10-02 08:20] ggalmazor commented on #821
I'll try to provide you with a form and submissions that would reproduce the issue

[2019-10-02 08:41] ggalmazor commented on #821
@florian42, I've attached a zip with a form&submissions that will reproduce the issue when pushed to a Central server. If don't have access to a Central server, send me an email to ggalmazor@gmail.com and I'll create a user for you in the [sandbox server](https://sandbox.central.opendatakit.org).

[2019-10-02 08:48] ggalmazor commented on #818
It sounds like you're right and we shouldn't show that in the logs, but after looking to the source code, I think we might improve the code a little bit to prevent the error.

`FileSystemFormMetadataAdapter.serialize()` is responsible for writing metadata files in the storage directory. We could ensure the directory exists before trying to do so as we do [in](https://github.com/opendatakit/briefca

[2019-10-03 10:21] ggalmazor opened #823 "Put a timeout to the check for updates call"
#### Problem description
Briefcase gets stuck checking for updates for different network reasons (firewall, custom dns, lack of connectivity...) or if GH service is down.

#### Steps to reproduce the problem
- Edit the `/etc/hosts` conf file and create an entry for `api.github.com` pointing an IP address that won't respond HTTP calls such as `1.2.3.4`
- Launch Briefcase

#### Expected behavior
The

[2019-10-06 01:29] grantrzchan commented on #818
Hi there @yanokwa and @ggalmazor, this looks like a good first issue that I can contribute to. Can I take a stab at it?

[2019-10-07 08:40] ggalmazor commented on #818
Sure! I'll assign the issue to you :)

Thanks, @grantrzchan!

[2019-10-14 08:14] #815 closed

[2019-10-15 09:52] chrissyhroberts opened #824 "CLI can't find metadata.json file unless previously created by GUI"
If GUI has not previously created the ```ODK Briefcase Storage``` Directory and CLI is used to pull, briefcase creates the new folder, giving message

But later sends error such as

In logs this kind of thing

java.io.UncheckedIOException: java.nio.file.NoSuchFileException: ./foo/ODK Briefcase Storage/./foo/ODK Briefcase Storage/forms/formid/metadata.json
	at org.opendatakit.briefcase.reused.Unche

[2019-10-16 18:07] macdude357 commented on #214
I assume you are referring to code like this example:

https://github.com/opendatakit/briefcase/blob/0cc67e90b80fa92649ebc586f8b6b556bf1861ad/src/org/opendatakit/aggregate/form/XFormParameters.java#L30

In those cases, I assume you want to change that to private and add getters/setters if any other class is accessing those members directly?

[2019-10-18 21:18] macdude357 commented on #823
I can take a look at fixing this.

[2019-10-19 03:32] grantrzchan commented on #818
hi there, yes I am still working on this issue. My day job got in the way, but I should be able to start this weekend.

[2019-10-21 10:28] chrissyhroberts commented on #756
Further investigation of this and I think that there could be an issue of compatibility between modern versions of Briefcase and data collected with older versions of aggregate.

For instance, I have an old aggregate server still running (v1.4.15 Production)

If I export with **Briefcase v.1.17.0** I get partial export that halts and an empty CSV file

<img width="622" alt="Screenshot 2019-10-21 1

[2019-10-21 13:57] ggalmazor commented on #824
Thanks for reporting this, @chrissyhroberts!

Briefcase should create the `./foo/ODK Briefcase Storage/forms` subdirectory instead of just the `./foo/ODK Briefcase Storage` directory. I'm already working on a fix

[2019-10-21 14:10] ggalmazor commented on #214
That's right. More specifically, I think I'd expect IntelliJ's inspections to tell me which members (fields and methods) can have a reduced scope, and which one in each case.

[2019-10-21 14:13] chrissyhroberts commented on #824
Not sure what to suggest for reproduction, but this post on forum seems to have the same issue.

https://forum.opendatakit.org/t/problems-with-exporting-to-csv-via-cli/22786

One think I have started to wonder is if some of these incompatibilities are due to using new versions of Briefcase with older versions of Aggregate. i.e. is there something different in the way that Aggregate behaves in newe

[2019-10-21 14:20] ggalmazor commented on #824
Unfortunately, it's more probable that we(I) have introduced unexpected changes that could justify these issues. Thanks for the link to the forum post!

[2019-10-21 14:30] ggalmazor commented on #824
It's also strange that the sd path appears twice in the error, which could tells us that we're building paths incorrectly at some point.

@chrissyhroberts, could you maybe share the contents of one of the `metadata.json` files of a form that's failing?

[2019-10-21 14:32] ggalmazor commented on #824
OK, the relative path as sd does the trick. Now I can reproduce :)

[2019-10-21 14:34] chrissyhroberts commented on #824
Ah so if path were explicit it would pass. That's interesting.

I wonder if something similar could explain the issue of exports failing, which started happening in the same version release.

[2019-10-21 14:36] ggalmazor commented on #824
I'll check that too. Thanks!

[2019-10-21 14:45] ggalmazor commented on #824
Would you try this JAR to see if the error persist, @chrissyhroberts?

[briefcase_i824.zip](https://github.com/opendatakit/briefcase/files/3751412/briefcase_i824.zip)

[2019-10-21 15:19] chrissyhroberts commented on #824
With 1.17.0

With this beta
everything seems to work with regards pulling

[2019-10-21 15:21] chrissyhroberts commented on #824
Export still stalls, but this is data downloaded from an old version of Aggregate (v1.4.15 Production)

[code]

[2019-10-22 07:51] ggalmazor commented on #756
My first reading of the details you've provided is that modern Briefcase will stall once it gets to a decryption error while processing submissions and that older Briefcase will continue with the export nevertheless.

I'll investigate this and we'll probably have to change things so that errored submissions are ignored without halting the export process-

[2019-10-22 11:03] #821 closed

[2019-10-22 12:03] chrissyhroberts commented on #756
That's interesting. Presumably if a submission hits one of these `pad block corrupted` errors it never gets in to the CSV (assuming Briefcase skips and moves on with export)

So this means that some data that have been submitted will never find their way in to the CSV files; but the warning that this error happened is lost somewhere in the briefcase log.

Is there scope to output new logs such as

[2019-10-22 19:02] mayank8318 commented on #809
@ggalmazor I can give this a go :)

[2019-10-23 09:30] ggalmazor commented on #809
Sure!

[2019-10-23 09:47] ggalmazor opened #826 "Fix wrong language level API in master"
I accidentally got some of the work on the v2.0 branch into the master branch and now the master branch won't compile unless we set the language level to Java 11.

We need to reset the language level to Java 8 and make sure the project compiles.

[2019-10-23 09:53] #826 closed

[2019-10-23 10:05] ggalmazor commented on #756
I agree with this assessment.

Briefcase already creates a `(form name) - errors` directory inside the export directory where Briefcase copies source submission files that present some parsing error or are found to be invalid, but we don't currently include submissions with decryption issues.

It should be easy to include them so that you can process them accordingly.

[2019-10-24 17:51] mayank8318 commented on #809
@opendatakit-bot claim

[2019-10-24 22:55] narbigcito commented on #818
@opendatakit-bot asign

[2019-10-24 22:58] narbigcito commented on #818
@opendatakit-bot claim

[2019-11-04 20:49] macdude357 commented on #823
In looking at this I also found that the update request might return an HTTP 200 but the body would be a message that the API rate limit has been exceeded.  So the code should also check for that as well.  Do you want the timeout to be configurable or should it simply be a hardcoded value (say 30 seconds)?

Also, I assume you want to update the label that says "checking for updates..." to say some

[2019-11-12 18:20] yanokwa commented on #824
I can confirm that this version worked for me, @ggalmazor.

[2019-11-12 22:14] chrissyhroberts commented on #824
Sorry I thought I had already fed back on this one! Too many things going on at the moment.
Yes, as far as I can tell this does work.
Thanks!

[2019-11-14 17:14] jay4kelly commented on #331
@opendatakit-bot claim

[2019-11-15 22:51] cletusajibade commented on #818
@opendatakit-bot claim

[2019-11-18 23:56] grzesiek2010 opened #831 "Can't open Briefcase if one of the forms is broken"
#### Software versions
Briefcase v1.17.0

#### Problem description
The problem has been reported on the forum: https://forum.opendatakit.org/t/odk-briefcase-1-17-0-not-opening/23360

I was able to reproduce it using the attached form:
[fieldListSimpleTest.xml.txt](https://github.com/opendatakit/briefcase/files/3861222/fieldListSimpleTest.xml.txt)

you can do that using any form, just remove the la

[2019-11-19 10:57] ggalmazor opened #834 "Briefcase masks bad form definition causing errors"
#### Problem description
When pulling from Collect, `BadFormDefinition` exceptions are thrown in `catch` block, but the causing exception gets lost in the process.

#### Steps to reproduce the problem
N/A atm.

#### Expected behavior
`BadFormDefinition` should come with the causing exception so that we can get more insights about the error when reading through the logs.

#### Other information
N/A

[2019-11-19 14:59] ggalmazor opened #837 "Include submissions with decryption issues to the export error report"
As discussed at https://github.com/opendatakit/briefcase/issues/756#issuecomment-544929141, it would be valuable to include in the export errors report those submissions that can't be decrypted for some reason.

This issue should include:
- [ ] A form and some submissions with decryption issues.
- [ ] Ideas and background for target implementations

[2019-11-19 16:19] #834 closed

[2019-11-20 14:53] #831 closed

[2019-11-20 14:53] #824 closed

[2019-11-21 09:39] ggalmazor opened #838 "Reduce indirection and loose coupling with UI colors"
#830 introduces new UI table sorting methods that are loosely coupled with the colors we're using to represent active/inactive buttons. The methods also introduce indirection between "something having X color" and "that something having Y business meaning".

We should extract all related business concepts into some artifact that can be reused in both placed. For example, a `ExportConfigurationButt

[2019-11-21 20:02] jay4kelly commented on #838
@openda

[2019-11-21 20:02] jay4kelly commented on #838
@opendatakit-bot claim

[2019-11-22 08:46] ggalmazor commented on #838
Hi, @jay4kelly! Thanks for claiming this one. Since the solution will affect the design, we can discuss your ideas over in [Slack](https://slack.opendatakit.org/) if you want. I'll be around in the #briefcase-code channel.

[2019-11-22 14:14] DavisRayM opened #839 "Briefcase freezes when exporting forms that have a null version"
#### Software versions
Briefcase v1.17.1 & Briefcase v1.17.0

#### Problem description
Briefcase freezes while trying to export a form whose `metadata.json` has a null on the `version`. The logs show no error / warning and Briefcase just keeps infinitely loading.

#### Steps to reproduce the problem
Set `version` to `null` in the `metadata.json` of a form and try exporting the form

#### Expected

[2019-11-26 08:48] ggalmazor commented on #839
Thanks for reporting this, @DavisRayM!

[2019-11-26 08:54] ggalmazor opened #841 "No metadata is created when pulling from Collect or Form Definition"
#### Software versions
Briefcase v1.7

#### Problem description
No `metadata.json` file is created when pulling forms from sources other than Aggregate or Central. This produces errors when trying to fetch metadata belonging to the form key of forms pulled this way.

#### Steps to reproduce the problem
- Pull a form from Collect or Form Definition
- Export the form

#### Expected behavior
High-lev

[2019-11-26 09:00] ggalmazor commented on #839
Do you intend on working on a solution to this issue, @DavisRayM? Asking before jumping in :)

[2019-11-26 09:01] DavisRayM commented on #839
Sadly, I'm a bit too swamped to work on this...

[2019-11-26 09:32] ggalmazor commented on #839
No prob! I'll take it :)

[2019-11-26 11:10] ggalmazor commented on #839
OK, so far, this is what I got:
- I pulled the `Untitled Form` that's currently available in the sandbox server, including 3 submissions.

  This form has no version. Therefore its related `metadata.json` file has a null `version` property
- I was able to export all three submissions

This rules out just having `null` version in the `metadata.json` file as the single cause for the reported error,

[2019-11-26 11:23] ggalmazor commented on #839
I was able to get an error if I pulled a form with a version and then, after closing Briefcase, I changed its version to `null` in the `metadata.json` file.

This is expected because we use a combination of the form's id and version as a key to identify forms and link them to their submissions. The error comes because there's a mismatch between the form's definition - which has version - and its m

[2019-11-26 11:29] DavisRayM commented on #839
Hey,

- On the first question, no the form did not exist before pulling it.
- Pulled the form from the `Onadata` aggregate server(https://odk.ona.io) - Form was built using the `Form Builder` app present on the platform. Would it be inconvenient if i provided user credentials and a form that causes the uses for you to utilize in testing ?
- Pulled using the UI
- Exported using the UI

Not quite su

[2019-11-26 11:30] ggalmazor commented on #839
Yes! :) You can send them to ggalmazor@gmail.com if you'd rather not publish them here ;)

[2019-11-26 11:33] ggalmazor commented on #839
If you're referring to the different cursor structure., it's fine. It's because Ona and Aggregate use different cursor approaches.

[2019-11-26 11:40] DavisRayM commented on #839
Hey, sent the credentials.

[2019-11-26 11:51] ggalmazor commented on #839
Thanks!

I've been able to narrow down the cause of the problem. It turns out that when Briefcase asks Ona for the remote form list, Ona it's reporting that the `Testing Form` has no version, and creates a `metadata.json` file with a `null` version accordingly.

The problem is that when the form is pulled, there's a mismatch between the form's definition, that has version `v2E67Yj8FPMji2fK4r6bJ8`,

[2019-11-26 11:54] ggalmazor commented on #839
The bad news is that Briefcase doesn't expect to change identifying data such as the form's version when pulling them, which means that fixing this Briefcase-side will be a complex thing to do.

The easiest fix would involve Ona reporting the form's version correctly. I'll create an issue in their tracker to inform about this.

We can keep this issue open for now, just in case.

[2019-11-26 11:55] DavisRayM commented on #839
Thank you, an issue to deal with Ona not returning a version has already been opened. Was just not quite sure if that was the only cause of this.

Feel free to comment or track the issue [here](https://github.com/onaio/onadata/issues/1726)

Thanks once again :)

[2019-11-26 11:57] ggalmazor commented on #839
Thank you @DavisRayM!

[2019-11-26 12:00] ggalmazor commented on #839
Closing this issue, since it looks like we're trying to address a solution in Ona first.

[2019-11-26 12:00] #839 closed

[2019-12-03 17:18] jay4kelly commented on #838
I've implemented the export configuration button. I'm now working on the detail configuration button.

[2019-12-04 09:51] aurdipas opened #843 "export with remove group names ignored with CLI"
#### Software versions
Briefcase v1.17.1, Java v1.8.0_202, operating system Windows 10 Enterprise

#### Problem description
After pull. If I export via CLI with option --remove_group_names then the export has still group names. If I run the export via the UI all works corrrectly.
#### Steps to reproduce the problem
java -jar pathToBriefcase\ODK-Briefcase-v1.17.1.jar --remove_group_names  --split_s

[2019-12-04 10:48] ggalmazor opened #844 "Metadata files not portable between Windows and macOS/Linux"
#### Software versions
Briefcase v1.17

#### Problem description
Paths are stored using the standard directory separators from each platform, which means that Windows hosts will use `\` and macOS/Linux hosts will use `/`.

This causes problems when moving a storage directory created in Windows into a macOS/Linux host and vice versa.

#### Steps to reproduce the problem
Run Briefcase in Windows and

[2019-12-04 11:19] ggalmazor commented on #843
Closing issue, since the command should include `-e` in order to use the feature.

[2019-12-04 11:19] #843 closed

[2019-12-07 23:26] cletusajibade commented on #818
Yes,  I am still working on it. I just sent a pull request yesterday and
the tests passed.

[image: --]

Cletus Ajibade

[image: https://]
LinkedIn <https://www.linkedin.com/in/cletusajibade> | Twitter
<https://twitter.com/cletusajibade> | Facebook
<https://www.facebook.com/cjajibade>

*Tel: *
*+1-314-952-0402*

On Fri, Nov 29, 2019 at 10:06 AM Open Data Kit <notifications@github.com>
wrote:

[2019-12-16 19:32] yanokwa opened #848 "Pushing large data set results in Too many open files error"
#### Software versions
Briefcase v1.17.1, macOS 10.15.2

#### Problem description
Pushing a large data set to Aggregate results in Too many open files error.

I believe that these errors cause the push to stop entirely.

I cannot reproduce this on Ubuntu server, which suggests to me that this is a macOS-specific issue. Documentation would be a fine fix for this, but if we can work around it in cod

[2019-12-19 12:25] kkrawczyk123 opened #849 "Select all button is enabled in the middle of ongoing export"
Software versions
Briefcase v 1.17.1 master.x, Java v1.11.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description
Select all button is enabled in the middle of ongoing export, screenshot attached:
![Screenshot from 2019-12-19 13-18-20](https://user-images.githubusercontent.com/33342488/71173414-f6bde180-2262-11ea-8a93-3a8ad5b3c97f.png)

#### Steps to reproduce the proble

[2020-01-08 13:17] #214 closed

[2020-01-08 13:19] #331 closed

[2020-01-08 14:46] #838 closed

[2020-01-08 14:47] #818 closed

[2020-01-08 14:47] #841 closed

[2020-01-08 14:47] #844 closed

[2020-01-11 04:51] mdterrenal commented on #849
Hi! I would love to give this issue a go if it hasn't been resolved yet.

[2020-01-14 04:50] mdterrenal commented on #849
@opendatakit-bot claim

[2020-01-14 04:51] mdterrenal commented on #849
@opendatakit-bot claim --force

[2020-01-22 05:30] gilbva commented on #798
I created a pull request with a solution for this bug by blocking the reset and reload buttons while the forms are being loaded from the server, i was able to reproduce the bug very consistently by delaying the loading of the forms. I tested as much as i could and I think the solution is satisfactory, but let me know of any issue that may arise.

[2020-01-23 14:06] DavisRayM opened #852 "Unable to push forms to an aggregate server"
#### Software versions
Briefcase v1.17.2, MacOS Mojave, onadata v2.1.2

#### Problem description

Pushing a form to `onadata` freezes on `Sending Form`.

#### Steps to reproduce the problem

- Push a form(that doesn't exist in your account) to ona.io using v1.17.2

#### Expected behavior

The form should be pushed or an error should be raised on failure.

#### Other information
Briefcase log: [bri

[2020-01-31 01:53] hc02ca commented on #499
@ggalmazor

When you said "make sure the UI cleans all those table cells once the user clicks on Pull." did you mean clean all cells under

- pull status column (3rd column)

- detailed status column (4th column)

before a pull?

Or did you mean clean all cells under ALL four columns before a pull?

[2020-02-17 13:51] manulpgc85 opened #853 "Impossible Decrypt and Export v1.17.2"
#### Software versions
Briefcase v1.17.2 Java v11.0.6, Windows 10 v1709

#### Problem description

I was using ODK Briefcase and I could made pull but when I was trying export and decrypt a form with it show me an error on Java Console..

#### Steps to reproduce the problem

I configured pull from Aggregate server, select the forms and made a pull action. After that I went to Export tab  and into

[2020-02-24 04:34] yougis opened #854 "On pushToAggregate request header "X-OpenRosa-Version -> 1.0" is set twice and give a java Error under aggregate cause it parsing it as double "1.0, 1,0""
#### Software versions
Briefcase v1.7.2, Java v1.8, operating system, Aggregate v2.0.5

#### Problem description
Impossible to push aggregate forms

#### Steps to reproduce the problem
push form to aggregate 1.7.x or 2.0.5

#### Expected behavior
form should be pushed without error

#### Other information
`.... Bad Gateway
Sending submission 23 of 40
Error sending submission 23 of 40: Erreur Inter

[2020-02-24 04:54] yougis commented on #854
resolve by a workaround like this :

`if(!request.headers.containsKey("X-OpenRosa-Version")){
       commonsRequest.addHeader("X-OpenRosa-Version", "1.0");
     }`

Not sure it's very clean ...

[2020-02-27 23:54] hc02ca commented on #499
Hi @ggalmazor. Can you provide clarification to above question. Thanks!

[2020-03-02 16:22] ggalmazor commented on #853
Hi, @manulpgc85!

This doesn't apparently have to do with decryption.

The stacktrace points to a problem due to out of sync form cache and metadata files. You should be able to fix this situation by removing the cache file (`cache.ser`) at the root of your storage directory and all the `metadata.json` files in each form directory.

[2020-03-02 16:58] ggalmazor commented on #499
Hi, @hc02ca! Sorry for the delay of my answer. I haven't had the chance to deal with Briefcase lately.

Yes, I think that's what we're proposing as a fix.

[2020-03-02 17:37] ggalmazor commented on #852
Hi, @DavisRayM!

Before starting to comment on my findings, I have a question about the correct URL one should use. Should I use `https://ona.io` or `https://ona.io/ggalmazor`?

On to the issue now:

Let's establish first that Briefcase doesn't follow 302s. This is important because Ona will redirect `/formUpload` to `/formUpload/`.

If I use `https://ona.io/ggalmazor` as the server's URL, then th

[2020-03-03 06:29] DavisRayM commented on #852
Hi @ggalmazor,

Thank you for investigating this. The correct / advised endpoint to use on ona is `http://api.ona.io/ggalmzor`.

In regards to the sequence of requests expected by Ona; Onadata expects all requests to be authenticated via digest. We don't utilize session cookies on our endpoint (_This seems like something we should do, I'll bring this up on the onadata side_).

### _Ideal Sequence

[2020-03-04 06:31] DavisRayM commented on #852
@ggalmazor I'm curious is this change on our end required for other ODK tools(Collect) ?

[2020-03-04 10:44] ggalmazor commented on #852
Hi, @DavisRayM!

After discussing this with @lognaturel, we agreed on trying to bring back the retries from v1.15 and previous versions, since the OpenRosa standard doesn't tell anything about cookies.

I'm not sure. In any case, let's wait to see how difficult is going to be to have those retries back in Briefcase.

[2020-03-04 10:53] DavisRayM commented on #852
That would be awesome.

[2020-03-05 15:27] hc02ca commented on #499
This is from class org.opendatakit.briefcase.model.FormStatus.java
If the form is not selected and there is detailed status info, clear only status (3rd column) for that entry. Otherwise, for all other options, clear 3rd and 4th column.

 public synchronized void clearStatusHistory() {
    if ( isSelected != true && statusHistory.length() != 0){
           statusString = "";
   }else {

[2020-03-09 11:23] ggalmazor commented on #852
That'd be great, although I'm still exploring this issue... I think for now the most useful thing would be to confirm whether Ona is setting the correct value in the `Content-Length` header to the 401 responses. I'm getting a length of 114 bytes but the payload comes empty and Briefcase crashes when trying to consume it. This is the response I'm getting right now to the POST / request:

[code]

[2020-03-09 12:29] DavisRayM commented on #852
Mhh that's weird, the response with content-length `114` should have the following content:

![Screenshot 2020-03-09 at 15 26 34](https://user-images.githubusercontent.com/25849009/76212960-abd8b800-621a-11ea-86cd-8673a42ddaae.png)

Let me investigate this for a bit in `onadata`

[2020-03-09 12:30] ggalmazor commented on #852
Thanks! Also, note that that response is more than 114 bytes long!

https://mothereff.in/byte-counter has proven to be useful lately :D

[2020-03-09 12:31] ggalmazor commented on #852
In the meantime, I'm exploring alternative ways to make the request so that we don't crash for that reason.

[2020-03-09 12:45] DavisRayM commented on #852
Might have something to do with the `\n` not entirely sure if that is converted into a space or not(see below for what the actual content looks like). The `content_length` in Django (We usually use the common middleware from django to automatically set the content-length) is usually gotten from the length of the content in this case `len(string)` would be 114 but if I were to use a length counter

[2020-03-09 12:47] ggalmazor commented on #852
OK, I see.

If you can confirm that Ona actually responds that content, then Briefcase might be closing the connection too early, which would explain why it's failing to read the payload.

[2020-03-09 14:16] ggalmazor commented on #852
OK, @DavisRayM!

I've confirmed that I get truncated 401 responses from Ona using curl:

[code]

[2020-03-09 15:12] ggalmazor commented on #499
This is looking good to me, @hc02ca :) Let's tag @yanokwa in case he has some feedback to give about it.

[2020-03-10 06:10] DavisRayM commented on #852
Hey @ggalmazor, sorry for the late response. We don't seem to be doing anything different on the `/formList` vs `/formUpload` endpoints.

Mhh let me look into this.... I'm not sure why the connections are being closed.

[2020-03-10 09:55] DavisRayM commented on #852
We've been able to replicate and _kind of fix_ the connection close issue (still happens intermittently looking towards fixing that completely). Encountered the following error on Briefcase though.

<img width="1075" alt="Screenshot 2020-03-10 at 12 48 52" src="https://user-images.githubusercontent.com/25849009/76300775-5827a680-62ce-11ea-82cc-19942de5e921.png">

_Please use stage-odk.ona.io, for

[2020-03-10 09:59] ggalmazor commented on #852
Awesome, thanks! I'll check it now

[2020-03-10 10:11] ggalmazor commented on #852
Huh... I'm getting non-empty responses with my curl command, but Briefcase keeps getting them empty... Any ideas?

[2020-03-10 10:12] ggalmazor commented on #852
Could you copy the text from that error stacktrace here so that I can debug it?

[2020-03-10 10:15] DavisRayM commented on #852
[code]

[2020-03-10 10:16] ggalmazor commented on #852
Thanks! I think I have a working solution for the non-repeatable request error in that stacktrace. Let's see if I can sort out the empty response issue now...

[2020-03-10 10:16] DavisRayM commented on #852
Still looking into this but the only way to kind of bypass this is to retry 😅 .

[2020-03-10 10:18] DavisRayM commented on #852
If you have a branch with the suspected fix, I could try it out on my side. _The retrying bit can get a bit annoying_

[2020-03-10 10:19] ggalmazor commented on #852
The weird thing is that I'm launching both things (curl and Briefcase push) almost at the same time and I'm consistently getting non-empty responses with curl, and empty ones with Briefcase :/

[2020-03-10 10:23] DavisRayM commented on #852
Yea, I had the same issue a while back.... We have buffering enabled on post requests(the weird connection close happens if it isn't) but for some reason it just fails sometimes.

[2020-03-10 10:24] ggalmazor commented on #852
I just got one through! :) Yay!

Well, I got a 404 error while sending a submission now. Here's the HTTP exchange log:

[code]

It works as expected:
- First, it tries to send the submission without an auth header. It gets a 401 with an auth challenge
- Then it retries the request with an auth header.

Not sure why I'm getting a 404, though.

[2020-03-10 10:27] DavisRayM commented on #852
Awesome! I'm not quite sure exactly why you'd get a 404 but one reason you would get it is if the XForm version specified in the xml is not the same as the one onadata has.

_I look into solving the connection issue._

[2020-03-10 10:57] ggalmazor commented on #852
OK, let's recap then:
- It looks like Briefcase retries requests after 401s answering auth challenges by the server, as expected.
- It looks like Briefcase can't resend some requests

  I'm currently investigating this and I think I've found a way to improve it. Since it looks like you can reproduce this error in your environment, I'll push a branch with the changes so that you can verify whether

[2020-03-10 12:07] DavisRayM commented on #852
Sounds about right.

[2020-03-10 12:11] ggalmazor commented on #852
OK, I've pushed the change to make repeatable requests here: https://github.com/ggalmazor/briefcase/tree/repeatable_http_requests

Let me know if that solves the issue you're seeing. I've tried to reproduce it in my computer without success so far.

[2020-03-10 12:19] DavisRayM commented on #852
Nice, let me test it out. I hope the connection issue is solved on your side when using `stage-odk.ona.io` ?

[2020-03-10 13:11] DavisRayM commented on #852
@ggalmazor Able to replicate the issue

[code]

[2020-03-10 13:16] DavisRayM commented on #852
Here's the verbose log:

[briefcase.log](https://github.com/opendatakit/briefcase/files/4312584/briefcase.log)

[2020-03-10 16:33] lognaturel commented on #734
Sorry this slipped through the cracks, @joha1. In general, https://forum.opendatakit.org/ is the place to go for support and the Github repositories are for ongoing development.

You are correct that Briefcase only uses the XML files and attached media to generate an export. It's simpler to ask users to copy the full Collect directory rather than picking and choosing files.

Since this is an old i

[2020-03-10 16:33] #734 closed

[2020-03-11 11:22] ggalmazor commented on #852
Hi, @DavisRayM! It looks like I messed up the branch I linked yesterday and it didn't have the fix. I'm sorry for making you lose time on this.

I've created a PR with the fix at #856. Could you try again with the code from that PR, please?

[2020-03-11 11:24] DavisRayM commented on #852
Hey, no worries at all. Let me try it out.

[2020-03-11 11:34] DavisRayM commented on #852
@ggalmazor The fix seems to work fine on my side. Able to push forms and submissions now 🎉

[2020-03-11 15:23] ggalmazor commented on #852
Awesome! I'll fix this for review and QA then. Let's see if we can get this shipped by Friday tops

[2020-03-13 14:31] #854 closed

[2020-03-13 14:32] #852 closed

[2020-03-18 09:21] safi1993 opened #857 "Briefcase CLI for pushing update to form definition forces version update in the form definition even for simple media updates"
Briefcase CLI for pushing update to form definition forces version update in the form definition even for simple media updates.

Briefcase CLI takes too long and is also finiky for Version update even when there is purely media update. For simple media updates, CLI works for few hours but after that it fails until I update the version of the form in form definition.
This constraint goes away when

[2020-03-24 08:17] Freeedim commented on #853
I have the same problem with v 1.17.3.

When clicking "Export", it just hangs without consuming resources according to the task manager.
The complete exception trace does seem to point to decryption (see attachment). It seems the parser does not recognise the attribute "length" in:
<bind nodeset="/data/base64EncryptedKey" type="string" length="2048"/>

[2020-03-24 13:37] Freeedim opened #859 "Fails to pull encrypted attachment, says "FORBIDDEN""
#### Software versions
Briefcase v1.16.3 and v1.17.3 at least. Java 8 SE. Windows 10 1909

#### Problem description
When pulling instances of an encrypted form with versions 1.17.3 or 1.16.3 (and maybe others), the .xml files are successfully pulled but the .xml.enc attachments are not. The details window shows an error message for each instance: "FORBIDDEN", although the user is the owner and has

[2020-04-11 21:21] timkoon commented on #848
Depending on the OS, the file systems will be different in the number of opened files allowed.
https://linux.101hacks.com/unix/java-too-many-open-files/

In AggregateServer.java, on method `getPushSubmissionRequest()`, it's possible `new InputStream()` is called enough where it surpasses the allowed number of opened files.

To reproduce this problem, is the number of attachments large in the POST

[2020-04-16 20:45] lognaturel commented on #848
@timkoon, your explanation sounds just right. I talked to @yanokwa about the data he used to reproduce and he doesn't think that there were many attachments, just many submissions.

The first thing to check, I think, would be that streams are closed immediately upon successful submission.

[2020-04-16 20:53] lognaturel opened #860 "Central v0.8: media can't be pushed and pushing submissions requires manually publishing form on Central"
[Central v0.8](https://github.com/opendatakit/central/issues/113) introduces form definition drafts and versions.

Media attachments can only be pushed to draft form definitions, not to published ones. This means that Briefcase currently can't push media because it attempts to push to the published version.

Relatedly, when Briefcase pushes a form definition to Central, it remains a draft on Centr

[2020-04-16 20:57] lognaturel opened #861 "Central v0.8: draft form definitions are shown in pull listing"
[Central v0.8](https://github.com/opendatakit/central/issues/113) introduces form definition drafts and versions.

Currently, when building the list of forms available to pull, Briefcase shows all form definitions available to the user, including draft ones. However, draft submissions are not available to pull.

Briefcase should exclude form drafts from the pull list.

[2020-04-22 14:08] chrissyhroberts opened #862 "Split select multiple column order is not stable when choice list is randomized"
#### Software versions
Briefcase v1.7.0 - v1.7.3,
openjdk version "13.0.2" 2020-01-14
OpenJDK Runtime Environment (build 13.0.2+8)
OpenJDK 64-Bit Server VM (build 13.0.2+8, mixed mode, sharing)

OS X 10.15
Aggregate v2.0.3

#### Problem description

Using the -ssm option with -smart-append is not functional.

Each time -ssm parses a select-multiple type question, the column order of output changes

[2020-04-27 20:45] lognaturel commented on #862
I'm really glad you caught that, @chrissyhroberts. Thanks for the detailed report.

With @ggalmazor no longer focused on ODK we have less capacity on Briefcase but will try to get this resolved ASAP.

[2020-04-28 18:47] dcbriccetti commented on #862
Hi @chrissyhroberts. I’m trying to reproduce the problem. Is this a necessary step?

[2020-04-28 18:51] lognaturel commented on #862
Thanks for looking into it, @dcbriccetti! I'm guessing not but it's something to verify. I would start with a form with just a single select question with a few choices. I'd make a few submissions, run an export, add a few more submissions, run an export and do that until it repros or up to ~5 times. If it's not reproing then I'd try to update the form definition in some way.

[2020-04-28 19:06] lognaturel commented on #862
@dcbriccetti I'm also in Slack if you want to discuss. Another approach might be to try to write a test for the case without reproducing with a real setup. I have some time this afternoon, so let me know if you want to collaborate.

[2020-04-29 21:05] lognaturel opened #863 "Briefcase doesn't handle form IDs with spaces in them"
As of `pyxform 1.0`, converted XLSForms may include spaces in the `form_id`.

[2020-04-29 21:10] #863 closed

[2020-04-29 23:23] lognaturel commented on #862
@chrissyhroberts We've tried a number of things to try to reproduce or track down with the information provided but haven't been able to yet. Can you please share the form? You could email it to me if it's sensitive. Alternately you could share a form with just that question, any groups or repeats it's in, and its choices.

[2020-04-30 00:27] lognaturel commented on #853
I have gotten this same crash intermittently when exporting non-encrypted records. Closing and reopening the app has reset it. I have not yet identified a pattern.

[2020-04-30 00:30] lognaturel commented on #859
@Freeedim thanks for your troubleshooting efforts so far. Kobo is not part of the ODK project. Have you tried to reproduce with either Aggregate or Central? Looking at differences between those interactions might give a useful hint. You could also ask other Kobo users if they experience the same issue.

[2020-04-30 15:37] Freeedim commented on #859
Hi,

Thanks for your answer.

Actually I am not familiar with ODK and don't know where I could try an Aggregate or Central infrastructure. KoBo's encrypted workflows rely 100% on ODK Briefcase but indeed, I don't know on which server they rely.

I think I have never heard of other KoBo users using the encryption feature.

[2020-04-30 20:22] timkoon commented on #848
@opendatakit-bot claim

[2020-04-30 22:07] lognaturel commented on #862
Thanks for sending the form definition, @chrissyhroberts. I haven't reproduced but from looking at the definition, I think it's almost certainly because of [choice order randomization](https://docs.getodk.org/form-question-types/#randomize-choice-order). When Briefcase loads the form definition, it loads it the same way that a form filling client loads it and the choice order is randomized. The ex

[2020-05-01 21:04] lognaturel commented on #859
If you're interested in following up on this, you could use the Central sandbox server. Read https://docs.getodk.org/central-install/#using-the-sandbox to learn more and you can send me your email address at ln@nafundi.com to get added!

[2020-05-04 07:22] Freeedim commented on #859
That would be great, indeed. I think I can manage to use some time for that, this week. I'm sending you my email address right away.

[2020-05-04 21:33] lognaturel commented on #862
I have reproduced using [this simple form](https://docs.google.com/spreadsheets/d/11msaVaIIjpLi6kErPcPz8nv5OFUq8gOsLnSlFJBxiEY/edit#gid=0) with randomized select choices. I sent in a few submissions where I selected only 'a', did an export. Then I made another submission selecting only 'a', did an export with `-ssm` and `-sa` and the choice was marked in a different column.

`java -jar /Users/ln/D

[2020-05-06 23:17] #862 closed

[2020-05-07 03:47] yanokwa commented on #862
@chrissyhroberts Fix is in the just released Briefcase v1.17.4

[2020-05-14 02:08] timkoon commented on #249
I was also able to reproduce this issue on Win 10 Pro. I used a linux utility `dos2unix` to test and see how many files need to be converted to use Unix line endings (CRLF -> LF) and it looks like a lot of, if not all the files in the repo need to be converted. After they were converted, the project was able to pass `gradlew check -x test`. There were failing unit tests and it appears the reason i

[2020-05-23 02:24] timkoon commented on #249
@opendatakit-bot claim

[2020-05-29 09:26] Freeedim commented on #859
Everything works fine with ODK Briefcase 1.17.3 when using an ODK Central server. So I guess the problem lies with https://kobo.humanitarianresponse.info

[2020-06-11 20:57] lognaturel commented on #859
It seems Kobo makes some kind of assumption that Briefcase was accidentally meeting previously but stopped meeting after v1.15.0. Two possible next steps for someone who needs this fixed would be to contact Kobo support and have them look at compatibility with more recent Briefcase versions and/or do a `git bisect` on Briefcase to track down which commit introduced the change that caused an incomp

[2020-06-14 22:23] yanokwa opened #868 "Export to CSV failing due to spaces in form id"
I'm running Briefcase v1.17.3 on the command line with a Bash script. The command I'm running is:
[code]

The error I get is:
[code]

The form title is: `COVID-19 Community Awareness and Case Search DFA Daily Reporting`
The form ID is: `COVID-19 Community Awareness and Case Search DFA Daily Reporting`
The folder Briefcase generates on the filesystem is: `COVID_19 Community Awareness and Case Searc

[2020-06-14 22:56] yanokwa commented on #868
Did some digging. The problem is with how the Bash script figures out the form ID, not Briefcase.

[2020-06-14 22:56] #868 closed

[2020-06-29 17:12] gt-novelt opened #869 "Unable to export form pulled from directory if title has "illegal characters""
#### Software versions
Briefcase v1.17.4,
openjdk 11.0.7 2020-04-14
OpenJDK Runtime Environment (build 11.0.7+10-post-Ubuntu-3ubuntu1)
OpenJDK 64-Bit Server VM (build 11.0.7+10-post-Ubuntu-3ubuntu1, mixed mode, sharing)

#### Problem description

The export hangs forever when trying to export a form pulled from "Collect Directory" when form has "illegal characters".

#### Steps to reproduce the pr

[2020-07-17 22:25] #860 closed

[2020-07-17 22:28] lognaturel opened #871 "Add test illustrating Central publish on initial form definition push"
Feedback from @ggalmazor at #870: it would be helpful to have a test that just verifies the publish action on first form upload so it's clear that happens.

[2020-07-23 11:36] chrissyhroberts opened #873 "Briefcase CLI - Password/Pem during export of project level encrypted data"
#### Software versions
Briefcase v1.17.4

#### Problem description

Working with a project level encrypted data set on ODK Central that has been downloaded through ODK Briefcase, the ODK Briefcase CLI appears to have no method to export data as there is no PEM file for the data set and no option for entering a decryption passphrase.

#### Steps to reproduce the problem

Create a project level encr

[2020-07-24 05:47] lognaturel commented on #873
Briefcase was created to overcome some of Aggregate's limitations. With Central, our goal is that Briefcase shouldn't be necessary. In the case of project-level encryption, it's currently only possible to decrypt when pulling a full zip data export. We tried to be detailed about what is and isn't possible with project-level encryption at https://docs.getodk.org/central-encryption/ but I realize we

[2020-08-03 10:51] chrissyhroberts commented on #873
Sorry for delay in responding to this.

I think that the motivating factor for me is the ability to perform automation, which at present means briefcase + Bash + R or similar setup. The OData system seems like a great way to pipe data directly from Central to R, which can handle downstream analysis, but the OData pipe doesn't work with the project level encryption.

Ideally, we'd be able to obtain

[2020-09-04 10:47] aharfoot commented on #859
For information, I had raised this issue on the KoboToolbox forums in February. I'll post a link to this issue (I agree that it is not an issue with Briefcase) to that [thread.](https://community.kobotoolbox.org/t/unable-to-download-data-from-kobotoolbox-server-using-odk-briefcase/6326/26)

[2020-09-04 21:26] lognaturel commented on #859
Thanks for circling back, @aharfoot! I’ll close for now since there’s no clear action to take on the Briefcase side.

[2020-09-04 21:26] #859 closed

[2020-09-28 20:50] lognaturel opened #874 "Crash on export when submission is empty"
#### Software versions
Briefcase v1.17.4

#### Problem description
When a submission is empty (or presumably when one is corrupt), the whole export crashes with no real hints as to what is going on.

#### Steps to reproduce the problem
1. Start a pull operation and cancel it. Verify that the last submission started is empty
1. Start an export
1. See that export files only have headers. Export deta

[2020-09-30 00:20] lognaturel opened #875 "Crash on reloading from Central server"
#### Software versions
Briefcase v1.17.4

#### Problem description
[code]

#### Steps to reproduce the problem
1. Connect to a Central server
1. Click the reload button, see that the pull panel is frozen
1. Try to cancel, see that this has no effect

#### Expected behavior
Clicking the reload button should reload data from the Central server.

[2020-09-30 16:13] lognaturel opened #876 "Crash on attempted cancel of pull from Central server when offline"
#### Software versions
Briefcase v1.17.4

#### Problem description
Crash on attempted cancel of pull from Central server when offline

#### Steps to reproduce the problem
1. Open Briefcase, get a form list from a Central server
1. Go offline
1. Initiate pull, see it hang. Cancel pull, see crash.

#### Expected behavior
It should be possible to cancel a pull even when offline.

#### Other informati

[2020-10-02 17:50] lognaturel opened #877 "Socket closed when pushing 3k+ submissions to Central"
#### Software versions
Briefcase v1.17.4

#### Problem description
[code]

[2020-10-09 20:17] lognaturel opened #878 "Forms with external secondary instances aren't shown on export or push tabs"
#### Software versions
All

#### Problem description
Forms with external secondary instances fail to parse so don't show up on export or push tabs.

#### Steps to reproduce the problem
1. Pull a form with external secondary instance such as [this one](https://test.central.getodk.org/#/projects/149/forms/a) (requires QA server credentials)
1. See that it's not in export or push tabs

#### Expected

[2020-10-09 21:54] lognaturel commented on #878
@seadowg this might make you laugh a bit.

[2020-10-14 21:30] lognaturel opened #880 "Crash when pulling forms with spaces in formId from Central"
#### Software versions
Briefcase v1.17.4

#### Problem description
Crash when pulling forms with spaces in formId from Central

#### Steps to reproduce the problem
1. Put a form on Central that has a space in the form ID
1. Try to pull that form and see a crash

e.g. [this one](https://test.central.getodk.org/#/projects/149/forms/formid%20with%20spaces) (requires QA server access)

#### Expected b

[2020-10-19 10:33] kkrawczyk123 opened #882 "Pull before export doesn't work for forms from Central"
#### Software versions
Briefcase v1.17.4.x, Java v1.x.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description
Pull before export probably has never worked for forms pulled from Central. It works well for Aggregate but as Aggregate is getting more and more deprecated and finally will be replaced with Central, ao all functions should be available for Central.
On individual

[2020-10-20 15:54] mmarciniak90 opened #883 "Pull from Collect directory where a few versions of the same form are available is not possible"
#### Software versions
Briefcase v1.17.4 (only this version was checked)

#### Problem description
Pull from Collect directory where a few versions of the same form are available is not possible

#### Steps to reproduce the problem
1. User selects Collect directory on Pull tab
2. User adds directory with a few versions of the same form
[odk.zip](https://github.com/getodk/briefcase/files/5409861/od

[2020-10-22 17:17] lognaturel commented on #874
The actual crash is
[code]

The submission is identified as bad in `parseAttribute` but it still part of the list of submissions to export. It should not be included.

[2020-10-22 17:37] lognaturel commented on #875
It's weirder than that. It's fine if you reload right after setting the server. It fails if the server was remembered between launches because reload is done by making the call `    triggerOnSelect(selectView.getSelectedOption().orElseThrow(BriefcaseException::new));` and when the server was previously set, select view is not involved and Central is not selected.

[2020-10-26 17:53] lognaturel commented on #883
I think our best bet would be to change `TransferForms.formsIndex` to a `Map<String, List<FormStatus>>` instead of `Map<String, FormStatus>`. The workaround is to just pull the most recent form version. Ideally form version would be displayed in the UI.

[2020-10-26 18:25] lognaturel opened #886 "On pull from Central, submission attachments are not requested if submission folder exists"
#### Software versions
Briefcase v1.17.4

#### Problem description
Pulling a submission is not an atomic action so it's possible to only get a subset of media attachments or even not get the submission XML. This makes it really important to pull all files on subsequent attempts.

#### Steps to reproduce the problem
1. Pull a form with media
1. Cancel while some media attachments for a submission a

[2020-10-27 16:19] #861 closed

[2020-10-27 16:20] #880 closed

[2020-10-27 16:20] #878 closed

[2020-10-28 16:35] #874 closed

[2020-10-30 10:35] mmarciniak90 opened #888 "Forms aren’t immediately showing up in push or export after a canceled pull - only with Java 8"
#### Software versions
Briefcase v1.17.4, Java v1.8

#### Problem description
Forms aren’t immediately showing up in push or export after a canceled pull

#### Steps to reproduce the problem
1. Start a pull operation and cancel it
2. Go to push or export tab
3. Forms aren’t immediately showing up in push or export after a pull

#### Expected behavior
Forms are immediately showing up in push or exp

[2020-10-30 13:15] mmarciniak90 opened #889 "Export is crashing after canceling pull when empty submissions are created - Java 8"
#### Software versions
Briefcase master
Java 8

#### Problem description
Export is crashing after canceling pull when empty submissions are created

#### Steps to reproduce the problem
1. Start a pull operation and cancel it.
2. Verify that the last submission started is empty
3. Go to the export tab -> list is empty, the issue is reported #888
4. Go to the Settings tab and click on the `Reload fo

[2020-10-30 15:03] #886 closed

[2020-10-30 18:17] lognaturel opened #890 "Make documentation link in Central push warning dialog clickable"
#### Software versions
`master` (post https://github.com/getodk/briefcase/pull/872)

#### Problem description
https://github.com/getodk/briefcase/pull/872 introduced a new warning dialog with a documentation reference when pushing a form with multiple versions to Central. Currently the documentation reference is just plain text. Ideally it would be clickable.

![Screen Shot 2020-10-30 at 11 15 20

[2020-10-30 18:23] lognaturel opened #891 "Support empty form versions when doing multi-version push to Central"
#### Software versions
`master` (post https://github.com/getodk/briefcase/pull/872)

#### Problem description
https://github.com/getodk/briefcase/pull/872 introduces pushes of multi-version forms to Central. Currently, forms with blank version names are not supported.

#### Steps to reproduce the problem
1. Pull a form with submissions referencing multiple versions including a version with a blank

[2020-11-02 15:16] #848 closed

[2020-11-02 17:06] kkrawczyk123 opened #892 "Form selection is lost and status is missing on Export tab when pull before export process in progress"
#### Software versions
Briefcase v1.17.4, Java v1.11.x, operating system Windows, Ubuntu, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description
Form selection is disappearing when export forms with pull before export option selected and status of export is not visible for all exported forms. gif attached:
![Peek 2020-11-02 17-52](https://user-images.githubusercontent.com/33342488/97896943-

[2020-11-03 14:39] kkrawczyk123 opened #893 "Briefcase tabs are disabled when run on java 9 and 10 and select sd on Windows"
#### Software versions
Briefcase v1.14.4, Java v9.0.4, 10.0.1, operating system Windows 10, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description
Pull, Push and Export tabs are disabled after selecting sd when run Briefcase with java 9 and 10. After closing and relaunching Briefcase user is able to use the app. The issue is connected to the first run.
gif attached:
![Peek 2020-11-03 15-14]

[2020-11-03 14:46] mmarciniak90 opened #894 "Pull/Push/Export tabs are still active when the storage location is cleared"
#### Software versions
Briefcase current master

#### Problem description
Pull/Push/Export tabs are still active when the storage location is cleared

#### Steps to reproduce the problem
We have not been able to determine repro steps and the condition that causes this issue

![Peek 2020-11-03 15-11](https://user-images.githubusercontent.com/3907554/97998755-cb94a000-1dea-11eb-9c25-802b8d1b45a8.gif

[2020-11-03 15:20] kkrawczyk123 commented on #894
I was also encountering that issue but I do not have more information about reproduction steps. Sometimes it happened for me after pull, sometimes after export. I have also gif of the behavior:
![Peek 2020-11-03 16-10](https://user-images.githubusercontent.com/33342488/98004439-398f9600-1df0-11eb-9ea2-289d10ac88dd.gif)

I was also able to ex. start pull when sd was not selected, this is the screen

[2020-11-03 16:08] lognaturel commented on #877
@getodk/testers [here's a form and submissions](https://drive.google.com/file/d/17aBC3Swwxh34OxS1B_CuMXDoQLtouF0W/view?usp=sharing) that I was getting the failure for. It would be great to try on Windows and get a sense of whether it might be Mac-only. I'm on macOS 10.15.4, Java 11.

[2020-11-03 16:54] kkrawczyk123 commented on #877
I was able to push to Central without any problems, none crash was visible on Windows 10.
![Screenshot from 2020-11-03 17-47-27](https://user-images.githubusercontent.com/33342488/98015923-a1001280-1dfd-11eb-978f-2f3cdcdecabe.png)

[2020-11-03 18:00] lognaturel commented on #877
Confirming that on `master` as of right now I'm still getting the same crash. Latest attempt was at 4402 submissions.

[2020-11-04 02:07] lognaturel commented on #894
I can reproduce this consistently on v1.17.4 by pulling a form and then clearing the storage directory. Any time I set and clear the storage directory after that, the tabs are still active. I can see that a `StorageLocationEvent.LocationCleared()` event is broadcast but it's not received. I can do `EventBus.getSubscribersToClass(StorageLocationEvent.LocationCleared.class)` and see that there are n

[2020-11-04 06:12] lognaturel commented on #894
I don't have any more insights. Something is causing subscribers to be unsubscribed but I can't tell what. I've also been able to reach a state where the UI is locked, I select a storage location, and the UI isn't unlocked. It does seem linked to performing some other action but I'm not seeing any logging that helps explain what's going on.

[2020-11-13 19:52] lognaturel opened #895 "On export, skip encrypted submissions with manifest but no .enc file and mark as failed"
#### Software versions
Briefcase v1.18 and prior

#### Problem description
Submissions to encrypted forms can be missing the submission file itself. In that case, export crashes.

See https://forum.getodk.org/t/odk-briefcase-1-18-export-failing-with-encrypted-forms/31069

#### Steps to reproduce the problem
Set up an encrypted form with submissions. Delete the `.enc` file for some submissions. Try

[2021-02-10 18:44] juruchi opened #898 "Form selection and individual export configuration in export tab becomes disabled"
#### Software versions
Briefcase v1.18.0, Java v1.8.0, operating system, Aggregate v1.4.15

#### Problem description
In the pop-up window used to set up individual export form configurations, settings can be changed, but the "clear all" and "OK" buttons cannot be selected.

After checking a checkbox to select one form for export, it is not possible to select additional forms - clicking the checkbo

[2021-02-26 20:45] joeflack4 opened #899 "Export using CLI ok, but freezes / hangs using GUI (Key too long?)"
#### Software versions
Briefcase v1.18

#### Problem description
Pulling forms works, but when exporting, ODK Briefcase appears to hang / freeze / continue operating indefinitely (2+ hrs) without any message.

#### Steps to reproduce the problem
I don't think this can be reproduced without the user's exact environment, including the form they're using. But, the steps would be:
1. Open Briefcase
2.

[2021-05-06 14:19] DavisRayM opened #902 "Export of encrypted submissions using Briefcase UI fails"
#### Software versions

Briefcase v1.18.0, Java v1.8.0_292

#### Problem description

Exporting encrypted submissions fail due to duplicate `xmlns` tag in the stored ODK Briefcase pulled submission (error attached below). _The extra `xmlns` tag is not present when retrieved from https://stage-api.ona.io; seems it's added during the download process_

[code]

#### Steps to reproduce the problem

1.

[2021-05-06 23:49] lognaturel commented on #902
Great! Next step will be to look at the XML either raw from Collect or from a server that does work and compare that (Central, Aggregate, KoBo). You can also review the spec at https://getodk.github.io/xforms-spec/encryption

[2021-07-13 09:48] DavisRayM commented on #902
Quick update on this issue:

We've tested it out on both ona.io and kc.kobotoolbox.org; the issue is replicatable on both instances as of July 6th. Still haven't test with ODK Central. Will update this comment as soon as that's done

[2021-07-13 16:56] lognaturel commented on #902
I still suspect there's something not quite right about the structure of submissions being pulled. Do Formhub-derived systems recreate the submissions or wrap them in some way? If you think this is a general issue, it would be good to get a reproduction from submissions that don't come from a Formhub-derived system. Like I said, this could be done by directly taking a raw encrypted submission from

[2021-07-21 19:56] DavisRayM commented on #902
Formhub derived systems wrap the submissions into a response document identical to the one defined [here](https://docs.getodk.org/briefcase-api/#response-document) for ODK Aggregate(https://docs.getodk.org/briefcase-api/#response-document).

This seems to have worked before in releases that were before this [PR](https://github.com/getodk/briefcase/pull/884); It was technically a bug that became a