[2018-02-13 07:25] ggalmazor commented on #357
Hi @jpknox! In case you need to change any UI stuff I can help you with that.

[2018-02-13 15:04] ggalmazor commented on #246
I detected this some days ago. The formId is required to run the "import from ODK" CLI operation but then it's ignored and all available forms at the provided ODK directory are imported to Briefcase...

[2018-02-13 16:22] ggalmazor commented on #246
@opendatakit-bot label "quick win"

[2018-02-13 19:24] jpknox commented on #357
Thank you @yanokwa, I'll look into this for ODK. @opendatakit-bot claim
@ggalmazor I'll message you if I run into any Swing :).

[2018-02-13 20:58] ggalmazor commented on #331
For this issue to be actionable, we should settle on what's expected. I propose the following:
- It must be the same on Mac, Windows, and Linux (that's an easy one to agree upon)
- We disable clicking on headers of columns that don't have text. These are:
  - Selection checkbox column (all three tabs)
  - Details button column (all three tabs)
  - Override configuration button column (only on the

[2018-02-13 20:59] ggalmazor commented on #351
@opendatakit-bot label "contributor friendly"

[2018-02-13 21:23] ggalmazor opened #369 "Replace instantiation of abstract classes and interfaces with inlined lambdas"
Lots of places in Briefcase's code have something similar to this:
[code]

We could change all these to:
[code]

IntelliJ even suggests you do this by using the grey color on the part that could be removed:
![image](https://user-images.githubusercontent.com/205913/36174055-5812305a-110b-11e8-8000-cb23d5daa8fc.png)

Pressing `<alt>+<enter>` on the grey `new Runnable(` text suggests you to "Replace

[2018-02-13 21:24] ggalmazor commented on #369
@opendatakit-bot label "quick win"

[2018-02-13 21:28] ggalmazor opened #370 "Remove explicit type arguments"
In many places we can find code like this:

[code]

The type argument on the `ArrayList` can be removed and the line could be:

[code]

Searching in the project with a regular expression "new ArrayList<.+>" would get all the instances of this, but there could be more with `HashMap` or other collection types.

[2018-02-13 21:28] ggalmazor commented on #370
@opendatakit-bot label "quick win"

[2018-02-13 21:40] ggalmazor opened #371 "Enable the Indentation module on checkstyle"
The `Intendation` module is currently disabled, allowing a mix of indentation chars and lengths across the source code on Briefcase.

This module should be enabled by uncommenting its tag on `config/checkstyle/checkstyle.xml` (line 159)

This IntelliJ settings file includes a complying code style scheme: [settings.zip](https://github.com/opendatakit/briefcase/files/1721809/settings.zip)

You can r

[2018-02-13 21:41] ggalmazor commented on #371
@opendatakit-bot label "quick win"

[2018-02-13 21:49] ggalmazor opened #372 "Migrate some Listeners to Adapters"
Sometimes, we don't really care for all the events a Swing `Listener` object can receive. This is an example on `PullTransferPanel` (line 235):

[code]

This `Listener` could be replaced with an `Adapter`, which doesn't force you to implement all its methods:

[code]

Searching in the project with the regular expression "new \w+Listener\(" will produce a list of places to check for this.

[2018-02-13 21:49] ggalmazor commented on #372
@opendatakit-bot label "quick win"

[2018-02-13 22:06] icemc commented on #351
@opendatakit-bot claim

[2018-02-13 22:08] icemc commented on #351
Hello @yanokwa May I take this one

[2018-02-13 23:14] ggalmazor commented on #351
Hi @icemc! If you’re going to work on this, I’d want to ask you to create one PR per each task on the checkbox list, ok?

[2018-02-14 00:40] icemc commented on #351
Ok @ggalmazor will do as requested

[2018-02-14 11:09] ggalmazor opened #373 "Add a way to delete forms from Briefcase Storage"
This would make testing Briefcase easier (no need to manually delete things and make a mess) and users could also do a little housekeeping of their forms.

Maybe a "delete" button for each form on push and export tabs would be enough.

[2018-02-14 11:09] ggalmazor commented on #373
@opendatakit-bot label "enhancement"

[2018-02-14 11:09] ggalmazor commented on #373
@opendatakit-bot label "needs discussion"

[2018-02-14 14:57] mayank8318 commented on #352
@ggalmazor Yes this is happening because both the background threads are using the same temp file. What is the best way of solving this? ReadWriteLock, synchronized (or ReentrantLock) ?

[2018-02-14 15:02] kkrawczyk123 opened #374 "Override Export window and Server connection windows improvement."
#### Software versions
Briefcase v1.9.x, Java v1.x.x, operating system: all

#### Problem description
All additonal windows which briefcase displays should show up in front of briefcase no matter where you move it on your screen.

#### Steps to reproduce the problem
Move briefcase window from the middle of the screen and open Override windows or Server connection windows in pull/ push section. The

[2018-02-14 15:09] ggalmazor commented on #352
I think the easiest path would be to ensure that we use a random temporal File by getting one with `Files.createTempFile()`. I'd try that before trying more complicated stuff...

[2018-02-14 15:37] #335 closed

[2018-02-14 15:38] #334 closed

[2018-02-14 15:50] #258 closed

[2018-02-14 16:54] mayank8318 commented on #352
Small note - If anyone is using the above two forms for testing, the second form needs some changes :
Remove this line - `action="https://aggregatetest-184307.appspot.com/submission"` and then use this form.

[2018-02-14 18:58] yanokwa commented on #331
I like your proposal, @ggalmazor, but I do think it's nice to be sort by the columns with icons. For example, if you want to see which forms have custom configurations, a sort would be super useful.

I think the challenge is fitting header text, but in this case, I don't think header text is a must.

[2018-02-14 20:39] mayank8318 commented on #373
Do we "delete" delete the forms or move it to a trash folder?

[2018-02-14 20:45] grzesiek2010 commented on #373
@ggalmazor isn't it the same https://github.com/opendatakit/briefcase/issues/122 ?

[2018-02-14 20:46] ggalmazor commented on #373
Closing in favor of @122. Thanks, @grzesiek2010!

[2018-02-14 20:46] #373 closed

[2018-02-14 20:49] ggalmazor commented on #122
I'd like to propose a button on each row on the tables of push and export tabs that deletes the form. The buttons should open a confirmation dialog before deleting the form.

@mayank8318 asked if we delete it completely or if we send it to the trash can.

I'd vote for what seems to be easiest: delete it completely.

[2018-02-14 20:56] ggalmazor commented on #331
I'll try to keep track of the different suggestions...

Summary table:

| Type of column | Text on column | up chevron ▲ | down chevron ▼ |
| --- | --- | --- | --- |
| Selection checkbox col | Empty |selected rows first | selected rows last |
| Details button col | Empty |rows with status history first | rows with status history last |
|Custom conf button bol | Empty |rows with custom conf first |

[2018-02-14 22:46] yanokwa commented on #122
Another option is to put a button the bottom near Pull/Push that says Delete.

I like this option because then you can use Select to do a bulk delete. I don't like this option because it does make it pretty easy to delete data.

[2018-02-14 22:59] grzesiek2010 commented on #122
We can add a confirmation panel with yes/no options.

[2018-02-14 23:16] yanokwa commented on #122
I think the dialog is a reasonable idea. The caveat here is that users tend to group the action and the dialog as one thing. So they'll hit delete, then confirm the delete and then realize they didn't want to confirm. You've probably experienced this yourself...

The most user-friendly option is to allow deletes and undelete. Then have some sort of empty trash can command. It's more work to add, s

[2018-02-14 23:41] dcbriccetti commented on #352
@ggalmazor said: “a random temporal File”

Watch out for temporal anomalies! (For Star Trek’eration fans)

[2018-02-15 07:54] ggalmazor commented on #122
I liked the idea of one delete button for each form because it's a self-contained, easy to implement and test component that doesn't have to interact with (almost) anything else on the screen we use it. I understand that from a UX point of view is poor.

A button that must be enabled or disabled depending on a list of selected forms, in screens that already are complex and most of them untested, I

[2018-02-15 12:19] kkrawczyk123 commented on #249
@yanokwa Yes , I checked on windows 10 and I still can reproduce this issue. I created new repository, cloned code forom git and tried `gradlew.buld` . This is my result:
![chceckstyle](https://user-images.githubusercontent.com/33342488/36256324-ba16d3bc-1252-11e8-9aa8-b6319a0b297d.jpg)

When I removed lines from checkstyle.xml as in description above, build was successfull.

[2018-02-15 20:21] lognaturel opened #378 "Match former expected date format in CLI and include it in help"
#### Software versions
Briefcase v1.9.0

#### Problem description
Dates used to be provided in yyyy/MM/dd format. Now they are expected in yyyy-MM-dd. Additionally, the format is not specified in the help text and the user sees an unexpected error when the format is wrong.

#### Steps to reproduce the problem
Run an export at the CLI with start and end date specified.

#### Expected behavior
The d

[2018-02-15 20:34] #209 closed

[2018-02-15 20:34] #245 closed

[2018-02-15 20:47] lognaturel opened #379 "CLI unexpected error message should direct users to Slack and help them find log"
#### Software versions
Briefcase v1.9.0-88-g42264c07

#### Problem description
Unexpected errors currently result in the following message:
[code]

#### Steps to reproduce the problem
In this version, specify a date with a format other than yyyy-mm-dd

#### Expected behavior
The message should be something like
[code]

In general, the forum is a better place for user support. Also, it's important

[2018-02-15 20:50] lognaturel opened #380 "Provide a human-friendly error message for MissingArgumentException in CLI"
#### Software versions
Briefcase v1.9.0-88-g42264c07

#### Problem description
When an argument is missing in CLI mode, the user gets a stack trace.

#### Steps to reproduce the problem
`java -jar build/libs/ODK\ Briefcase\ v1.9.0-88-g42264c07 -pa -id foo -sd ../ -url test -u -p`

#### Expected behavior
The user gets a friendly message about missing values.

[2018-02-16 10:21] ggalmazor commented on #202
OK! A simple checkbox that says "Overwrite existing files", unchecked by default, sounds simple and easy to use.

After the work we have done on the export tab, I think anyone could contribute doing this one. Just check `ExportConfigurationTest`, `ExportPanel` (line 175) and `ExportAction.export(...)` method.

[2018-02-16 10:21] ggalmazor commented on #202
@opendatakit-bot label "quick win"
@opendatakit-bot label "contributor friendly"

[2018-02-16 10:21] ggalmazor commented on #202
@opendatakit-bot unclaim

[2018-02-16 10:22] ggalmazor commented on #202
@opendatakit-bot unlabel "quick win"

[2018-02-16 17:50] mayank8318 commented on #378
@opendatakit-bot claim

[2018-02-16 17:52] mayank8318 commented on #378
Should I work on this after #356 is merged?

[2018-02-16 18:35] yanokwa commented on #378
Please go ahead!

[2018-02-16 18:37] yanokwa commented on #196
@ggalmazor Now that we have an updated logging configuration, this might be a good PR for you to send in.

[2018-02-17 21:18] emajj commented on #370
@opendatakit-bot claim

[2018-02-18 17:01] emajj commented on #370
I cloned the project and navigated to project root and executed

`grep -rn "new ArrayList<.+>" src/`

And that produced no output. Also tried

`grep -rn "new LinkedList<.+>" src/`

`grep -rn "new HashMap<.+> src/`

`grep -rn "new LinkedHashMap<.+> src/`

All produced no output. I had to go through each file one after the other and check for this. Here is my [PR](https://github.com/opendatakit/brie

[2018-02-19 02:58] #370 closed

[2018-02-19 06:07] emajj commented on #380
@opendatakit-bot claim

[2018-02-19 06:43] emajj commented on #380
@lognaturel trying to reproduce by executing the command you provided and I got this error

`Error: Unable to access jarfile build/libs/ODK Briefcase v1.9.0-88-g42264c07`

[2018-02-19 11:27] ggalmazor commented on #380
HI @emajj! Your jar file will have a different name. Take a look on the file your build produces and fix the command accordingly.

[2018-02-19 14:03] ggalmazor commented on #362
I think this issue was solved by #337. @shobhitagarwal1612, can you confirm it and close it, please?

[2018-02-19 14:22] ggalmazor opened #384 "Improve Sentry error reports with environment & git commit/branch info"
The Sentry Logback appender can be configured with Logback's MDC capabilities

In order to be able to process error reports correctly, we need at least to know the Git hash of the code that produced the error. Other information like environment and OS would help a lot while figuring out what happened.

When errors are submitted to Sentry, they should be sent along with some metadata including:
- G

[2018-02-19 14:31] ggalmazor opened #385 "NullPointerException when choosing a directory on Pull and Settings tabs"
https://sentry.io/opendatakit/briefcase/issues/467037766/

[code]

[2018-02-19 14:32] ggalmazor commented on #385
https://sentry.io/opendatakit/briefcase/issues/467037719/

[2018-02-19 14:36] ggalmazor commented on #385
This should be solved by applying `FileChooser` like on the Export tab.

Examples at:
- `ConfigurationPanelForm.buildPemFileDialog()`
- `ConfigurationPanelForm.buildExportDirDialog()`

[2018-02-19 14:37] ggalmazor commented on #385
@opendatakit-bot label "contributor friendly"

[2018-02-19 14:47] ggalmazor commented on #384
@opendatakit-bot label "needs discussion"

[2018-02-19 14:48] ggalmazor commented on #385
@opendatakit-bot label "bug"

[2018-02-19 15:04] ggalmazor opened #386 "Complete the export configuration on the UI to support all CLI options"
The CLI export operation supports two options that are currently not supported in the UI:
- [x] Overwrite files #202
- [x] Disable exporting media files #413

This issue tracks the progress on bringing those options to the UI.

[2018-02-19 15:04] ggalmazor commented on #366
@opendatakit-bot label "needs discussion"

[2018-02-19 15:06] ggalmazor commented on #366
@opendatakit-bot unlabel "contributor friendly"

[2018-02-19 15:25] ggalmazor commented on #210
I think this issue could be closed. After #356, this is something that needs to be taken care of during the release process.

[2018-02-19 15:26] ggalmazor commented on #213
Also, clean unused members?

[2018-02-19 15:26] ggalmazor commented on #213
@opendatakit-bot label "quick win"

[2018-02-19 15:27] ggalmazor commented on #214
Also, clean unused members, maybe? :)

[2018-02-19 15:27] ggalmazor commented on #214
@opendatakit-bot label "quick win"

[2018-02-19 15:29] ggalmazor commented on #230
Do we have a specific example of an unsafe name that we use to create a test and work on this one? If not, I'd suggest closing this issue. We can reopen if some unsafe name comes by.

[2018-02-19 15:29] ggalmazor commented on #230
@opendatakit-bot label "needs reproduction"

[2018-02-19 15:32] ggalmazor commented on #248
@opendatakit-bot label "contributor friendly"

[2018-02-19 15:34] ggalmazor commented on #248
This issue should be solved mirroring what's been done in the Export tab. See `FormsTableViewMode.buildDetailButton()` and `FormsTableViewMode.updateDetailButton()`

[2018-02-19 15:36] ggalmazor commented on #331
@kkrawczyk123 Now that we have settled an expected behavior, could you add the table to the original issue description? This way we can tag this one as "contributor friendly"

This is the code for the table:
[code]

[2018-02-19 15:51] yanokwa commented on #362
Agreed with @ggalmazor that this was solved.

[2018-02-19 15:51] #362 closed

[2018-02-19 15:53] #352 closed

[2018-02-19 16:12] emajj commented on #380
I don't have a libs folder inside builds/
Is it that my build was incomplete or? I built from intelij using the instructions on the README

[2018-02-19 16:13] ggalmazor commented on #380
Try to launch this: `gradlew clean build -x test`

This launches `clean` and `build` Gradle tasks skipping the tests. You should get the `build/libs` directories and inside that, you should find a JAR file.

[2018-02-19 16:48] emajj commented on #380
I get this error when I try to execute that command

Then I installed gradle using `sudo apt install gradle`

But I still get that error.

[2018-02-19 16:51] ggalmazor commented on #380
Alright :)

You should be able to run `./gradlew clean build -x test` on the project's root directory.

[2018-02-19 16:52] emajj commented on #380
so I had to do ./gradlew instead of gradlew

Building. Thanks

[2018-02-19 18:28] #196 closed

[2018-02-20 05:42] emajj commented on #369
@opendatakit-bot claim

[2018-02-20 06:49] emajj opened #390 "Remove ./gradlew lint from the contributing guide"
#### Problem description
`./gradlew lint` from the contributing guide gives error

#### Steps to reproduce the problem
run `./gradlew lint` from briefcase root

#### Other information
We don't use a linter in Briefcase. The only task that currently should ve run to verify that some changes are ready to be committed is `./gradlew check`.

[2018-02-20 07:33] ggalmazor commented on #390
Thanks for creating this issue!

As "Expected behavior" I'd take a look what that task does in other ODK projects such as ODK Collect and specify it.

[2018-02-21 08:39] ggalmazor commented on #366
@opendatakit-bot claim

[2018-02-21 08:40] ggalmazor commented on #384
@opendatakit-bot claim

[2018-02-21 08:40] ggalmazor commented on #366
@opendatakit-bot unlabel "needs discussion"

[2018-02-21 08:44] ggalmazor commented on #248
@opendatakit-bot claim

[2018-02-21 08:48] ggalmazor commented on #384
@opendatakit-bot unlabel "needs discussion"

[2018-02-21 13:48] mayank8318 commented on #378
@lognaturel @yanokwa @ggalmazor I am getting Invalid date format for this command though -
`java -jar ODK\ Briefcase\ v1.9.0-102-g4d7e2ff.jar --form_id all-widgets --storage_directory /home/mayank/ --export_directory /home/mayank/ODKExport/ --export_filename abcd.csv -start 2018-01-20`

[2018-02-21 14:01] mayank8318 commented on #378
And dateTimeParseEcxeption for 2018/01/20

[2018-02-21 19:25] ggalmazor commented on #378
@lognaturel Could it work for you to make both `-` and `/` valid separators? This way we could promote the use of ISO8601 dates that use `-` as the separator for new users and also accept `/` which is what current users expect.

[2018-02-21 19:27] mayank8318 commented on #378
@ggalmazor Yes I can do that by writing a custom parse method using DateTimeFormatter right?

[2018-02-21 19:28] ggalmazor commented on #378
I was thinking about just replacing all `/` to `-`. The idea is to normalize the input to ISO8601 format and then parse it. Otherwise, how do you know which formatter to use if we decide to support both ISO6801 format and the one that uses `/` as separator?

[2018-02-21 19:29] ggalmazor commented on #378
@mayank8318 by the way, I can use `-start 2018-01-20` and it doesn't give me an error...

[2018-02-21 19:30] mayank8318 commented on #378
use indexOf( ) method. Though replacing is better.

[2018-02-21 19:32] mayank8318 commented on #378
Getting this for 2018-01-20 :
01:00:36.778 [main] ERROR org.opendatakit.aggregate.parser.BaseFormParserForJavaRosa - Invalid date format in export_start_date

[2018-02-21 19:33] ggalmazor commented on #378
Could you get a full stack trace?

[2018-02-21 19:34] mayank8318 commented on #378
01:03:23.939 [main] DEBUG io.sentry.config.Lookup - Sentry configuration file not found in filesystem or classpath: 'sentry.properties'.
01:03:24.025 [main] DEBUG io.sentry.DefaultSentryClientFactory - Using an HTTPS connection to Sentry.
01:03:24.236 [main] WARN io.sentry.DefaultSentryClientFactory - No 'stacktrace.app.packages' was configured, this option is highly recommended as it affects stac

[2018-02-21 19:35] ggalmazor commented on #378
Try adding `-pa` argument.

[2018-02-21 19:45] mayank8318 commented on #378
@ggalmazor Silly error. Missed the most important `-e` argument. My bad :(

[2018-02-21 19:47] ggalmazor commented on #378
The problem is that without `-e`, `Launcher` falls back to `MainBriefcaseWindow`, which requires `/` as separator... One day we'll have to unify criteria...

[2018-02-21 19:48] mayank8318 commented on #378
Oh

[2018-02-21 20:04] lognaturel commented on #378
Accepting both formats sounds perfect to me. That should be the case with and without `-e`.

[2018-02-21 20:05] #380 closed

[2018-02-21 20:08] #369 closed

[2018-02-21 20:33] UlisesTJ opened #394 "Hello, I would like to collaborate with your Spanish translator project, which is my native language. could translate the document reade and contributing since the translation must be a thousand words or more"
#### Software versions
Briefcase v1.x.x, Java v1.x.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2018-02-22 06:02] emajj commented on #248
@opendatakit-bot claim

[2018-02-22 07:30] ggalmazor commented on #248
@opendatakit-bot unclaim

[2018-02-22 10:41] icemc commented on #351
Hahaha hello @opendatakit-bot was writing exams but I'm currently working on this.

[2018-02-22 11:51] icemc commented on #351
Hello at @ggalmazor checked through the code base but could find any class like PEMParser (which parses PEM files). I might be wrong though, a little google search provided me with a library that contains this [PEMParser] (https://www.bouncycastle.org/docs/pkixdocs1.5on/org/bouncycastle/openssl/PEMParser.html)  class.

[2018-02-22 19:36] icemc commented on #351
Ok got it. Will update the PR to reflect the changes then.

[2018-02-22 20:07] emajj commented on #248
I was not able to reproduce this. After setting my url to https://opendatakit.appspot.com/ and moved to the pull section, the details buttons are all non active. It's only active during/after pulling.

[2018-02-22 20:12] emajj commented on #248
![image](https://user-images.githubusercontent.com/36533836/36561779-11d46d40-1815-11e8-821e-344f7a7d5d5f.png)

[2018-02-22 23:52] yanokwa opened #396 "Test issue"
#### Software versions
Briefcase v1.x.x, Java v1.x.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2018-02-22 23:52] #396 closed

[2018-02-23 08:00] ggalmazor commented on #248
Hi @emajj! You're right, we already did this one... :O

@kkrawczyk123, please, close the issue :)

[2018-02-23 08:28] #248 closed

[2018-02-23 13:09] emajj commented on #202
@opendatakit-bot claim

[2018-02-23 20:05] yanokwa opened #397 "Briefcase should report the start and finish of tasks"
#### Software versions
Briefcase v1.9.0

#### Problem description
When running Briefcase from the command line, it reports that

[code]

When the process finishes, it doesn't report anything. It just looks like you are waiting for more submissions...

[code]

This is a little disconcerting because it's not clear if the pull finished or the script crashed in some way.

#### Expected behavior
I'd ex

[2018-02-23 20:11] yanokwa opened #398 "CLI should provide a way to enable and disable experimental downloads"
#### Software versions
Briefcase v1.9.0

#### Problem description
I use Briefcase on the CLI on a server and I would like to enable the experimental download (because it's super fast). I can't do that easily because it's off by default and there is no way to turn it on without installing a full GUI on my server.

#### Expected behavior
I'd expect to be able to toggle some of these settings from th

[2018-02-24 01:47] icemc commented on #249
Was able to reproduce this on my new machine running windows 10

[2018-02-25 04:30] emajj commented on #202
Is the UI code auto-generated or is it hand coded? I've located this file ConfigurationPanelForm which I believe is where I have to add the new UI components but I noticed at the bottom there's a generated code

[code]
So I was wondering if there's a specific drag and drop tool we used to design the UI.

[2018-02-25 09:44] ggalmazor commented on #202
Hi @emajj! That particular class is half auto-generated, half written by hand.

You will see that some java files have a "twin" file with `.form` extension. These files are to be changed with IntelliJ's UI Designer plugin (make sure you have the plugin installed and double click to see a WYSIWYG visual editor).

When you make changes to the UI, the corresponding `$$$setupUI$$$` method in its twin

[2018-02-25 21:37] emajj commented on #202
Thanks @ggalmazor for the explanation. Using the designer, I added a checkbox on ConfigurationPanelForm.form for overriding existing files. An instance variable was created in ConfigurationPanelForm.java called overwriteExistingFilesCheckBox. But the $$$setupUI$$$ method was not modified so my instance variable is not initialized and not been added to the UI programmatically even though the checkb

[2018-02-25 21:53] ggalmazor commented on #202
If you build the project, the setup method should update with the new field initialization. Make sure the option for custom cretion is not checked on the UI Designer.

[2018-02-26 07:28] emajj commented on #202
I have built using ./gradlew clean build -x  test and also built using idea Build Project and the $$$setupUI$$$ method is still not been updated. Below is how my form looks like. Not sure where to check for custom creation checkbox.

![image](https://user-images.githubusercontent.com/36533836/36657728-f6ba9730-1acd-11e8-9fb5-4c9f60afef8e.png)

[2018-02-26 08:03] ggalmazor commented on #202
Hi @emajj!

![image](https://user-images.githubusercontent.com/205913/36659166-cbab5196-1ad3-11e8-8b50-62640b64ca2e.png)

If the checkbox highlighted on the left is not checked, after building with button highlighted on the top you should see changes on the setup method.

[2018-02-26 13:13] mayank8318 commented on #366
@opendatakit-bot claim

[2018-02-26 13:27] mayank8318 commented on #366
@ggalmazor What should be the task split up?

[2018-02-26 13:54] ggalmazor commented on #366
I'll have it prepared in the next hours or so ;)

[2018-02-26 15:32] emajj commented on #202
Hi @lognaturel @ggalmazor I will need some clarity on the solution proposed here. When I first read @lognaturel comment I assumed this task involves adding a checkbox that will be unchecked by default then when the user checks it a dialog will appear warning/informing them that they will be overwriting existing files. So I understood that this means only one dialog will be show and that is when th

[2018-02-26 15:55] ggalmazor commented on #202
I think 1 confirmation dialog when the user checks the option is what makes most sense.

Showing an alert for each overwritten form is not practical in my opinion

[2018-02-26 16:19] lognaturel commented on #202
This issue was created before multiple exports so I was imagining a confirmation when the export was started and an export csv already existed.

@ggalmazor is right that multiple dialogs would be annoying. How about having one dialog when the export is triggered with a list of the files that will be overwritten (if any)? For example:

Export will overwrite these existing files:
- cool-form.csv
- m

[2018-02-26 17:29] lognaturel commented on #202
Good point about media files, repeats, etc. How about:
Export files exist for the following forms:
* My Cool Form
* My Export
Overwrite?

We can certainly do this in a separate issue.

[2018-02-26 18:20] yanokwa opened #399 "Investigate why Briefcase generates so many tempfiles"
#### Software versions
Briefcase v1.9.0

#### Problem description
In my Briefcase storage directory, I have thousands of files like this.
[code]
They aren't used for anything that I can see and they are never removed.

#### Steps to reproduce the problem
Not sure. That's part of the fun of this issue :)

#### Expected behavior
Temp files are created in the OSes temp directory and are thrown away w

[2018-02-26 18:25] yanokwa opened #400 "Configure stack frames or disable warnings about it"
#### Software versions
Briefcase v1.x.x, Java v1.x.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description
When running the logback.xml release config with `./gradlew run`, I get this message

[code]

#### Expected behavior
Perhaps we should configure stack frames? https://docs.sentry.io/clients/java/config/#in-application-stack-frames

[2018-02-26 18:47] ggalmazor commented on #202
Alright, looks like a plan.

@emajj, let's go for a simple confirm dialog that will pop up whenever the user checks that setting (on the default conf panel **and** on every override conf panel).

We'll file a separate issue to improve this by implementing what @lognaturel has described:

[2018-02-26 18:48] #384 closed

[2018-02-26 18:49] ggalmazor commented on #400
After #391, this is no longer happening :P

[2018-02-26 19:09] lognaturel opened #401 "Don't log usage issues to Sentry, especially if they include user info"
Currently, some error text logged to Sentry includes user info such as full paths on their machines or form elements.

For example:
- lines 428 and 431 of `FileSystemUtils`
- lines 136 and 138 of `AggregateUtils`

These logged items don't correspond to problems with Briefcase but rather with current state (missing file, server down, etc). Ideally this information makes it back to the user through

[2018-02-26 19:10] yanokwa commented on #400
Fixed by #391

[2018-02-26 19:10] #400 closed

[2018-02-26 19:15] lognaturel opened #402 "Provide feedback when export is ongoing"
Prior to multiple exports being added, it was obvious that an export was ongoing because the export button would be disabled and the status button was clickable. Now there is no feedback that an export is ongoing.

A simple approach would be to add "Exporting..." to the right of the `Select All` button with dots added each time an event is fired. If all exports complete, remove the text. There's s

[2018-02-26 19:30] ggalmazor commented on #402
Yes, we could try that while we make improvements to the bulk exporting that would let us know exactly when an export is started and finished.

To protect us against EventBus quirks, we could start a countdown of, say, 5 seconds, to hide the message if no new event has been received.

[2018-02-26 19:52] mayank8318 commented on #366
So I have to create first create two top fragments right?
One for when nothing is selected and one for when one of the sources is selected.

Firstly, I will make the Aggregate server config form and test it. Where should I put the UI component?

[2018-02-26 19:56] ggalmazor commented on #366
Yep

I'm thinking `org.opendatakit.briefcase.ui.reused`. Let's place it there and see how it feels :)

[2018-02-26 21:32] yanokwa commented on #202
To me, it'd be annoying to get a dialog asking me to confirm something that I've explicitly asked the system to do. How strongly do you feel about the dialog, @ggalmazor/@lognaturel?

[2018-02-27 07:11] ggalmazor commented on #202
I think that it would help to ask for confirmation (at least once) when the user checks a setting that might get data deleted.

We could work on this following this progression:
1. The confirm dialog appears everytime a user tries to check the overwrite conf (both in the default and override conf panels).
2. We improve this to make the dialog appear just once. We can save on preferences we've alre

[2018-02-27 15:04] yanokwa commented on #202
I think this is a smart approach. Does this sound reasonable to you, @emajj?

[2018-02-27 15:16] gnujavasergio commented on #372
@opendatakit-bot claim

[2018-02-28 07:07] mayank8318 commented on #366
@ggalmazor I am not being able to resize the textfields, the jpanel is not expanding.
![screenshot from 2018-02-28 12-35-00](https://user-images.githubusercontent.com/22395998/36774437-13cc00d6-1c84-11e8-91a0-f2685945bf3b.png)

[2018-02-28 08:04] ggalmazor commented on #366
Don't worry, @mayank8318, it's not so easy ;)

- Ensure all JPanels use `GridBagLayout` as Layout Manager
- Give the field a "Weight X" of `1.0`

With that, you'll be able to make those fields use all the horizontal space.

Take a look to `ConfigurationDialogForm.form` and mirror what we do there. Particularly:
- Spacers around the content
- Vertical spacer between content and the bottom actions p

[2018-02-28 11:13] mayank8318 commented on #366
Ok so it is similar to the weight param in a linearLayout in Android

[2018-03-02 02:04] yanokwa commented on #94
@ggalmazor I hesitate here because I'm not sure how we do this incrementally. That is, seems like it'd be ideal to have an IntelliJ settings file matches the checkstyle that CI evaluates the code against.

[2018-03-05 18:52] jpknox commented on #357
Hello, I understand it has been a while but I saw that another user was revamping the way that the analytics works, and he was defaulting it to be "on", I decided to hold fire for some time. Is this ticket still needed?

[2018-03-05 20:28] ggalmazor commented on #357
Awesome, @jpknox! Yes, I think this is still needed :)

[2018-03-07 13:48] mayank8318 commented on #366
@opendatakit-bot Working on it!

[2018-03-07 22:02] #378 closed

[2018-03-08 12:30] ggalmazor opened #408 "Add pull before export option to CLI operation"
We have this option on the UI and we should bring that into the CLI as well.

This would simplify any automatization scripts by removing the need of executing Briefcase for pulling the forms before exporting them.

Pulling from an Aggregate server requires hard-coding passwords on the CLI command. By removing those operations from such scripts we can make them more secure as well.

In order to ben

[2018-03-08 15:15] yanokwa opened #409 "UX clean up for overwrite existing files feature"
- [ ] Remove icon on confirmation dialog https://github.com/opendatakit/briefcase/pull/404#issuecomment-371435677
- [ ] ~~Add title to confirmation dialog https://github.com/opendatakit/briefcase/pull/404#issuecomment-371511483~~
- [ ] Add vertical spacer https://github.com/opendatakit/briefcase/pull/404#issuecomment-371450318

[2018-03-08 15:17] #202 closed

[2018-03-10 00:33] emajj commented on #409
Thanks @yanokwa and I'll get right on this. @kkrawczyk123 I noticed the absence of the title but was not just sure what to use as the title as I couldn't think of anything else other than "Overwrite existing files". I felt having that as a title and a body message again was redundant.

[2018-03-10 00:39] yanokwa commented on #409
@emajj I talked with @lognaturel and she suggested we leave the title off. I agree!

[2018-03-12 18:16] ggalmazor opened #412 "Possible replacement of TaskLocks with Transactional support"
According to official documentation, we could leverage transactions on GAE: https://cloud.google.com/appengine/docs/standard/java/datastore/transactions

After studying the current TaskLock related code I think we could replace it with a servlet filter that would wrap all POST request inside a transaction.

We would need to implement a TransactionProvider for GAE and another for JDBC. The servlet

[2018-03-12 18:17] ggalmazor commented on #412
@opendatakit-bot label "needs discussion"

[2018-03-12 18:18] ggalmazor commented on #412
Sorry! Wrong repo!

[2018-03-12 18:18] #412 closed

[2018-03-13 14:18] ggalmazor opened #413 "Provide an option to disable exporting media files on the UI"
The CLI export operation supports disabling the export of media file attachments to submissions.

We should add a new export configuration option to disable on the UI as well.

[2018-03-14 06:20] darshan934 commented on #358
This is an easy fix I am working on it. Are there any specific things that I must mention as part of the welcome message?

[2018-03-14 14:46] darshan934 commented on #385
hi i would like to work on this, can i take this up?

[2018-03-14 15:42] ggalmazor commented on #385
Hi @darshan934! This issue required some knowledge of the internals of the export tab code. Have you had a chance to study it before hand?

[2018-03-14 15:59] darshan934 commented on #385
@ggalmazor I haven't done the required studying. Could you direct me to the reading required? This is the second issue I am working in the ODK briefcase as part of Outreachy.
Or would you recommend me taking another issue?

[2018-03-14 16:07] ggalmazor commented on #385
Hi @darshan934! If that's the case, I'd recommend doing two or three more "quick wins" to get to know the base code a little bit more.

I think any of these could work:
- https://github.com/opendatakit/briefcase/issues/372
- https://github.com/opendatakit/briefcase/issues/379
- https://github.com/opendatakit/briefcase/issues/213

[2018-03-14 16:14] darshan934 commented on #385
Okay thank you so much!

[2018-03-17 16:29] Thodoris1999 commented on #402
@opendatakit-bot claim

[2018-03-18 14:33] gnujavasergio commented on #372
@opendatakit-bot claim

[2018-03-19 05:49] emajj commented on #409
@ggalmazor this is still open. I thought my PR was already approved :smile:

[2018-03-20 05:46] emajj commented on #385
@opendatakit-bot claim

[2018-03-20 16:10] dsukmanova commented on #213
@rockydcoder @ggalmazor
Hello! I want to participate in Outreachy program and looking for issues in this project. Can I take this one or you recommend some others?
Thanks

[2018-03-20 16:12] ggalmazor commented on #213
Hi @dsukmanova! It's great you want to participate, thanks! Before starting to take issues, it's really important you pass the eligibility tests for the project you want to apply. You can check all the information here: https://www.outreachy.org/communities/cfp/open-data-kit/

[2018-03-20 16:23] dsukmanova commented on #213
@ggalmazor I've already did it (if you mean eligibility tests for Outreachy program)

[2018-03-20 16:47] ggalmazor commented on #213
Yes, I was telling you that because I can't see you have applied for any of the projects yet.

In any case, you can claim this issue adding a comment with `@opendatakit-bot claim` :)

[2018-03-20 17:15] dsukmanova commented on #213
@opendatakit-bot claim

[2018-03-20 18:31] #213 closed

[2018-03-20 19:52] #409 closed

[2018-03-21 00:23] yanokwa opened #420 "Confirm that form push always uploads the blank form and its media"
I believe if you attempt a push to Aggregate, Briefcase uploads the form definition and its media to the server each time. If you have a large form, this is a waste of time and precious bandwidth.

1. Confirm that blank forms do get uploaded each time.
1. If the above is true, file an issue to prevent this behavior

[2018-03-21 08:49] ggalmazor commented on #357
Hi, @jpknox, so you still want to solve this issue?

[2018-03-21 13:01] dsukmanova commented on #379
@opendatakit-bot claim

[2018-03-22 02:31] dcbriccetti opened #421 "Use progress bars where appropriate"
Instead of, for example,

Exporting........

Have a progress bar. Where we can’t predict when the task will complete, make it indeterminate:

https://docs.oracle.com/javase/8/docs/api/javax/swing/JProgressBar.html#setIndeterminate-boolean-

[2018-03-22 09:17] ggalmazor opened #422 "Stabilize non-deterministic tests"
The test `ExportPanelTest.export_button_should_be_enabled_when_there_are_no_configuration_errors` fails intermitently on CircleCI.

We need the tests to be deterministic (always yield the same results).

We should make sure all assertions and any scenario setups are stable.

[2018-03-22 18:28] jpknox commented on #357
Sorry I no longer have the time to contribute, at least for this ticket.

[2018-03-23 10:18] ggalmazor commented on #357
Hi @jpknox! that's OK, don't worry! I wanted to be sure before suggesting the issue to someone :)

[2018-03-23 17:41] tinok opened #423 "Allow non-integer strings in the form definition version field"
#### Software versions
Briefcase v1.9.0

#### Problem description
Briefcase fails to validate the form definition, even though the form is valid (created through pyxform, validated through ODK Validate). Once we know what the issue is we can fix it on the [KoBo](https://github.com/kobotoolbox/kpi) side, but maybe this is also a bug on the Briefcase side given the error message.

[code]

#### Steps

[2018-03-23 17:50] tinok commented on #423
Update: It seems that forms fail to parse because the version is a string of letters rather than the expected integer (which should ideally be a timestamp according to [the parser](https://github.com/opendatakit/briefcase/blob/57eea1d7782da7ad77794530d503f182e02f6ad8/src/org/opendatakit/aggregate/parser/BaseFormParserForJavaRosa.java#L752-L778)).

A better error message could say 'the version stri

[2018-03-23 17:54] tinok commented on #423
Another potential solution would be to allow the parser to process single forms with a version string (rather than an integer/timestamp) and only throw an error if multiple form versions have been downloaded from multiple `Pull` actions. This would allow users to pull / push their data even with current forms that have a text string as the version.

[2018-03-25 08:14] ggalmazor commented on #423
@opendatakit-bot label "needs discussion"

[2018-03-25 08:33] ggalmazor commented on #423
Hi @tinok, thanks for filing this issue!

Thanks for adding instructions to create a form that would produce the error but it would be much simpler if you attached to the issue a form file directly. You just need to change its extension to `.txt` to let GitHub attach it.

That way, it's easier for anyone to try to reproduce the issue and work on a solution.

[2018-03-26 19:58] douihechmaha commented on #423
hi, Yes @ggalmazor i do agree with you.because it is not clear how to reproduce the issue

[2018-03-26 21:41] lognaturel commented on #423
Thanks for the report, @tinok. I do think the original issue was clear but to make it even easier, the form to work with is
[kpi.xml.txt](https://github.com/opendatakit/briefcase/files/1849623/kpi.xml.txt).

Arbitrary version strings should be allowed by Briefcase. I don't see any reason for the limitation other than that the parser code was copied from Aggregate. Briefcase should not need to care

[2018-03-26 21:50] #402 closed

[2018-03-27 03:28] #20 closed

[2018-03-27 03:39] yanokwa opened #424 "Improve spacing in CLI when entering bad flag"
#### Software versions
Briefcase v1.9

#### Steps to reproduce the problem
Common CLI mistakes result in hard to read output.

[code]

[code]

It's really hard for a human to read these messages. I think there need to be a few improvements.

1. There should be consistent usage text. The first is title case and has a newline while the second is lower case and does not. Usage text should always have

[2018-03-27 09:58] ggalmazor commented on #424
OK!
- We can make the line break at column 120, for example. How about that?
- We need to find a way to have just one launcher (the new). Maybe we can delegate on the new launcher from the old by adding the flags it needs once we detect which operation we want to launch
- I think that you're seeing the stack traces only because logback is redirecting them to stdout. We don't (shouldn't) print stac

[2018-03-27 10:04] ggalmazor commented on #421
This would be great. I think we're using that kind of feedback on the pull, push and export tabs.

[2018-03-27 20:00] tinok commented on #423
Thanks for clarifying @lognaturel, much appreciated! It would be great if a future version of Briefcase could allow arbitrary version strings. It would definitely help a few KoBo users who can't use the tool anymore since we began using non-numeric version strings.

Not sure how big of an effort it is to change this but let's chat offline if it's hard to prioritize this right now.

[2018-03-29 08:18] emajj commented on #385
@opendatakit-bot unclaim

[2018-03-29 08:18] emajj commented on #385
I was not able to reproduce this

[2018-03-29 09:19] ggalmazor commented on #385
I'll give it a go and close if I get the same results. Thanks, @emajj!

[2018-03-29 17:31] mayank8318 commented on #372
@ggalmazor Can I work on this as well?

[2018-03-29 17:31] ggalmazor commented on #372
Sure!

[2018-03-29 17:40] mayank8318 commented on #372
@opendatakit-bot claim

[2018-03-30 19:44] icemc commented on #397
@opendatakit-bot claim

[2018-04-01 09:09] emajj commented on #421
Let me give this a shot :slightly_smiling_face:

[2018-04-01 09:09] emajj commented on #421
@opendatakit-bot claim

[2018-04-01 12:39] mayank8318 commented on #366
@opendatakit-bot claim

[2018-04-03 03:21] yanokwa opened #426 "Verify Briefcase runs on Java 10"
If it doesn't run, describe how it fails, and fix it. Be sure to verify encrypted exports.

[2018-04-03 11:02] ggalmazor commented on #423
Hi @tinok! I've just created PR #427 to solve this issue. I haven't been able to test this with a Kobo instance, though. If there is any way for me to use any running instance of Kobo, I could do some extra checks to ensure everything works.

[2018-04-03 12:48] ggalmazor commented on #401
OK:
- I'll raise to `INFO` level or create new log lines with any sensitive information that could be useful while debugging
- I'll remove all sensitive information from `WARN` level messages

[2018-04-03 14:04] ggalmazor commented on #401
I'm already seeing the need for separating actionable errors (by us) from errors related to forms and submissions, which we won't be able to do much about. Sentry should receive only actionable events...

This could be implemented either through [MDC](https://logback.qos.ch/manual/mdc.html) or direct use of Sentry's API but I think we will probably have to create a logging/reporting abstraction on

[2018-04-03 14:39] ggalmazor commented on #426
My test results with a Debian 9 Buster, Java 10.0.0-oracle
- It runs successfully
- Exports encrypted forms

[2018-04-03 14:54] tinok commented on #423
Amazing, @ggalmazor I'll send you credentials with which you can test this.

[2018-04-03 15:33] zjk758 commented on #371
Hi, i'd like to take this.

[2018-04-03 15:45] zjk758 commented on #371
@opendatakit-bot claim

[2018-04-03 16:05] ggalmazor commented on #423
Thanks, @tinok!

[2018-04-03 18:39] #423 closed

[2018-04-03 18:52] ggalmazor opened #431 "Upgrade JR to 2.9.0"

[2018-04-03 19:07] #431 closed

[2018-04-03 19:08] #401 closed

[2018-04-03 19:47] yanokwa commented on #426
@kkrawczyk123 Can you please add a test case to confirm Briefcase releases can export encrypted forms on Java 8, 9, 10 on Windows, macOS, and Ubuntu?

[2018-04-04 05:38] kkrawczyk123 commented on #426
@yanokwa sure, I will!

[2018-04-04 07:40] ggalmazor opened #433 "Remove versionString member in favor of modelVersion in XFormParameters"
As a result of the work in PR https://github.com/opendatakit/briefcase/pull/427#issuecomment-378353494, the `XFormParameters` has the same value duplicated on its `versionString` and `modelVersion` members.

We should replace every use of `versionString` with `modelVersion` and remove the member once no one depends on it.

[2018-04-04 07:41] ggalmazor commented on #433
@opendatakit-bot label "quick-win"

[2018-04-04 07:41] ggalmazor commented on #433
@opendatakit-bot label "quick win"

[2018-04-04 15:14] yanokwa commented on #399
@opendatakit-bot claim

[2018-04-04 15:14] yanokwa commented on #399
@opendatakit-bot unclaim

[2018-04-04 21:53] #426 closed

[2018-04-05 04:43] yanokwa commented on #358
Fixed by #415

[2018-04-05 04:43] #358 closed

[2018-04-05 05:05] yanokwa opened #435 "Splash screen on start up is very large and has an odd line break"
#### Software versions
Briefcase v1.10.0-beta.0, Java 1.8.0_162, macOS 10.13.4

#### Problem description
<img width="1399" alt="screen shot 2018-04-04 at 22 02 15" src="https://user-images.githubusercontent.com/32369/38347998-f34efc00-3853-11e8-85a2-96d8b3c9671b.png">

#### Steps to reproduce the problem
1. Clear your preferences using the CLI. `java -jar ODK\ Briefcase\ v1.10.0-beta.0.jar -c`
2.

[2018-04-05 05:07] yanokwa opened #436 "Gather anonymous usage data should default to on"
#### Software versions
Briefcase v1.10.0-beta.0, Java 1.8.0_162, macOS 10.13.4

#### Steps to reproduce the problem
1. Clear your preferences using the CLI. `java -jar ODK\ Briefcase\ v1.10.0-beta.0.jar -c`
2. Launch Briefcase
3. `Gather anonymous usage data` is unchecked.

#### Expected behavior
`Gather anonymous usage data` should be checked.

I'm not sure if this an issue with the UI or the und

[2018-04-05 08:30] ggalmazor opened #438 "Sync ExportPanelForm's view Java source and .form files"
These files are unsync'ed due to some manual editing of the `$$$setupUI$$$` and `$$$getRootComponent$$$` methods. These methods are managed by IntelliJ's UI Designer and must not be manually edited.

[2018-04-05 09:46] ggalmazor commented on #420
OK, confirmed that all blank forms are uploaded before sending submissions. Check out this line https://github.com/opendatakit/briefcase/blob/master/src/org/opendatakit/briefcase/util/ServerUploader.java#L207

[2018-04-05 09:55] ggalmazor opened #442 "Improve pushing forms behavior"
This issue is related to #420

#### Software versions
Briefcase v1.10.0

#### Problem description
Pushing forms to Aggregate always sends a blank form, which can be a waste of time and bandwidth with forms with media file attachments.

#### Expected behavior
- [ ] Briefcase should check against the list of forms installed on Aggregate and send the blank form only if it doesn't find it.
- [ ] If a

[2018-04-05 09:56] ggalmazor commented on #442
@opendatakit-bot label "needs discussion"

[2018-04-05 19:49] #435 closed

[2018-04-05 20:34] #436 closed

[2018-04-05 20:35] #420 closed

[2018-04-05 20:52] yanokwa opened #444 "Warn upgrading users about usage data collection"
Since e132d133fe01e43b0982b7bd941df4ee8ba61e63, we default to gathering anonymous usage data, but we only inform new users. We should inform old users too when they launch this version. I like this text:

Then a flag so we only show it once.

[2018-04-06 17:56] #438 closed

[2018-04-08 13:51] mayank8318 commented on #366
@opendatakit-bot Yep working on it

[2018-04-08 15:48] icemc commented on #397
Will look into this ASAP

[2018-04-09 16:47] yanokwa commented on #442
The expected behavior is clear for everything but the GUI. I'm not even sure we should enable this on the GUI, but I'd be interested to hear how you think it should work.

[2018-04-09 22:36] #444 closed

[2018-04-10 06:41] ggalmazor commented on #442
I think we could add a new checkbox to enable "force-pushing" on the form to configure an Aggregate server as the push target with a text that explains that we won't send a blank form unless we don't find it there (we need to explain that anyway).

[2018-04-10 17:10] ggalmazor commented on #442
@opendatakit-bot label "contributor friendly"

[2018-04-10 21:48] xNeophyte opened #450 "List all operations in CLI help"
#### Software versions
Briefcase v1.10.0

#### Problem description
The command line help provides a list of general arguments but does not list the operations in which those arguments can be used. The only way I know of to view the listing of available CLI operations and their arguments is to attempt to call an already known CLI operation with missing parameters.

#### Steps to reproduce the probl

[2018-04-10 21:55] ggalmazor commented on #450
Hi, @xNeophyte! Thanks for reporting this issue. You are seeing is the “old” legacy help message.

To get the new help message, which shows the operarion list and their arguments in a more detailed fashion, you can execute Briefcase with the `-h` flag.

We are working to make the cli interface more coherent and user friendly. #442 will help us to unify the help message on the legacy mode and show

[2018-04-10 21:59] ggalmazor opened #451 "Remove deprecated operation params from the operation list in the help message"
#### Software versions
Briefcase v1.10.0

#### Problem description
Deprecated operation params shouldn't be listed as operations

#### Steps to reproduce the problem
Run Briefcase with the `-h` flag

#### Expected behavior
The operation `-pa` should not be listed

[2018-04-11 08:34] ggalmazor commented on #413
Hi @ravi808! You can check PRs #404, and #411, which solve a similar issue about another option on the same tab.

You will have to modify the following files:
- Using IntelliJ's UI Designer: `ConfigurationPanelForm.form` to add a new checkbox and other UI elements
- `ConfigurationPanelForm.java` to create appropriate callbacks and methods that would be used by the `ConfigurationPanel` component
-

[2018-04-11 16:17] ravi808 commented on #413
Thank you @ggalmazor

[2018-04-16 21:45] ggalmazor commented on #442
I've updated the issue description to warn about its relation to the ongoing PR #405. It would be better to wait for that PR to be merged before starting to work on this issue.

[2018-04-16 23:22] yanokwa opened #452 "--storage_directory param for --export shouldn't be optional"
#### Software versions
Briefcase v1.x.x, Java v1.x.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description
According to Briefcase's help, the storage directory is optional.
[code]
I don't think it is.

[2018-04-16 23:46] yanokwa opened #453 "Usage information is not correct on the CLI"
#### Software versions
Briefcase v1.10.x

#### Problem description
With the new and old CLI launcher, we print out the usage information like so.
[code]

This is a problem for two reasons.
1. To get this message, the user has to already know how to type `java -jar briefcase.jar`. We are repeating what they already know.
1. The message isn't correct. It should probably be `java -jar briefcase.jar <

[2018-04-17 05:53] ggalmazor commented on #452
OK, that `(optionally)` is there to mean that the following params are optional (not the one on the line before that). To make things less ambiguous, we could change this:

[code]

Into this:

[code]

[2018-04-17 06:09] ggalmazor commented on #453
I don't think we should remove the line. It's a pretty common pattern to show a usage line in the help message of a command. I agree that showing the `java -jar blabla.jar` part is redundant but I think its purpose is more about showing what's the structure of the command after that part.

While we discuss it, I'll add the `<operation>` to the line in #441

[2018-04-17 15:54] #372 closed

[2018-04-18 14:08] emajj commented on #413
@ravi808 if you are working on this can you claim it following the instructions here https://github.com/opendatakit/briefcase/blob/master/CONTRIBUTING.md#submitting-a-pull-request

If not then I'd like to work on this :slightly_smiling_face:

[2018-04-20 05:07] CicadasOutsideMyWindow commented on #433
@opendatakit-bot claim

[2018-04-23 06:56] ggalmazor opened #455 "Prevent error when pulling from ODK folder"
In PR #353 (pull before export), we introduced a bug when the user pulls forms from a filesystem location using the ODK folder option.

To solve the "pull before export" feature we added a `ITransferFromSourceAction.getTransferSettings()` method to the interface both `TransferFromODK` and `TransferFromServer` implement.

The override on the `TransferFromServer` implementation works as expected, be

[2018-04-24 20:30] yanokwa commented on #159
This issue has been around for a long time so I figure it's time to rehash it. I'l start with a bold proposal!

I think we should make both the GUI/CLI inclusive (and add a note to the GUI/CLI) that says that. This breaks backward compatibility, but it's not too bad. What say ye? @ggalmazor @lognaturel

[2018-04-24 20:48] dcbriccetti commented on #159
This would break backward compatibility in the CLI only, right? Do you suppose there are many scripts or automated processes that would have to be changed?

[2018-04-24 20:58] yanokwa commented on #159
I haven't had a chance to check what the UI does.

But to address your other question, there are plenty of scripts, but I don't think people upgrade that often. We are in the middle of making some CLI changes, so I think it might be as good of a time as any.

[2018-04-25 06:48] ggalmazor commented on #159
I've checked the code and the date range start and end are always inclusive, both on the CLI and the UI. This would make things much easier because we would only have to add some note to the CLI help and the UI.

[2018-04-25 15:17] yanokwa commented on #159
Well, that is a *lot* easier. Thanks for checking on this @ggalmazor! Can you file the issue? It should be a nice quick win issue for a new contributor.

[2018-04-26 06:05] ggalmazor opened #456 "Explain users that the export date range is inclusive"
#### Software versions
Briefcase v1.10.1

#### Problem description
As discussed in #159, the export date range start and end dates are inclusive both in the GUI and the CLI. We should explicitly tell the users about this.

#### Steps to reproduce the problem
N/A

#### Expected behavior
This is what I propose as a narrow solution:
- The labels of the date range fields on the GUI should read "(inclu

[2018-04-26 06:07] ggalmazor commented on #159
Created #456 to track this.

[2018-04-30 18:32] KiaFarhang commented on #371
Hi there,

I'd like to claim this issue. Updated the style settings and am currently working through the code base reformatting indentations. Thanks in advance!

@opendatakit-bot claim

[2018-05-02 19:56] #433 closed

[2018-05-02 19:57] #424 closed

[2018-05-02 19:59] yanokwa commented on #451
Closed by #441

[2018-05-02 19:59] #451 closed

[2018-05-02 19:59] yanokwa commented on #450
Closed by #441

[2018-05-02 19:59] #450 closed

[2018-05-02 19:59] yanokwa commented on #452
Closed by #441

[2018-05-02 19:59] #452 closed

[2018-05-02 19:59] yanokwa commented on #453
Closed by #441

[2018-05-02 19:59] #453 closed

[2018-05-02 20:14] ggalmazor opened #460 "Align vertically the progress bars"
#### Software versions
Briefcase v1.10.1, All OSes

#### Problem description
After #434, we replaced a text with a progress bar, which is slightly unaligned in the vertical axis respect to other elements at the bottom of the UI. This happens on the Pull, Push and Export tabs.

#### Steps to reproduce the problem
Pull, push and export some forms to see the progress bar.

#### Expected behavior
The

[2018-05-02 22:02] #421 closed

[2018-05-08 16:15] ggalmazor opened #462 "Add option to pull an individual form from disk"
This issue is related to #37

This repo has a separate UI dialog that can be built individually to produce the [ODK Form Uploader](https://docs.opendatakit.org/form-uploader/) binary, which is used by users to upload big forms to Aggregate.

Our users can't use Briefcase for that because it lacks the option to "install" an individual form directly from their hard-drive.

We could provide a new Pul

[2018-05-08 21:05] yanokwa commented on #37
I wanted to summarize some of the discussions @lognaturel, @ggalmazor, and I had.

For MainFormUploaderWindow, @ggalmazor should file an issue to try to do this as part of the pull function.

For MainClearBriefcasePreferencesWindow, we should remove that code. Clearing preferences is mostly a developer task and so making that available on the command line seems good enough.

For CharsetConverterDi

[2018-05-10 19:29] #371 closed

[2018-05-16 00:02] dcbriccetti commented on #442
What’s the command line syntax to do a push?

[2018-05-16 07:09] ggalmazor commented on #442
The syntax would be `--push_aggregate` or `-psha` and some required and optional args:
[code]

[2018-05-16 10:50] ggalmazor opened #464 "Give feedback when the forms are being pulled"
This issue is related to #463

#### Software versions
Briefcase v1.10.0

#### Problem description
When a user selects more than one form to pull, the push and export tabs will update their form tables only when all the forms and their submissions are pulled and the cache is updated.

Since that can take some time, it can be confusing to see that some of the forms have been successfully pulled, but

[2018-05-16 12:40] neoliteconsultant commented on #456
@opendatakit-bot claim

[2018-05-16 12:45] neoliteconsultant commented on #460
@opendatakit-bot claim

[2018-05-16 12:48] ggalmazor commented on #460
Hi @neoliteconsultant, thanks for your interest on solving this one :)

The thing is that I'm solving this one indirectly in #463

Could you take another one please?

[2018-05-16 12:48] ggalmazor commented on #460
@opendatakit-bot claim

[2018-05-16 12:49] neoliteconsultant commented on #456
@opendatakit-bot claim --force

[2018-05-16 16:40] dcbriccetti commented on #442
`--push_aggregate --form_id All%20widgets --storage_directory /tmp/ODK%20Briefcase%20Storage`

`2018-05-16 09:39:40,897 [main] ERROR o.o.a.p.BaseFormParserForJavaRosa - Launch Failed: Unrecognized option: --push_aggregate`

[2018-05-16 16:50] ggalmazor commented on #442
Hi Dave! It's running OK for me. Some thoughts:
- If you're launching Briefcase from IntelliJ, you need to run the `org.opendatakit.briefcase.Launcher` class (that's the main class in the JAR manifest).

I'm trying these args and they're working:

`-sd /home/guillermo -url https://aggregatetest-184307.appspot.com -u administrator -p aggregate -id all-widgets --push_aggregate -fp`

[2018-05-16 19:43] dcbriccetti commented on #442
I got this working by passing the arguments via Gradle:
[code]

[2018-05-17 09:32] ggalmazor opened #465 "Remove code of subapps"
After #462 there is no real need for continuing to maintain the 3 extra subapps Briefcase has:
- Charset converter
  - https://forum.opendatakit.org/t/pulldata-function-in-odk/4849 confirms that we can get rid of this.
- Form uploader
  - #462 lets install an individual form from the filesystem and then push it to Aggregate.
- Clear preferences
  - The `-c` CLI operation does just that

Any of the

[2018-05-18 14:07] kkrawczyk123 opened #467 "Media folder doesn't update when pulling twice the same form."
#### Software versions
Briefcase v1.10.x, Java v1.8.x, operating system Ubuntu, MacOS and Windows

#### Problem description
Media folder doesn't update when pulling twice the same form.

#### Steps to reproduce the problem
1. Run Briefcase, pull a form from aggregate.
2. Attach some media files to the form on the aggregate.
3. Pull the same form once again.
4. Check on that form in your storage di

[2018-05-21 12:22] ggalmazor opened #469 "Migrate the settings tab to IntelliJ's GUI Designer"
After #463, the only remaining tab that doesn't use IntelliJ's GUI Designer is the Settings tab. Migrating this tab could let us clean almost all the remaining UI code and reuse other components that we are already using on the rest of tabs.

[2018-05-24 21:46] #379 closed

[2018-05-25 13:48] #465 closed

[2018-05-25 13:48] #462 closed

[2018-05-25 13:58] #469 closed

[2018-05-27 10:08] ggalmazor commented on #460
This issue has been solved by #466

We can close this one :)

[2018-05-27 10:08] #460 closed

[2018-05-28 14:07] kkrawczyk123 opened #475 "Aggregate url and username are not saved."
#### Software versions
Briefcase v1.10.x, Java v1.8.x, operating system Ubuntu, MacOS, Windows

#### Problem description
Aggregate's url and username used to be saved when connecting to the server on pull and push tabs and when checkbox on settings tab selected - password was stored too. Save password doesn't work right now too - is it needed only to pull before export?
Do we need this reset butto

[2018-05-28 14:19] kkrawczyk123 opened #476 "First column which includes checkboxes of pull table is grayed out in the middle of pull process on ubuntu."
#### Software versions
Briefcase v1.10.x, Java v1.8.x, operating system: Ubuntu

#### Problem description
The first column which includes checkboxes of pull table is grayed out in the middle of pull process on Ubuntu.  Screenshot attached:
![screenshot from 2018-05-28 16-17-09](https://user-images.githubusercontent.com/33342488/40618709-a90e70e4-6292-11e8-9565-e4c5910385fa.png)

#### Steps to repr

[2018-05-28 14:46] ggalmazor commented on #476
This is expected. It's grayed out because it becomes disabled to prevent user interaction with the UI while it's doing the pulling/pushing.

It's an improvement introduced with this PR.

[2018-05-28 14:55] ggalmazor commented on #475
Hi, @kkrawczyk123!

Now I realize that the behavior has changes a little bit. Now Briefcase will remember the connection settings and when you close Briefcase and launch it again, you'll get automatically connected to the server and the forms will be pulled.

It works the same way in the Push tab.

Before this PR, Briefcase remembered only the connection settings of the last server you introduced,

[2018-05-29 11:40] kkrawczyk123 opened #478 "Scroll overlaps details buttons on the export view on Ubuntu and Windows."
#### Software versions
Briefcase v1.10.x, Java v1.8.x, operating system: Ubuntu, Windows

#### Problem description
Scroll overlaps details buttons on the export view.
Screenshot attached:
![exportwin](https://user-images.githubusercontent.com/33342488/40656757-b30777e0-6345-11e8-9439-db861add65a4.png)
![export](https://user-images.githubusercontent.com/33342488/40656758-b324953c-6345-11e8-8521-54d

[2018-05-29 13:51] kkrawczyk123 opened #479 "During first briefcase run push and export list shouldn't depend on pull."
#### Software versions
Briefcase v1.10.x, Java v1.8.x, operating system: Ubuntu, MacOS and Windows.

#### Problem description
User used briefcase before and his storage directory is full of forms. User runs new briefcase version. Server url is even saved and pull list is visible. Aggregate url on push tab is saved too but push list is empty and export list also - but they should depend on storage

[2018-05-29 14:11] kkrawczyk123 opened #480 "Pull Data from Custom Directory configuration."
#### Software versions
Briefcase v1.10.x, Java v1.8.x, operating system Ubuntu and Windows

#### Problem description
When choosing Custom Directory to pull data from configuration in choosing window there is the default filter "ODK Collect Folders" but it is not the most comfortable solution as you cannot go through directories to actually look for odk directory and it is better to change the filt

[2018-05-29 15:38] ggalmazor commented on #480
Thanks, @kkrawczyk123!

[2018-05-29 15:39] ggalmazor commented on #479
There's a trick the users can do to work around this: reset the storage directory and set it again. That restarts the form cache.

Maybe we could add a button for doing that on the settings tab: "Restart cache"

[2018-05-31 06:27] ggalmazor commented on #480
@kkrawczyk123, I've solved this issue through the open PR #474

[2018-05-31 06:27] ggalmazor commented on #479
@opendatakit-bot label "needs discussion"

[2018-05-31 06:30] ggalmazor commented on #479
This is a mockup of the new proposed button:
![image](https://user-images.githubusercontent.com/205913/40765466-d161c26e-64ac-11e8-9ba4-8a840811f5f1.png)

It would appear only when the storage location has been set.

[2018-05-31 08:29] ggalmazor commented on #476
@yanokwa, @lognaturel, I think we can close this one.

[2018-05-31 08:29] ggalmazor commented on #475
@opendatakit-bot label "needs discussion"

[2018-05-31 09:00] ggalmazor commented on #467
How did you do that? I'm having trouble reproducing the error... Could you give me a step by step guide and maybe the form files you used?

I'm surprised that this fails now because I haven't changed the code that pulls the forms from aggregate (it should do the same thing as before)

[2018-05-31 20:03] #476 closed

[2018-06-01 18:40] ggalmazor commented on #467
@kkrawczyk123, how do you "attach" a media file to an existing form?

[2018-06-01 22:40] lognaturel commented on #467
@kkrawczyk123 Did you do it by uploading exactly the same XML but with updated or new media? It's not super discoverable but that's the typical strategy.

[2018-06-02 05:48] ggalmazor commented on #467
I'll try that!

[2018-06-04 06:19] kkrawczyk123 commented on #467
Yes, I did it exactly that way.

[2018-06-04 08:45] ggalmazor commented on #467
If I do that I get this error:

![image](https://user-images.githubusercontent.com/205913/40907496-57cd14d6-67e4-11e8-86b3-8b9eeeb4183c.png)

If you're sending the same form, the new media files won't be in the form's manifest and Briefcase can't detect that there are new media files...

Am I wrong?

[2018-06-04 08:50] ggalmazor commented on #478
This should be solved in #474

[2018-06-04 08:57] ggalmazor commented on #455
I'm closing this one since the biggest problem has been addressed and there's only a code design issue that we can review in the future

[2018-06-04 08:57] #455 closed

[2018-06-04 12:05] kkrawczyk123 opened #481 "Log in credentials are not reset so it enables you to login with invalid credentials/no credentials"
#### Software versions
Briefcase v1.10.x, Java v1.8.x, operating system, Ubuntu, MacOS

#### Problem description
Login credentials are not reset after choosing Reset button, so it enables you to log in with invalid credentials/no credentials

#### Steps to reproduce the problem
1. Connect to the server with correct credentials
2. Reset connection
3. Configure connection again, use the same aggrega

[2018-06-04 12:48] ggalmazor commented on #481
Just to complement what @kkrawczyk123 is saying.

Credentials are not required for pulling when the anon user has the "Data viewer" permission. Conversely, credentials are not required for pushing when the anon user has the "Data Collector" permission.

[2018-06-04 13:29] ggalmazor commented on #481
Thanks to @kkrawczyk123's feedback I've been able to detect that a session cookie is established once Aggregate accepts some valid credentials. Using wrong credentials after that won't produce an error on Briefcase.

I'm going to study the changes to be done to ensure that there are no side-effects between consecutive requests.

[2018-06-04 14:18] kkrawczyk123 opened #482 "Storage location choosing differences on operating systems."
#### Software versions
Briefcase v1.10.x, Java v1.8.x, operating system: Ubuntu

#### Problem description
Storage location choosing differences on operating systems.

#### Steps to reproduce the problem
1. Go to Settings
2. Click on the Clear button
3. Click on Choose button
4. When Choose a directory dialog will display click "OK" button - nothing happens.

#### Expected behavior
On Mac and Windo

[2018-06-04 14:25] kkrawczyk123 opened #483 "No information about inability to log by Google account on Aggregate Server Configuration window."
#### Software versions
Briefcase v1.10.x, Java v1.8.x, operating system Ubuntu, MacOS and Windows.

#### Problem description
Aggregate Server Configuration window doesn't contain information "Username cannot be a Google login; it must be an ODK Aggregate username with "Form Manager" permissions" as it used to before.
It doesn't have to be the same message but it might be worth to inform users that

[2018-06-04 21:25] dcbriccetti opened #484 "Remove duplicate code"
IntelliJ IDEA has detected, and can easily and safely correct, several sections of duplicate code. You can find them through Analyze -> Inspect Code. Let’s de-duplicate.

![duplicated code](https://user-images.githubusercontent.com/55099/40942382-d43f2fd6-6802-11e8-8f19-4264e39cd4a9.png)

[2018-06-04 21:50] dcbriccetti opened #485 "Improve performance of export by not parsing each form instance twice"
#### Software versions
Briefcase v1.10.1

#### Problem description
Export parses each form instance with kxml2 twice: once to get the submission date, and again, after sorting on those dates, to extract everything else needed.

One way to avoid this double parsing is to use a regular expression to get the submission date, as implemented, but not thoroughly tested, [here](https://github.com/dcbricc

[2018-06-04 21:54] yanokwa opened #486 "Ensure date range behaves as discussed in #477"
Following up on the discussion starting at https://github.com/opendatakit/briefcase/pull/477#issuecomment-394273006

[2018-06-04 21:56] #456 closed

[2018-06-05 07:03] ggalmazor commented on #481
This issue has been solved in #474. Maybe we close it?

[2018-06-05 07:03] ggalmazor commented on #478
This issue has been solved in #474. Maybe we close it?

[2018-06-05 07:03] ggalmazor commented on #480
This issue has been solved in #474. Maybe we close it?

[2018-06-05 07:07] ggalmazor commented on #482
Briefcase uses a `FileChooser` class to show file dialogs in Briefcase, but it ultimately depends on each platform's JVM's implementation and there is little we can do to change its behavior.

It happens that in Gnome (Linux), a newly opened file dialog will show a label saying "Selected: /some/path" and an empty text field. Although users can click on "OK", it won't do nothing until there's somet

[2018-06-05 07:07] ggalmazor commented on #482
@opendatakit-bot label "needs discussion"

[2018-06-05 07:35] ggalmazor commented on #485
@opendatakit-bot label "needs discussion"

[2018-06-05 07:45] ggalmazor commented on #485
I think this could be also addressed indirectly by implementing a database in Briefcase to keep track of form and submission metadata. The rationale here is that it's inefficient to parse that information every time we need to export a submission. We can parse it once when saving the submission and read it many times. In fact, we're already doing that, but we're throwing away the parsed informatio

[2018-06-05 07:45] ggalmazor commented on #486
This has been solved by https://github.com/opendatakit/briefcase/pull/474/commits/cbeacc3070eb09584823ce50602538e9da790dca

[2018-06-05 11:52] kkrawczyk123 commented on #481
I confirm it has been fixed, the issue doesn't occur anymore on the newest master, tested on all three systems.

[2018-06-05 11:55] kkrawczyk123 commented on #478
I confirm that issue doesn't occur anymore on the newest master, tested on all three systems.

[2018-06-05 12:05] kkrawczyk123 commented on #480
This issue has been fixed on the newest master, tested on all 3 systems.

[2018-06-05 12:15] kkrawczyk123 commented on #486
I confirm that is works on the newest master, tested on all three systems.

[2018-06-05 14:05] kkrawczyk123 commented on #467
I confirm that this issue doesn't occur anymore after merging #474, tested on all 3 systems.

[2018-06-05 21:37] #480 closed

[2018-06-05 21:49] lognaturel commented on #479
I missed when and why this change was introduced. Is it an unintentional side-effect of some of the other refactors? I agree with @kkrawczyk123 that this new behavior is very surprising, especially coming from earlier versions! It would be ideal if we could go back to the prior behavior.

I wasn't able to get this to work. I downloaded several forms on master from a week or so ago and could see th

[2018-06-05 21:58] lognaturel commented on #486
Nice! This makes a lot more sense. 🙏 🎉

[2018-06-05 21:58] #486 closed

[2018-06-06 06:16] ggalmazor commented on #479
You're both totally correct. I'll review this to make the launch of the new version seamless.

[2018-06-06 08:39] kkrawczyk123 opened #490 "Disable briefcase before user set storage directory."
#### Software versions
Briefcase v1.10.x, Java v1.8.x, operating system, Ubuntu, MacOS, Windows

#### Problem description
User is able to use briefcase without setting storage directory.

#### Steps to reproduce the problem
Only in the first run on if clear your prefs.
1. Run briefcase - welcome window should display - click ok button.

#### Expected behavior
You should be on Settings tab (but you

[2018-06-06 11:02] mmarciniak90 opened #491 "Form list is empty on Pull tab when the user restarts Briefcase"
#### Software versions
Briefcase master
Java v1.8
operating system: Linux, Windows
Problem is not visible on macOS

#### Problem description
EDIT: Problem is visible only when credentials are required.
Form list is empty on Pull tab when the user restarts Briefcase
The empty list was also on v1.10.1 but the user was not connected to Aggregate.
![2](https://user-images.githubusercontent.com/3907554

[2018-06-06 11:14] kkrawczyk123 opened #492 "There is no difference between cmd push with or without -fsb prefix"
#### Software versions
Briefcase v1.10.x, Java v1.8.x, operating system, Ubuntu and MacOS, probably windows too

#### Problem description
There is no difference between cmd push with or without -fsb prefix
Form on the aggregate without -fsb should not be updated.

#### Steps to reproduce the problem
1. Push version 1 of form to aggregate by cmd
2. Change form version for 2, and push again - form s

[2018-06-06 11:36] kkrawczyk123 opened #493 "Only export process is tracked on Google Analytics."
#### Software versions
Briefcase v1.10.x, Java v1.x.x, operating system: all

#### Problem description
Pull and push processes are not visible on Google Analytics.

#### Steps to reproduce the problem
Pull/push some forms and track real-time actions on Google Analytics.

#### Expected behavior
All processes pull/push/export should be tracked

#### Other information
Export is tracked properly.

[2018-06-06 11:39] mmarciniak90 opened #494 "Horizontal scroll is not available"
#### Software versions
Briefcase master,
operating system: Ubuntu, macOS, Windows

#### Problem description
Horizontal scroll is not available

#### Steps to reproduce the problem
1. The user reduces the size of  Briefcase
![3](https://user-images.githubusercontent.com/3907554/41035944-d531c01c-697d-11e8-8576-b2dbbc56b9d5.png)

#### Expected behavior
Scroll is available

[2018-06-06 12:18] mmarciniak90 opened #496 "The user is not able to export data from one day"
#### Software versions
Briefcase master
Java v1.8,
operating system: Ubuntu, macOS, Windows

#### Problem description
The user is not able to export data from one day

#### Steps to reproduce the problem
1. The user is on the Export tab
2. The user sets start date and end date as the same date
3. The user is not able to click on the Export button
![4](https://user-images.githubusercontent.com/3907

[2018-06-06 12:45] kkrawczyk123 opened #497 ""Successfully installed" status when pulling Individual form in computer."
#### Software versions
Briefcase v1.10.x, Java v1.8.x, operating system, Ubuntu, MacOS, probably Windows too

#### Problem description
"Successfully installed" status when pulling Individual form in computer.

#### Steps to reproduce the problem
1. Choose pull data from: Individual form in the computer .
2. Configure an choose form.
3. Pull that form.
Screenshot attached:
![installed](https://user

[2018-06-06 13:34] kkrawczyk123 opened #498 "Unable to run briefcase on java 9 and 10 without clearing prefs."
#### Software versions
Briefcase v1.10.x, Java v1.9, v1.10, operating system all when using sdkman

#### Problem description
After using briefcase on java 8, I changed java version to 9/10 using sdkman tool and try to run it - running failed.
When I cleared prefs I was able to run briefcase on both java 9 and 10

When I uninstalled manually java 8 on windows and install java 9/10 I was able to run

[2018-06-06 13:58] mmarciniak90 opened #499 "The user sees the status and active details button only for newest pulled/pushes forms"
#### Software versions
Briefcase master - REGRESSION
Java v1.8
Operating system: Ubuntu, macOS, Windows

#### Problem description
The user sees the status and active details button only for newest pulled/pushes forms

#### Steps to reproduce the problem
1. The user selects few forms and pulls/pushes
2. The user selects other forms and pulls/pushes
3. The user sees status and details button only fo

[2018-06-06 14:20] ggalmazor commented on #491
I can't reproduce. Could it have to do with the networking issues you've had today?

Could you activate logs and see if there is any error trace in it?

I'm using my server https://gigiaggregate.appspot.com, which doesn't require any credentials to pull forms.

[2018-06-06 14:28] kkrawczyk123 opened #501 "Cancel button on Push doesn't work properly."
#### Software versions
Briefcase v1.10.x, Java v1.8.x, operating system: Ubuntu, MacOS and Windows

#### Problem description
Cancel button is not active on push tab on MacOS, and is one-time usable o Ubuntu and Windows.

#### Steps to reproduce the problem
on Mac:
1. Start to push some forms - Cancel button is deactivated

on Ubuntu and Windows:
1. Start to push some forms
2. Click on active Cance

[2018-06-06 14:28] ggalmazor commented on #491
![issue_491](https://user-images.githubusercontent.com/205913/41044376-6a2aa8aa-69a6-11e8-9f35-d5ce1c02b878.gif)

[2018-06-06 17:16] ggalmazor commented on #494
Since I'm having problems with Swing and the horizontal scrollbar, I've checked this against version 1.8 that this is not a regression error.

Since giving Briefcase just 600ish pixels wide makes the scrollbar not needed, I'm proposing we push this issue forward.

[2018-06-06 17:17] ggalmazor commented on #494
@opendatakit-bot label "needs discussion"

[2018-06-06 17:34] #490 closed

[2018-06-06 17:40] yanokwa opened #504 "Briefcase can't launch if storage folder is moved or deleted"
If you launch Briefcase (master) via gradle and you've moved the cache.ser file, it won't run.

[code]

[2018-06-06 17:44] #479 closed

[2018-06-06 17:49] dcbriccetti commented on #493
It seems we’re getting very thorough testing here. Nice work, @kkrawczyk123!

[2018-06-06 17:53] ggalmazor commented on #504
@yanokwa, I can't reproduce it. How did you move the cache file?

[2018-06-06 17:54] ggalmazor commented on #504
Oh, maybe you moved the whole storage dir?

[2018-06-06 17:58] ggalmazor commented on #504
What would you expect when this happens? It's failing because the saved briefcase dir points to some place in your computer that doesn't exist.

One option would be to reset it and force the user to set a storage location again.

[2018-06-06 18:04] ggalmazor commented on #498
@kkrawczyk123, sorry, I can't reproduce. Also, the error trace you've copied points to corruption in your storage directory... Could you try to reproduce from a clean state?

[2018-06-06 18:13] ggalmazor commented on #499
Thanks, @mmarciniak90! I think this one requires a little bit of discussion. I'm tagging @yanokwa and @dcbriccetti.

Now the detail window of all forms gets cleaned every time you start a new operation. Before that, you couldn't know which form you pulled/pushed last and lines from previous operations on the same form were present too.

This was made some versions ago and we can bring back the old

[2018-06-06 18:13] ggalmazor commented on #499
@opendatakit-bot label "needs discussion"

[2018-06-06 18:21] #496 closed

[2018-06-06 18:22] #492 closed

[2018-06-06 18:28] lognaturel commented on #504
Yes, the issue is if someone moves or deletes the entire briefcase storage folder. I do think Briefcase should still be able to launch in that case. Resetting it if not found and forcing the user to set a new one sounds good to me. Probably not a priority for this release, though? I think it's been this way for some time.

[2018-06-06 18:35] #501 closed

[2018-06-06 18:47] #493 closed

[2018-06-06 18:59] yanokwa commented on #499
I think it's OK that the status gets reset on each operation, but it's not great that you can't click through to see the old messages.

Dunno how reasonable this is, but is it easy to leave the log button enabled and then only update the status of the most recent?

That said, I don't feel strongly about any of this...

[2018-06-06 19:14] #483 closed

[2018-06-07 07:12] mmarciniak90 opened #509 "The user needs to click two times to unselect `Use HPPT Proxy` if he manipulates the Port value"
#### Software versions
Briefcase v1.11
operating system: Ubuntu, macOS, Windows

#### Problem description
The user needs to click two times to unselect `Use HPPT Proxy` if he manipulates the Port value

#### Steps to reproduce the problem
1. The user selects checkbox `Use HTTP Proxy`
2. The user changes `Port` value
3. The user clicks to unselect the checkbox `Use HTTP Proxy`
4. The checkbox is no

[2018-06-07 07:40] mmarciniak90 commented on #491
@ggalmazor, you have right, this problem is not visible in your instance because it doesn't require any credentials.
Problem is visible only when credentials are required.

[2018-06-07 08:35] mmarciniak90 opened #510 "Form lists on Push and Export do not contain forms which were pulled with success if user cancels pull"
#### Software versions
Briefcase v1.11.0
operating system: Linux, macOS, Windows

#### Problem description
* Form list on `Export` does not contain forms which were pulled with success if user cancels pull
* Form list on `Push` does not contain forms which were pulled with success if user cancels pull

#### Steps to reproduce the problem
1. User opens Briefcase as the first time
2. User adds Stora

[2018-06-07 08:39] kkrawczyk123 commented on #498
I deleted old storage directory, clear prefs, set new storage directory, briefcase run but I am unable to log in to aggregate's server on Ubuntu and MacOS. Storage directory is empty so it can't be about some wrong form included there. I can see error "javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPa

[2018-06-07 09:48] mmarciniak90 opened #511 "CSV file has not a doubled content when `Overwrite existing files` is not selected"
#### Software versions
Briefcase v1.11.0,
operating system: Linux, macOS, Windows
**Regression**

#### Problem description
CSV file has not a doubled content when `Overwrite existing files` is not selected

#### Steps to reproduce the problem
1. The user opens Briefcase as the first time
2. The user adds Storage directory
3. The user connects to Aggregate on `Pull` tab
4. The user selects form and

[2018-06-07 10:26] mmarciniak90 opened #512 "Forms are not pulled when `Pull before export` option is selected"
**EDIT!**
A new bug which can cause this problem:
1. The user opens Briefcase and **does not select** `remember the password`
2. The user connects to aggregate and pulls one form
3. The user goes to `Export` tab and chooses `Export directory`
4. The user exports this one form
5. `Pull before export` checkbox is **ACTIVE**

#### Software versions
Briefcase v1.11.0
Operating system: Linux, Windows,

[2018-06-07 10:53] ggalmazor commented on #512
Thanks, @mmarciniak90. I can't reproduce the error. I've followed your instructions and this is what I got:

This is the first export. You can see there are no submissions:
![issue_512_before](https://user-images.githubusercontent.com/205913/41095391-8f69bbc8-6a51-11e8-89e6-f217388198f7.png)

Then I sent a submission using Collect.

This is the second export. You can see now there is 1 submission:

[2018-06-07 10:55] ggalmazor commented on #512
I've also tried to do the same after closing Briefcase and opening it again, to check that the credentials where being saved. Everything worked as expected:

![issue_512_after_relaunch](https://user-images.githubusercontent.com/205913/41095571-124b9232-6a52-11e8-9327-43dd5eeff159.png)

[2018-06-07 10:59] ggalmazor commented on #491
Also can't reproduce. I have removed all permissions from the anon user in my Aggregate server to be sure that the only way to get the form list is by using correct credentials and it works as expected between launches of Briefcase.

I'm suspecting that it would fail when the "remember passwords" setting is not checked, though. I'll explore that scenario.

[2018-06-07 11:06] ggalmazor commented on #498
Hi, @kkrawczyk123! Now the error `javax.net.ssl.SSLHandshakeException` is pointing to a networking error... I think AppEngine is giving us a hard time these days. Could you try with my server at https://gigiaggregate.appspot.com or maybe deploy a local server using the VM?

[2018-06-07 11:22] mmarciniak90 commented on #491
Agree, `Remember passwords` is a condition of this problem.
I feel that it is not user-friendly. I was confused.
Not only me, it was also reported on forum https://forum.opendatakit.org/t/odk-briefcase-v1-11-beta/13432

I see two ways to resolve this problem:
1. Remember passwords is selected as a default which is not the best practice.
2. User sees ![1](https://user-images.githubusercontent.com/3

[2018-06-07 11:29] mmarciniak90 commented on #491
@opendatakit-bot label "needs discussion"

[2018-06-07 12:01] mmarciniak90 commented on #512
@ggalmazor, I see. I noticed one more problem which can cause this bug!
Steps:
1. The user opens Briefcase and does not select `remember password`
2. The user connects to aggregate and pulls one form
3. The user goes to `Export` tab and chooses `Export directory`
4. The user exports this one form
5. `Pull before export` checkbox is **ACTIVE**
![1](https://user-images.githubusercontent.com/3907554/

[2018-06-07 13:30] kkrawczyk123 commented on #492
Verified on Ubuntu, MacOS and Windows
@opendatakit-bot unlabel "needs testing"
@opendatakit-bot label "behavior verified"

[2018-06-07 13:45] kkrawczyk123 commented on #498
I was able to connect to local aggregate's instance on both systems but still had to clear prefs before running briefcse. After that I was able to use briefcase on both java's 9 and 10.

I am still able to reproduce issue when try to run and connect to gae aggregate's instance.

[2018-06-07 14:32] ggalmazor commented on #498
I think there's something wrong with those gae instances... do you still think it's a Briefcase issue?

If not, we can close this one. We can always reopen it if we get new findings...

[2018-06-07 14:34] ggalmazor commented on #509
@opendatakit-bot claim

[2018-06-07 14:54] ggalmazor commented on #510
@opendatakit-bot claim

[2018-06-07 15:07] ggalmazor commented on #511
@opendatakit-bot claim

[2018-06-07 18:09] #512 closed

[2018-06-07 18:09] #509 closed

[2018-06-07 18:09] #510 closed

[2018-06-07 18:22] #481 closed

[2018-06-07 18:28] #511 closed

[2018-06-07 18:32] ggalmazor commented on #498
@opendatakit-bot unclaim

[2018-06-07 18:33] ggalmazor commented on #467
Then we can close this one, can't we?

[2018-06-07 18:34] ggalmazor commented on #478
Another one that we can close :)

[2018-06-07 18:34] #467 closed

[2018-06-07 18:34] #478 closed

[2018-06-07 18:35] lognaturel commented on #478
@kkrawczyk123 if it's an issue that you've created you can go ahead and close it as soon as it's resolved. 😊

[2018-06-07 22:18] lognaturel commented on #498
Maybe the change in Java version is not actually the source of the problem? Seems https://forum.opendatakit.org/t/odk-briefcase-v1-11-beta/13432/8 might be the same.

[2018-06-08 05:29] kkrawczyk123 commented on #498
@ggalmazor You might be right that it could have been an aggregate gae issue, as in the last release I used tomcat instance. I have to investigate deeper after resurrecting my tomcat-aggregate as It's still gone after my computer crashed. And then report an issue to aggregate if needed.

[2018-06-11 07:02] ggalmazor commented on #498
I see two different problems reported.
- One it has to do with pulling forms from aggregate
- The other has to do with duplicate forms in the storage directory

It's not very probable that those problems have to do with the Java version used to run Briefcase.

@kkrawczyk123 if you can consistently get the duplicated forms error (The one with the trace `Duplicate key build_Untitled-Form_1509107185`

[2018-06-11 23:54] yanokwa commented on #499
I mean, clean all rows before a new push status. And yes, leave the detail enabled with any content it had before.

[2018-06-12 00:08] lognaturel opened #522 "Log file not created"
#### Software versions
Briefcase v1.1.11.beta

#### Problem description
@aurdipas did not have a log file after running the beta: https://forum.opendatakit.org/t/odk-briefcase-v1-11-beta/13432/13

#### Steps to reproduce the problem
Java version "1.8.0_172"
Windows 7 enterprise Service pack 1

#### Expected behavior
A log file should be created.

[2018-06-12 00:10] yanokwa commented on #475
Agreed that this would be a nice to have, but it doesn't feel like a priority just yet.

[2018-06-12 00:11] yanokwa commented on #491
I think @ggalmazor's quick workaround is pretty reasonable.

[2018-06-12 00:15] yanokwa opened #523 "Difference in export performance between GUI/CLI"
#### Software versions
Briefcase v1.11.x

#### Problem description
According to https://github.com/opendatakit/briefcase/pull/457#issuecomment-393905102, there seems to be a performance difference between a CLI export and a GUI export.

@ggalmazor has not been able to reproduce. @dcbriccetti can you? And if so, can you explain why there is a performance difference?

[2018-06-12 06:53] ggalmazor opened #524 "Duplicate OpenRosa header sent to Aggregate"
#### Software versions
Briefcase v1.11.0 beta

#### Problem description
The OpenRosa header is sent twice when getting the form list for pulling.

#### Steps to reproduce the problem
This will fail with certain Aggregate setups like the one reported [here](https://forum.opendatakit.org/t/odk-briefcase-v1-11-beta/13432)

#### Expected behavior
It should work with Aggregate without any problem

####

[2018-06-12 07:02] ggalmazor commented on #491
I'll prepare a PR with this during my morning.

[2018-06-12 07:05] ggalmazor commented on #522
This has to do with the build process: a configured `logback.xml` has to be placed in the `res` directory.

That logback conf file has to have a file appender configured to produce a `briefcase.log` file.

[2018-06-12 07:07] ggalmazor commented on #522
For a long time, I have been wanting to add a `.example` file with that. @kkrawczyk123 would benefit from that too for the QA tests.

[2018-06-12 13:32] kkrawczyk123 opened #528 "Unable to log in to GAE instance on java 9.0.4-openjdk."
#### Software versions
Briefcase v1.11.x, Java v1.9.0.4-openjdk, operating system: Ubuntu, MacOS

#### Problem description
Unable to log in to GAE instance on java 9.0.4-openjdk.

#### Steps to reproduce the problem
1. Run briefcase 1.11 on java 9.0.4-openjdk
2. Try to connect to GAE instance

#### Expected behavior
The user should be able to connect GAE instance and use briefcase.

#### Other inf

[2018-06-12 13:36] kkrawczyk123 commented on #498
Me and @ggalmazor investigated that issue and figured out reproduction steps. It is connected to specific java version.
I created more detailed issue #528  so we can close that one.

[2018-06-12 15:05] yanokwa commented on #498
Closing in favor of #528

[2018-06-12 15:05] #498 closed

[2018-06-13 17:48] #524 closed

[2018-06-13 18:02] yanokwa commented on #528
@ggalmazor Have you been able to reproduce this?

[2018-06-13 18:05] ggalmazor commented on #528
Yes. It seems there is some issue with the truststore on that particular version. It's also strange that the old code didn't fail (maybe it was less sensible to "trustore issues").

It would be key to reproduce this with a normal method for installing Java, since @kkrawczyk123 and I use sdkman.io and it could be an issue related to the way it re-packages Java for its installation.

[2018-06-13 18:07] ggalmazor commented on #528
We used [SSLPoke](https://github.com/MichalHecko/SSLPoke) to test our JVM environment against GAE SSL certificates and we got same results (failure) with Java 9.0.4

[2018-06-13 18:08] yanokwa commented on #528
Hmm. This looks related to https://forum.opendatakit.org/t/installation-problem-odk-aggregate-ssl-security-error/13510 and https://stackoverflow.com/questions/6784463/error-trustanchors-parameter-must-be-non-empty/50103533#50103533.

Either way, it sounds like this isn't a blocker on release.

[2018-06-13 18:08] ggalmazor commented on #528
I agree. There are newer Java9 release that don't have this problem.

[2018-06-13 18:21] yanokwa opened #529 "Recommend a localization framework for Briefcase"
We get occasional requests for localization on Briefcase and this is an easy place for folks to contribute to Briefcase. Ideally, we'd use a lightweight framework that works with Transifex (our preferred localization platform) and IDEA (our preferred IDE)

Transifex formats
* https://docs.transifex.com/formats/java-properties
* https://docs.transifex.com/formats/java-xml-properties

[2018-06-13 18:22] yanokwa commented on #529
@dcbriccetti @daveycrockett Do you have any recommendations?

[2018-06-14 08:17] ggalmazor opened #530 "Silence some of the error reports sent to Sentry"
#### Software versions
Briefcase v1.11.0 beta

#### Problem description
We have sent to Sentry many errors that are not really actionable (user input errors, third party service errors, etc.)

#### Steps to reproduce the problem
N/A

#### Expected behavior
Briefcase should only send error reports from possible/probable bugs only. Just actionable reports.

#### Other information
N/A

[2018-06-14 08:35] ggalmazor commented on #530
@opendatakit-bot label "needs discussion"

[2018-06-14 09:12] ggalmazor commented on #530
On one hand, we're using the Sentry Logback appender to send error logs transparently to Sentry but this is proving to be a bad idea, since most of the errors we're getting come from errors we can't really do anything about: wrong user input, malfunctioning third-party services, etc.

On the other hand, error management and logging are currently done by all code levels, which makes it harder to tr

[2018-06-14 09:12] ggalmazor commented on #530
Some thoughts about the ideal logging and error handling scheme:

- Our code only throws unchecked exceptions
- Our code catches third-party exceptions (checked and unchecked) and wraps them into own unchecked exceptions.
- Catching an exception (non-third-party) always implies stopping its escalation (we don't throw it again) and:
  - Return a default value (this is often called to "recover an ex

[2018-06-14 09:37] ggalmazor opened #531 "Remove duplication of server conn params tests"
With the PR #474 we introduced a side-effect free way of testing server connection params. The new test uses an HTTP interaction layer with improved error handling and feedback.

There are still some places in Briefcase that use the old `ServerConnectionTest`, which could be replaced with the new tests.

[2018-06-14 09:41] ggalmazor opened #532 "Improve HTTP Proxy definition form fields"
#### Software versions
Briefcase v1.11.0 beta 0

#### Problem description
It seems like the form doesn't verify the user's input and it can produce an uncaught `IllegalArgumentException` when the user leaves the HTTP Proxy host field empty.

#### Steps to reproduce the problem
Leave the HTTP Proxy field empty and change focus.

#### Expected behavior
It should not trigger any processing of the HTT

[2018-06-14 09:41] ggalmazor commented on #532
Sentry issue: [BRIEFCASE-7B](https://sentry.io/opendatakit/briefcase/issues/574227341/)

[2018-06-14 09:51] ggalmazor commented on #531
Sentry issue: [BRIEFCASE-7X](https://sentry.io/opendatakit/briefcase/issues/575255915/)

[2018-06-14 17:38] yanokwa commented on #528
Given all that, I don't know if this issue as filed is actionable. I propose @ggalmazor file an issue upstream on sdkman and close this issue.

[2018-06-14 20:46] #491 closed

[2018-06-14 20:56] #531 closed

[2018-06-14 20:56] #532 closed

[2018-06-15 20:42] yanokwa opened #535 "Briefcase.log is a bit too chatty. Maybe?"
#### Software versions
Briefcase v1.11

#### Problem description
Briefcase.log seems a bit too chatty on production build. Maybe we should only output warnings or errors?

#### Other information

[code]

[2018-06-18 11:43] ggalmazor commented on #528
I've verified that this issue is not reproducible with a standard Java 9.0.4 installation downloaded from Oracle, confirming that the source of the problem is some kind of mistake during the installation process with SDKMan.

Since is not very probable that our users use SDKMan and the version 9.0.4 is not even available for download, I think we can safely ignore this. I will post an issue on thei

[2018-06-18 12:05] ggalmazor commented on #522
I think this one can be closed :)

[2018-06-18 19:15] lognaturel commented on #522
👍Do you remember why you said "partially addresses" in #526?

[2018-06-18 19:18] #528 closed

[2018-06-18 19:19] ggalmazor commented on #522
Sure! I wanted to discuss this with you and @yanokwa before closing it just in case you wanted to do something more than having that example conf file on the repo.

[2018-06-18 19:20] lognaturel commented on #522
Got it! Then I think we can close. That file will be packaged as `logback.xml` for releases and so we should be able to ask users for their logs as needed.

[2018-06-18 19:20] #522 closed

[2018-06-19 06:52] kkrawczyk123 opened #536 "Remember password turn on/turn off improvement."
#### Software versions
Briefcase v1.11.x, Java v1.8.171, operating system: Ubuntu, MacOS and Windows

#### Problem description

Turning off the Remember passwords works always no matter if you choose it before logging in or after that. Turning on Remember password options works only when it’s set before logging in. I think it would be good to unify that behavior because if you log first and then s

[2018-06-19 06:53] kkrawczyk123 commented on #536
@opendatakit-bot label "needs discussion"

[2018-06-19 06:57] kkrawczyk123 opened #537 "Pull/push saving condition improvement."
#### Software versions
Briefcase v1.11.x, Java v1.8.171, operating system: Ubuntu, MacOS and Windows.

#### Problem description

When credentials are not required from aggregate but set anyway - target is not saved after relaunching briefcase and it can be a little bit confusing as the behavior is exactly the same as for aggregate which requires logging in and target are saved only when Remember p

[2018-06-19 06:57] kkrawczyk123 commented on #537
@opendatakit-bot label "needs discussion"

[2018-06-19 07:30] ggalmazor commented on #536
Yeah, that can be confusing... Did you have a solution in mind?

Maybe the simplest thing I can think of is to pop a dialog telling him that passwords will start to be remembered from that moment on.

[2018-06-19 07:46] ggalmazor commented on #537
That's not the way it works... The source/target is saved only if remember passwords is checked. We changed that in PR #527 to prevent confusing situations.

In the related issue #491, we discussed that the root cause of the problem is that saving a source/target will make Briefcase get the form list on the next launch. Appart from possible defects on Briefcase, this can be a problem when the cred

[2018-06-19 07:57] kkrawczyk123 commented on #536
There are not many options on Setting tab, so we could add information below the checkbox, something similar that we have with "Pull before export" and "Requires Remember password in Settings"/"Requires manually pulling from Aggregate once".

[2018-06-19 09:07] ggalmazor commented on #399
At least we could ensure temp files and folders are created in the corresponding temp folder according to each particular OS. Each OS has its way of deleting those according to some schedule or when they reboot.

Another improvement could be to track every temp file and folder created by Briefcase and trying to delete them on exit but that would require changes across the whole app. They way to go

[2018-06-19 09:12] ggalmazor commented on #399
@yanokwa, I think tihs doesn't happen with the current master anyway. Could you remove those and see if more pop up?

[2018-06-20 22:26] lognaturel opened #539 "Use ISO8601 for formatting dates/datetime in exports"
As discussed at https://forum.opendatakit.org/t/date-format-on-export-different-on-different-machines-with-identical-setups/13612, Java MEDIUM is dependent on locale and even Java version which leads to inconsistencies. It also makes it hard/impossible for non-Java systems to match the output format.

The export format spec will need to be updated, too.

[2018-06-21 00:03] yanokwa commented on #539
@lognaturel This might break a lot of downstream scripts, no?

[2018-06-21 03:03] lognaturel commented on #539
Possibly. Thing is, any downstream scripts that may exist are already very fragile -- as @michaeledwardmarks found, running them on different machines may result in inconsistent behavior. I think it's worth doing now. It's relatively easy for users to go back to older versions if absolutely necessary.

[2018-06-21 05:36] michaeledwardmarks commented on #539
+1
The current system already breaks downstream scripts if you are working as a team and running the same script on multiple computers (or you need to add a lot of clunky stuff to deal with every permutation that java can spit a date out as)

[2018-06-21 07:48] ggalmazor commented on #539
+1
I like this enhancement a lot :) Standard formats will make the csv exports more interoperable.

[2018-06-21 15:28] yanokwa commented on #539
I guess la gente have spoken. Let's aim for warning in the beta release notes and gathering a bit of feedback.

[2018-06-22 16:40] dcbriccetti commented on #523
@ggalmazor, is this still true?

[2018-06-22 17:06] ggalmazor commented on #523
I don't know... I couldn't reproduce such a big difference as the one @kkrawczyk123 reported (10m vs 1m). In my host machine, it was just some seconds slower.

If you run it and don't find such a difference, I guess we could dismiss this issue...

[2018-06-22 17:35] #484 closed

[2018-06-25 03:53] dcbriccetti commented on #523
So far, I’m seeing differences, too. I’ll investigate.

[code]

[2018-06-25 20:50] kstufflebam commented on #504
Hey all...

So I wanted to move my ODK Briefcase install to a new folder, and now I only get this error. And I can't for the life of me figure out how to reset the settings or fix the issue at all. I deleted and re-downloaded the .jar, and that didn't seem to fix the issue, either.

Any idea how to fix this?

[2018-06-25 21:01] lognaturel commented on #504
Sorry you're running into this, @kstufflebam! We should prioritize this one now that we do see it's a problem for real users.

I believe one thing you could do is create an empty directory named `ODK Briefcase Storage` in the folder where Briefcase is looking. That should allow you to launch and then change to the new folder.

Another thing you can do is run Briefcase in command line mode with the

[2018-06-25 21:04] kstufflebam commented on #504
Hello @lognaturel. I ran the command line as you described, and that seems to have set it back to defaults. The GUI launched, and I can now reset the working folder.

Thanks!

[2018-06-25 21:09] lognaturel commented on #504
Awesome, thanks for that feedback @kstufflebam!

[2018-06-25 21:18] lognaturel commented on #399
Confirmed that these don't get created anymore.

[2018-06-25 21:18] #399 closed

[2018-06-26 11:18] ggalmazor opened #540 "Investigate possible bug with .DS_Store folders in storage directory"
@dcbriccetti reports:
[code]

[2018-06-26 11:48] kkrawczyk123 opened #541 "Future suggestion - Bulk pull on cmd"
#### Problem description
It would be awesome to enable pulling few forms by using only one command in the future. My suggestion is to allow using id parameters few times but it would definitely need discussion.
What do you think?
@lognaturel @yanokwa and @ggalmazor

@opendatakit-bot label "needs discussion"

[2018-06-26 18:03] ggalmazor opened #543 "Briefcase code dDesign discussion"
#### Software versions
Briefcase v1.x.x, Java v1.x.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2018-06-26 18:03] ggalmazor commented on #543
@opendatakit-bot label "needs discussion"

[2018-06-27 14:11] ggalmazor commented on #499
@opendatakit-bot unlabel "needs discussion"

[2018-06-27 14:11] yanokwa opened #544 "Export to CSV results in empty CSV"
#### Software versions
Briefcase v1.11.0

#### Problem description
Exporting to CSV in v1.11.0 results in a CSV with just the headers.

#### Steps to reproduce the problem
* Clear prefs
* Import from Collect odk storage folders
* Export to CSV

#### Expected behavior
Export CSV has more than header rows.

#### Other information
Briefcase v1.10 works great, so this is a bug introduced in v1.11

[2018-06-27 14:12] ggalmazor commented on #544
@opendatakit-bot claim

[2018-06-27 14:33] ggalmazor commented on #544
I've been able to reproduce this by pulling a form that doesn't follow the standard pattern for instanceID, which produces values like this one: `uuid:01234567-0123-0123-0123-012345678901`.

Each submission is stored inside a directory with a sanitized version of its instanceID. In the example above, it the submission would be located at `instances/uuid01234567-0123-0123-0123-012345678901`.

While

[2018-06-27 17:07] yanokwa commented on #544
Only submissions pulled from Aggregate have that format.

When you pull a form from Collect, the folders will be `FORM TITLE_2017-12-23_11-17-33` and have `submission.xml` in them. I'm not a big fan of a wide open filter. We should use the same filtering that previous versions of Briefcase used and add things that are known bad (e.g., .DS_Store).

And we should also add a test to make sure we don'

[2018-06-27 17:16] ggalmazor commented on #544
Another possible scenario: if somehow a submission with instanceID `cocotero-123` gets to Aggregate, Briefcase will create a directory `cocotero-123` with the `submission.xml` inside,

Ultimately, the instanceID is generated by its binding and the form designer can use any function for that, not just `calculate="concat('uuid:', uuid())"`

[2018-06-27 17:18] ggalmazor commented on #544
The previous version only checked that the `File` was a directory and it had a `submission.xml` file in it, which means that adding the extra filtering of hidden directories is a little improvement on top of that.

[2018-06-27 17:39] yanokwa commented on #544
I've done a sanity check looked at v1.4.6_Production to see what happens. It seems like the export back then was based on submission.xml. I also quickly looked at the pull from Collect (`TransferFromODK.java`) and there haven't been any major changes in what gets pulled.

[2018-06-27 17:41] ggalmazor commented on #544
That makes sense to me

[2018-06-27 17:50] #504 closed

[2018-06-27 18:01] #544 closed

[2018-06-27 19:08] yanokwa commented on #504
@kstufflebam Thanks for your comments on this issue. We've update Briefcase to v1.11.1 and it has a fix for this issue. You can grab the latest version at https://github.com/opendatakit/briefcase/releases/latest

[2018-06-27 20:51] lognaturel opened #546 "NullPointerException"
New in v1.11.1, likely a side effect of #542.

https://sentry.io/opendatakit/briefcase/issues/591957144/

[code]

[2018-06-27 20:54] lognaturel commented on #546
@kstufflebam Any chance you updated and saw a crash?

I'm not totally sure whether this is user-facing or not. Seems the `tabbedPane` can be `null`?

[2018-06-27 20:56] kstufflebam commented on #546
I did update, and everything finally actually worked for me. I didn't see
the error you mentioned.

On Wed, Jun 27, 2018, 3:54 PM Hélène Martin <notifications@github.com>
wrote:

[2018-06-27 20:57] lognaturel commented on #546
Awesome, thanks @kstufflebam!!

[2018-06-27 21:10] ggalmazor commented on #546
This can happen when the storage dir is not anymore at the saved location and, due to the weird threading implementation in Swing and the EventBus, an event gets through faster than the 20-some lines between the `appPreferences.unsetStorageDir();` and the `tabbedPane = new JTabbedPane(JTabbedPane.TOP);` lines in the `MainBriefcaseWindow` constructor.

To avoid that error, we can initialize event s

[2018-06-27 21:16] lognaturel commented on #546
Ahh, interesting. And do you think it actually causes a user-visible crash?

[2018-06-27 21:19] ggalmazor commented on #546
It doesn't look like it, but I can't be sure. This is also really hard to reproduce...

[2018-06-27 21:24] lognaturel opened #547 "Avoid NoSuchFileException by building cache.ser if it doesn't exist"
https://sentry.io/opendatakit/briefcase/issues/591991089/

[code]

[2018-06-27 21:32] ggalmazor commented on #547
I can only reproduce this one by remove (or moving) the whole storage dir.

The error is misleading because what's really happening is that the user has set a storage directory that doesn't exist.

We could add to the CLI the same control we've added to the main window to check for this. In this case, I'd exit with an error status and some message alerting of the fact that the storage dir doesn't

[2018-06-27 22:54] lognaturel commented on #547
Sigh. I always forget that the storage directory should actually be set to the directory that contains the storage directory.

If I delete just the `ser` file, I get
[code]

[2018-06-28 08:01] ggalmazor commented on #547
I can get an EOF exception by truncating the size of the cache file, which could happen naturally with a corrupt cache file or if somehow the process of writing it gets stopped midway.

In any case, Briefcase recovers from this situation and you only see a warning on the logs. I'll add a special case for EOF exceptions to _not_ log it as I don't think it's really an actionable report. We can discu

[2018-06-28 08:22] ggalmazor commented on #547
Sentry issue: [BRIEFCASE-78](https://sentry.io/opendatakit/briefcase/issues/573988493/)

[2018-06-28 08:23] ggalmazor commented on #547
Sentry issue: [BRIEFCASE-AT](https://sentry.io/opendatakit/briefcase/issues/591965526/)

[2018-06-28 08:44] ggalmazor opened #550 "Review filesystem scans on the export op"
The export process scans twice the filesystem to get the submissions of a form:
- The first time, to get the total instances we need to export.
  - This is used to configure the tracker responsible for sending progress events
  - It uses a `walk` method, which is recursive.
- The second time, to get the ordered list of paths to submission files
  - It uses a `list` method, which is not recursive

[2018-06-28 08:50] ggalmazor commented on #547
Sentry issue: [BRIEFCASE-AV](https://sentry.io/opendatakit/briefcase/issues/591965563/)

[2018-06-28 08:51] ggalmazor opened #551 "Ignore hidden folders while updating the Form Cache"
https://sentry.io/opendatakit/briefcase/issues/580431067/

[code]

[2018-06-28 08:52] ggalmazor commented on #546
Sentry issue: [BRIEFCASE-AQ](https://sentry.io/opendatakit/briefcase/issues/591928410/)

[2018-06-28 08:52] ggalmazor commented on #546
Sentry issue: [BRIEFCASE-4D](https://sentry.io/opendatakit/briefcase/issues/551428941/)

[2018-06-28 09:35] ggalmazor commented on #551
Sentry issue: [BRIEFCASE-9A](https://sentry.io/opendatakit/briefcase/issues/579177659/)

[2018-06-28 09:35] ggalmazor commented on #547
Sentry issue: [BRIEFCASE-77](https://sentry.io/opendatakit/briefcase/issues/573987702/)

[2018-06-28 09:37] ggalmazor commented on #547
Sentry issue: [BRIEFCASE-7Y](https://sentry.io/opendatakit/briefcase/issues/575266465/)

[2018-06-28 15:03] ggalmazor opened #553 "CLI shouldn't be so picky about the storage dir"
#### Software versions
Briefcase >v1.10.x

#### Problem description
We want to be rigorous and explicit, but previous versions were more tolerant. We chose to be restrictive because it felt wrong that Briefcase would go creating storage dirs in the user's filesystem.

It turns out that many users rely on this to pull forms using CLI ops and it could represent a burden for them to have actual full

[2018-06-28 15:03] ggalmazor commented on #553
@opendatakit-bot label "needs discussion"

[2018-06-28 17:51] ggalmazor commented on #547
Since we've approved #554, I guess I can close this one...

[2018-06-28 17:54] lognaturel commented on #553
Next time let's make sure those decisions are brought up for discussion (apologies if I missed it). Whenever there's a change in behavior, especially if it's to become more strict, we should make sure it's discussed and documented.

[2018-06-28 18:06] #546 closed

[2018-06-28 18:07] #398 closed

[2018-06-28 18:34] #551 closed

[2018-06-28 18:44] #547 closed

[2018-06-28 18:44] #553 closed

[2018-06-29 07:41] ggalmazor opened #555 "Investigate why so much FormNotFoundException reports"
https://sentry.io/opendatakit/briefcase/issues/523231054/

[code]

[2018-06-29 07:47] ggalmazor opened #556 "Investigate why so many Duplicate keys while rebuilding indexes"
https://sentry.io/opendatakit/briefcase/issues/512538494/

[code]

[2018-06-29 07:53] ggalmazor opened #557 "Use standard cookies spec"
We are getting some warnings about some session cookies Briefcase has to understand with HttpClient's fluid API.

In [this SO post](https://stackoverflow.com/questions/36473478/fixing-httpclient-warning-invalid-expires-attribute-using-fluent-api), a user explains why this happens and gives a solution for that

[2018-06-29 08:01] ggalmazor opened #558 "Log cause of error"
We're losing the cause exception for this error, thus, we are unable to know if it's a bug on our side or a third-party error.

PullFromServerException: Failure pulling forms from server. FormIds: ~redacted~

https://sentry.io/opendatakit/briefcase/issues/539689428/

[code]

[2018-06-29 08:17] ggalmazor opened #559 "Avoid deprecated JavaRosa API"
Failed to redirect javarosa output
https://sentry.io/opendatakit/briefcase/issues/568703605/

[code]

[2018-06-30 05:07] neoliteconsultant commented on #408
@opendatakit-bot claim

[2018-07-02 07:11] ggalmazor commented on #559
Closing because this code doesn't exist anymore.

[2018-07-02 07:11] #559 closed

[2018-07-02 09:37] ggalmazor commented on #413
Hi, @ravi808!

I wanted to check on you about this issue's progress.

We need to make more changes to the `ExportConfiguration` object and this issue could be blocking us in the near future. If you think you won't be able to work on it, it's totally OK and we can take it from you. If not, please, tell us when you expect to have a PR ready :)

[2018-07-02 15:49] ggalmazor opened #567 "Create a Gradle task to send release refs to Sentry"
Sentry can use refs to git commits to enhance the error reports we get when something fails. For that to work, Sentry needs to receive some information:
- a list of refs belonging to each release
    or
- the most recent commit of the release
    or
- the most recent commit of the release _and_ the most recent commit of the previous release

[Sentry docs with more info](https://docs.sentry.io/lear

[2018-07-02 15:50] ggalmazor commented on #567
@opendatakit-bot label "good first issue"

[2018-07-03 15:32] #523 closed

[2018-07-03 23:12] yanokwa commented on #555
To be clear, this isn't necessarily bad and we shouldn't send this to Sentry.

[2018-07-05 09:03] ggalmazor commented on #555
Agreed. I'm going to close this issue and we can reopen it if this pops up again after #564

[2018-07-05 09:03] #555 closed

[2018-07-05 11:03] ggalmazor opened #568 "Change export default conf UI panel"
The export panel is starting to be packed with lots of configuration options. Since we need to support more options in the future, we should change the UI to hide the default conf form in order to save some vertical space.

I'd like to propose we reuse the override conf dialogs to show the default conf form as well. The general idea would be this:

_**Note**: At the end of this issue there's a lis

[2018-07-05 11:04] ggalmazor commented on #568
@opendatakit-bot label "needs discussion"

[2018-07-05 11:04] ggalmazor commented on #568
Tagging @yanokwa, @lognaturel and @dcbriccetti to start discussing the proposal

[2018-07-06 08:39] ggalmazor opened #569 "Improve performance of the export operation"
#### Software versions
Briefcase v1.11.2, Java v1.8.171

#### Problem description
Due to the latest changes to the export operation's code, we've experienced some performance loss related to how Briefcase needs to hit the filesystem to get the submission files, parse their submission date and produce an ordered output.

#### Steps to reproduce the problem
Export a form with a large set of submissi

[2018-07-09 04:40] #557 closed

[2018-07-09 10:10] ggalmazor opened #572 "Add CLI option to explode multiple choice select values on exports"
Based on https://github.com/cims-bioko/briefcase/issues/1

[2018-07-10 07:31] ggalmazor opened #574 "Media attachment URL query string values should be URL-encoded"
#### Software versions
Briefcase v1.6.x

#### Problem description
We have Sentry reports showing that Briefcase fails to fetch some media attachment URLs due URL syntax issues. This is an example of such a URL:

`https://server.com/attachment/original?media_file=someFormId/attachments/someHash/someUUID/filename`
(sensible info has been redacted)

We've detected that the `filename` part could have

[2018-07-10 09:15] neoliteconsultant commented on #408
I am still working on it

[2018-07-10 20:29] #413 closed

[2018-07-10 20:42] #530 closed

[2018-07-11 00:15] #569 closed

[2018-07-12 01:23] #558 closed

[2018-07-12 07:01] ggalmazor commented on #574
We have filed an issue in Kobo's repo https://github.com/kobotoolbox/kpi/issues/1863 to see if they want to fix that server-side.

[2018-07-12 11:42] kkrawczyk123 opened #579 "Icon on reload forms from storage location dialog window."
#### Software versions
Briefcase v1.11.x, Java v1.x.x, operating system: Ubuntu, MacOS, Windows

#### Problem description
After clicking on Reload forms from the storage location dialog message is displayed and it has an icon which if different on all 2 systems, screenshots attached:
![screenshot from 2018-07-12 13-29-59](https://user-images.githubusercontent.com/33342488/42630913-dafeecfa-85d8-11

[2018-07-12 14:47] kkrawczyk123 opened #580 "Export media checkbox not saved on Override export configuration."
#### Software versions
Briefcase v1.11.x, Java v1.x.x, operating system: Ubuntu, MacOS and Windows

#### Problem description
Export media checkbox not saved on Override export configuration.

#### Steps to reproduce the problem
1. Uncheck "Export media files" on export tab
2. Click on individual's form override export configuration button
3. Export media files on that windows is selected by defaul

[2018-07-12 20:11] yanokwa commented on #579
I do dislike the icon. @ggalmazor I think we've done this on other dialog, so might be good for a new contributor.

[2018-07-13 07:54] ggalmazor commented on #580
Ugh, you're right :)

So, what happens is this:
- On step 3, the dialog shows the export media checkbox checked because it's the default value.
- Clicking on OK doesn't save a custom conf with the export media conf param toggled ON, because the user didn't effectively set any custom conf.
- The proof for that is that the gear button remains black, instead of turning green
- When you return to the

[2018-07-16 07:48] ggalmazor commented on #574
I've linked the issue in the Kobo Toolbox repo.

I'm closing this one and we can reopen depending on the feedback we get there.

[2018-07-16 07:48] #574 closed

[2018-07-16 14:51] kkrawczyk123 opened #582 "Pull submissions and media from odk directory."
#### Software versions
Briefcase v1.11, 1.9. Java v1.x.x, operating system: Ubuntu, MacOS and Windows

#### Problem description
I am not sure if it is an issue or intended behavior so I would need your clarification @lognaturel and @yanokwa.
I have noticed that media files and submissions are not pulled from odk directory in most cases at all - only the form is pulled always.
I investigated a bit

[2018-07-16 20:26] ggalmazor opened #583 "Ensure prefs don't exceed max key length"
https://sentry.io/opendatakit/briefcase/issues/610057806/

[code]

[2018-07-17 15:16] lognaturel commented on #568
User feedback: https://forum.opendatakit.org/t/briefcase-default-export-configuration-ui/13932

[2018-07-17 17:13] ggalmazor commented on #583
It turns out this is just a warning and doesn't crash Briefcase. I'm closing this one for a couple of reasons:
- We can't really solve the issue until we implement a database for holding saved prefs.
- PR #564 takes care of this error, which won't reach Sentry

[2018-07-17 17:13] #583 closed

[2018-07-20 17:35] neoliteconsultant commented on #408
l have already submitted a pull request

[2018-07-23 14:44] kkrawczyk123 opened #585 "Select "Remember Password" checkbox via cmd."
As we have a cmd pull before export option now I think it would be very comfortable to add a prefix to enable checkbox "Remember password" using cmd command. So users wouldn't have to run briefcase manually first.
@lognaturel @yanokwa and @ggalmazor
@opendatakit-bot label "needs discussion"

[2018-07-23 20:24] #408 closed

[2018-07-23 21:47] yanokwa opened #586 "Add a better confirmation message when overwriting files"
#### Software versions
Briefcase master

#### Problem description
When I toggle `Overwrite existing files` while configuring an export, I get that same text with a question mark in the dialog. That's not a helpful confirmation message. Instead, it should say, "The default behavior is to append to existing files. Are you sure you want to overwrite existing files?"

[2018-07-24 07:51] ggalmazor opened #587 "Fix override of all export boolean params"
Boolean export params should be overridden with UI controls that let the user choose from three options: INHERIT, YES, NO.

Currently, we only offer those options for the "pull before export" param and the "export media" param (after #581).

We need to offer those options for "overwrite existing files" and any future new boolean param.

[2018-07-24 08:11] ggalmazor commented on #585
As a corollary, I'd suggest a new CLI "--config" op to manage all the params of the Settings tab.

[2018-07-26 19:45] #568 closed

[2018-07-27 04:57] dcbriccetti opened #590 "Fails to start when Aggregate server refuses connection"
#### Software versions
Briefcase v1.11.0

#### Problem description
If Briefcase had been configured with an Aggregate server, and is later started with the server refusing connections, Briefcase fails to start.

Maybe fix like this?

![screen shot 2018-07-26 at 9 51 26 pm](https://user-images.githubusercontent.com/55099/43302308-92eedd98-911e-11e8-85f9-8ef83d259800.png)

[2018-07-27 21:07] #586 closed

[2018-07-31 13:21] foranastes opened #593 "Briefcase is not exporting in Unicode format"
ODK-Briefcase version 1.11.2

I'm getting "????????" instead of Unicode characters on the csv file exported using briefcase. The Works well from Direct export from Aggregate Server.

[2018-07-31 15:06] yanokwa commented on #593
Hmm. Can you try the version at https://forum.opendatakit.org/t/csv-file-lao-characters-not-showing-after-export-from-odk-briefcase/14075/16 and see if that works better?

[2018-08-02 02:29] foranastes commented on #593
**Yeah... That one works perfectly**

[2018-08-02 02:31] yanokwa commented on #593
Thanks for confirming. We'll release a hot fix in a few days!

[2018-08-06 07:50] ggalmazor opened #594 "Explore, document and add test cases of decimal numbers in the export output"
#588 explores, documents and adds test cases about how string quotation works when the exported strings contain invalid characters such as the comma or the new line character.

We need to do the same about decimal numbers. Some locales like `ES` use a comma as the decimal separator and that would break the output CSV file's formatting. We need to be sure that this is correctly handled by using dot

[2018-08-06 08:46] ggalmazor opened #595 "Normalize startup behavior when a stored server params for pulling aren't good"
#### Software versions
Briefcase v1.11.2

#### Problem description
After a user pulls forms from a server and exits Briefcase (provided she has toggled the "remember passwords" option), the next launch could fail:
1. The saved credentials could have changed server-side
2. The related granted permissions could have changed server-side
3. The server could be malfunctioning
4. There could be some net

[2018-08-06 09:01] ggalmazor commented on #585
Should we route this new feature suggestions to https://forum.opendatakit.org/c/features ?

It doesn't mean that we won't push them internally, but we might get useful user feedback that won't happen here as easily.

[2018-08-06 09:03] ggalmazor commented on #580
@opendatakit-bot unlabel "good first issue"

[2018-08-06 09:03] ggalmazor commented on #580
@opendatakit-bot assign

[2018-08-06 09:59] ggalmazor opened #596 "Specify the correct Java image for CircleCI builds"
#### Problem description
A recent update on the CircleCI image we use to build JavaRosa has bumped it to use Java 10.0.2 (Oracle), which is incompatible with the JaCoCo version our Gradle uses.

This change makes our builds fail.

#### Expected behavior
The build should use Java 8u171 to work correctly

[2018-08-06 12:57] #596 closed

[2018-08-06 12:58] lognaturel commented on #596
Same question as on JR - can we also move away from the deprecated code to eventually go back to the latest?

[2018-08-06 13:14] ggalmazor commented on #596
The problem is that Briefcase is failing first because there is some incompatibility with the JaCoCo lib Gradle’s using. We could look into upgrading Gradle in case that solves it.

[2018-08-06 19:55] yanokwa commented on #582
This feels like a bug to me and it's one that we should fix. But we should also add a flag for not pulling media files in case someone depends on this behavior.

[2018-08-06 21:45] #580 closed

[2018-08-08 09:19] #593 closed

[2018-08-08 10:09] ggalmazor opened #599 "Improve custom export conf boolean param UI controls"
Related to #587

YES/NO export conf params can be overridden by selecting choices from a drop-down select box: INHERIT, YES or NO.

![image](https://forum.opendatakit.org/uploads/default/original/2X/d/df8e4593b86b3568f34e7b9957d7c516a470db51.png)

Drop-down selects look kind of bulky and hard to use

Lets change these controls to inlined radio buttons which show all options readily visible, use le

[2018-08-08 18:27] yanokwa opened #600 "Add instructions on how to build releases to readme"
Like we do at https://github.com/opendatakit/javarosa#publishing-the-jar-to-ossrh-and-maven-central, we should have a section called `Publishing the jar` that roughly describes how we build and release the jar.

I think the important, non-obvious things are...
1. You need to have a tag so the version is correct
1. You need to have the logback and gradle properties
1. We build with Java 1.8
1. You

[2018-08-08 18:28] yanokwa commented on #600
@ggalmazor Since you just went through this, you might be best equipped to document it.

[2018-08-10 08:00] ggalmazor commented on #582
Hi, @kkrawczyk123 & @yanokwa!

I haven't been able to reproduce with latest Collect & Briefcase (master). This is what I've done:
- Uploaded [media-files.xml form](https://github.com/opendatakit/briefcase/files/2277042/media-files.zip) to https://aggregate-test-2.appspot.com
- With a fresh install of Collect, get the form and create a submission with a photo
- Send it to Aggregate just to check th

[2018-08-10 15:04] #594 closed

[2018-08-13 12:45] kkrawczyk123 opened #602 "Instances are duplicated/multiplied when pulling from odk directory few times."
#### Software versions
Briefcase v1.11.x, Java v1.8.x, operating system: ubuntu, macos and windows

#### Problem description
Instances are pulled few times and folders with numerical prefixes are created -2, -3 etc.

#### Steps to reproduce the problem
1. Pull submissions from odk directory
2. Pull the same submissions from odk directory
3. Try a few times.
Each time a new folder is created in the

[2018-08-13 17:19] yanokwa commented on #582
Historically, the Android USB drivers have been buggy and so it's often the case that connecting directly to the device won't actually give you the files you want.

This is why the [pulling forms from Collect docs](https://docs.opendatakit.org/briefcase-using/#pulling-forms-from-collect) asks you to zip up the the folder first because you are guaranteed to get the files.

@kkrawczyk123 did you att

[2018-08-13 17:33] ggalmazor opened #603 "Briefcase doesn't remember pull sources for a form when it doesn't have credentials"
#### Software versions
Briefcase v1.11.3

#### Problem description
Given that the remember passwords setting is enabled, when no credentials are required to pull a form from an Aggregate server (maybe the anon account is enough), then after restarting Briefcase, it always asks you to pull the form first before being able to enable the "pull before export" conf param.

#### Steps to reproduce the p

[2018-08-13 17:33] ggalmazor commented on #603
@opendatakit-bot label "good first issue"
@opendatakit-bot label "help wanted"

[2018-08-14 13:43] kkrawczyk123 commented on #582
@yanokwa, nope I copied odk folder from Android device. I tried to reproduce on the newest briefcase master and I can't reproduce it anymore. Weird but still possible as I reported it nearly a moth ago.

[2018-08-14 14:27] ggalmazor commented on #582
@kkrawczyk123, could you confirm that there were media files inside the folder you copied to your computer?

[2018-08-15 21:12] lognaturel commented on #582
Since @kkrawczyk123 can't reproduce anymore, I suggest we close and reopen if a user runs into it. @kkrawczyk123 if that sounds ok to you, please close.

[2018-08-16 18:56] kunalmulwani commented on #579
What would be the best way to test this? Do we have a test URL/instance that I can use?

[2018-08-16 18:57] kunalmulwani commented on #603
@ggalmazor is there a test instance that I can use to reproduce this issue?

[2018-08-16 19:08] ggalmazor commented on #603
Hi, @kunalmulwani! You can use https://sandbox.aggregate.opendatakit.org/Aggregate.html

Try pulling from there without specifying user/pass.

Also, if you're planning on working on this one, you can claim it with `@opendatakit-bot claim`

[2018-08-16 19:09] ggalmazor commented on #579
Hi, @kunalmulwani!

You could use https://sandbox.aggregate.opendatakit.org (user: administrator, pass: aggregate)

[2018-08-16 22:50] kunalmulwani commented on #579
@opendatakit-bot claim

[2018-08-16 23:44] kunalmulwani commented on #603
@ggalmazor Thank you. I was just analyzing the issue before working on it. I wanted to know if we can keep the username pass as null in case they are not present. Please advise.

[2018-08-17 07:03] #599 closed

[2018-08-17 13:24] kkrawczyk123 opened #608 "Overwrite dialog displays behind Default export Conf instead of in front of no MacOS"
#### Software versions
Briefcase v1.11.x, Java v1.8.x, operating system: MacOS

#### Problem description
Overwrite dialog displays behind Default export Conf instead of in front of on MacOS, screenshot attached:
![screenshot from 2018-08-17 15-17-49](https://user-images.githubusercontent.com/33342488/44268247-299c3380-a231-11e8-843b-6de43045bf3a.png)

#### Steps to reproduce the problem
1. Run bri

[2018-08-21 08:28] kkrawczyk123 opened #610 "Make headers separators more visible."
#### Software versions
Briefcase v1.11.x, Java v1.8.x, operating system: Windows 10

#### Problem description
I think that horizontal and vertical separators of the forms table's header row could be more visible on the Windows system on all Pull, Push and Export tabs. It is not a high priority issue just a small visual improvement.
Screenshot attached:
![screenshot from 2018-08-21 10-02-24](https:

[2018-08-21 08:30] ggalmazor commented on #610
@opendatakit-bot label "good first issue"

[2018-08-21 08:31] ggalmazor commented on #610
The `FindDirectoryStructure` class has a method `isWindows()` that could be useful for this one ;)

[2018-08-21 13:53] #579 closed

[2018-08-22 12:35] ggalmazor opened #611 "Leave useful info & data about submissions that fail while exporting"
Sometimes we have difficulties to triage and debug issue when something goes wrong while exporting encrypted forms. Final users often can't share with us their data and private keys, and Briefcase logs can be not enough to pin down the cause of the failure.

We should explore options to help to triage and debug failures.

- Briefcase currently decrypts encrypted submissions into a file in a tempor

[2018-08-22 12:43] ggalmazor opened #612 "Add reload button in pull tab"
We should add a button on the pull tab to let users reload the forms list in case new forms are available.

This is a mockup of such a button:
![image](https://user-images.githubusercontent.com/205913/44463979-bb34e800-a619-11e8-9d55-bda852eb74e1.png)

[2018-08-22 12:54] ggalmazor opened #613 "Add CLI param to include incomplete submissions while pulling a form"
The PR https://github.com/opendatakit/aggregate/issues/305 provides a new optional param to include incomplete submissions that Briefcase could use while pulling a form.

We should add a new optional CLI param to enable this on the pull from Aggregate CLI op. The new param's long form should be `--include_incomplete` and its short form should be `-ii`

[2018-08-22 19:27] kunalmulwani commented on #603
@ggalmazor Can you please advise on this?

[2018-08-23 08:16] ggalmazor commented on #603
Hi, @kunalmulwani!

If you've already started working on this one, could you tell me about what have you tried, or where are you stuck, so that I can make an idea of your current scenario?

[2018-08-23 14:18] #590 closed

[2018-08-24 09:46] jpknox commented on #612
I was having a poke at this but I became blocked by an error - I can't pull data from an aggregate server. The URL in your picture gives me an SSL error and the URL from the tutorial page (https://opendatakit.appspot.com/) gives me the following error readout.

`Fetching form definition
resolving against briefcase form definitions
Error parsing form definition: org.opendatakit.aggregate.exception.

[2018-08-24 21:16] lognaturel opened #616 "Add option to split select multiples to export UI"
#577 added the functionality to the command line and it would be helpful to also have in the UI.

[2018-08-25 09:21] ggalmazor opened #617 "Adapt to JavaRosa 2.11.2 breaking changes"
#### Problem description
JavaRosa 2.11.2 introduced a change in the `DataType` enum that replaced the `CHOICE_LIST` (deprecated) value with the proper `MULTIPLE_ITEMS` value.

We should upgrade Briefcase to use the latest JR lib version and adapt to this breaking change.

#### Steps to reproduce the problem
Update the JR dependency to use the 2.11.2 version and try to build the project.

#### Expe

[2018-08-25 13:14] kunalmulwani commented on #603
Hi @ggalmazor!

I have tried using <code>appPreferences.get()</code> instead of <code>nullSafeGet</code> with default value as null. I am not sure if this is the right way to do this.

[2018-08-25 14:00] huangyz0918 commented on #610
@ggalmazor Can I work on this ?
@opendatakit-bot claim

I think in macOS the header could be more visible too, maybe we can add a background on that, what do you think? @ggalmazor

[2018-08-25 16:12] jpknox commented on #612
Glad to be back @yanokwa!

The SSL error has disappeared for myself.

Your suggestion is working well for me so far. May I continue using it for this issue?

@opendatakit-bot claim

[2018-08-25 18:27] ggalmazor commented on #603
Hi, @kunalmulwani!

All new code should always use `.nullSafeGet()` (I should add the `@Deprecated` annotation and document this on the code, sorry about that).

I suggest you start by copying and pasting the `if` block from `ExportForms.java`, line 71 (the one in the issue description) and adapt it to the new case we want to cover: we have the URL **and** we don't have a username **and** we don't

[2018-08-25 20:13] dcbriccetti commented on #610
Increasing the header font size may be a simple way to improve the appearance. Here’s an increase by 1.3 times on Mac:

Before:
<img width="495" alt="screen shot 2018-08-25 at 1 03 58 pm" src="https://user-images.githubusercontent.com/55099/44622162-32f85200-a868-11e8-8c6c-4ea8a3093e14.png">

After:
<img width="490" alt="screen shot 2018-08-25 at 1 04 55 pm" src="https://user-images.githubusercont

[2018-08-26 17:44] kunalmulwani commented on #603
@ggalmazor I can't see any forms to pull from https://sandbox.aggregate.opendatakit.org

[2018-08-26 21:52] #617 closed

[2018-08-27 07:31] ggalmazor commented on #603
@kunalmulwani the sandbox server gets wiped every Sunday. Eventually, someone will push something :)

You can push some if you want.

[2018-08-27 07:37] ggalmazor commented on #603
(I've pushed some forms :smile:)

[2018-08-27 09:26] ggalmazor opened #621 "Improve export of audit CSV files and media files"
This is a two-in-one issue because there's a tight relation between media attachments and audit CSV files.

#### Software versions
Briefcase v1.11.3

#### Issues with binary media attachments

When exporting more than one form at the same time, all the media files from all selected forms will get mixed in the same `media` output directory, which can be confusing and maybe even not counterproductiv

[2018-08-28 19:16] #610 closed

[2018-08-28 19:46] #608 closed

[2018-08-28 20:00] kunalmulwani commented on #603
@ggalmazor Thank you. I tried updating the logic and followed the steps. But in appPreferences has the password even though I haven't set it explicitly.

[2018-08-28 20:00] kunalmulwani commented on #603
@opendatakit-bot claim

[2018-08-29 10:59] #613 closed

[2018-08-30 10:31] ggalmazor commented on #319
Closing:
- We haven't been able to compile a step list to reproduce this particular failure
- This problem has been deeply analyzed and we've already decided to solve dupe key errors by implementing a central database and using composite keys + form hashes to solve form collisions
- Fixes and improvements have been already put in place to mitigate current problems while the Database happens

[2018-08-30 10:31] #319 closed

[2018-08-30 10:33] #210 closed

[2018-08-30 10:51] #386 closed

[2018-08-30 10:56] ggalmazor commented on #357
Closed, since all the action points have been met

[2018-08-30 10:56] ggalmazor commented on #357
Closing, since all the action points have been met

[2018-08-30 10:56] #357 closed

[2018-08-30 10:57] ggalmazor commented on #385
Closing, since the `FileChooser` has been applied to all tabs already.

[2018-08-30 10:57] #385 closed

[2018-08-30 11:26] ggalmazor commented on #366
Closing in favor of #366

[2018-08-30 11:26] #366 closed

[2018-08-30 11:28] ggalmazor commented on #485
Closing, since export performance improvements have been implemented

[2018-08-30 11:28] #485 closed

[2018-08-30 11:30] ggalmazor commented on #535
I think INFO for production is OK. Maybe we should review what gets logged and either remove some of these messages or downgrade them to DEBUG.

[2018-08-30 11:32] ggalmazor commented on #537
Closing in favor of #591 and #620

[2018-08-30 11:32] #537 closed

[2018-08-30 11:34] ggalmazor commented on #536
I think this one is a good candidate for a "good first issue" tag if we can agree on the feedback we want to give to users. Want to pitch in, @yanokwa, @lognaturel?

[2018-08-30 11:35] ggalmazor commented on #550
Closing, since performance improvements have already been implemented

[2018-08-30 11:35] #550 closed

[2018-08-30 11:36] ggalmazor commented on #556
Closing since this has been already analyzed and we have agreed on implementing a central database to solve the indexing of forms

[2018-08-30 11:36] #556 closed

[2018-08-30 11:37] ggalmazor commented on #587
Closed by #604

[2018-08-30 11:37] #587 closed

[2018-08-30 11:39] ggalmazor commented on #602
Could this be with non-finalized submissions that lack of an instanceID? That would explain the dupes...

[2018-08-30 16:35] yanokwa commented on #244
Agreed that this can be closed because we don't have the SD option anymore.

[2018-08-30 17:41] kunalmulwani commented on #603
@ggalmazor Can you think of any scenario where I can find the password in appPreferences?

[2018-08-31 07:25] ggalmazor commented on #188
I'd close this one if we're not capable of producing a scenario where this is reproduced. We have neither received user reports in the forums since Dec'17.

Also, although I haven't done focused testing of this issue, I've used empty submissions while testing other PRs and it worked.

[2018-08-31 07:27] ggalmazor commented on #33
I don't know if this issue is still relevant.

[2018-08-31 07:27] ggalmazor commented on #64
I don't know if this issue is still relevant, since it was to support a gsoc'17 candidacy.

[2018-08-31 08:44] emajj opened #624 "Briefcase Automation Todos"
#### Software versions
Briefcase v1.9.0, Java v1.x.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description

* Add schebang for linux
* Define custom export, pull and push confs per form
* load available confs
* Scheduler integration

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggest

[2018-08-31 12:49] kunalmulwani commented on #603
@ggalmazor When I try to pull a form anonymously with remembering passwords settings enabled, I should ideally get null for username and passwords in <code>appPreferences</code>. I get null for username but I can see that <code>appPreferences</code> has an entry for the password. Any idea about this? Why does the <code>appPreferences</code> has an entry for password for anonymous account?

[2018-08-31 14:25] lognaturel commented on #624
That’s a good start, @emaj! I’m sure you have notes about each of these, how you would approach them and some of the challenges that are bound to come up. Would be good to have a couple of paragraphs about each. In particular, what does “Add schebang for linux” mean?

[2018-08-31 16:14] #390 closed

[2018-08-31 16:17] yanokwa commented on #64
Agreed that it's not longer relevant.

[2018-08-31 16:17] #64 closed

[2018-08-31 20:58] yanokwa commented on #188
Agreed with @ggalmazor's logic.

[2018-08-31 20:58] #188 closed

[2018-08-31 21:02] yanokwa commented on #230
I'm hesitating at closing this because it points to a higher level issue of how what we allow as file names. So for example in #224 (https://github.com/opendatakit/briefcase/pull/224/commits/1ecaa5ff476a5974538d300e19d1526e048abf18#diff-cf12604ffa6f5eb5f610a0f9121717bcR39) we remove a bunch of bad characters in the title, but we don't do the same when we export to CSV. Seems like we should be cons

[2018-09-01 17:47] jpknox commented on #612
@ggalmazor I recall that you suggested a minor tweak to the functionality of the button. Would you prefer to include it in this ticket or in a new one instead?

[2018-09-03 09:12] ggalmazor commented on #603
That seems like some residual information from a previous pulling operation. I would care much about it because the condition must check that *both* are empty. You can use:

[code]

I'm thinking now that the safest way to check this would be the one in the second line from the example above. We could have a username key with a null value.

[2018-09-03 09:26] ggalmazor commented on #33
OK! Let's analyze this.

The table we need to maintain is this:
| extension | mime type |
| --- | --- |
| xml | text/xml |
| jpg | image/jpeg |
| 3gpp | audio/3gpp |
| 3gp | video/3gpp |
| mp4 | video/mp4 |
| csv | text/csv |
| xls | application/vnd.ms-excel |
These mappings must be the same in Collect, Briefcase, and Aggregate.

I believe that adding a third-party library would let us replace the

[2018-09-03 09:31] ggalmazor commented on #230
I think this is no longer true. We're using `StringUtils.stripIllegalChars()` on the export filenames since our last changes to the export process...

[2018-09-03 09:33] ggalmazor commented on #230
Now I'm wondering if I'm missing any other file output that Briefcase might produce...

[2018-09-03 09:38] ggalmazor commented on #612
Hi, @jpknox!

I believe we're talking about the lack of user feedback when the reload process finishes (whether it's successful or there's been some error).

I think a new issue would be best for this.

[2018-09-04 11:01] kkrawczyk123 opened #625 "Export submissions from ODK dir is failing."
#### Software versions
Briefcase v1.11.x, Java v1.x.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description
There is an unexpected error displayed on the newest master when exporting submissions pulled from odk directory. In the log file there is Error while exporting forms
org.opendatakit.briefcase.reused.BriefcaseException: No instance ID found.

On the 1.11.1 beta, th

[2018-09-04 11:06] ggalmazor commented on #625
So, after analyzing this issue, we have identified a particular scenario that we should solve separately: submissions without an instance ID.

These submissions have always been excluded from the export output. We could think of alternatives:
- Briefcase could assign each submission with a random ID, used only when exporting (wouldn't change the source submission.xml files in the storage directory

[2018-09-04 15:01] ggalmazor commented on #625
The hardest problem to solve is when forms have repeat groups. Null IDs in this scenario wouldn't work because it would be impossible to link rows from a repeat group CSV file to the main CSV file.

If Briefcase assigns random IDs, they can track a repeat group CSV file line to it's parent file in the main CSV file.

Also, I think random IDs don't harm the scenario where there are no repeat groups

[2018-09-04 17:00] ggalmazor opened #627 "OpenJDK 10 issues with SSL certs"
It turns out that the truststore of OpenJDK variant of Java 10 complains when contacting AppEngine and Google Analytics services over HTTPS connections.

This issue will track our findings aimed to give final users instructions to run Briefcase with these JVMs.

[2018-09-04 17:05] ggalmazor commented on #625
After discussing this with @yanokwa, and @lognaturel, we decided to redefine the validity rules of a submission:

(copied from #626)

[2018-09-04 19:24] lognaturel opened #628 "Export button is disabled after first pull because no default configuration is set"
After a user has pulled some forms, they will often want to export those forms. Now that the default configuration is hidden behind a button, it's not as clear that they need to set values there. They may check a form, try to tap the Export button and find that they're stuck. Nothing indicates that the problem is that there's no configuration set.

Some options:
- when a form is selected, if no de

[2018-09-04 19:43] ggalmazor commented on #628
I like the idea of enabling the export button and showing a dialog. We could tell the user what's missing. It might be the output dir, or it might be that she hasn't selected any form yet. In future releases, we could even warn about missing private keys for encrypted forms!

Having a default configuration is not strictly required. It would be OK to have a custom conf defined for every selected fo

[2018-09-04 19:44] lognaturel commented on #625
A side note -- when @ggalmazor and I were talking informally, he mentioned that there's also a check for an `instanceID` attribute on the root node and I wasn't sure what that was about. Now that I've thought about it, I believe it's one of the things along with `submissionDate` that Aggregate injects into submissions. Does that sound right, @ggalmazor? If so, I think it's an important check becau

[2018-09-04 19:46] lognaturel commented on #628
Ahh, right, there are lots of ways to get out of that state.

Agreed that always enabling the export button and then giving some hints on how to proceed if not enough information is set seems like a good approach.

[2018-09-04 19:46] ggalmazor commented on #625
I think I would have to check that with Aggregate's source code in front of me... I think it's an important thing we're doing here by documenting all these edge-case scenarios.

[2018-09-04 19:47] ggalmazor commented on #628
OK, I'll work a PR tomorrow with this. It should be easy to do since we already have an `ExportConfiguration.getErrors()` that would give us the information we want to show in the dialog

[2018-09-04 19:50] lognaturel commented on #628
Sounds great! That will give @yanokwa a bit to see if he has any other thoughts on this.

[2018-09-05 09:43] ggalmazor commented on #230
I've checked this and there were two places that didn't use the `stripIllegalChars` method. I've created a PR to fix that.

[2018-09-05 11:54] kunalmulwani commented on #603
@ggalmazor  <code>passwordKey</code> is an empty string. I couldn't find the <code>isEmpty()</code> method. Should I add one?

[2018-09-05 11:57] ggalmazor commented on #603
I see in your screenshot that the result of `appPreferences.nullSafeGet(usernameKey)` is an `Optional` instance, which has the `isEmpty()` method. The problem is that the optional you are getting is not actually empty (it's holding a non-null string).

I think this would work in this case: `appPreferences.nullSafeGet(usernameKey).filter(value -> !value.isEmpty()).isEmpty(); // should give true in

[2018-09-05 12:00] kunalmulwani commented on #603
The screenshot is for <code>passwordKey</code>. <code>usernameKey</code> is null.

[2018-09-05 12:01] ggalmazor commented on #603
OK, but I'd suggest filtering both anyway

[2018-09-05 12:01] ggalmazor commented on #603
Sorry, I didn't read correctly your message. You're talking about the password*Key*.

[2018-09-05 14:13] kunalmulwani commented on #603
I have just added a basic logic that is expected to work. `usernameKey and passwordKey` should not be present. [Commit](https://github.com/kunalmulwani/briefcase/commit/c7485ad6763ff7384419ba71960d90689ce58b22)

[2018-09-05 17:29] ggalmazor commented on #603
Thanks, @kunalmulwani! With the code I'll be able to understand it better. I'll check it tomorrow.

[2018-09-05 17:30] ggalmazor commented on #595
I'll do this as soon as we release v1.12.0

[2018-09-06 11:57] ggalmazor opened #631 "Weird field size changes on the export conf panel"
#### Problem description

This happens only on the custom conf panels because the export directory field can be cleared.

![custom conf](https://user-images.githubusercontent.com/205913/45155759-50b8a600-b1dc-11e8-9258-bb558a34a3fa.gif)

- Once fields are set, the button "Choose..." is replaced with a shorter "Clear" button.
- Since the export dir and the pem file effectively form a group (date fi

[2018-09-06 12:01] ggalmazor commented on #631
The easiest, 5 minutes fix for this would be to set the same size for both buttons:

![custom conf 2](https://user-images.githubusercontent.com/205913/45156021-2e735800-b1dd-11e8-87ed-fc3e55689988.gif)

These two lines in `ConfigurationPanelForm.java#105` take care of that:

[code]

[2018-09-06 13:07] ggalmazor commented on #603
Hi, @kunalmulwani!

Your commit is looking good :)

Does it solve the original issue?

[2018-09-06 15:56] kunalmulwani commented on #603
@ggalmazor nope. This is expected to work but like I said we have an empty value for `passwordKey` in `appPreferences`.

[2018-09-06 16:08] ggalmazor commented on #603
Could you try this?

[code]

[2018-09-06 16:44] kunalmulwani commented on #603
@ggalmazor it works.

[2018-09-06 16:52] #628 closed

[2018-09-06 17:00] ggalmazor commented on #603
OK, this leads me to think that we should refine those `.hasKey()` methods to do this filtering inside, but I think you could create a PR with this and any improvement you'd want to add.

[2018-09-07 16:17] #230 closed

[2018-09-10 14:36] ggalmazor commented on #422
Thanks for reminding!

[2018-09-11 10:53] ggalmazor commented on #621
Thanks, @lognaturel!

I think I'll keep this issue around for some more time to discuss names of the media folders, which could currently present the issues described here.

I'll create a new issue to focus on the aggregation of audit data into a single output file.

[2018-09-11 11:15] ggalmazor opened #637 "[Export] Aggregate audit information into one output CSV file"
#### Problem description

As explained in #621, when exporting a form that attaches audit information, the audit CSV output files get saved in the media output folder, like any other binary attachments. Since all submissions use the fixed `audit.csv` filename:

- Exporting only one form will get you all the audit files in the media output directory, and their file names will have a sequence number

[2018-09-11 18:39] joeflack4 opened #638 "MetadataUpdateException's - should halt execution or otherwise be more noticeable?"
#### Software versions
Briefcase v1.11.3, javac v1.8.0_131, OS X 10.13, Aggregate v1.4.7

#### Problem description
One of our data managers runs a script to download instances and submission CSVs for 6 or so forms. via the terminal. One of or more of those attempts to write a CSV yielded an error. I don't have the original terminal output, but it was probably: `MetadataUpdateException Original sub

[2018-09-12 06:56] ggalmazor commented on #638
Thanks for reporting this issue, @joeflack4! The verbosity of logs/CLI output is a longstanding issue that we need to solve.

It would be very helpful to have a zipped briefcase log to analyze. I'm tagging this issue with `needs reproduction` to let anyone try the steps you've detailed and attach logs to the issue, or even better, copy a stack trace.

[2018-09-12 07:46] ggalmazor commented on #621
I'm finally closing this issue:
- The problems with audit files will be tracked with #637
- The issues about other media attachments described here don't seem so important
  If users complain about this, we can track this issue down for documentation.

[2018-09-12 07:46] #621 closed

[2018-09-12 09:41] #603 closed

[2018-09-12 09:49] ggalmazor opened #639 "Code cleanup - ExportForms"
#603 introduced some changes that highlight the need for refactoring `ExportForms.load()` to make it more concise and improve semantics.

There's also the question about what should `BriefcasePreferences.hasKey()` return in case the key exists but the value is null or an empty string. My guts say that we should return `false`, since we don't really know how the Java Preferences system handles remo

[2018-09-12 10:10] ggalmazor commented on #624
Hi, @emajj!

I've reviewed your issue and changed the language for clarity and conciseness. I hope you don't mind. I'd want this issue to serve as a platform to explore and discuss all the pending stuff.

I already have some questions, and it would be great to have your take on them. We can discuss them and then change the issue when there's an agreement about things.

These are my thoughts and qu

[2018-09-12 10:54] ggalmazor commented on #612
Hi, @jpknox!

I'm working on #595, which is somewhat affected by the new reload button you worked on. I think I could take on the missing user feedback we were talking about in the previous comments, which would solve #595.

Have you started working on this already? Are you planning to? If not, I'd like to take it right away, if that's OK.

[2018-09-12 11:00] ggalmazor commented on #637
@lognaturel, I've ruled out the original strategy I had in mind because it would involve changes in JR (adding a new DataType value for audit fields). I'm right on thinking this is not worth changing JR, right? Could this new AUDIT data type be used for anything else?

[2018-09-13 06:51] ggalmazor commented on #539
We're discussing this from a wider perspective at the forums
https://forum.opendatakit.org/t/standardize-on-iso8601-for-date-and-time-exports-in-briefcase-aggregate-central/15159/3

[2018-09-13 14:42] ggalmazor commented on #612
Hi, @jpknox!

I went ahead and created a PR #643.

I'm going to close this issue, by the way. It should have been closed after merging #620, I think.

[2018-09-13 14:42] #612 closed

[2018-09-17 14:46] joeflack4 commented on #638
Thanks for the response! Glad to hear we are of the same opinion.

Does briefcase log every session somewhere? Or does it have to be manually turned on?

Unfortunately I don't have the full setup that the data managers in my organization have. I'm kind of just posting this on their behalf. But I think this is reproducible in any situation where you briefcase is trying to write to a file where acce

[2018-09-17 14:46] joeflack4 commented on #638
Thanks for the response! Glad to hear we are of the same opinion.

Does briefcase log every session somewhere? Or does it have to be manually turned on?

Unfortunately I don't have the full setup that the data managers in my organization have. I'm kind of just posting this on their behalf. But I think this is reproducible in any situation where you briefcase is trying to write to a file where acce

[2018-09-17 14:49] ggalmazor commented on #638
Hi, @joeflack4!

If you're using the official release of ODK Briefcase, it will create a `briefcase.log` file at the same place where you launch it on the command-line.

In the meantime, I'll try to reproduce the error with the tips you're giving as soon as I have cycles for that ;)

[2018-09-18 02:31] emajj commented on #624
I don't. Thanks for the edit.

Ok. I will prepare mock ups.

And here too. But the initial implementation I did was working like this out of the box but it was loading the same config for all forms. I think if I can figure out how to define custom config per forms, then this should follow naturally.

In that case I will proceed with the research on how to integrate the scheduler. Keeping in mind a

[2018-09-18 08:11] ggalmazor opened #644 "Prefs not being saved between launches"
#### Software versions
Briefcase v1.12.0, Java >= 8, macOS 10.13.2

#### Problem description
While testing other PRs in my macOS VM (VirtualBox) I've noticed that the Pull source wasn't being saved between launches.

I didn't try all the other things that are saved, but export confs (default and custom) were working alright.

#### Steps to reproduce the problem
- Open Briefcase
- Set an Aggregate

[2018-09-18 08:12] ggalmazor commented on #644
Tagging people that I now use macs: @lognaturel, @yanokwa, @dcbriccetti, @kkrawczyk123

Could you try to reproduce this whenever you can, please?

[2018-09-18 20:00] lognaturel commented on #644
Can't reproduce. I launched a pre-release version, set the source. Launched master, it was still there. Downloaded a form, closed master, opened master, still there. Closed master, opened the official release jar, still there. Reset, closed release jar, opened, no source set as expected. Set a source, closed release jar, reopened released jar, source is there.

[2018-09-19 23:37] MartijnR opened #645 "Decryption failing without a log"
#### Software versions
Briefcase v1.12.0, Java v9.01, MacOS

#### Problem description
Decryption (via export) failing without apparent log generation. This could be a loggin bug, or just a request to guide me in finding logs.

#### Steps to reproduce the problem
I am implementing encryption in Enketo and so far failing to decrypt with ODK Briefcase. Probably some subtle issue but at this point in

[2018-09-19 23:38] lognaturel commented on #645
To confirm, there's no `briefcase.log` file that is a sibling of the `jar` file?

[2018-09-19 23:40] MartijnR commented on #645
That correct. There isn't one (there was one generated during installation and perhaps initial pulling) but after deleting it and testing exports, a new one is not being generated.

[2018-09-19 23:51] lognaturel commented on #645
Interesting. And if you pull or launch again, then does it get created? @ggalmazor is likely to know more off the top of his head so I'm inclined to give him some time to get back to you on this.

[2018-09-20 00:00] MartijnR commented on #645
Aha! I restarted ODK Briefcase and this generated a new briefcase.log! After hitting export it is now populating with useful logs!

So it was an odd case, where the briefcase.log file is deleted while ODK Briefcase is open!

Thanks!

[2018-09-20 00:09] lognaturel commented on #645
🎉 🎉 Thought that could be the case! I think this is normal behavior for our logging libraries.

Wait, what have you broken?! 🤔 😄

[2018-09-20 06:19] ggalmazor commented on #645
I’m happy that y’all figured it out! :)

I’d like to keep the issue around for some days, though, in case we can improve the log conf to recover from that situation gracefully.

[2018-09-20 16:18] joeflack4 commented on #638
Ok! I'll check with her. Thanks for the tip.

[2018-09-23 20:07] matthew-white opened #646 "Value of PARENT_KEY column does not exist in corresponding KEY column"
In some cases, it seems that after export, a repeat group CSV file can have a value in its `PARENT_KEY` column that does not exist in the corresponding `KEY` column. For example, suppose that a form has a single repeat group `r`, which is nested within a few non-repeat groups:

* `g1` (group)
  * `g2` (group)
    * `g3` (group)
      * `r` (repeat group)

Suppose that the form has a single submiss

[2018-09-23 22:23] matthew-white opened #647 "Filename of repeat group CSV does not include group names"
After export, it seems that the filename of a repeat group CSV does not include the names of the groups in which the repeat group is nested. For example, suppose that a form with the title `f` has a single repeat group `r`, which is nested within a few non-repeat groups:

* `f` (form)
  * `g1` (group)
    * `g2` (group)
      * `g3` (group)
        * `r` (repeat group)

I believe that in earlier v

[2018-09-24 15:12] ggalmazor commented on #646
Thanks, @matthew-white! It looks like we have a bug in the algorithm that builds the parent keys.

[2018-09-25 22:44] MartijnR opened #650 "question about meta group in encrypted submission manifest"
Is ODK Briefcase doing anything with this section of submission.xml manifest of an **encrypted** submission?

[code]

The instanceID is already present on the rootnode `instanceID` attribute so this seems redundant.

Not including this meta groups seem to be OK, but I wanted to confirm, because I am experiencing another nasty issue, and would like to rule this out as the possible cause.

[2018-09-26 07:04] ggalmazor commented on #650
@lognaturel and I have discussed this recently. It would be great to have her confirm the things I'm about to say:

- It turns out that modern blank forms *should* have a `meta` group with an `instanceID` field, which should have a `<bind calculate="concat('uuid:', uuid())" nodeset="/data/meta/instanceID" readonly="true()" type="string"/>` to make Collect or other clients produce a unique instance

[2018-09-26 08:22] huangyz0918 opened #651 "Busy cursor still display after the errors."
#### Software versions
macOS 10.13.6

#### Problem description
I'm trying to connect to the demo server (http://opendatakit.appspot.com), but I got a connections time out error, after click the "Yes" button, the cursor still busy in the dialog, it's uncomfortable.

![image](https://user-images.githubusercontent.com/15646062/46066937-35700380-c1a8-11e8-8518-26ea62dc0ea6.png)
![image](https://user-i

[2018-09-26 15:13] MartijnR commented on #650
Great. Thanks. This clearly shows, I should pay more attention to the Collect code instead of reverse-engineering pulled encrypted submissions in Briefcase!

[2018-09-26 15:34] lognaturel commented on #650
Sounds right to me!

[2018-09-26 15:34] #650 closed

[2018-09-26 16:49] MartijnR opened #653 "Encrypted submissions with more than 1 media file are not exported correctly"
#### Software versions
Briefcase v1.12.0, Java v9.0.1, Mac OS 10.13.6, Aggregate v1.6.1, Collect v1.17.0

#### Problem description
Encrypted records with 2 uploaded photos are successfully pulled to Briefcase, but when exporting there are 2 issues (probably related):

1. Only the first of the uploaded photos ends up in the Briefcase export media folder
2. For records with 2 photos, `isValidated` i

[2018-09-26 23:14] #600 closed

[2018-09-27 01:05] yanokwa commented on #33
Just to bring this topic back from the dead.

 I *think* the initial reason is that Aggregate doesn't know how to display files if there are no MIME types, but I'm not sure why we need to keep a list of the various MIME types. That is, why can't we just use some library that has an extension to MIME mapping.

On Collect, we can use https://developer.android.com/reference/android/webkit/MimeTypeMap

[2018-09-27 08:28] ggalmazor commented on #653
I think I found the bug!

Briefcase is expecting a list of `file` nodes inside the `media` node but, instead, it's getting this:
[code]

I'll start factoring a fix right away.

[2018-09-27 14:51] MartijnR commented on #653
Aha, i was wondering about that actually! Great.

[2018-09-27 14:56] ggalmazor commented on #653
@MartijnR, it would be great if you can test it with the changes I've pushed to #655

Having you confirm that the PR solves the issue would be enough sanity checking to release it as a patch version v1.12.1 today or tomorrow.

[2018-09-27 16:54] MartijnR commented on #653
@ggalmazor I'd be happy to do that. I'm not a Java person, though, and trying to compile Briefcase will be beyond my capacity. Any chance you can pass me a compiled file?

[2018-09-27 16:59] ggalmazor commented on #653
Of course, you can use this one:
[briefcase.zip](https://github.com/opendatakit/briefcase/files/2425046/briefcase.zip)

[2018-09-27 17:07] yanokwa commented on #653
I believe in you, @MartijnR. 😂

[2018-09-27 17:43] ggalmazor commented on #653
That's strange, @MartijnR... I can't reproduce any problem with the nicer syntax.

I believe Collect doesn't generate that syntax, though.

[2018-09-27 18:59] MartijnR commented on #653
Here is the whole ODK Briefcase folder including private PEM with just one instance to help troubleshooting.
[ODK Briefcase.zip](https://github.com/opendatakit/briefcase/files/2425479/ODK.Briefcase.zip)

Note this submission was generated by Enketo, but it works well if I use ODK Collects /media/file syntax. Also note that the signature is still under development but that probably has no influence

[2018-09-27 19:02] MartijnR commented on #653
Ignore last message! I messed up. Let me re-do!

[2018-09-27 19:10] MartijnR commented on #653
Alright, it wasn't me who messed up. I now have proof that Aggregate (or else Briefcase) strips the second file element from a media element.

So I'd say, let's not fight it, and use what Collect is using :)

[2018-09-27 19:11] lognaturel commented on #653
Ahhh, ok. So to be super explicit, Briefcase can correctly export that structure as verified by @ggalmazor's test and our manual verification but it gets modified before it actually gets to the Briefcase storage directory?

[2018-09-27 19:15] MartijnR commented on #653
Yes, indeed. I just confirmed that when manually copying the instance files (bypassing Aggregate) works well in Briefcase with the nicer syntax.

[2018-09-27 19:16] ggalmazor commented on #653
Then we can move this one to an issue for Aggregate, I suppose. Even if it's only to document this behavior.

[2018-09-27 19:16] lognaturel commented on #653
Ok, great. So let's file an issue to hunt that down.

Doing a quick pass over #653 and we can merge.

[2018-09-27 19:18] #653 closed

[2018-09-27 19:30] #646 closed

[2018-09-27 19:30] #647 closed

[2018-09-28 07:37] ggalmazor opened #656 "Fix split select multiples for forms using search() as external source of items"
#### Software versions
Briefcase v1.12.0

#### Problem description
As discussed in https://github.com/opendatakit/docs/pull/871#discussion_r221159602, forms that use external csvs combined with `search()` appearance don't really work (I'll create an issue on briefcase to track this).

Take this form, for instance: [search_and_select.zip](https://github.com/opendatakit/docs/files/2427166/search_and

[2018-09-28 13:58] ggalmazor commented on #653
Hi, @MartijnR! We've release [v1.12.1](https://github.com/opendatakit/briefcase/releases/tag/v1.12.1) with the fix for this bug :)

[2018-09-28 15:28] MartijnR commented on #653
Great! Thanks for fixing this so quickly!

[2018-09-30 09:54] ggalmazor opened #657 "Fix adding csv extension when given filename doesn't include it"
#### Software versions
Briefcase v1.12.0

#### Problem description

As discussed in [this forum post](https://forum.opendatakit.org/t/csv-file-extension-missing-on-export-via-odk-briefcase-cli-1-12/15449), v1.10 ensured that the main export file included the csv, in case the user provided a filename without it.

#### Steps to reproduce the problem
- Run the JAR: `java -jar build/libs/ODK-Briefcase

[2018-10-02 16:39] lognaturel commented on #656
👍 Excluding fields that use `search()` sounds good.

[2018-10-02 19:09] #657 closed

[2018-10-09 09:01] ggalmazor opened #661 "Add new GeoJSON export format"
As per https://github.com/opendatakit/roadmap/issues/26, and [this forum discussion](https://forum.opendatakit.org/t/add-a-geojson-export-to-briefcase-and-aggregate/15184) we want to be able to export spatial data in form submissions into GeoJSON format.

![image](https://user-images.githubusercontent.com/205913/46028099-faaa9480-c0ef-11e8-9f26-87bc81357a44.png)

[2018-10-10 13:44] #651 closed

[2018-10-10 13:46] #616 closed

[2018-10-10 13:50] #595 closed

[2018-10-12 09:23] ggalmazor opened #662 "Remove middle non-repeat groups from csv headers"
@kkrawczyk123 and I have discovered some inconsistency while checking #648 that we think we should discuss.

#648 removed middle non-repeat groups from the keys that we use to link rows from repeat files with other exported files.

Given a structure like this one:
- repeat 1
  - group 1
    - repeat 2

Inspecting the output export files:
- The file for `repeat 1` will have a column `SET-OF-group 1

[2018-10-12 09:48] ggalmazor opened #663 "Use unqualified export filenames for repeat groups"
As discussed in https://github.com/opendatakit/central-backend/issues/145, we're moving to unqualified filenames for repeat group export files.

We need to sort out how to do deduplication.

This issue will serve to track design decisions discussed in https://github.com/opendatakit/central-backend/issues/145

[2018-10-15 07:12] ggalmazor opened #664 "Change main and test basecode paths"
This has been bothering me since the beginning :P

- Main sources are at `src`
- Main resources are at `res`
- Test sources are at `test/src`
- Test resources are at `test/resources`

Maybe (probably) it's because of my Mavenite customs, but, wouldn't it be nicer to have:

- Main sources are at `src/main/java`
- Main resources are at `src/main/resources`
- Test sources are at `src/test/java`
- Tes

[2018-10-15 07:18] ggalmazor commented on #664
Is there any other thing in the repo that should be reorganized?

[2018-10-15 07:49] #637 closed

[2018-10-15 13:53] #656 closed

[2018-10-17 09:32] ggalmazor opened #665 "Not all individual audit files are being exported"
#### Software versions
Briefcase v1.11.x

#### Problem description
When exporting forms that have audit data, due to concurrency and delays while writing to the filesystem, Briefcase can fail to write some of the individual audit files to the `media` export directory.

#### Steps to reproduce the problem
Unzip the contents of [this zip](https://github.com/opendatakit/briefcase/files/2486693/defaul

[2018-10-17 09:57] ggalmazor opened #666 "Review how binary submission attachments are exported"
Related to [this forum post](https://forum.opendatakit.org/t/odk-briefcase-export-submissions-to-csv-error/15694/6)
Related to issue #665

### The problem

- We start the audit file sequence on 2 and we check if there’s already an audit-2.csv file. If it exists, we increment the sequence and repeat.
  This means that the 200th submission does 200 fs checks. The 2000th, 2000 checks, etc.
- Since th

[2018-10-17 10:01] ggalmazor opened #667 "Sentry Sweep for v1.13.0"
Do a Sentry Sweep

Silence high rate events

[2018-10-21 08:06] ggalmazor opened #668 "Use the same filename sanitizing as in Central"
We should sanitize files using the same algorithm. In Central we're using  https://www.npmjs.com/package/sanitize-filename, which seems to be better tested and documented (and less restrictive without being unsafe) than the one we're using in Briefcase, which was custom made.

[2018-10-22 11:38] aurdipas opened #671 "Add an option to Briefcase export to remove group names in column headers."
**Background**
When exporting a form through Briefcase, variable names (column headers of the csv file) are not simply the one specified by the user on designing the form, but the eventual groups name the variable belong to, are automatically added before the actual name given to the variable.

In complex forms, with nested groups, this could lead in very long and complex names of column headers o

[2018-10-23 03:51] QollinsOchieng commented on #671
Very true Aurelio. It has been an issue for a long time. Thanks!

Odhiambo Collins Ochieng
KEMRI-KISUMU
Tel: +254702344393
Email: coodhiambo@kemricdc.org or qollinsochieng@gmail.com
-------- Original message --------From: Aurelio <notifications@github.com> Date: 22/10/2018  14:38  (GMT+03:00) To: opendatakit/briefcase <briefcase@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Su

[2018-10-24 08:35] ggalmazor commented on #645
After thinking about this, I don't have any clever way to prevent this kind of issues.

At least we can improve the docs and explain how logs work. Closing in favor of https://github.com/opendatakit/docs/pull/898

[2018-10-25 09:41] #645 closed

[2018-10-25 10:01] ggalmazor commented on #671
This is looking good. I think I can start making this change :)

I'd like to dig a little bit into the remark about dupe variable names, though:

I think the export can be done even when there are dupe names. A column's context can be deduced by its position in the CSV file i.e. looking to what other columns are near them a user can know which group they belong to.

Would it be acceptable to have

[2018-10-25 10:04] ggalmazor commented on #671
Note to future Guillermo: Always use the `Model` instead of those `pair.getLeft()`

[code]

[2018-10-29 08:44] QollinsOchieng commented on #671
Hi All, do we have Briefcase CLI to export to JSON File?

On Mon, Oct 22, 2018 at 2:38 PM Aurelio <notifications@github.com> wrote:

[2018-10-29 08:46] ggalmazor commented on #671
Not yet.

Would you export to GeoJSON with the CLI?

[2018-11-07 12:22] kkrawczyk123 opened #675 ""Forms successfully reloaded from storage location" displayed twice."
#### Software versions
Briefcase v1.12.x, Java v1.8.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description
"Forms successfully reloaded from storage location" displayed twice after clicking on "Reload forms from storage location"

#### Steps to reproduce the problem
1. Go to the Settings tab.
2. Click on Reload forms from storage location.

#### Expected behavior
Dialog

[2018-11-07 14:44] #665 closed

[2018-11-07 18:52] lognaturel opened #676 "Provide UI feedback if PEM file can't be parsed"
#### Software versions
Briefcase v1.11.0

#### Problem description
If PEM file can't be parsed, a stacktrace is shown on the command line / in the logs but there's no UI feedback. The file shows up in the configuration but on the next configuration open, it's not there.

#### Steps to reproduce the problem
1. Add a malformed PEM file to an export configuration
1. Save the configuration
1. Reopen t

[2018-11-07 18:56] lognaturel commented on #676
Oh, hang on. This is because of the new invariant approach being considered in #661.

[2018-11-07 18:56] #676 closed

[2018-11-08 12:59] #663 closed

[2018-11-12 10:24] ggalmazor opened #677 "Error management and parallelization in Pull and Push forms"
This issue tries to document the root causes of some Sentry error reports we've been having. The following notes gather what has surfaced while studying these error reports, which involves how we deal with parallelism and errors in the pull and push operations, among other things.

- We currently use a combination of executor services, futures and callables.
- Executor services are initialized arb

[2018-11-12 10:55] batkinson commented on #677
The issue doesn't offer enough context for me to know what those reports you're talking about are really about. However, with what limited context I have from this: you may want to be careful with some of your assumptions. For example, I know that the concurrency for the pull operation (at least at the time I wrote it) was *not chosen arbitrarily*. The concurrency limit was chosen to give some ben

[2018-11-12 10:58] batkinson commented on #677
Also, I forgot to mention that if you intend to use persistent http connections to limit the connection negotiation overhead (which I would recommend), you'll need to make sure whatever scheme you use has enough persistent connections to work with. Also be aware that thare may be server-enforced limits on that number per client.

[2018-11-12 11:43] ggalmazor commented on #677
Thanks, @batkinson, this is very valuable information!

Please, rest assured that I'm not looking into this from Briefcase's perspective only. I know there have to be some constraints in place while interacting with Aggregate, although we should start looking at ODK Central as well.

In any case, the goal of this issue would be to address problems with the design and tools used for solving paralle

[2018-11-12 12:36] batkinson commented on #677
That looks a bit crude, right? Admittedly, it is.

My point was that it was not *arbitrary*. I suspect there is more visibility into common deployments now, but at the time it was difficult to guess where and how the client was being used. My follow-on work later lead me believe it may not have been used widely due to some serious defects. Anyway, that calculation was an attempt to make it work on

[2018-11-12 12:39] ggalmazor commented on #677
Thanks again, @batkinson! Your comments are not discouraging at all! Sometimes it's hard for me to reach the context to understand some code decisions and this discussions help me a lot.

[2018-11-12 12:48] batkinson commented on #677
I am sure anyone that's had to work on a legacy system totally understands your perspective. I known I do, which is why I figured chiming in might be helpful. I would love to see better treatment of concurrency and I know what you're up against. It was not easy to wedge it in without making more comprehensive changes. Good luck.

[2018-11-13 17:52] matthew-white opened #678 "Document export directory structure"
With submission exports on Central, we're aiming to match the format of Briefcase exports. [It's been noted](https://github.com/opendatakit/central-backend/issues/156) that the directory structure that Central uses differs from Briefcase's, which made me think that it could be useful to document the expected directory structure as part of the Briefcase export format.

[2018-11-14 13:20] #661 closed

[2018-11-14 15:42] #671 closed

[2018-11-14 16:00] ggalmazor commented on #667
There are no issues affecting this release.

Issue #677 has been created to track some improvements in parallelization and error management

[2018-11-14 16:00] #667 closed

[2018-11-14 16:38] #675 closed

[2018-11-14 23:53] s13g3lb4um opened #680 "Export Data fails"
#### Software versions
Briefcase v1.12.2, openjdk version "1.8.0_192", Manjaro 18.0, Aggregate v1.6.1, Collect v1.17.2

#### Problem description
When I try to export data, the next error occur:

[code]

#### Steps to reproduce the problem
1. Connect to Aggregate server
2. Pull Data from a form
3 go to export tab, select the form  an click on export
#### Expected behavior
Export data without proble

[2018-11-15 09:00] ggalmazor commented on #680
Hi, @s13g3lb4um!

Could you try to reproduce your issue with new v1.13.0-beta.0 release, please? You can get it here: [ODK-Briefcase-v1.13.0-beta.0.jar](https://github.com/opendatakit/briefcase/releases/download/v1.13.0-beta.0/ODK-Briefcase-v1.13.0-beta.0.jar)

[2018-11-15 16:24] ggalmazor opened #681 "Resume last pull"
Users with big forms and/or many submissions (10k, 25k, and more), often complain about how much time the pulling and exporting processes take to complete.

([forum conversation](https://forum.opendatakit.org/t/pull-submissions-starting-from-date/16200))

This problem can be worse in scenarios where users have a long-living form that receives periodically new submissions i.e. to receive the last 1

[2018-11-15 19:08] s13g3lb4um commented on #680
Hi @ggalmazor  I try to reproduce  my issue in the new beta version and work correctly!!!

[2018-11-15 19:08] #680 closed

[2018-11-21 11:35] ggalmazor opened #683 "Update docs for v1.13.0"
- [ ] https://github.com/opendatakit/docs/issues/913
- [ ] https://github.com/opendatakit/docs/issues/914
- [ ] https://github.com/opendatakit/docs/issues/915
- [ ] https://github.com/opendatakit/docs/issues/879

[2018-11-22 11:15] ggalmazor opened #684 "Reduce export CLI op -ig param help text"
It's been suggested that we should remove the `companion` word from the help text:

[code]

https://github.com/opendatakit/docs/pull/918#discussion_r235581466

[2018-11-22 11:33] ggalmazor opened #686 "Reduce geojson export conf param label in the UI"
It's been suggested at https://github.com/opendatakit/docs/pull/918#pullrequestreview-177480074 to reduce the label to just "Include GeoJSON"

#### Other information
This UI panel is defined in the `org/opendatakit/briefcase/ui/export/components/ConfigurationPanelForm.form` file
This file has to be edited with IntelliJ's GUI Designer.

[2018-11-22 23:46] #684 closed

[2018-11-26 08:33] ggalmazor opened #687 "Add (export) remove group names conf param to the UI"
After Briefcase v1.13.0 we have a new CLI param to enable removing group names from CSV headers when exporting forms.

We should add a new UI conf param to enable it as well:
- It should be a checkbox on the default conf panel
- It should be an `OverridableBoolean` on the override (custom) conf panels.

To go about this, we can imitate what's being done with other boolean conf params like "export

[2018-11-28 10:31] kkrawczyk123 opened #688 "Make aggregate's URL clickable"
#### Problem description or more improvement suggestion
I was wondering if we could do aggregate's URL clickable on the pull and push tab or at least make it possible to copy.
It currently looks like:
![screenshot from 2018-11-28 11-26-39](https://user-images.githubusercontent.com/33342488/49145625-7e574c00-f300-11e8-82c7-971b5475d2b4.png)
![screenshot from 2018-11-28 11-21-57](https://user-images

[2018-11-28 11:13] ggalmazor commented on #688
+1

[2018-12-02 23:47] yanokwa commented on #688
Any reason why this isn't a good first issue, @ggalmazor?

[2018-12-03 08:38] ggalmazor commented on #688
Huh! I removed that one by accident while applying `enhancement`

[2018-12-04 23:36] yanokwa commented on #627
Seems OpenJDK did not include useful root certs. https://blogs.oracle.com/jtc/openjdk-10-now-includes-root-ca-certificates

[2018-12-05 09:38] ggalmazor opened #689 "Split select multiples doesn't work when in group"
#### Software versions
Briefcase v1.13.0

#### Problem description

[Error report in forums](https://forum.opendatakit.org/t/briefcase-split-select-multiple-unexpected-behavior-with-grouped-questions/16640)

#### Steps to reproduce the problem
Create a form with multiple selects within a group and export using Briefcase, enabling the split multiples option.

#### Expected behavior
Splitting should

[2018-12-05 09:42] ggalmazor commented on #689
After tweaking the tests, it looks like we're only producing wrong headers (values look OK)

[2018-12-07 11:04] #686 closed

[2018-12-07 11:04] #687 closed

[2018-12-10 11:18] #688 closed

[2018-12-12 06:22] ggalmazor opened #694 "Remove Fusion Tables support"
Google is "turning down" FT in one year. We need to at least disable FT support, hopefully, remove code.

[2018-12-12 21:02] #689 closed

[2019-01-09 08:30] lincmba opened #695 "Invalid url error when pulling data from server"
#### Software versions
from Briefcase v1.11.0 to v1.13.1

#### Problem description
Pulling data from the server fails. Here's the detailed status

`Fetching form definition
resolving against briefcase form definitions
Fetching form manifest
Error fetching form definition: Fetch of manifest failed. Detailed reason: Invalid url. Failed with error: no protocol: . Did you forget to prefix the address

[2019-01-09 08:39] ggalmazor commented on #695
Thanks for reporting this issue, @lincmba!

Could you add the URL are you trying to use? Also, could you attach the `briefcase.log` file?

[2019-01-09 09:13] lincmba commented on #695
@ggalmazor , thanks for the quick response.

The url is `https://odk.ona.io/{username}/`
Sorry, I can't get the `briefcase.log` Here is a log of the api requests made.

For <v1.10
`[09/Jan/2019 02:58:24] "GET /lincolnsimba/forms/30/form.xml HTTP/1.1" 200 3244
[09/Jan/2019 02:58:24] "GET /lincolnsimba/view/submissionList?formId=look5&cursor=&numEntries=100 HTTP/1.1" 200 134
[09/Jan/2019 02:58:24] "

[2019-01-09 11:49] ukanga commented on #695
@lincmba I see this seems only to happen when the form in `formList` has an empty tag

[code]
Propably the approach we should take on the onadata side is not include the `<manifestUrl />` at all if there are no manifest files for that form.

[code]

@ggalmazor What I am wondering, should ODK Briefcase bulk at empty XML tags e.g `<manifestUrl />`?

[2019-01-09 13:37] lincmba commented on #695
Here's the `briefcase.log` file
[briefcase.log](https://github.com/opendatakit/briefcase/files/2741082/briefcase.log)

[2019-01-14 08:46] ggalmazor commented on #695
Thanks @lincmba and @ukanga!

I think Briefcase expects a non-empty `manifestUrl` tag. I'll check this and get back to you. In any case, if this is happening, I think we should make Briefcase support empty manifest urls.

[2019-01-14 14:47] lincmba commented on #695
@ggalmazor Here are detailed steps to reproduce this:

**On Onadata**
- Create an account at https://odk.ona.io/
- Upload a form without media files (I have attached one `pizza_questionaire.xlsx`)

**On Briefcase**
- Configure the aggregate server with this url `https://odk.ona.io/{username}`
- Pull form

[pizza_questionnaire.xlsx](https://github.com/opendatakit/briefcase/files/2755542/pizza_quest

[2019-01-24 09:11] ggalmazor opened #696 "Briefcase fails to push media attachments when Aggregate is using basic authentication"
#### Software versions
Aggregate v1.5 or greater

#### Problem description
Pushing submission media attachments fails with an HTTP 401 error when Aggregate is configured to use basic device authentication.

#### Steps to reproduce the problem
Push a form with media fields and some submissions to an Aggregate server configured to use basic auth.

#### Expected behavior
It shouldn't fail.

#### Othe

[2019-01-29 15:29] ggalmazor opened #697 "Improve error when pulling a form without name"
#### Problem description
Initially reported in https://github.com/opendatakit/aggregate/issues/364

When pulling a form with a blank name, Briefcase produces an error complaining about the form not being compliant with the OpenRosa standard.

While this could be true, it doesn't help locate the real issue (lack of name). We should fix this and produce an error message that is more useful.

#### St

[2019-02-01 01:12] yanokwa commented on #681
@ggalmazor Can you send in a WIP PR for this when you get a chance?

[2019-02-05 16:18] aurdipas opened #699 "error on pulling a form with guidance hint but without an hint"
#### Software versions
Briefcase v1.13.1, Java version "1.7.0_80", operating system Windows 7, Aggregate v1.7.1

#### Problem description
I've a form on aggregate that contains some guidance hints, but without a regular hint like in the picture, when I try to pull the form I get the following error message:

"Fetching form definition
resolving against briefcase form definitions
Error parsing form

[2019-02-07 09:20] ggalmazor commented on #699
Hi @aurdipas! thanks for reporting the issue.

Briefcase currenlty runs JavaRosa 2.11.2, and I'm being able to pull the form if I update JR to the latest 2.13.0. Does this make sense to you?

[2019-02-07 09:21] ggalmazor opened #700 "Update to latest JavaRosa"
We should take the chance to update JR to the latest release.

This should also take care of #699

[2019-02-07 10:02] ggalmazor opened #702 "Briefcase should not check locations if the response is not an HTTP redirect"
#### Problem description
Briefcase checks the `Location` header to detect spoofing attempts unconditionally, which doesn't make sense unless the HTTP response code is in the 3xx range, which encodes a redirection request from the server.

On a side-note, Aggregate should not add `Location` headers to 2xx responses. https://github.com/opendatakit/aggregate/issues/409

The result is that, although r

[2019-02-07 11:33] ggalmazor commented on #697
I've been unsuccessfully trying to reproduce this issue for some time now. Here's what I've done:
- I've extracted the offending form from @kkrawczyk123's Aggregate database:
- I've simplified it to isolate de defining factor that produces the issue:
  - The form title is `//////`, which Aggregate sanitizes to an empty string
- I've uploaded the form to an Aggregate v2.0 server
- I've tried to pul

[2019-02-07 11:33] #697 closed

[2019-02-08 08:28] ggalmazor commented on #695
@lincmba,

I've sent #704 to make Briefcase ignore empty manifest tags in the form's XML, but I can't really reproduce the error you're reporting following your steps list.

Could you verify that this is still happening?

Maybe Ona has changed something and now there's no manifest url tag in the response. Can you confirm this, @ukanga?

[2019-02-11 18:02] #700 closed

[2019-02-11 18:02] #702 closed

[2019-02-11 19:27] ggalmazor opened #705 "Improve pull operation background jobs"
This issue is intended to track the code refactoring goals regarding parallelism, use of the HTTP client and background job error management and user feedback.

[2019-02-12 17:22] ggalmazor commented on #705
Reopening to split #698 into two PRs

[2019-02-13 09:06] #695 closed

[2019-02-13 17:42] ggalmazor opened #707 "Improve user feedback on CLI"
We should add some user feedback on CLI ops to let the user know which flags they have added and their consequences, like, for example, when they add `-rlp` we probably should tell something about "Resuming last pull".

We could even add a message giving information about the resume cursor Briefcase's using to let the user verify it makes sense: "Downloading submissions starting from 2018-01-01 03

[2019-02-13 17:55] #681 closed

[2019-02-14 08:10] kkrawczyk123 opened #709 "Media files are not pulling."
#### Software versions
Briefcase v1.14.x, Java v1.8.x, operating system: Ubuntu, MacOS

#### Problem description
When pulling form from aggregate media are ignored, Media folder is created but it remains empty.

#### Steps to reproduce the problem
1. Pull form aggregate form with media files
2. Open form's media folder in your storage directory

#### Expected behavior
Media files attached on aggre

[2019-02-14 08:15] #709 closed

[2019-02-14 08:42] ggalmazor commented on #699
Closed by #701

[2019-02-14 08:42] #699 closed

[2019-02-14 15:21] kkrawczyk123 opened #711 "Cmd pull from odk dir does not work."
#### Software versions
Briefcase v1.x14.x, Java v1.8.x, operating system, Aggregate v1.x.x, Collect v1.x.x...

#### Problem description
Cmd pull from odk dir does not work, no matter if -pc prefix used of not. There is error or fail status in cmd response o it gives a false impression of successful pull but form are not pulled into sd.

#### Steps to reproduce the problem
Try to pull from odk dir

[2019-02-15 10:16] chrissyhroberts opened #713 "Potential issue with encrypted forms"
#### Software versions
ODK-Briefcase-v1.14.0-Beta.0, Java v11.0.1, OSX 10.13.6

#### Problem description
Using CLI.
Briefcase log reporting issues with encrypted forms. Thought I should flag in case is an issue

[code]
#### Steps to reproduce the problem

call
[code]

#### Expected behavior
Throw this error in briefcase log

[2019-02-15 10:46] ggalmazor commented on #713
Hi, @chrissyhroberts!

This is a log message JavaRosa creates to warn about attributes that are unrecognized, but it doesn't mean anything wrong is happening. JavaRosa parses the document and ignores such attributes.

Thanks for reporting the issue, though. Keep'em coming! :)

[2019-02-15 10:46] #713 closed

[2019-02-15 10:53] chrissyhroberts opened #714 "Top level directory not created if absent when exporting"
#### Software versions
 ODK-Briefcase-v1.14.0-Beta.0, Java v11.1.0, OSX 10.13.6

#### Problem description
If I am exporting to a folder called `output` but that folder doesn't exist, this version of briefcase CLI does not appear to be able to create it. Previous versions did this.

#### Steps to reproduce the problem
Remove the export folder and run a call to export

#### Expected behavior
Will fa

[2019-02-15 12:34] #711 closed

[2019-02-18 10:35] ggalmazor opened #716 "Dupe error reports when parsing submissions while exporting"
#### Software versions
Briefcase v1.3

#### Problem description
When a submission has a parsing error due to some issue in the root element, the submission will be in the errors folder twice:
- Once when parsing the file to get the submission date, to get the list of all submissions to be exported.
- Once when parsing the whole file to get the submission metadata.

#### Steps to reproduce the prob

[2019-02-18 10:39] ggalmazor opened #717 "Overwritten export error reports"
#### Software versions
Briefcase v1.3

#### Problem description
The export process has two error callbacks that will leave files in the error folder, inside the export output dir:
- Parsing error callback
  Triggered when there's a parsing error in the XML submission file
- Invalid form callback
  Triggered when the submission has repeatable groups and it's missing the instance ID

Both error call

[2019-02-18 13:56] #714 closed

[2019-02-21 17:08] yanokwa opened #718 "Confirm HTTP proxy connections are working with >v1.10"
#### Software versions
Briefcase v1.14.0

#### Problem description
I have a user who says proxy settings work for v1.10 but not for versions after it.

[2019-02-22 09:42] chrissyhroberts opened #719 "RLP CLI not working on full release"
Using the full release of v1.14.0
CLI version of the resume last pull function does not work correctly.

[code]

Going back to beta release fixes the problem

[code]

[2019-02-22 16:22] yanokwa commented on #719
We changed the flag to `-sfl` or `--start_from_last` because that felt clearer. We put the change in the release notes and the docs. If that flag works, please close the issue.

[2019-02-22 21:16] chrissyhroberts commented on #719
facepalm!
Thanks Yaw.

[2019-02-22 21:16] #719 closed

[2019-02-26 20:05] yanokwa opened #720 "Export ISO8601 dates from CSV"
As noted in https://forum.opendatakit.org/t/standardize-on-iso8601-for-date-and-time-exports-in-briefcase-aggregate-central/15159, we want to export ISO8601 formats. This will break existing downstream data processing, so it should be done in v2